<div class="card-content">
    <!-- Contact us at +91 - <a href="tel:7999951154"><u>7999951154</u></a> for any queries/feedback. -->

    <mat-card style="margin-bottom: 15px">
        <mat-card-title> Sales Support </mat-card-title>

        <div *ngIf="!isMobile()" style="margin-left: 10px">7974151131</div>

        <div *ngIf="isMobile()" style="margin-left: 10px">
            <a href="tel:7974151131">7974151131</a>
        </div>
    </mat-card>

    <mat-card style="margin-bottom: 15px">
        <mat-card-title> Technical Support </mat-card-title>

        <div *ngIf="!isMobile()" style="margin-left: 10px">6261627172<br /></div>

        <div *ngIf="isMobile()" style="margin-left: 10px"><a href="tel:6261627172">6261627172</a><br /></div>
    </mat-card>

    <!-- mat-card style="margin-bottom: 15px">
        <mat-card-title> Designer Support </mat-card-title>

        <div *ngIf="!isMobile()" style="margin-left: 10px">9399038431<br /></div>

        <div *ngIf="isMobile()" style="margin-left: 10px"><a href="tel:9399038431">9399038431</a><br /></div>
    </mat-card -->

    <mat-card style="margin-bottom: 15px">
        <mat-card-title> Bank Account Details </mat-card-title>

        <div class="row">
            <div class="col-md-6">
                Account Name: Korangle Softwares<br />
                Bank Name: Central Bank Of India<br />
                Branch Name: Shujalpur Mandi<br />
                Account Type: Current<br />
                Account No. : 3899954010<br />
                Micr Code: 465016051<br />
                IFSC Code: CBIN0283366
            </div>
            <div class="col-md-6">
                QR Code <br/>
                <img src="assets/img/qrcode.png" style="margin-left: 10px; height:140px; width: 140px;"/>
            </div>
        </div>
        
        <!-- div style="margin-left: 10px">
            Account Name: Korangle Softwares<br />
            Bank Name: Central Bank Of India<br />
            Branch Name: Shujalpur Mandi<br />
            Account Type: Current<br />
            Account No. : 3899954010<br />
            Micr Code: 465016051<br />
            IFSC Code: CBIN0283366<br/>
            QR Code: <img src="assets/img/qrcode.png" style="margin-left: 10px; height:100px; width: 100px;"/>
        </div -->
    </mat-card>

    <!-- mat-card>
        <mat-card-title> QR Code </mat-card-title>

        <img src="assets/img/qrcode.png" style="margin-left: 10px; height:80px; width: 80px;"/>
        
    </mat-card -->

</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
