<div class="card-content" *ngIf="!isLoading else Loader">
    <mat-card>
        <h4>Add Account</h4>
        <div style="margin-left: 12px; width: fit-content;">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" [(ngModel)]="userInput.newUsername">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="text" [(ngModel)]="userInput.newPassword">
            </mat-form-field>

            <button mat-button (click)="serviceAdapter.addNewAccountInfo()"
                class="btn btn-{{ user.activeSchool.secondaryThemeColor }}">
                ADD
            </button>
        </div>
    </mat-card>

    <hr />
    <h3 style="margin-top: 16px;" class="icon-text-wrapper">
        <mat-icon>history</mat-icon><span> History</span>
    </h3>

    <table *ngIf="backendData.accountInfoList.length > 0 else EmptyAccountInfo"
        class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let accountInfo of backendData.accountInfoList">
                <tr style="cursor: pointer;"
                    (click)="userInput.selectedAccountInfo=htmlRenderer.copyObject(accountInfo)">
                    <td>{{accountInfo.username}}</td>
                    <td>{{accountInfo.password}}</td>
                </tr>
                <tr *ngIf="userInput.selectedAccountInfo && userInput.selectedAccountInfo.id == accountInfo.id">
                    <td colspan="2" class="in-animate">
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput type="text" [(ngModel)]="userInput.selectedAccountInfo.username">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput type="text" [(ngModel)]="userInput.selectedAccountInfo.password">
                        </mat-form-field>

                        <mat-form-field *ngIf="hasAdminPermission()" (click)="searchInput1.focus()">
                            <mat-label>Account Onner</mat-label>
                            <mat-select [(ngModel)]="userInput.selectedAccountInfo.parentEmployee">

                                <mat-option style="pointer-events: none;">
                                    <!--Search bar-->
                                    <mat-form-field style="width: 100%;">
                                        <mat-icon matPrefix>search</mat-icon>
                                        <input style="pointer-events: auto;" #searchInput1
                                            (keydown)="$event.stopPropagation()" (click)="$event.stopPropagation();"
                                            matInput>
                                    </mat-form-field>
                                </mat-option>

                                <ng-container *ngFor="let employee of backendData.employeeList">
                                    <mat-option
                                        *ngIf="employee.name.toLowerCase().startsWith(searchInput1.value.toLowerCase())"
                                        [value]="employee.id">{{employee.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field><br />

                        <button class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                            (click)="serviceAdapter.updateAccountInfo(userInput.selectedAccountInfo)"
                            style="float: right;">Update</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</div>
<ng-template #Loader>
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-template>

<ng-template #EmptyAccountInfo>
    <span>No past records</span>
</ng-template>