span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.image-column {
    max-width: 0.525in;
    height: 0.525in;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.custom-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #ff9800;
    color: #ff9800;
    background: #ffffff;
    padding: 8px 8px;
}
.custom-button:hover {
    background: #ff9800;
    color: white;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loaderCustom {
    border: 8px solid #ffffff; /* White */
    border-top: 8px solid Red; /* Red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

mat-icon {
    height: auto;
    width: auto;
}

.icon-text-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mobile-margin {
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .flex-mobile {
        flex-direction: column;
    }
    .mobile-margin {
        margin-left: 5px;
    }
}

