<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="main-content" style="min-height: 100vh">
    <div class="container-fluid">
        <div class="card" style="min-height: 100vh; margin: 0">
            <div class="card-content" style="padding-top: 20vh" *ngIf="!isLoading">
                <ng-container *ngIf="!isMobile()">
                    <div class="row" align="center">
                        <div style="height: 100px; margin-bottom: 10vh" align="center">
                            <img src="assets/img/korangle.jpg" style="height: 100%; width: 100px" />
                        </div>
                    </div>
                </ng-container>

                <form (ngSubmit)="serviceAdapter.submitCaptcha()" *ngIf="section == 'mobileNumber'">
                    <div class="row" align="center">
                        <ng-container *ngIf="isMobile()">
                            <div class="col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" align="center">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        id="mobileNumber"
                                        type="text"
                                        name="mobileNumber"
                                        [pattern]="validators.phoneNumber"
                                        maxlength="10"
                                        [(ngModel)]="mobileNumber"
                                        placeholder="Type your mobile no. here"
                                    />
                                    <mat-error>Please provide correct 10 digits mobile number</mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isMobile()">
                            <div style="width: 75%">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        id="mobileNumber"
                                        type="text"
                                        name="mobileNumber"
                                        [pattern]="validators.phoneNumber"
                                        maxlength="10"
                                        [(ngModel)]="mobileNumber"
                                        placeholder="Type your mobile no. here"
                                    />
                                    <mat-error>Please provide correct 10 digits mobile number</mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </div>

                    <!-- ng-container *ngIf="isMobileNumberValid()">
                        <div class="row" align="center" [formGroup]="myGroup">
                            <re-captcha (resolved)="serviceAdapter.submitCaptcha($event)"
                                        siteKey="6LeljdgZAAAAAKsZ25fliccBLvfGo1xulS4I5W-u"></re-captcha>
                        </div>
                    </ng-container -->

                    <div class="row">
                        <div class="col-md-12" align="center">
                            <button type="submit" [disabled]="!isMobileNumberValid()" class="btn btn-danger">Submit</button>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12" align="center">
                            <a style="cursor: pointer" (click)="changePage.emit('login')">Back to login</a>
                        </div>
                    </div>
                </form>

                <form (ngSubmit)="serviceAdapter.verifyOTP()" *ngIf="section == 'otp'">
                    <ng-container *ngIf="isMobile()">
                        <div class="row" align="center">
                            <div class="col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" align="center">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        id="otp"
                                        type="text"
                                        name="otp"
                                        [(ngModel)]="otp"
                                        placeholder="Type received otp here"
                                    />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" align="center">
                            <div class="col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" align="center">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        id="password"
                                        type="{{ visibilityMode ? 'text' : 'password' }}"
                                        placeholder="Password"
                                        [pattern]="validators.password"
                                        [(ngModel)]="password"
                                        name="password"
                                    />
                                    <i matSuffix class="material-icons" (click)="toggleVisibilityMode()">{{ getVisibilityMode() }}</i>
                                    <mat-error>Password should at least contain 8 characters</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" align="center">
                            <div class="col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" align="center">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        id="confirmPassword"
                                        type="{{ visibilityMode ? 'text' : 'password' }}"
                                        placeholder="Confirm Password"
                                        [pattern]="validators.password"
                                        [(ngModel)]="confirmPassword"
                                        name="confirmPassword"
                                    />
                                    <i matSuffix class="material-icons" (click)="toggleVisibilityMode()">{{ getVisibilityMode() }}</i>
                                    <mat-error>Password should at least contain 8 characters</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </ng-container>

                    <ng-container *ngIf="!isMobile()">
                        <div class="row" align="center">
                            <div style="width: 75%">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        id="otp"
                                        type="text"
                                        name="otp"
                                        [(ngModel)]="otp"
                                        placeholder="Type received otp here"
                                    />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" align="center">
                            <div style="width: 75%">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        id="password"
                                        type="{{ visibilityMode ? 'text' : 'password' }}"
                                        placeholder="Password"
                                        [pattern]="validators.password"
                                        [(ngModel)]="password"
                                        name="password"
                                    />
                                    <i matSuffix style="cursor: pointer" class="material-icons" (click)="toggleVisibilityMode()">{{
                                        getVisibilityMode()
                                    }}</i>
                                    <mat-error>Password should at least contain 8 characters</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" align="center">
                            <div style="width: 75%">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        id="confirmPassword"
                                        type="{{ visibilityMode ? 'text' : 'password' }}"
                                        placeholder="Confirm Password"
                                        [pattern]="validators.password"
                                        [(ngModel)]="confirmPassword"
                                        name="confirmPassword"
                                    />
                                    <i matSuffix style="cursor: pointer" class="material-icons" (click)="toggleVisibilityMode()">{{
                                        getVisibilityMode()
                                    }}</i>
                                    <mat-error>Password should at least contain 8 characters</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>

                    <div class="row">
                        <div class="col-md-12" align="center">
                            <button type="submit" [disabled]="!isOtpFormValid()" class="btn btn-danger">Submit</button>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12" align="center">
                            <a style="cursor: pointer" (click)="reTypeMobileNumber()">Re-type Mobile Number</a>
                        </div>
                    </div>
                </form>
            </div>

            <ng-container *ngIf="isLoading">
                <app-loading-spinner [user]="user"></app-loading-spinner>
            </ng-container>
        </div>
    </div>
</div>
