<div class="main-content">
    <div class="container-fluid">

        <div class="card" style="min-height: 100%">
            <div class="card-header" [attr.data-background-color]="user.color">
                <h4 class="title">Student Profile</h4>
            </div>
            <div class="card-content">

                Class:
                <select [ngModel]="selectedClass"
                        (ngModelChange)="selectedClass=$event;changeSelectedSectionToFirst();"
                        style="margin-right: 15px">
                    <option *ngFor = "let class of classSectionStudentList;" [ngValue]="class">
                        {{class.name}}
                    </option>
                </select>
                <!-- mat-form-field *ngIf="selectedClass !== undefined" style="margin-right: 15px;">
                    <mat-select placeholder="Class" [ngModel]="selectedClass" (ngModelChange)="onChangeSelectedClass($event)">
                        <mat-option *ngFor = "let c of classList;" [value]="c">{{c.name}}</mat-option>
                    </mat-select>
                </mat-form-field -->

                <span *ngIf='selectedClass' [class.hidden]="selectedClass.sectionList.length == 1">
                    Section:
                    <select [ngModel]="selectedSection"
                            (ngModelChange)="selectedSection=$event;changeSelectedStudentToFirst();"
                            style="margin-right: 15px">
                        <option *ngFor = "let section of selectedClass.sectionList" [ngValue]="section">
                            {{section.name}}
                        </option>
                    </select>
                </span>

                <span *ngIf="selectedSection">
                    Student:
                    <select [ngModel]="selectedStudent"
                            (ngModelChange)="selectedStudent=$event;currentStudent.copy(selectedStudent)"
                            style="margin-right: 15px">
                        <option *ngFor="let student of selectedSection.studentList" [ngValue] = "student">
                            {{student.name}}
                        </option>
                    </select>
                </span>
                <!-- mat-form-field *ngIf="selectedClass !== undefined && selectedClass.studentList.length > 0">
                    <mat-select placeholder="Student" [(ngModel)]="selectedStudent" (ngModelChange)="getStudentData()">
                        <mat-option *ngFor = "let c of selectedClass.studentList;" [value]="c">{{c.name}}</mat-option>
                    </mat-select>
                </mat-form-field -->

                <button type="button"
                        class="btn btn-{{user.btn_color}}"
                        style="padding: 3px 8px;"
                        [disabled]="!selectedStudent"
                        (click)="getStudentProfile();">Get</button>

                <span *ngIf="selectedSection" style="float: right; margin-top: 10px;"><i>{{selectedSection.studentList.length}} students</i></span>

                <div class="row">
                    <div class="col-md-12"
                         style="border-bottom: 1px solid lightgrey; margin-top: 10px;"></div>
                </div>


                <ng-container *ngIf="selectedStudent && selectedStudent.fathersName !== undefined && !isLoading">

                    <div class="row hidden-sm hidden-lg hidden-md">
                        <div class="col-md-3">
                            <a href="tel:{{selectedStudent.mobileNumber}}">Call Me</a>
                        </div>
                    </div>

                    <!-- Name, Father's Name, Mother's Name, Mobile Number -->
                    <div class="row">
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.name,currentStudent.name)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Name</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.name" (ngModelChange)="currentStudent.name=$event;">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.fathersName,currentStudent.fathersName)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Father's Name</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.fathersName" (ngModelChange)="currentStudent.fathersName=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.motherName,currentStudent.motherName)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Mother's Name</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.motherName" (ngModelChange)="currentStudent.motherName=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.mobileNumber,currentStudent.mobileNumber)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Mobile Number
                                    <span *ngIf="checkLength(currentStudent.mobileNumber)"
                                          [class.fieldRight]="checkFieldChanged(selectedStudent.mobileNumber,currentStudent.mobileNumber) && checkRight(currentStudent.mobileNumber,10)">
                                        - {{currentStudent.mobileNumber.toString().length}}</span>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.mobileNumber" (ngModelChange)="currentStudent.mobileNumber=$event">
                            </div>
                        </div>
                    </div>

                    <!-- Roll No., Scholar No., Date of Birth, Total Fees -->
                    <div class="row">
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.rollNumber,currentStudent.rollNumber)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Roll No.</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.rollNumber" (ngModelChange)="currentStudent.rollNumber=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.scholarNumber,currentStudent.scholarNumber)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Scholar No.</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.scholarNumber" (ngModelChange)="currentStudent.scholarNumber=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.dateOfBirth,currentStudent.dateOfBirth)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Date of Birth</label>
                                <input type="date"
                                       class="form-control"
                                       [ngModel]="selectedStudent.dateOfBirth" (ngModelChange)="currentStudent.dateOfBirth=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.totalFees,currentStudent.totalFees)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Total Fees</label>
                                <input type="number"
                                       class="form-control"
                                       [ngModel]="selectedStudent.totalFees" (ngModelChange)="currentStudent.totalFees=$event">
                                <!-- input type="number" class="form-control" [value]="selectedStudent.totalFees" disabled -->
                            </div>
                        </div>
                    </div>

                    <!-- Gender, Category, Religion, Blood Group -->
                    <div class="row">
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.gender,currentStudent.gender)">
                            <!-- div class="form-group form-black label-floating">
                                <label class="control-label">Gender</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.gender" (ngModelChange)="currentStudent.gender=$event">
                            </div -->
                            <mat-form-field>
                                <mat-select placeholder="Gender"
                                            [ngModel]="selectedStudent.gender"
                                            (ngModelChange)="currentStudent.gender=$event">
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                    <mat-option value="Other">Other</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.category,currentStudent.category)">
                            <!-- div class="form-group form-black label-floating">
                                <label class="control-label">Category</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.category" (ngModelChange)="currentStudent.category=$event">
                            </div -->
                            <mat-form-field>
                                <mat-select placeholder="Category"
                                            [ngModel]="selectedStudent.category"
                                            (ngModelChange)="currentStudent.category=$event">
                                    <!-- mat-option value="Scheduled Caste">Scheduled Caste</mat-option>
                                    <mat-option value="Scheduled Tribe">Scheduled Tribe</mat-option>
                                    <mat-option value="Other Backward Classes">Other Backward Classes</mat-option>
                                    <mat-option value="General">General</mat-option -->
                                    <mat-option value="SC">SC</mat-option>
                                    <mat-option value="ST">ST</mat-option>
                                    <mat-option value="OBC">OBC</mat-option>
                                    <mat-option value="Gen.">Gen.</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.religion,currentStudent.religion)">
                            <!-- div class="form-group form-black label-floating">
                                <label class="control-label">Religion</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.religion" (ngModelChange)="currentStudent.religion=$event">
                            </div -->
                            <mat-form-field>
                                <mat-select placeholder="Religion"
                                            [ngModel]="selectedStudent.religion"
                                            (ngModelChange)="currentStudent.religion=$event">
                                    <mat-option value="Hinduism">Hinduism</mat-option>
                                    <mat-option value="Islam">Islam</mat-option>
                                    <mat-option value="Christianity">Christianity</mat-option>
                                    <mat-option value="Jainism">Jainism</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.bloodGroup,currentStudent.bloodGroup)">
                            <!-- div class="form-group form-black label-floating">
                                <label class="control-label">Blood Group</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.bloodGroup" (ngModelChange)="currentStudent.bloodGroup=$event">
                            </div -->
                            <mat-form-field>
                                <mat-select placeholder="Blood Group"
                                            [ngModel]="selectedStudent.bloodGroup"
                                            (ngModelChange)="currentStudent.bloodGroup=$event">
                                    <mat-option value="A -">A -</mat-option>
                                    <mat-option value="A +">A +</mat-option>
                                    <mat-option value="B -">B -</mat-option>
                                    <mat-option value="B +">B +</mat-option>
                                    <mat-option value="AB -">AB -</mat-option>
                                    <mat-option value="AB +">AB +</mat-option>
                                    <mat-option value="O -">O -</mat-option>
                                    <mat-option value="O +">O +</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Child SSMID, Family SSMID, Aadhar Number, Caste -->
                    <div class="row">
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.familySSMID,currentStudent.familySSMID)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Family SSMID
                                    <span *ngIf="checkLength(currentStudent.familySSMID)"
                                          [class.fieldRight]="checkFieldChanged(selectedStudent.familySSMID,currentStudent.familySSMID) && checkRight(currentStudent.familySSMID,8)">
                                        - {{currentStudent.familySSMID.toString().length}}</span>
                                </label>
                                <input type="number"
                                       class="form-control"
                                       [ngModel]="selectedStudent.familySSMID" (ngModelChange)="currentStudent.familySSMID=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.childSSMID,currentStudent.childSSMID)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Child SSMID
                                    <span *ngIf="checkLength(currentStudent.childSSMID)"
                                          [class.fieldRight]="checkFieldChanged(selectedStudent.childSSMID,currentStudent.childSSMID) && checkRight(currentStudent.childSSMID,9)">
                                        - {{currentStudent.childSSMID.toString().length}}</span>
                                </label>
                                <input type="number"
                                       class="form-control"
                                       [ngModel]="selectedStudent.childSSMID" (ngModelChange)="currentStudent.childSSMID=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.aadharNum,currentStudent.aadharNum)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Aadhar Number
                                    <span *ngIf="checkLength(currentStudent.aadharNum)"
                                          [class.fieldRight]="checkFieldChanged(selectedStudent.aadharNum,currentStudent.aadharNum) && checkRight(currentStudent.aadharNum,12)">
                                        - {{currentStudent.aadharNum.toString().length}}</span>
                                </label>
                                <input type="number"
                                       class="form-control"
                                       [ngModel]="selectedStudent.aadharNum" (ngModelChange)="currentStudent.aadharNum=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.caste,currentStudent.caste)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Caste</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.caste" (ngModelChange)="currentStudent.caste=$event">
                            </div>
                        </div>
                    </div>

                    <!-- Bank Name, Bank Account Number, Father's Occupation, Father's Annual Income -->
                    <div class="row">
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.bankName,currentStudent.bankName)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Bank Name</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.bankName" (ngModelChange)="currentStudent.bankName=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.bankAccountNum,currentStudent.bankAccountNum)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Bank Account Number</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.bankAccountNum" (ngModelChange)="currentStudent.bankAccountNum=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.fatherOccupation,currentStudent.fatherOccupation)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Father's Occupation</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.fatherOccupation" (ngModelChange)="currentStudent.fatherOccupation=$event">
                            </div>
                        </div>
                        <div class="col-md-3" [class.fieldChanged]="checkFieldChanged(selectedStudent.fatherAnnualIncome,currentStudent.fatherAnnualIncome)">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Father's Annual Income</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.fatherAnnualIncome" (ngModelChange)="currentStudent.fatherAnnualIncome=$event">
                            </div>
                        </div>
                    </div>

                    <!-- Bus Stop -->
                    <div *ngIf="busStopList.length > 0" class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Bus Stop"
                                            [ngModel]="selectedStudent.busStopDbId"
                                            (ngModelChange)="currentStudent.busStopDbId = $event">
                                    <mat-option [value]=0>None</mat-option>
                                    <mat-option *ngFor="let busStop of busStopList" [value]="busStop.dbId">
                                        {{busStop.stopName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Address, Remark -->
                    <div class="row">
                        <div class="col-md-6" [class.fieldChanged]="checkFieldChanged(selectedStudent.address,currentStudent.address)">
                            <div class="form-group">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Address</label>
                                    <textarea class="form-control" rows="3"
                                              [ngModel]="selectedStudent.address" (ngModelChange)="currentStudent.address=$event"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" [class.fieldChanged]="checkFieldChanged(selectedStudent.remark,currentStudent.remark)">
                            <div class="form-group">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Remark</label>
                                    <textarea class="form-control" rows="3"
                                              [ngModel]="selectedStudent.remark" (ngModelChange)="currentStudent.remark=$event"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-{{user.btn_color}}" (click)="updateProfile();">Update</button>
                    <button type="submit" class="btn btn-{{user.btn_color}}" (click)="deleteProfile();">Delete</button>
                    <!-- button type="submit" class="btn btn-{{user.btn_color}}" (click)="printTest();">Print Test</button -->
                    <div class="clearfix"></div>

                </ng-container>

                <ng-container *ngIf="selectedClass && !selectedStudent">
                    <br/>No Students in this class
                </ng-container>

            </div>
        </div>

        <ng-container *ngIf="isLoading">
            <!-- div style="width: 100%; margin-top: 10mm;" align="center">
                <div class="loader"></div>
            </div -->
            <app-loading-spinner [user]="user"></app-loading-spinner>
        </ng-container>

    </div>
</div>
