<table class="table table-hover">
    <thead class="text-{{user.activeSchool.secondaryThemeColor}}">
        <tr>
            <th *ngIf="whileSubmittingFee">Receipt No.</th>
            <th class="text-center" *ngIf="!whileSubmittingFee">Name</th>
            <th class="text-center" *ngIf="!whileSubmittingFee">Scholar No.</th>
            <th class="text-right">Amount</th>
            <th class="text-center">Date</th>
            <th class="text-center">Remark</th>
            <th class="text-center" *ngIf="whileSubmittingFee">-</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let feeEntry of feeReceiptList">
            <td *ngIf="whileSubmittingFee">{{feeEntry.receiptNumber}}</td>
            <td align="center" *ngIf="!whileSubmittingFee">{{feeEntry.studentName}}</td>
            <td align="center" *ngIf="!whileSubmittingFee">{{feeEntry.studentScholarNumber}}</td>
            <td style="padding-right: 15px;" align="right">{{getFeeReceiptTotalAmount(feeEntry)}}</td>
            <td align="center">{{feeEntry.generationDateTime | date: 'dd - MMM - yyyy'}}</td>
            <td align="center">{{feeEntry.remark}}</td>
            <td align="center" *ngIf="whileSubmittingFee">
                <button type="button"
                        style="padding: 8px 11px; margin: 0px"
                        matTooltip="Print"
                        tooltip-position="right"
                        class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                        (click)="printFeeReceipt(feeEntry)">
                    <i class="material-icons">print</i></button>
            </td>
        </tr>
    </tbody>
</table>
