<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header" [attr.data-background-color]="user.color">
                <h4 class="title">Student List</h4>
                <p class="category">Get filtered list of student</p>
            </div>
            <div class="card-content table-responsive">

                <!-- Class Filter -->
                <mat-form-field style="margin-right: 15px;">
                    <mat-select placeholder="Class" style="width: 100%;">
                        <mat-option>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="selectAllClasses(); $event.stopPropagation();">Select All</button>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="unselectAllClasses(); $event.stopPropagation();">Clear All</button>
                        </mat-option>
                        <mat-option *ngFor="let c of classList" style="width: 100%;">
                            <mat-checkbox [(ngModel)]="c.selected"
                                          (ngModelChange)="handleStudentDisplay()"
                                          (click)="$event.stopPropagation();">{{c.name}}</mat-checkbox>
                            <!-- div style="margin: 0px; width: 100%"
                                 [attr.data-color]="user.btn_color"
                                 [class.selectedClassDiv]="c.selected"
                                 (click)="c.selected=!c.selected;handleStudentDisplay();$event.stopPropagation();">{{c.name}}</div -->
                        </mat-option>
                        <mat-option>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="selectAllClasses(); $event.stopPropagation();">Select All</button>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="unselectAllClasses(); $event.stopPropagation();">Clear All</button>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Other Filters -->
                <mat-form-field style="margin-right: 15px;">
                    <mat-select placeholder="Filters">
                        <mat-option>
                            <mat-checkbox [(ngModel)]="scSelected"
                                          style="margin-right: 5px;"
                                          (ngModelChange)="handleStudentDisplay()"
                                          (click)="$event.stopPropagation();">SC,</mat-checkbox>
                            <mat-checkbox [(ngModel)]="stSelected"
                                          style="margin-right: 5px;"
                                          (ngModelChange)="handleStudentDisplay()"
                                          (click)="$event.stopPropagation();">ST,</mat-checkbox>
                            <mat-checkbox [(ngModel)]="obcSelected"
                                          style="margin-right: 5px;"
                                          (ngModelChange)="handleStudentDisplay()"
                                          (click)="$event.stopPropagation();">OBC,</mat-checkbox>
                            <mat-checkbox [(ngModel)]="generalSelected"
                                          style="margin-right: 5px;"
                                          (ngModelChange)="handleStudentDisplay()"
                                          (click)="$event.stopPropagation();">Gen.</mat-checkbox>
                        </mat-option>
                        <mat-option>
                            <mat-checkbox [(ngModel)]="maleSelected"
                                          style="margin-right: 5px;"
                                          (ngModelChange)="handleStudentDisplay()"
                                          (click)="$event.stopPropagation();">M</mat-checkbox>
                            <mat-checkbox [(ngModel)]="femaleSelected"
                                          style="margin-right: 5px;"
                                          (ngModelChange)="handleStudentDisplay()"
                                          (click)="$event.stopPropagation();">F</mat-checkbox>
                            <mat-checkbox [(ngModel)]="otherGenderSelected"
                                          style="margin-right: 5px;"
                                          (ngModelChange)="handleStudentDisplay()"
                                          (click)="$event.stopPropagation();">Other</mat-checkbox>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Column Filter -->
                <mat-form-field style="float: right;">
                    <mat-select placeholder="Which Columns">
                        <mat-option>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="selectAllColumns(); $event.stopPropagation();">Select All</button>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="unselectAllColumns(); $event.stopPropagation();">Clear All</button>
                        </mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showSerialNumber" (click)="$event.stopPropagation();">Serial No.</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showName" (click)="$event.stopPropagation();">Name</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showClassName" (click)="$event.stopPropagation();">Class Name</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showRollNumber" (click)="$event.stopPropagation();">Roll No.</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showFathersName" (click)="$event.stopPropagation();">Father's Name</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showMobileNumber" (click)="$event.stopPropagation();">Mobile No.</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showScholarNumber" (click)="$event.stopPropagation();">Scholar No.</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showDateOfBirth" (click)="$event.stopPropagation();">Date of Birth</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showTotalFees" (click)="$event.stopPropagation();">Total Fees</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showFeesDue" (click)="$event.stopPropagation();">Fees Due</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showMotherName" (click)="$event.stopPropagation();">Mother's Name</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showGender" (click)="$event.stopPropagation();">Gender</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showCaste" (click)="$event.stopPropagation();">Caste</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showCategory" (click)="$event.stopPropagation();">Category</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showReligion" (click)="$event.stopPropagation();">Religion</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showFatherOccupation" (click)="$event.stopPropagation();">Father's Occupation</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showAddress" (click)="$event.stopPropagation();">Address</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showChildSSMID" (click)="$event.stopPropagation();">Child SSMID</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showFamilySSMID" (click)="$event.stopPropagation();">Family SSMID</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showBankName" (click)="$event.stopPropagation();">Bank Name</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showBankAccountNum" (click)="$event.stopPropagation();">Bank Acc. No.</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showAadharNum" (click)="$event.stopPropagation();">Aadhar No.</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showBloodGroup" (click)="$event.stopPropagation();">Blood Group</mat-checkbox></mat-option>
                        <mat-option> <mat-checkbox [(ngModel)]="showFatherAnnualIncome" (click)="$event.stopPropagation();">Father's Annual Income</mat-checkbox></mat-option>
                        <mat-option>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="selectAllColumns(); $event.stopPropagation();">Select All</button>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="unselectAllColumns(); $event.stopPropagation();">Clear All</button>
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <br><i>Showing {{displayStudentNumber}} out of {{studentList.length}} students</i>

                <!-- Student Table List -->
                <ng-container *ngIf="!isLoading">
                    <table class="table table-hover">
                        <thead class="text-{{user.btn_color}}">
                            <tr>
                                <th [class.hidden]="!showSerialNumber">S No.</th>
                                <th [class.hidden]="!showName">Name</th>
                                <th [class.hidden]="!showClassName">Class Name</th>
                                <th [class.hidden]="!showRollNumber">Roll No.</th>
                                <th [class.hidden]="!showFathersName">Father's Name</th>
                                <th [class.hidden]="!showMobileNumber">Mobile No.</th>
                                <th [class.hidden]="!showScholarNumber">Scholar No.</th>
                                <th [class.hidden]="!showDateOfBirth">Date of Birth</th>
                                <th [class.hidden]="!showTotalFees">Total Fees</th>
                                <th [class.hidden]="!showFeesDue">Fees Due</th>
                                <th [class.hidden]="!showMotherName">Mother's Name</th>
                                <th [class.hidden]="!showGender">Gender</th>
                                <th [class.hidden]="!showCaste">Caste</th>
                                <th [class.hidden]="!showCategory">Category</th>
                                <th [class.hidden]="!showReligion">Religion</th>
                                <th [class.hidden]="!showFatherOccupation">Father's Occupation</th>
                                <th [class.hidden]="!showAddress">Address</th>
                                <th [class.hidden]="!showChildSSMID">Child SSMID</th>
                                <th [class.hidden]="!showFamilySSMID">Family SSMID</th>
                                <th [class.hidden]="!showBankName">Bank Name</th>
                                <th [class.hidden]="!showBankAccountNum">Bank Acc. No.</th>
                                <th [class.hidden]="!showAadharNum">Aadhar No.</th>
                                <th [class.hidden]="!showBloodGroup">Blood Group</th>
                                <th [class.hidden]="!showFatherAnnualIncome">Father's Annual Income</th>                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let student of studentList; let i = index;" [class.hidden]="!student.show">
                                <ng-container>
                                    <td [class.hidden]="!showSerialNumber">{{student.serialNumber}}.</td>
                                    <td [class.hidden]="!showName">{{student.name}}</td>
                                    <td [class.hidden]="!showClassName">{{student.className}}</td>
                                    <td [class.hidden]="!showRollNumber">{{student.rollNumber}}</td>
                                    <td [class.hidden]="!showFathersName">{{student.fathersName}}</td>
                                    <td [class.hidden]="!showMobileNumber">{{student.mobileNumber}}</td>
                                    <td [class.hidden]="!showScholarNumber">{{student.scholarNumber}}</td>
                                    <td [class.hidden]="!showDateOfBirth">{{student.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
                                    <td [class.hidden]="!showTotalFees">{{student.totalFees}}</td>
                                    <td [class.hidden]="!showFeesDue">{{student.feesDue}}</td>
                                    <td [class.hidden]="!showMotherName">{{student.motherName}}</td>
                                    <td [class.hidden]="!showGender">{{student.gender}}</td>
                                    <td [class.hidden]="!showCaste">{{student.caste}}</td>
                                    <td [class.hidden]="!showCategory">{{student.category}}</td>
                                    <td [class.hidden]="!showReligion">{{student.religion}}</td>
                                    <td [class.hidden]="!showFatherOccupation">{{student.fatherOccupation}}</td>
                                    <td [class.hidden]="!showAddress">{{student.address}}</td>
                                    <td [class.hidden]="!showChildSSMID">{{student.childSSMID}}</td>
                                    <td [class.hidden]="!showFamilySSMID">{{student.familySSMID}}</td>
                                    <td [class.hidden]="!showBankName">{{student.bankName}}</td>
                                    <td [class.hidden]="!showBankAccountNum">{{student.bankAccountNum}}</td>
                                    <td [class.hidden]="!showAadharNum">{{student.aadharNum}}</td>
                                    <td [class.hidden]="!showBloodGroup">{{student.bloodGroup}}</td>
                                    <td [class.hidden]="!showFatherAnnualIncome">{{student.fatherAnnualIncome}}</td>                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>

            </div>
        </div>

        <ng-container *ngIf="isLoading">
            <!-- div style="width: 100%; margin-top: 10mm;" align="center">
                <div class="loader"></div>
            </div -->
            <app-loading-spinner></app-loading-spinner>
        </ng-container>

    </div>
</div>
