<nav
    *ngIf="user.activeSchool"
    class="navbar navbar-transparent navbar-absolute"
    style="border-radius: 0px"
    [attr.data-color]="user.activeSchool.primaryThemeColor"
>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="border-color: white"></span>
                <span class="icon-bar" style="border-color: white"></span>
                <span class="icon-bar" style="border-color: white"></span>
            </button>
            <a *ngIf="user.section" class="navbar-brand" title={{user.section.subTitle}}
            style="color: white;
                display:inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 18ch;">{{ user.section.subTitle }}</a>
        </div>
    </div>
</nav>

<nav *ngIf="!user.activeSchool" class="navbar navbar-transparent navbar-absolute" style="border-radius: 0px" [attr.data-color]="'green'">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="border-color: white"></span>
                <span class="icon-bar" style="border-color: white"></span>
                <span class="icon-bar" style="border-color: white"></span>
            </button>
            <a *ngIf="user.section" class="navbar-brand" title={{user.section.subTitle}} 
            style="color: white;
                display:inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 18ch;">{{ user.section.subTitle }}</a>
        </div>
    </div>
</nav>
