@media only screen and (min-width: 992px) {
    .main-content {
        padding: 0px;
        margin: 0px;
    }

    .table-content {
        margin-top: 40px;
        margin-left: 40px;
    }
}

.main-content {
    height: 95%;
}

.container-fluid {
    height: 100%;
}

.background-color-green {
    color: white;
    background-color: #4caf50;
}

.background-color-red {
    color: white;
    background-color: red;
}

.background-color-orange {
    color: white;
    background-color: orange;
}

.background-color-yellow {
    color: white;
    background-color: lightgreen;
}

.background-color-white {
    background-color: white;
}

.text-color-green {
    color: #4caf50;
}

.text-color-red {
    color: red;
}

.text-color-orange {
    color: orange;
}

.text-color-blue {
    color: blue;
}

.week-date {
    border: 1px solid lightgrey;
}

.attStatus {
    font-size: 16px;
}

/*.halfDay {
    text-decoration: line-through;
}*/

.unselectable {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}
