<h2 *ngIf="!isMobile() else MobileHeader" mat-dialog-title
    style="display: flex; flex-direction: row; align-items: center;">
    <span>In Page Permission:</span>
    <mat-icon style="margin-left: 24px; margin-right: 8px;">{{data.module.icon}}</mat-icon>
    <span>{{data.module.title}}</span>
    <mat-icon>arrow_forward_ios</mat-icon> <span>{{data.task.title}}</span>
</h2>
<ng-template #MobileHeader>
    <h4 mat-dialog-title>
        <span>In Page Permission:</span><br />
        <div style="display: flex; flex-direction: row; align-items: center;">
            <mat-icon style="margin-right: 8px;">{{data.module.icon}}</mat-icon>
            <span>{{data.module.title}}</span>
            <mat-icon>arrow_forward_ios</mat-icon> <span>{{data.task.title}}</span>
        </div>
    </h4>
</ng-template>
<mat-dialog-content style="height: 62vh; width: 75vw">
    <h3 *ngIf="!isMobile() else MobileEmployee">Employee: {{data.employee.name}}</h3>
    <ng-template #MobileEmployee>
        <h5>Employee: {{data.employee.name}}</h5>
    </ng-template>
    <ng-container *ngFor="let groupName of groupList">
        <div style="display: flex; flex-direction: row; align-items: center;" *ngIf="groupName else HR">
            <hr style="width: 20px; margin-right: 4px; background-color: black;" />
            <h4>{{groupName}}</h4>
            <hr style="margin-left: 8px; flex-grow: 1; background-color: black;" />
        </div>
        <ng-container *ngFor="let permissionKey of getGroupPermissionKeys(groupName)">
            <ng-container *ngIf="isSelectRemoveAllButtonAvailable(permissionKey, groupName)">
                <button
                class="btn"
                id="select-all-profile-columns"
                style="padding: 4px 7px"
                (click)="selectAllCheckBox(); $event.stopPropagation()"
                >
                Select All
                </button>
                <button
                class="btn"
                id="unselect-all-profile-columns"
                style="padding: 4px 7px"
                (click)="unSelectAllCheckBox(); $event.stopPropagation()"
                >
                Clear All
                </button>
            </ng-container>
            <ng-container [ngSwitch]="inPagePermissionMappedByKey[permissionKey].inputType"
                style="margin-bottom: 12px;">

                <mat-form-field *ngSwitchCase="'number'" style="margin: 12px 0;">
                    <mat-label>{{inPagePermissionMappedByKey[permissionKey].displayName}}
                    </mat-label>
                    <input matInput type="number" [(ngModel)]="employeePermissionConfigJsonCopy[permissionKey]" />
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'select'" style="margin: 0 12px;">
                    <mat-label>{{inPagePermissionMappedByKey[permissionKey].displayName}}
                    </mat-label>
                    <mat-select [(ngModel)]="employeePermissionConfigJsonCopy[permissionKey]">
                        <mat-option *ngFor="let option of inPagePermissionMappedByKey[permissionKey].allowedValues"
                            [value]="option[0]">
                            {{option[1]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Group of CheckBox type STARTS-->
                <ng-container *ngSwitchCase="'groupOfCheckBox'" style="margin: 0 12px;">
                    <ng-container  *ngIf="intialize(permissionKey)">
                        <div class="col-xs-12" style="margin-left: 8px">
                            <div class="row" style="margin-bottom: 5px">
                                <span style="font-size: large; font-weight: 800">{{ inPagePermissionMappedByKey[permissionKey].displayName }}</span>
                            </div>
                            <div class="row" style="margin-bottom: 8px">
                                <ng-container *ngFor="let option of inPagePermissionMappedByKey[permissionKey].checkBoxValues">
                                    <div class="col-md-3">
                                        <mat-checkbox  [(ngModel)]="employeePermissionConfigJsonCopy[permissionKey][option[0]]" (click)="$event.stopPropagation()">{{option[1]}}</mat-checkbox>
                                    </div>
                                </ng-container>
                                <br />
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- Group of CheckBox type ENDS-->

            </ng-container>
        </ng-container>
    </ng-container>
    <hr style="background-color: black;" />

</mat-dialog-content>
<div mat-dialog-actions style="color: white">
    <button mat-button (click)="apply()" class="btn" style="background-color: blue; margin-left: auto;"
        cdkFocusInitial>Apply</button>
</div>

<ng-template #HR>
    <hr />
</ng-template>