<mat-card style="padding: 0; width: 100%; margin-top:6px; overflow: hidden;">
    <div style="background-color: grey; text-align: center;">
        <i class="material-icons" style="margin-top: 4px;">date_range</i>
    </div>
    <div style="margin: 4px; padding: 4px;">

        <mat-form-field *ngIf="layer.LAYER_TYPE != 'CIRCLE'">
            <input type="number" step="1" matInput [ngModel]="(layer.length*getPixelTommFactor())"
                (ngModelChange)="layer.updateLength($event/getPixelTommFactor());canvasRefresh();" placeholder="Choose Length">
        </mat-form-field>

        
        <mat-form-field *ngIf="layer.LAYER_TYPE == 'CIRCLE' || layer.LAYER_TYPE == 'ROUNDED-RECTANGLE'">
            <input type="number" step="1" matInput [ngModel]="(layer.radius*getPixelTommFactor())"
                (ngModelChange)="layer.updateRadius($event/getPixelTommFactor());canvasRefresh();" placeholder="Choose Radius">
        </mat-form-field>

        
        <mat-form-field *ngIf="layer.LAYER_TYPE == 'RECTANGLE' || layer.LAYER_TYPE == 'ROUNDED-RECTANGLE'">
            <input type="number" step="1" matInput [ngModel]="(layer.width*getPixelTommFactor())"
                (ngModelChange)="layer.updateWidth($event/getPixelTommFactor());canvasRefresh();" placeholder="Choose Width">
        </mat-form-field>

        <mat-form-field *ngIf="layer.LAYER_TYPE == 'LINE'">
            <input type="number" step="1" matInput [ngModel]="layer.orientation"
                (ngModelChange)="layer.updateOrientation($event);canvasRefresh();" placeholder="Choose Orientation">
        </mat-form-field>

        <!-- <mat-form-field>
            <input type="number" matInput [ngModel]="layer.width"
                (ngModelChange)="layer.maintainAspectRatio = false ;layer.updateWidth($event); canvasRefresh();" placeholder="Choose Width">
        </mat-form-field>
        -->
    </div>

</mat-card>
