<mat-card style="padding: 0; width: 100%; margin-top:6px; overflow: hidden;">
    <div style="background-color: grey; text-align: center;">
        <i class="material-icons" style="margin-top: 4px;">date_range</i>
    </div>
    <div style="margin: 4px; padding: 4px;">

        <mat-form-field>
            <input type="number" matInput [ngModel]="layer.length"
                (ngModelChange)="layer.updateLength($event);canvasRefresh();" placeholder="Choose Length">
        </mat-form-field>

        
        <mat-form-field *ngIf="layer.LAYER_TYPE == 'RECTANGLE'">
            <input type="number" matInput [ngModel]="layer.width"
                (ngModelChange)="layer.updateWidth($event);canvasRefresh();" placeholder="Choose Width">
        </mat-form-field>

        <!-- <mat-form-field>
            <input type="number" matInput [ngModel]="layer.width"
                (ngModelChange)="layer.maintainAspectRatio = false ;layer.updateWidth($event); canvasRefresh();" placeholder="Choose Width">
        </mat-form-field>
        -->
    </div>

</mat-card>
