span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.image-column {
	max-width: 0.525in; 
	height: 0.525in; 
	margin-right: 10px;
	margin-top: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.custom-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    border:2px solid #ff9800;
    color:white;
    background: #ff9800;
    padding: 0px 6px;
}
.custom-button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.mat-dialog-actions {
    display: block;
}