<div class="card-content">
    <ng-container *ngIf="!isLoading">
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 20px;">
                <mat-card style="margin-bottom: 10px">
                    <mat-form-field style="margin-right: 10px" *ngIf="idCardLayoutList.length">
                        <mat-label>
                            Select a layout
                        </mat-label>
                        <mat-select [(ngModel)]="currentLayout">
                            <mat-option *ngFor="let layout of idCardLayoutList; let i = index" [value]="layout">
                                {{layout.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div style="display: inline-block;">
                        <button type="button"
                            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                            style="padding: 12px 15px;"
                            (click)="serviceAdapter.createOrUpdateLayout();" *ngIf="currentLayout.name && isValidLayoutName()">
                            <ng-container *ngIf="!currentLayout.id">CREATE</ng-container>
                            <ng-container *ngIf="currentLayout.id">Update</ng-container>
                        </button>
                        <button type="button"
                            class="btn btn-danger"
                            style="padding: 12px 15px;"
                            (click)="initializeLayout();">
                            <ng-container *ngIf="currentLayout.id">CREATE NEW</ng-container>
                            <ng-container *ngIf="!currentLayout.id">RESET</ng-container>
                        </button>
                    </div>
                    
                </mat-card>
                <mat-card style="margin-bottom: 10px">
                    <div class="row">
                        <div class="col-md-6">
                            <span style="color:red" *ngIf="!isValidLayoutName()" class="small">
                                Layout name must be unique
                            </span>
                            <mat-form-field style="width: 100%;">                                
                                <mat-label>
                                    Layout Name
                                </mat-label>
                                <input matInput [(ngModel)]="currentLayout.name">                                
                            </mat-form-field>
                        </div>
                    </div>                                     
                    <input type='file' (change)="readURL($event);" multiple="false" style="display: none" accept="image/*" #imageInput/>
                    <button type="button" class="btn btn-{{user.activeSchool.secondaryThemeColor}}" (click)="imageInput.click()"
                   style="cursor: pointer">Upload background</button>
                   <button type="button" class="btn btn-{{user.activeSchool.secondaryThemeColor}}" (click)="removeBg()" *ngIf="currentLayout.background"
                   style="cursor: pointer">Remove background</button>
                    <div>
                        <mat-form-field style="margin-right: 10px">
                            <mat-label>
                                Add a field
                            </mat-label>
                            <mat-select (selectionChange)="addField($event)" [value]="null">
                                <mat-option *ngFor="let field of getRemainingFields(); let i = index" [value]="field">
                                    {{field.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card>
                <mat-card *ngIf="currentLayout.content.length">
                    <div>
                        <mat-form-field>
                            <mat-label>
                                Select Field to edit
                            </mat-label>
                            <mat-select [(ngModel)]="currentField">
                                <mat-option *ngFor="let field of currentLayout.content; let i = index" [value]="field">
                                    {{getField(field.key).name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div style="float: right">
                            <button type="button" *ngIf="currentField"
                                class="btn btn-danger"
                                style="padding: 12px 15px;"
                                (click)="deleteField(currentField);">
                                Delete
                            </button>
                        </div>
                    </div>
                    <div *ngIf="currentField">
                        <div *ngIf="getField(currentField.key).type==='text'">
                            <div style="margin-bottom: 10px">
                                <mat-button-toggle style="margin-right: 5px" [checked]="currentField.bold" (change)="currentField.bold = $event.source.checked">
                                    <mat-icon>format_bold</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle style="margin-right: 5px" [checked]="currentField.italic" (change)="currentField.italic = $event.source.checked">
                                    <mat-icon>format_italic</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle style="margin-right: 5px" [checked]="currentField.underline" (change)="currentField.underline = $event.source.checked">
                                    <mat-icon>format_underline</mat-icon>
                                </mat-button-toggle>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>
                                            Font size (mm)
                                        </mat-label>
                                        <input matInput
                                            type="number" step="1"
                                            [(ngModel)]="currentField.fontSize">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="!currentLayout.updated">
                                <div class="col-md-6">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>
                                            x (in mm)
                                        </mat-label>
                                        <input matInput
                                            type="number" step="1"
                                            [(ngModel)]="currentField.x">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>
                                            y (in mm)
                                        </mat-label>
                                        <input matInput
                                            type="number" step="1"
                                            [(ngModel)]="currentField.y">
                                    </mat-form-field>
                                </div>    
                            </div>
                        </div>
                        <div *ngIf="getField(currentField.key).type==='image'">
                            <div class="row">
                                <mat-form-field style="width: 100%;" class="col-md-6">
                                    <mat-label>
                                        Image Height (mm)
                                    </mat-label>
                                    <input matInput
                                        type="number" step="1"
                                        [(ngModel)]="currentField.height">
                                </mat-form-field>
                                <mat-form-field style="width: 100%;" class="col-md-6">
                                    <mat-label>
                                        Image Width (mm)
                                    </mat-label>
                                    <input matInput
                                        type="number" step="1"
                                        [(ngModel)]="currentField.width">
                                </mat-form-field>
                            </div>
                            
                            <div class="row" *ngIf="!currentLayout.updated">
                                <div class="col-md-6">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>
                                            x (in mm)
                                        </mat-label>
                                        <input matInput
                                            type="number" step="1"
                                            [(ngModel)]="currentField.x">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>
                                            y (in mm)
                                        </mat-label>
                                        <input matInput
                                            type="number" step="1"
                                            [(ngModel)]="currentField.y">
                                    </mat-form-field>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <br/>
                </mat-card>
            </div>
            <div class="col-md-6 main-container" *ngIf="currentLayout">
                <div style="position: relative; height: 2.125in; width: 3.375in" class="id-card-container">
                    <img [src]="currentLayout.background || 'assets/img/id-card.jpeg'" style="position:absolute; top: 0; left: 0; height: 100%; width: 100%;"/>
                    <ng-container *ngFor="let field of currentLayout.content; let i=index">
                        <img *ngIf="getField(field.key).type=='image'" [src]="getFieldValue(field.key)" [ngStyle]="{'height': field.height+'mm', 'width': field.width+'mm'}" [style.top]="!currentLayout.updated&&(field.y+'mm')" [style.left]="!currentLayout.updated&&(field.x+'mm')" style="display: inline-block; position: absolute; border: 1px dotted black; width: auto" cdkDrag cdkDragBoundary=".main-container" (cdkDragEnded)="onDragEnded($event, i)"/>
                        <div *ngIf="getField(field.key).type=='text'" [ngStyle]="{'font-weight': field.bold?'bold':'', 'font-style': field.italic?'italic':'', 'text-decoration': field.underline?'underline':'', 'font-size': field.fontSize+'mm', 'line-height': field.fontSize+'mm'}" [style.top]="!currentLayout.updated&&(field.y+'mm')" [style.left]="!currentLayout.updated&&(field.x+'mm')" style="display: inline-block; position: absolute; border: 1px dotted black" cdkDrag cdkDragBoundary=".main-container" (cdkDragEnded)="onDragEnded($event, i)">{{getFieldValue(field.key)}}</div>
                    </ng-container>
                </div>
                <button type="button"
                    class="btn btn-danger"
                    style="padding: 12px 15px;"
                    (click)="download();">
                    Print a test copy
                </button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="isLoading" style="height: 100%; display: flex; justify-content: center">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>