<div class="main-content">
    <div class="container-fluid">

        <div class="card" style="min-height: 100%">
            <div class="card-header" [attr.data-background-color]="user.color">
                <h4 class="title">Set School Fees</h4>
            </div>
            <div class="card-content">

                <ng-container *ngIf="feeTypeList && feeStructure && !isLoading">

                    <mat-form-field>
                        <mat-select placeholder="Select Fee Type"
                                    [ngModel]="selectedFeeType"
                                    (ngModelChange)="selectedFeeType=$event; populateFeeDefinition();">
                            <mat-option *ngFor="let feeType of feeTypeList" [value]="feeType">
                                {{feeType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Fee  Definition -->
                    <ng-container *ngIf="selectedFeeDefinition && !selectedFeeDefinition.locked">

                        <!-- Filters, Interval, RTE, Only New Student -->
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Select Filters"
                                                [disabled]="selectedFeeDefinition.schoolFeeComponentList.length > 0">
                                        <mat-option style="width: 100%;">
                                            <mat-checkbox [(ngModel)]="currentFeeDefinition.classFilter"
                                                          (click)="$event.stopPropagation();">
                                                Class
                                            </mat-checkbox>
                                        </mat-option>
                                        <mat-option style="width: 100%;">
                                            <mat-checkbox [(ngModel)]="currentFeeDefinition.busStopFilter"
                                                          (click)="$event.stopPropagation();">
                                                Bus Stop
                                            </mat-checkbox>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Fee Interval"
                                                [ngModel]="currentFeeDefinition.frequency"
                                                (ngModelChange)="currentFeeDefinition.frequency=$event"
                                                [disabled]="selectedFeeDefinition.schoolFeeComponentList.length > 0">
                                        <mat-option *ngFor="let frequency of frequencyList" [value]="frequency">
                                            {{frequency}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-checkbox class="checkbox-margin"
                                              [disabled]="selectedFeeDefinition.schoolFeeComponentList.length > 0"
                                              [(ngModel)]="currentFeeDefinition.rte">
                                    RTE
                                </mat-checkbox>
                            </div>
                            <div class="col-md-3">
                                <mat-checkbox class="checkbox-margin"
                                              [disabled]="selectedFeeDefinition.schoolFeeComponentList.length > 0"
                                              [(ngModel)]="currentFeeDefinition.onlyNewStudent">
                                    Only New Student
                                </mat-checkbox>
                            </div>
                        </div>

                        <!-- Chosen Filters List -->
                        <div class="row">
                            <div class="col-md-12">
                                Filters:
                                <i style="font-weight: 800;">
                                    <span *ngIf="currentFeeDefinition.classFilter">Class</span>
                                    <span *ngIf="currentFeeDefinition.classFilter && currentFeeDefinition.busStopFilter">,</span>
                                    <span *ngIf="currentFeeDefinition.busStopFilter">Bus Stop</span>
                                    <span *ngIf="!currentFeeDefinition.classFilter && !currentFeeDefinition.busStopFilter">None</span>
                                </i>
                            </div>
                        </div>

                        <!-- School Component -->
                        <div *ngIf="selectedFeeDefinition.dbId != 0" style="margin-top: 25px;">

                            <!-- Selected School Component -->
                            <mat-form-field *ngIf="selectedFeeDefinition.classFilter || selectedFeeDefinition.busStopFilter">
                                <mat-select placeholder="Select Fee Declaration"
                                            [ngModel]="selectedSchoolFeeComponent"
                                            (ngModelChange)="populateSchoolFeeComponent($event);">
                                    <mat-option [value]="New">New</mat-option>
                                    <mat-option *ngFor="let schoolFeeComponent of selectedFeeDefinition.schoolFeeComponentList"
                                                [value]="schoolFeeComponent">
                                        {{schoolFeeComponent.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div style="width: 100%" *ngIf="!selectedFeeDefinition.classFilter && !selectedFeeDefinition.busStopFilter">
                                <span *ngIf="selectedFeeDefinition.schoolFeeComponentList.length == 0"><i><b>New Fee Declaration</b></i></span>
                                <span *ngIf="selectedFeeDefinition.schoolFeeComponentList.length != 0">
                                    Fee Declaration: <i><b>{{selectedFeeDefinition.schoolFeeComponentList[0].title}}</b></i>
                                </span>
                            </div>

                            <!-- School Component Space -->
                            <div class="schoolComponentSpace" *ngIf="selectedSchoolFeeComponent">

                                <!--  Class Filters, Bus Stop filters -->
                                <div class="row">
                                    <div class="col-md-3" *ngIf="selectedFeeDefinition.classFilter">
                                        <mat-form-field>
                                            <mat-select placeholder="Select Class"
                                                        [disabled]="selectedSchoolFeeComponent.dbId != 0">
                                                <mat-option *ngFor="let class of currentSchoolFeeComponent.classList">
                                                    <mat-checkbox [ngModel]="class.selected"
                                                                  (ngModelChange)="class.selected=$event;currentSchoolFeeComponent.updateBusStopDisabled();"
                                                                  [disabled]="class.disabled"
                                                                  (click)="$event.stopPropagation();">
                                                        {{class.name}}
                                                    </mat-checkbox>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3" *ngIf="selectedFeeDefinition.busStopFilter">
                                        <mat-form-field>
                                            <mat-select placeholder="Select Bus Stop"
                                                        [disabled]="selectedSchoolFeeComponent.dbId != 0">
                                                <mat-option *ngFor="let busStop of currentSchoolFeeComponent.busStopList">
                                                    <mat-checkbox [ngModel]="busStop.selected"
                                                                  (ngModelChange)="busStop.selected=$event;currentSchoolFeeComponent.updateClassDisabled();"
                                                                  [disabled]="busStop.disabled"
                                                                  (click)="$event.stopPropagation();">
                                                        {{busStop.stopName}}
                                                    </mat-checkbox>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <!-- Chosen Class Filters -->
                                <div class="row" *ngIf="selectedFeeDefinition.classFilter">
                                    <div class="col-md-12">
                                        Class:
                                        <i style="font-weight: 800;"
                                           *ngFor="let class of currentSchoolFeeComponent.classList; let i=index;">
                                            <ng-container *ngIf="class.selected">
                                                {{class.name}},
                                            </ng-container>
                                        </i>
                                    </div>
                                </div>

                                <!-- Chosen Bus Stop Filters -->
                                <div class="row" *ngIf="selectedFeeDefinition.busStopFilter">
                                    <div class="col-md-12">
                                        Bus Stop:
                                        <i style="font-weight: 800;"
                                           *ngFor="let busStop of currentSchoolFeeComponent.busStopList; let i=index;">
                                            <ng-container *ngIf="busStop.selected">
                                                {{busStop.stopName}},
                                            </ng-container>
                                        </i>
                                    </div>
                                </div>

                                <!-- Title, Annual Amount -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Title</label>
                                            <input type="text"
                                                   class="form-control"
                                                   [(ngModel)]="currentSchoolFeeComponent.title">
                                        </div>
                                    </div>
                                    <div class="col-md-3" *ngIf="selectedFeeDefinition.frequency=='YEARLY'">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Annual Amount</label>
                                            <input type="number"
                                                   class="form-control"
                                                   min="0"
                                                   [(ngModel)]="currentSchoolFeeComponent.amountFrequency.annualAmount">
                                        </div>
                                    </div>
                                </div>

                                <!-- Monthly Amount -->
                                <ng-container *ngIf="selectedFeeDefinition.frequency=='MONTHLY'">
                                    <app-monthly-amount [amountFrequency]="currentSchoolFeeComponent.amountFrequency"></app-monthly-amount>
                                </ng-container>

                                <div class="clearfix" style="margin-bottom: 25px;"></div>

                                <!-- Add, Update, and Delete buttons for School Fee Component -->
                                <button type="button"
                                        class="btn btn-{{user.btn_color}}"
                                        *ngIf="currentSchoolFeeComponent.dbId==0"
                                        (click)="createSchoolFeeComponent()">Add</button>
                                <button type="button"
                                        class="btn btn-{{user.btn_color}}"
                                        *ngIf="currentSchoolFeeComponent.dbId!=0"
                                        (click)="updateSchoolFeeComponent()">Update</button>
                                <button type="button"
                                        class="btn btn-{{user.btn_color}}"
                                        *ngIf="currentSchoolFeeComponent.dbId!=0"
                                        (click)="deleteSchoolFeeComponent()">Delete</button>

                            </div>

                        </div>

                        <div class="clearfix" style="margin-bottom: 25px;"></div>

                        <!-- Add, Update and Delete Buttons For Fee Definition -->
                        <button type="button"
                                class="btn btn-{{user.btn_color}}"
                                *ngIf="selectedFeeDefinition.dbId==0"
                                (click)="createFeeDefinition()">Add</button>
                        <button type="button"
                                class="btn btn-{{user.btn_color}}"
                                *ngIf="selectedFeeDefinition.dbId!=0
                                       && selectedFeeDefinition.schoolFeeComponentList.length == 0"
                                (click)="updateFeeDefinition()">Update</button>
                        <button type="button"
                                class="btn btn-{{user.btn_color}}"
                                *ngIf="selectedFeeDefinition.dbId!=0
                                       && selectedFeeDefinition.schoolFeeComponentList.length == 0"
                                (click)="deleteFeeDefinition()">Delete</button>

                    </ng-container>

                    <ng-container *ngIf="selectedFeeDefinition && selectedFeeDefinition.locked">
                        This fee has been approved and locked by administrator.
                    </ng-container>

                </ng-container>

                <!-- Fee Structure -->
                <app-fee-structure *ngIf="feeStructure && !isLoading" [feeStructure]="feeStructure"></app-fee-structure>
                <!-- ng-container *ngIf="feeStructure">
                    <div class="clearfix" style="margin-top: 50px"></div>

                    <ng-container *ngFor="let feeDefinition of feeStructure; let firstIndex=index;">
                        <div class="row hoverHighlight" style="font-weight: 800">
                            <div class="col-md-3">
                                {{firstIndex+1}}. {{feeDefinition.feeType}}
                            </div>
                            <div class="col-md-3">
                                {{feeDefinition.frequency}}
                            </div>
                            <div class="col-md-3">
                                <span *ngIf="feeDefinition.rte">RTE, </span>
                                <span *ngIf="feeDefinition.onlyNewStudent">Only New Student</span>
                            </div>
                        </div>
                        <ng-container *ngFor="let schoolFeeComponent of feeDefinition.schoolFeeComponentList; let secondIndex=index">
                            <div class="row hoverHighlight">
                                <div class="col-md-3" style="padding-left: 40px;">
                                    {{secondIndex+1}}. {{schoolFeeComponent.title}}
                                </div>
                                <div class="col-md-3" *ngIf="feeDefinition.frequency==frequencyList[0]">
                                    {{schoolFeeComponent.amount}}
                                </div>
                            </div>
                            <div *ngIf="feeDefinition.classFilter" class="row hoverHighlight">
                                <div class="col-md-12" style="padding-left: 60px;">
                                    Class: <i *ngFor="let class of schoolFeeComponent.classList">{{class.name}},</i>
                                </div>
                            </div>
                            <div *ngIf="feeDefinition.busStopFilter" class="row hoverHighlight">
                                <div class="col-md-12" style="padding-left: 60px;">
                                    Bus Stop: <i *ngFor="let busStop of schoolFeeComponent.busStopList">{{busStop.stopName}}</i>
                                </div>
                            </div>
                            <ng-container *ngIf="feeDefinition.frequency==frequencyList[1]" class="row">
                                <div class="row hoverHighlight" *ngFor="let month of schoolFeeComponent.monthList">
                                    <div class="col-md-3" style="padding-left: 80px;">
                                        {{month.month}}
                                    </div>
                                    <div class="col-md-9">
                                        {{month.amount}}
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container -->


            </div>
        </div>

        <ng-container *ngIf="isLoading || isListLoading">
            <app-loading-spinner [user]="user"></app-loading-spinner>
        </ng-container>

    </div>
</div>
