<form class="example-form" *ngIf="employeeList">
    <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Type employee name here...."
               aria-label="Student"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"
                          (optionSelected)="getEmployee($event.option.value)"
                          [displayWith]="displayFn">
            <mat-option *ngFor="let employee of filteredEmployeeList | async" [value]="employee">
                <img *ngIf="employee.profileImage"
                     style="width: 10%"
                     src="{{employee.profileImage}}">
                <img *ngIf="!employee.profileImage"
                     style="width: 10%"
                     src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
                {{displayFn(employee)}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
