@media only screen and (min-width: 992px) {
	.table-content {
		margin-top: 40px;
		margin-left: 40px;
	}
}

.loader {
	z-index: 1000;
	border: 8px solid #FFFFFF; /* White */
	border-top: 8px solid red; /* Red */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.fieldRight {
	color: lightgreen;
	font-weight: 400;
}

.row {
	padding: 10px;
}

/*.row:hover {
	background-color: lightgrey;
}*/

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 100%;
}
