<div class="card-content table-responsive">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-black label-floating">
                <label class="control-label">Start Date</label>
                <input type="date" class="form-control" [(ngModel)]="startDate" (ngModelChange)="backendData.smsList = null" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-black label-floating">
                <label class="control-label">End Date</label>
                <input type="date" class="form-control" [(ngModel)]="endDate" (ngModelChange)="backendData.smsList = null" />
            </div>
        </div>
        <div class="col-md-3">
            <button
                type="button"
                class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                style="padding: 12px 15px"
                matTooltip="Get all the receipts b/w start and end date"
                tooltip-position="right"
                (click)="serviceAdapter.getSMSList()">
                <i class="material-icons">search</i></button>
            <br/>
        </div>
    </div>

    <ng-container *ngIf="!stateKeeper.isLoading && backendData.smsList">
        <div *ngIf="backendData.smsList.length > 0" style="margin-bottom: 10px;">
                <mat-form-field *ngIf="htmlRenderer.messageTypeNeeded()" style="margin-right: 15px">
                    <mat-select placeholder="Select Message Type">
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                    (click)="htmlRenderer.selectAll(populatedMessageTypeList);$event.stopPropagation()">
                                Select All
                            </button>
                            <button class="btn" style="padding: 4px 7px"
                                    (click)="htmlRenderer.unselectAll(populatedMessageTypeList);$event.stopPropagation()">
                                Clear All
                            </button>
                        </mat-option>
                        <ng-container *ngFor="let message of populatedMessageTypeList">
                            <mat-option style="width: 100%">
                                <mat-checkbox [(ngModel)]="message.selected" (click)="$event.stopPropagation()">
                                    {{message.name}}
                                </mat-checkbox>
                            </mat-option>
                        </ng-container>
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                    (click)="htmlRenderer.selectAll(populatedMessageTypeList);$event.stopPropagation()">
                                Select All
                            </button>
                            <button class="btn" style="padding: 4px 7px"
                                    (click)="htmlRenderer.unselectAll(populatedMessageTypeList);$event.stopPropagation()">
                                Clear All
                            </button>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Event Type">
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                    (click)="htmlRenderer.selectAll(populatedSMSEventList);$event.stopPropagation()">
                                Select All
                            </button>
                            <button class="btn" style="padding: 4px 7px"
                                    (click)="htmlRenderer.unselectAll(populatedSMSEventList);$event.stopPropagation()">
                                Clear All
                            </button>
                        </mat-option>
                        <ng-container *ngFor="let smsEvent of populatedSMSEventList">
                            <mat-option style="width: 100%">
                                <mat-checkbox [(ngModel)]="smsEvent.selected" (click)="$event.stopPropagation()">
                                    {{smsEvent.eventName}}
                                </mat-checkbox>
                            </mat-option>
                        </ng-container>
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                    (click)="htmlRenderer.selectAll(populatedSMSEventList);$event.stopPropagation()">
                                Select All
                            </button>
                            <button class="btn" style="padding: 4px 7px"
                                    (click)="htmlRenderer.unselectAll(populatedSMSEventList);$event.stopPropagation()">
                                Clear All
                            </button>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <br/>
            <span style="font-weight: 400;">Total SMS/Notif Sent : {{htmlRenderer.getTotalSMSNotifCount()}}</span>
        </div>

        <ng-container *ngIf="htmlRenderer.getFilteredSMSList().length > 0">
            <table class="table table-hover visible-sm visible-xs">
                <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                <tr>
                    <th>S No.</th>
                    <th class="text-right">Sms/Notif.</th>
                    <th *ngIf="htmlRenderer.messageTypeNeeded()" class="text-center">Message Type</th>
                    <th class="text-center">Event Name</th>
                    <th class="text-center">Date</th>
                    <th class="text-left">Message</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sms of htmlRenderer.getFilteredSMSList(); let i = index" style="padding: 0px">
                    <td>{{ i + 1 }}</td>
                    <td style="padding-right: 15px" align="right">{{ sms.count }}/{{ sms.notificationCount }}</td>
                    <td *ngIf="htmlRenderer.messageTypeNeeded()">{{ htmlRenderer.getMessageType(sms) }}</td>
                    <td>{{ htmlRenderer.getEventName(sms) }}</td>
                    <td align="center">{{ sms.sentDateTime | date: 'dd - MMM - yyyy' }}</td>
                    <td align="left" style="white-space: pre-line">
                        {{ sms.content }}
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- SMS Table List -->
            <mat-accordion displayMode="flat" class="mat-table hidden-sm hidden-xs">
                <section class="mat-elevation-z2 mat-header-row">
                    <span class="mat-header-cell">S No.</span>
                    <span class="mat-header-cell">Sms/Notif.</span>
                    <th *ngIf="htmlRenderer.messageTypeNeeded()" class="mat-header-cell">Message Type</th>
                    <th class="mat-header-cell">Event Name</th>
                    <span class="mat-header-cell">Date</span>
                    <span class="mat-header-cell">Message</span>
                </section>

                <mat-expansion-panel
                    *ngFor="let sms of htmlRenderer.getFilteredSMSList(); let i = index"
                    (opened)="sms.isOpen = true; serviceAdapter.getDeliveryReport(sms)"
                    (closed)="sms.isOpen = false">
                    <mat-expansion-panel-header class="mat-row">
                        <span class="mat-cell">{{ i + 1 }}.</span>
                        <span class="mat-cell">{{ sms.count }}/{{ sms.notificationCount }}</span>
                        <span *ngIf="htmlRenderer.messageTypeNeeded()" class="mat-cell">{{ htmlRenderer.getMessageType(sms) }}</span>
                        <span class="mat-cell">{{ htmlRenderer.getEventName(sms) }}</span>
                        <span class="mat-cell">{{ sms.sentDateTime | date: 'dd - MMM - yyyy' }}</span>
                        <span class="mat-cell">{{ sms.content.substring(0, 20) }}</span>
                    </mat-expansion-panel-header>

                    <ng-container *ngIf="sms.isOpen">
                        <ng-container *ngIf="sms.isLoading == true">
                            <div style="width: 100%" align="center">
                                <div class="loaderCustom"></div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="sms.isLoading == false">
                            <div class="row">
                                <div class="col-sm-3">Message:</div>
                                <div class="col-sm-9" style="white-space: pre-line">{{ sms.content }}</div>
                            </div>
                            <br />

                            <ng-container *ngFor="let status of getStatusList(sms); let last = last">
                                {{ status }}: {{ htmlRenderer.getMobileNumberListByStatusAndSMS(status, sms).length }},&nbsp;&nbsp;
                            </ng-container>
                            Total: {{ htmlRenderer.getMobileNumberListBySMS(sms).length }}<br/><br/>

                            <mat-form-field>
                                <mat-select placeholder="Select Status" [(ngModel)]="userInput.selectedStatus">
                                    <mat-option *ngFor="let status of getStatusList(sms)" [value]="status">
                                        {{ status }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br/><br/>

                            <ng-container
                                    *ngFor="let mobileNumber of htmlRenderer.getMobileNumberListByStatusAndSMS(userInput.selectedStatus, sms); let last = last">
                                {{ mobileNumber }}
                                <ng-container *ngIf="!last">,&nbsp;&nbsp;</ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>

        <ng-container *ngIf="this.backendData.smsList.length == 0">
            No SMS sent b/w {{ startDate | date: 'dd - MMM - yyyy' }} to {{ endDate | date: 'dd - MMM - yyyy' }}
        </ng-container>
    </ng-container>
</div>

<ng-container *ngIf="stateKeeper.isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
