<mat-form-field (click)="picker.open()">
    <input
        matInput
        [matDatepicker]="picker"
        [matDatepickerFilter]="dateFilter"
        (dateChange)="onDateChanged($event)"
        [placeholder]="placeHolder"
        [formControl]="date"
        style="cursor: pointer"
        disabled
    />
    <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="disableDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
</mat-form-field>
<button *ngIf="!nullButtonDisabled" type="submit" class="btn" (click)="nullDate()" style="padding: 3px 3px">
    <i class="material-icons">clear</i>
</button>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
