<div class="modalWrapper">
    <div class="modalContainer" (click)="closeColorList($event)">
        <!-- Title-bar -->
        <div class="modalRow titleBar">
            <div class="modalRowItem">
                <span class="modalColItem">
                    <span class="modalTitle">Leave >> Add Leave Type</span>
                </span>
            </div>
            <div class="modalRowItem">
                <div class="modalColItem">
                    <button class="material-icons closeBtn" (click)="closeDialog($event)">close</button>
                </div>
            </div>
        </div>
        <!-- Horizontal Break -->
        <div class="modalBreakLine"></div>
        <!-- Leave Type -->
        <div class="modalRow">
            <div class="modalRowItem" style="width: 40%">
                <div class="modalColItem">
                    <span class="modalLabel">Select Type</span>
                </div>
            </div>
            <div class="modalRowItem" style="width: 60%">
                <div class="modalColItem">
                    <select class="modalInput" [(ngModel)]="leaveType">
                        <option value="-1">None</option>
                        <option value="0">Paid Leaves</option>
                        <option value="1">Unpaid Leaves</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- give Name and select Color -->
        <div class="modalRow">
            <div class="modalRowItem" style="width: 40%">
                <div class="modalColItem">
                    <span class="modalLabel">Set Denotation</span>
                </div>
            </div>
            <div class="modalRowItem" style="width: 60%">
                <div class="modalColItem">
                    <input class="modalInput" [(ngModel)]="name" [value]="name" placeholder="CL" />
                </div>
            </div>
        </div>
        <div class="modalRow">
            <div class="modalRowItem" style="width: 40%">
                <div class="modalColItem">
                    <span class="modalLabel">Set Colour</span>
                </div>
            </div>
            <div class="modalRowItem" style="width: 60%">
                <div class="modalColItem">
                    <span class="colorSelector" (click)="isColorListVisible = !isColorListVisible">
                        <span
                            id="colorIndicator"
                            class="colorSelector modalInput"
                            style="cursor: pointer; width: 100%; display: flex; flex-direction: row; justify-content: space-between"
                            [ngStyle]="{ backgroundColor: color === '' ? '#ffffff' : color }"
                        >
                            <div class="colorSelector">
                                {{ color == "" ? "Select Color" : "Change Color" }}
                            </div>
                            <div class="colorSelector material-icons">arrow_drop_down</div>
                        </span></span
                    >
                    <div *ngIf="isColorListVisible" class="modalOptionsContainer">
                        <div
                            *ngFor="let colorCode of colorCodes"
                            style="width: 10%; height: 25px; margin-top: 2.5px; margin-bottom: 2.5px; border-radius: 2px; cursor: pointer"
                            [ngStyle]="{ background: colorCode }"
                            (click)="updateColor($event, colorCode)"
                        ></div>
                    </div>
                </div>
            </div>
            <!-- CarryForward and Encashments -->
            <div class="modalRow">
                <div class="modalRowItem" style="width: 100%">
                    <div class="modalColItem">
                        <span class="modalTitle">Carry-Forwarding and Encashments -</span>
                    </div>
                </div>
            </div>
            <div class="modalRow">
                <div class="modalRowItem" style="width: 5ch; padding-left: 5px; padding-right: 5px">
                    <div class="modalColItem" style="text-align: center"></div>
                </div>
                <div class="modalRowItem" style="width: 100px; padding-left: 5px; padding-right: 5px">
                    <div class="modalColItem" style="text-align: left">Value</div>
                </div>
                <div class="modalRowItem" style="width: fit-content; padding-left: 5px; padding-right: 5px">
                    <div class="modalColItem" style="text-align: left">Remaining Leaves</div>
                </div>
            </div>
            <div class="modalRow" *ngFor="let month of months">
                <div class="modalRowItem" style="width: 5ch; padding-left: 5px; padding-right: 5px">
                    <div class="modalColItem" style="text-align: center; text-transform: capitalize">
                        {{ month }}
                    </div>
                </div>
                <div class="modalRowItem" style="width: 100px; padding-left: 5px; padding-right: 5px">
                    <div class="modalColItem" style="text-align: left">
                        <input class="modalInput" type="number" min="0" [(ngModel)]="leavesPerMonth[month][0]" />
                    </div>
                </div>
                <div class="modalRowItem" style="width: 100px; padding-left: 5px; padding-right: 5px">
                    <div class="modalColItem" style="text-align: left">
                        <select (change)="updateLeaves($event, month)" class="modalInput">
                            <option value="0" [selected]="leavesPerMonth[month][1] == 0">CFW</option>
                            <option value="1" [selected]="leavesPerMonth[month][1] == 1">Lapse</option>
                            <option value="2" [selected]="leavesPerMonth[month][1] == 2">ENC</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modalRow">
                <div class="modalRowItem" style="width: 100%">
                    <div class="modalColItem">
                        <div
                            (click)="isNoteVisible = !isNoteVisible"
                            class="modalNote"
                            [ngStyle]="{
                                cursor: 'pointer',
                                display: !isNoteVisible ? 'inline-block' : 'block',
                                whiteSpace: !isNoteVisible ? 'nowrap' : 'normal'
                            }"
                        >
                            Note - Policies are applicable for the next month. CFW for January will decide if leaves will be carry-forwarded from January to
                            February
                        </div>
                    </div>
                </div>
            </div>
            <!-- Horizontal Break -->
            <div class="modalBreakLine"></div>
            <!-- Set Encashments Formula -->
            <div class="modalRow">
                <div class="modalRowItem" style="width: 100%">
                    <div class="modalColItem">
                        <span class="modalTitle" style="text-overflow: ellipsis; overflow: hidden; display: inline-block; white-space: nowrap"
                            >Set Encashments Formula -</span
                        >
                    </div>
                </div>
            </div>
            <div class="modalRow">
                <div class="modalRowItem" style="width: 40%">
                    <div class="modalColItem">
                        <span class="modalLabel">Select Salary Components</span>
                    </div>
                </div>
                <div class="componentSelector modalRowItem" style="width: 60%">
                    <div class="componentSelector modalColItem">
                        <div
                            (click)="isSalaryComponentSelectorVisible = !isSalaryComponentSelectorVisible"
                            class="componentSelector modalInput"
                            style="cursor: pointer; width: 100%; display: flex; flex-direction: row; justify-content: space-between"
                        >
                            <div class="componentSelector">{{ activeComponentCount > 0 ? "SELECTED " + activeComponentCount : "SELECT" }}</div>
                            <div class="componentSelector material-icons">arrow_drop_down</div>
                        </div>
                        <div *ngIf="isSalaryComponentSelectorVisible" class="componentSelector modalOptionsContainer" style="height: 80px; margin-top: 130px">
                            <div
                                class="componentSelector"
                                *ngFor="let salaryComponent of salaryComponents"
                                style="width: 100%; display: flex; flex-direction: row; cursor: pointer"
                                (click)="enableComponent($event, salaryComponent)"
                            >
                                <span
                                    class="componentSelector"
                                    style="height: 25px; display: flex; flex-direction: column; justify-content: center; text-align: center"
                                >
                                    <input
                                        class="componentSelector"
                                        type="checkbox"
                                        aria-label="select"
                                        style="border-radius: 2px"
                                        [checked]="salaryComponentValue[salaryComponent] != 0"
                                    />
                                </span>
                                <span
                                    class="componentSelector"
                                    style="height: 25px; display: flex; flex-direction: column; justify-content: center; flex-grow: 1; text-align: center"
                                    >{{ salaryComponent }}</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalRow" *ngIf="activeComponentCount > 0">
                <div
                    *ngFor="let salaryComponent of salaryComponents"
                    class="modalRowItem"
                    style="width: 100%"
                    [ngStyle]="{ minHeight: salaryComponentValue[salaryComponent] !== 0 ? '36px' : '0px' }"
                >
                    <div class="modalRowItem" *ngIf="salaryComponentValue[salaryComponent] !== 0" style="width: 100%">
                        <div class="modalColItem" style="width: 40%">
                            <span class="modalLabel">{{ salaryComponent }}</span>
                        </div>
                        <div class="modalColItem" style="width: 60%">
                            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%; justify-content: space-evenly">
                                <span
                                    style="flex-grow: 1; display: flex; overflow: hidden; flex-wrap: nowrap; justify-content: space-evenly"
                                    (click)="salaryComponentValue[salaryComponent] = 1"
                                    ><span style="height: 100%; display: flex; flex-direction: column; justify-content: center"
                                        ><input
                                            type="radio"
                                            class="modalRadio"
                                            [checked]="salaryComponentValue[salaryComponent] === 1"
                                            (click)="salaryComponentValue[salaryComponent] = 1" /></span
                                    ><span style="height: 100%; display: flex; flex-direction: column; justify-content: center">Additive</span></span
                                >
                                <span
                                    style="flex-grow: 1; display: flex; overflow: hidden; flex-wrap: nowrap; justify-content: space-evenly"
                                    (click)="salaryComponentValue[salaryComponent] = -1"
                                    ><span style="height: 100%; display: flex; flex-direction: column; justify-content: center"
                                        ><input
                                            type="radio"
                                            class="modalRadio"
                                            [checked]="salaryComponentValue[salaryComponent] === -1"
                                            (click)="salaryComponentValue[salaryComponent] = -1" /></span
                                    ><span style="height: 100%; display: flex; flex-direction: column; justify-content: center">Deductive</span></span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalRow" *ngIf="activeComponentCount !== 0">
                <div class="modalRowItem" style="width: 40%">
                    <div class="modalColItem">
                        <span class="modalLabel">Select dividing factor</span>
                    </div>
                </div>
                <div class="modalRowItem" style="width: 30%">
                    <div class="modalColItem">
                        <select
                            (change)="updateDFType($event)"
                            class="modalInput"
                            style="display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis"
                        >
                            <option value="-1" [selected]="dividingFactorType === -1">Select</option>
                            <option value="0" [selected]="dividingFactorType === 0">Total number of days in month</option>
                        </select>
                    </div>
                </div>
                <div class="modalRowItem" style="width: 30%">
                    <div class="modalColItem">
                        <input class="modalInput" min="1" type="number" [(ngModel)]="dividingFactorValue" [disabled]="dividingFactorType === -1" />
                    </div>
                </div>
            </div>
            <div class="modalRow" *ngIf="activeComponentCount !== 0">
                <div class="modalRowItem" style="width: 100%">
                    <div class="modalColItem">
                        <span class="modalNote">Formula - {{ dividingFactorType !== -1 ? getFormula() : "please select a division factor" }}</span>
                    </div>
                </div>
            </div>
            <div class="modalRow" *ngIf="activeComponentCount === 0">
                <div class="modalRowItem" style="width: 100%">
                    <div class="modalColItem">
                        <span class="modalNote">Select a component to generate the formula</span>
                    </div>
                </div>
            </div>
            <!-- Horizontal Break -->
            <div class="modalBreakLine"></div>
            <!-- Close / Save -->
            <div class="modalRow" style="padding: 5px 5px 5px 20px; margin-top: 12px; margin-bottom: 12px; justify-content: end">
                <button (click)="saveData($event)" class="modalButton" style="color: white; background: #fe9800" [disabled]="isSaving">
                    {{ isNew ? "Add" : "Update" }}
                </button>
                <button class="modalButton" (click)="closeDialog($event)" style="border: 1px solid #fe9800" [disabled]="isSaving">Cancel</button>
            </div>
        </div>
    </div>
</div>
