@media only screen and (min-width: 992px) {
  .main-content {
      padding: 0px;
      margin: 0px;
  }

  .table-content {
      margin-top: 40px;
      margin-left: 40px;
  }

}
.table {
  display: flex !important;
  flex-direction: column;
  width: 100% !important;
  margin: 0 auto !important;
}

.main-content {
  height: 95%;
}

.container-fluid {
  height: 100%;
}

.paymentInput {
  width: 100%;
  text-align: right;
  border-top: none;
  border-right: none;
  border-left: none;
}

redBackground {
  background-color: red;
}

.nowShow {
  background-color: red;
}

i {
  cursor: pointer;
}

.hoverHighlight:hover {
  background-color: lightgrey;
}

.loader-custom {
  margin-left: 5px;
  display: inline-block;
  border: 2px solid lightgrey;
  border-radius: 50%;
  border-top: 2px solid dimgrey;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
  width: 90%;
  margin-left: 5px;
}

.mat-expansion-panel-body {
  width: 100% !important;
  padding: 0%;
  margin: 0%;
  align-items: center;
}

.ngcontainer {
  /* width: 100px !important; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.mat-expansion-panel-header{
  padding: 0%;
}

.table-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 897px;
}

.mat-expansion-panel-description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 897px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


.example-container {
  height: 400px;
  width: 1440px;
  /* max-width: 100%; */
  overflow: auto;
}