@media only screen and (min-width: 992px) {
  .main-content {
    padding: 0px;
    margin: 0px;
  }

  .table-content {
    margin-top: 40px;
    margin-left: 40px;
  }
}
.data-table{
  overflow: auto;
  max-height: 500px;
}

.select-all{
  display: flex;
  justify-content: left;
  padding-left: 16px;
}

.print-download-buttons{
  text-align: center;
}
.mat-tab-element{
    padding-top: 20px;
}
.expanded-table{
  width:950px;
}
.expanded-table td{
  border-bottom: 1px solid #ddd;
}
.expanded-table th{
  border-bottom: 1px solid #ddd;
}

.mat-table-header{
  text-align: left;
  padding: 12px;
}

.expanded-header {
  width: 200px;
  height: 50px;
  text-align: left;
}
.expanded-session {
  width: 200px;
  height: 40px;
  font-weight: 600;
}
.expanded-session-name {
  width: 200px;
  height: 40px;
  padding-left: 15px;
  font-weight: 600;
}
.expanded-Feetype {
  width: 200px;
  height: 40px;
  font-weight: 500;
}
.expanded-Feetype-name {
  width: 200px;
  height: 40px;
  padding-left: 30px;
  font-weight: 500;
}
.expanded-installment {
  width: 200px;
  height: 40px;
  font-weight: 300;
}
.expanded-installment-name {
  width: 200px;
  height: 40px;
  padding-left: 50px;
  font-weight: 300;
}
.container-fluid {
  height: 100%;
}
i {
  cursor: pointer;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  padding: 12px;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
}
input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
  width: 90%;
  margin-left: 5px;
}

.disabledButton{
    background-color: #c4c4c4 !important; 
}
