.footer {
    /*position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;*/
}
th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.updownBorder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.downBorder {
    border-bottom: 1px solid black;
}
.upBorder {
    border-top: 1px solid black;
}
.leftBorder {
    border-left: 1px solid black;
}
.rightBorder {
    border-right: 1px solid black;
}

svg {
    background-color: #333;
    /*font-family: 'Luckiest Guy', cursive;*/
    font-size: 35px;
}

path {
    fill: transparent;
}

.pageBreakAfter {
    page-break-after: always;
}


.footer {
    /*position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;*/
}
th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.updownBorder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.downBorder {
    border-bottom: 1px solid black;
}
.upBorder {
    border-top: 1px solid black;
}
.leftBorder {
    border-left: 1px solid black;
}
.rightBorder {
    border-right: 1px solid black;
}

.fontHandle {
    font-size: 12.6px;
    padding-bottom: 3px;
}

.fontHandle {
    font-size: 11.2px;
}

/*.firstColumnPadding {
    padding: 0px 0px 0px 10px;
}*/

.feePadding {
    padding-left: 30px;
}
