<ng-container *ngFor="let student of studentList; let isLast = last;">

    <div class="container-fluid" [class.pageBreakAfter]="!isLast"
         style="width: 100%; height: 100%;
         border-radius: 20px;
         position: relative;
         overflow: hidden;
         font-weight: 800 !important">

        <img src="{{user.activeSchool.profileImage}}"
             style="border-radius: 2px; position: absolute;
         top: 28px; left: 14px;
         width: 52px; height: 52px;"/>

        <img src="{{user.activeSchool.profileImage}}"
             style="border-radius: 2px; position: absolute;
             top: 160px; left: 210px;
             width: 300px; height: 300px;
             opacity: 0.05;
             filter: grayscale(100%);
             z-index: 10;"/>

        <!-- Reg. No. , Dise Code -->
        <div class="row " style="margin-top: 0px;">
            <div class="col-xs-6 d-flex custom-padding">
                Reg. No. : {{user.activeSchool.registrationNumber}}
            </div>
            <div class="col-xs-6 d-flex custom-padding" align="end">
                Dise code : {{user.activeSchool.diseCode}}
            </div>
        </div>

        <!-- School Name -->
        <div class="row " style="margin-top: 8px;">
            <div class="col-xs-12 d-flex justify-content-center" align="center" style="padding: 0px;">
            <span style="background-color: yellow; font-size: 24px">
                {{user.activeSchool.printName}}
            </span>
            </div>
        </div>

        <!-- Address -->
        <div class="row " style="margin-top: 0px;">
            <div class="col-xs-12 d-flex justify-content-center" align="center" style="padding: 0px; font-size: 14px;">
                {{user.activeSchool.address}}
            </div>
        </div>

        <!-- Examination -->
        <div class="row " style="margin-top: 5px">
            <div class="col-xs-12 d-flex justify-content-center custom-padding" align="center">
                <span style="font-size: 17px;"><u>{{examination.name}}</u></span><br/>
            </div>
        </div>

        <!-- Hall Ticket -->
        <div class="row " style="margin-top: 10px">
            <div class="col-xs-12 d-flex justify-content-center custom-padding" align="center">
                <span style="font-size: 21px;"><u>Hall Ticket</u></span><br/>
            </div>
        </div>

        <!-- Name -->
        <div class="row" style="margin-right: 0px; margin-top: 5px;">
            <div class="col-xs-4">
                Name <span style="float: right">:</span>
            </div>
            <div class="col-xs-8" style="border-bottom: 1px solid lightgrey; padding-left: 5px;">
                {{ student.name | titlecase }}
            </div>
        </div>

        <!-- Father's Name -->
        <div class="row" style="margin-right: 0px;">
            <div class="col-xs-4">
                Father's Name <span style="float: right">:</span>
            </div>
            <div class="col-xs-8" style="border-bottom: 1px solid lightgrey; padding-left: 5px;">
                {{ student.fathersName | titlecase }}
            </div>
        </div>

        <!-- Scholar No, Standard -->
        <div class="row">
            <div class="col-xs-6">
                Roll No. : {{student.rollNumber}}
            </div>
            <div class="col-xs-6" align="right">
                Standard : {{student.className}}
                <ng-container *ngIf="student.sectionName">, {{student.sectionName}}</ng-container>
            </div>
        </div>

        <!-- S No. , Particulars, Amount -->
        <div class="row" style="border-bottom: 1px solid black; border-top: 1px solid black; margin-top: 5px;" >
            <!-- div class="col-xs-2">
                <span style="font-weight: 400;">S. No.</span>
            </div -->
            <div class="col-xs-4" >
                <span style="font-weight: 400;">Subject</span>
            </div>
            <div class="col-xs-4"  align="center">
                <span style="font-weight: 400;">Date</span>
            </div>
            <div class="col-xs-4"  align="right" style="padding-right: 65px;">
                <span style="font-weight: 400;">Timings</span>
            </div>
        </div>

        <div class="row" *ngFor="let test of student.testList; let i=index;">
            <!-- div class="col-xs-2" align="center">{{i+1}}.</div -->
            <div class="col-xs-4">
                {{test.subjectName}}
            </div>
            <div class="col-xs-4" align="center">
                {{test.startTime | date: 'dd - MMM - yyyy'}}
            </div>
            <div class="col-xs-4" align="right">
                {{test.startTime | date: 'hh:mm a'}} - {{test.endTime | date: 'hh:mm a'}}
            </div>
        </div>

        <!-- Signature -->
        <div class="row no-gutters" style="position: absolute; bottom: 0px; width: 100%;">
            <div class="col-xs-12 custom-padding" style="padding-right: 20px" align="end">
                (Signature)
            </div>
        </div>

    </div>

</ng-container>

