/* If window size is more than 992px */
@media only screen and (min-width: 992px) {
    .main-content {
        padding: 0px;
        margin: 0px;
    }

    .table-content {
        margin-top: 40px;
        margin-left: 40px;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .student-filter {
        width: 75%;
    }

    .class-student-filter {
        margin-left: auto;
        margin-right: 15px;
    }
}

.main-content {
    height: 95%;
}

.container-fluid {
    height: 100%;
}

mat-form-field {
    margin-top: 23px;
}

.loader {
    border: 8px solid #ffffff;
    border-top: 8px solid Red;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dataListDiv {
    position: absolute;
    z-index: 10000;
    margin-top: 2mm;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
    /*width: 200mm;*/
    /*width: 100%;*/
    height: 70mm;
}

i.material-icons.column {
    font-size: 15px;
    cursor: pointer;
    /*float: left;*/
    float: right;
    /*margin-right: 15px;*/
    line-height: 19px;
    /*width: 30px;*/
    /*text-align: center;*/
    /*color: #a9afbb;*/
}

.customInput {
    border: none;
    /*border-bottom: 1px solid black;*/
    width: 100%;
}

.example-viewport {
    height: 70vh;
    width: 100%;
    border-top: 2px solid #909090;
}

#student-isDeletable-false {
    background-color: #EBEBE4;
}

.main-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/* If window size is less than 992px */
@media only screen and (max-width: 992px) {
    .main-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    /* Here order decides in which verticle order that particular class will appear */
    .student-filter {
        margin-right: auto;
        width: 75%;
        order: 2;
    }

    .class-filter {
        margin-right: auto;
        margin-left: 15px;
        order: 3;
    }

    .column-filter {
        margin-right: auto;
        margin-left: 15px;
        order: 4;
    }

    .deletability-filter {
        margin-right: auto;
        margin-left: 15px;
        order: 5;
    }

    .class-student-filter {
        margin-right: auto;
        margin-left: 15px;
        order: 1;
    }
}
