

<div class="card-content table-responsive" *ngIf="!isLoading">
    <div *ngIf="lockAccounts">
        <span  style="color: red;">
            <h4><b><i class="material-icons" style="vertical-align: -6px;">error_outline</i>
                All Accounts has been locked for this session . No further transctions can be updated. </b></h4></span>
    </div>
    <div *ngIf="!lockAccounts">
    <div class="row">
        <div class="col-md-9" *ngIf="searchType == searchTypeList[0];">
            <mat-form-field style="width: 50%;">
                <input [(ngModel)]="vNumber" type="number" matInput (keypress)="$event.key=='Enter'?serviceAdapter.findTransactionByVNumber($event.target.value):null"
                    placeholder="Enter Voucher Number" (ngModelChange)="onVnumberChange(vNumber)"  (keypress)="$event.charCode >= 48 && $event.charCode <= 57">
            </mat-form-field>
            <button type="submit"
                        style="margin-left: 20px;"
                        class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                        (click)="serviceAdapter.findTransactionByVNumber(vNumber)"
                        [disabled]="isVNumberEmpty">GET</button>
        </div>
        <div class="col-md-9" *ngIf="searchType == searchTypeList[1];">
            <account-search [user]="user"
                            [includeGroup]="false"
                            (onSelection)="serviceAdapter.findTransactionByAccount($event)"></account-search>
        </div>
        <div class="col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-select placeholder="Search By" [ngModel]="searchType"
                    (ngModelChange)="handleSelection($event)">
                    <mat-option *ngFor="let type of searchTypeList"
                        [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="transactionsList.length == 0 && isLoadingTransaction == false && loadMoreTransaction == false && shouldTransactionsBeEmpty">
            <p style="font-size: 16px;">No Transaction Available</p>
        </div>
        <div *ngFor="let transaction of transactionsList">
            <div>
                <mat-card style="width: 100%;margin-bottom: 20px; cursor: pointer" (click)="openUpdateTransactionDialog(transaction)">
                    <mat-card-title style="margin-bottom: 15px;">
                        <div>
                            <div style="font-size: 14px; display: inline-block;">
                                <span>Voucher Number: {{transaction.voucherNumber}}</span>
                            </div>
                            <div style="display: inline-block;">
                                <span *ngIf="transaction.approvalId != null" style="font-size: 14px;">Approval ID: {{transaction.approvalId}}</span>
                            </div>
                            <div style="display: inline-block;float:right">
                                <span style="font-size: 14px;" >Date: {{getDisplayDateFormat(transaction.transactionDate)}}</span>
                            </div>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        <div style="margin-bottom: 15px;">
                            <div>
                                <div>
                                    <div style="padding-right: 0px;">
                                        <span style="color: rgba(255, 152, 0, 1);">Paid To</span>
                                    </div>
                                    <div style="padding: 0px;">
                                        <div *ngFor = "let account of transaction.debitAccounts" style="margin-bottom: 5px; display:inline-block; padding-right: 20px">
                                            <span style="font-size: 14px;">{{account.account}}&nbsp;A/c</span><br><span style="color: rgba(76, 175, 80, 1);font-size: 14px;">{{account.amount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div style="padding-right: 0px;">
                                        <span style="color: rgba(255, 152, 0, 1);">Paid From</span>
                                    </div>
                                    <div style="padding: 0px;">
                                        <div *ngFor = "let account of transaction.creditAccounts" style="margin-bottom: 5px; display:inline-block; padding-right: 20px">
                                            <span style="font-size: 14px;">{{account.account}}&nbsp;A/c</span><br><span style="color:rgba(86, 142, 174, 1);font-size: 14px;">{{account.amount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <span style="color: rgba(255, 152, 0, 1);">Remark: </span>
                            <span style="margin-left: 60px;">{{transaction.remark}}</span>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <div>
                                <div class="custom-font"><span style="color: rgba(255, 152, 0, 1);">Bill :</span></div>

                                <div style="display: inline-block;" *ngFor="let image of transaction.billImages; let i = index">
                                    <img src="{{image.imageURL}}" class="image-column" (click)="openImagePreviewDialog(transaction.billImages, i, 0); $event.stopPropagation();">
                                </div>
                            </div>
                            <div>
                                <div class="custom-font"><span style="color: rgba(255, 152, 0, 1);">Quotation :</span></div>

                                <div style="display: inline-block;" *ngFor="let image of transaction.quotationImages; let i = index">
                                    <img src="{{image.imageURL}}" class="image-column" (click)="openImagePreviewDialog(transaction.quotationImages, i, 0); $event.stopPropagation()" >
                                </div>
                            </div>
                        </div>
                       <div style="text-align: right;">
                            <span style="color: rgba(255, 152, 0, 1);" (click)="serviceAdapter.deleteTransaction(transaction); $event.stopPropagation();"><u>Delete</u></span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div *ngIf="isLoadingTransaction">
        
        <div style="width: 100%" align="center">
            <div class="loaderCustom"></div>
        </div><br>
        
    </div>
    </div>
</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
