<div class="card-content">

    <student-filter [user]="user"
                    (onSessionChange)="populateSelectedSession($event)"
                    (onStudentSelected)="getStudentFeeDetails($event)"></student-filter>

    <ng-container *ngIf="selectedStudent && studentFeeProfile && studentFeeStatusList && !isLoading">

        <div style="margin-top: 30px"></div>

        <div class="row hidden-xs" style="border-bottom: 1px solid black; padding-bottom: 30px;">
            <div class="col-md-10">

                <div class="row" style="font-size: 16px;">
                    <div class="col-md-2">
                        Name
                    </div>
                    <div class="col-md-5">
                        : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.name}}</span>
                    </div>
                    <div class="col-md-2">
                        Scholar No.
                    </div>
                    <div class="col-md-3">
                        : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.scholarNumber}}</span>
                    </div>
                </div>

                <div class="row" style="font-size: 16px;">
                    <div class="col-md-2">
                        Father's Name
                    </div>
                    <div class="col-md-5">
                        : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.fathersName}}</span>
                    </div>
                    <div class="col-md-2">
                        Class Name
                    </div>
                    <div class="col-md-3">
                        :
                        <span style="font-weight: 600; margin-left: 5px;">
                            {{studentFeeProfile.className}}
                            <ng-container *ngIf="sectionName">, {{sectionName}}</ng-container>
                        </span>
                    </div>
                </div>

                <div class="row" style="font-size: 16px;">
                    <div class="col-md-2" *ngIf="studentFeeProfile.stopName">
                        BusStop
                    </div>
                    <div class="col-md-5" *ngIf="studentFeeProfile.stopName">
                        : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.stopName}}</span>
                    </div>
                    <div class="col-md-2" *ngIf="studentFeeProfile.rte">
                        RTE
                    </div>
                    <div class="col-md-3" *ngIf="studentFeeProfile.rte">
                        : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.rte}}</span>
                    </div>
                </div>

                <div class="row" style="font-size: 16px;">
                    <div class="col-md-2" *ngIf="studentFeeProfile.address">
                        Address
                    </div>
                    <div class="col-md-10" *ngIf="studentFeeProfile.address">
                        : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.address}}</span>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <img *ngIf="studentFeeProfile.profileImage"
                     style="width: 50%"
                     src="{{studentFeeProfile.profileImage}}">
                <img *ngIf="!studentFeeProfile.profileImage"
                     style="width: 50%"
                     src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
            </div>
        </div>

        <div class="row visible-xs" style="font-size: 16px;">
            <div class="col-xs-12">
                Name: <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.name}}</span>
            </div>
        </div>

        <div class="row visible-xs" style="font-size: 16px;">
            <div class="col-xs-12">
                Scholar No.: <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.scholarNumber}}</span>
            </div>
        </div>

        <div class="row visible-xs" style="font-size: 16px;">
            <div class="col-xs-12">
                Father's Name: <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.fathersName}}</span>
            </div>
        </div>

        <div class="row visible-xs" style="font-size: 16px;">
            <div class="col-xs-12">
                Class Name: <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.className}}</span>
            </div>
        </div>

        <div class="row visible-xs" style="font-size: 16px;">
            <div class="col-xs-12" *ngIf="studentFeeProfile.stopName">
                BusStop: <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.stopName}}</span>
            </div>
        </div>

        <div class="row visible-xs" style="font-size: 16px;">
            <div class="col-xs-12" *ngIf="studentFeeProfile.rte">
                RTE: <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.rte}}</span>
            </div>
        </div>

        <div style="margin-top: 40px"></div>

        <ng-container *ngIf="getStudentFeesDue()>0">
            <div class="row hoverHighlight hidden-xs" style="font-size: 16px;">
                <div class="col-sm-2 col-sm-offset-5">
                    Payment
                </div>
                <div class="col-sm-2">
                    Due
                </div>
                <div class="col-sm-2">
                    Total
                </div>
            </div>
            <div class="row hoverHighlight" style="font-size: 16px; font-weight: 800 !important;">
                <div class="col-sm-5 hidden-xs">
                    {{selectedStudent.name}}
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs">Payment: </span>
                    <input class='paymentInput'
                           type="number" min="0"
                           [attr.max]="getStudentFeesDue()"
                           [ngModel]="getStudentPayment()==0?null:getStudentPayment()"
                           (keypress)="policeStudentPaymentInput($event)"
                           (ngModelChange)="handleStudentPaymentChange($event);">
                </div>
                <div class="col-sm-2">
                    <span class="hidden-xs">{{getStudentFeesDue()-getStudentPayment()}}</span>
                    <span class="visible-xs">Fees Due: {{getStudentFeesDue()-getStudentPayment()}}</span>
                </div>
                <div class="col-sm-2">
                    <span class="hidden-xs">{{getStudentTotalFee()}}</span>
                    <span class="visible-xs">Total Fee: {{getStudentTotalFee()}}</span>
                </div>
                <div class="col-sm-1 hidden-xs">
                    <i class="material-icons"
                       [@rotate]="!showDetails"
                       (click)="showDetails = !showDetails">keyboard_arrow_down</i>
                </div>
            </div>
            <div [@slideDown]="showDetails" class="hidden-xs">
                <ng-container *ngFor="let sessionFeeStatus of studentFeeStatusList; let i=index;">
                    <ng-container  *ngIf="getSessionFeesDue(sessionFeeStatus)>0">
                        <div class="row hoverHighlight"
                             style="font-size: 16px; font-weight: 500 !important;"
                             *ngIf="showSessionFeesLine()">
                            <div class="col-sm-5">
                                {{i+1}}. {{sessionFeeStatus.sessionName}}
                            </div>
                            <div class="col-sm-2">
                                <input class='paymentInput'
                                       type="number" min="0"
                                       [attr.max]="getSessionFeesDue(sessionFeeStatus)"
                                       [ngModel]="getSessionPayment(sessionFeeStatus)==0?null:getSessionPayment(sessionFeeStatus)"
                                       (keypress)="policeSessionPaymentInput(sessionFeeStatus, $event)"
                                       (ngModelChange)="handleSessionPaymentChange(sessionFeeStatus, $event);">
                            </div>
                            <div class="col-sm-2">
                                {{getSessionFeesDue(sessionFeeStatus)-getSessionPayment(sessionFeeStatus)}}
                            </div>
                            <div class="col-sm-2">
                                {{getSessionTotalFee(sessionFeeStatus)}}
                            </div>
                        </div>
                        <ng-container *ngFor="let component of sessionFeeStatus.componentList; let i=index;">
                            <div class="row hoverHighlight"
                                 *ngIf="getComponentTotalFee(component) != 0"
                                 style="font-size: 16px; font-weight: 500 !important;">
                                <div class="col-sm-4 col-sm-offset-1">
                                    {{component.feeType}}
                                </div>
                                <div class="col-sm-2">
                                    <input class='paymentInput'
                                           type="number" min="0"
                                           [attr.max]="getComponentFeesDue(component)"
                                           [ngModel]="getComponentPayment(component)==0?null:getComponentPayment(component)"
                                           (keypress)="policeComponentPaymentInput(component, $event)"
                                           (ngModelChange)="handleComponentPaymentChange(component, $event);">
                                </div>
                                <div class="col-sm-2">
                                    {{getComponentFeesDue(component)-getComponentPayment(component)}}
                                </div>
                                <div class="col-sm-2">
                                    {{getComponentTotalFee(component)}}
                                </div>
                                <div class="col-sm-1" *ngIf="component.frequency == frequencyList[1]">
                                    <i class="material-icons"
                                       [@rotate]="!component.showDetails"
                                       (click)="component.showDetails = !component.showDetails">keyboard_arrow_down</i>
                                </div>
                            </div>
                            <div  [@slideDown]="component.showDetails" *ngIf="component.frequency == frequencyList[1]">
                                <ng-container *ngFor="let month of component.monthList">
                                    <div class="row hoverHighlight"
                                         *ngIf="getComponentMonthlyTotalFee(month)>0"
                                         style="font-size: 16px; font-weight: 300 !important;">
                                        <div class="col-sm-3 col-sm-offset-2">
                                            {{month.month}}
                                        </div>
                                        <div class="col-sm-2">
                                            {{getComponentMonthlyPayment(month)}}
                                        </div>
                                        <div class="col-sm-2">
                                            {{getComponentMonthlyFeesDue(month)-getComponentMonthlyPayment(month)}}
                                        </div>
                                        <div class="col-sm-2">
                                            {{getComponentMonthlyTotalFee(month)}}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
            <div class="clearfix"></div>
            <div class="row" *ngIf="getStudentPayment()>0">
                <div class="col-sm-3">
                    <div class="form-group form-black label-floating">
                        <label class="control-label">Remark</label>
                        <input type="text" class="form-control" [(ngModel)]="remark">
                    </div>
                </div>
                <div class="col-sm-9">
                    <button class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                            (click)="generateFeeReceipt()">
                        Generate Receipt ({{getStudentPayment()}})
                    </button>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="getStudentTotalFee() === 0">
            **No Fees Due
        </ng-container>

        <div style="margin-top: 25px; margin-bottom: 25px; border-bottom: 1px solid black"> </div>

        <ng-container *ngIf="feeReceiptList && concessionList">

            <mat-accordion>

                <mat-expansion-panel [disabled]="feeReceiptList.length === 0"
                                     (opened)="showPreviousFeeDetails = true"
                                     (closed)="showPreviousFeeDetails = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title *ngIf="feeReceiptList.length !== 0">
                            Last Receipt Date: <i>{{feeReceiptList[0].generationDateTime | date: 'dd - MMM - yyyy'}}</i>,
                            Amount: <i>{{getFeeReceiptTotalAmount(feeReceiptList[0])}}</i>
                        </mat-panel-title>
                        <mat-panel-title *ngIf="feeReceiptList.length === 0">
                            **No fees submitted yet
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-fee-receipt-list-old [user]="user"
                                              [feeReceiptList]="feeReceiptList"
                                              [sectionName]="sectionName"
                                              [whileSubmittingFee]="true"></app-fee-receipt-list-old>

                </mat-expansion-panel>

                <mat-expansion-panel [disabled]="concessionList.length === 0"
                                     (opened)="showPreviousConcessionDetails = true"
                                     (closed)="showPreviousConcessionDetails = false">

                    <mat-expansion-panel-header>
                        <mat-panel-title *ngIf="concessionList.length !== 0">
                            Total discount given till now: <i>{{getConcessionListTotalAmount()}}</i>
                        </mat-panel-title>
                        <mat-panel-title *ngIf="concessionList.length === 0">
                            **No concession given yet
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-discount-list-old [user]="user"
                                           [concessionList]="concessionList"
                                           [whileSubmittingConcession]="true"></app-discount-list-old>

                </mat-expansion-panel>

            </mat-accordion>

        </ng-container>

        <!--

        <div style="margin-top: 25px; margin-bottom: 25px; border-bottom: 1px solid black"> </div>

        <ng-container *ngIf="feeReceiptList">

            <div *ngIf="feeReceiptList.length !== 0">
                <div class="row" style="font-weight: 800 !important;">
                    <div class="col-sm-11">
                        <span *ngIf="!showPreviousFeeDetails">
                            Last Receipt Date:
                            <i>{{feeReceiptList[0].generationDateTime | date: 'dd - MMM - yyyy'}}</i>,
                            Amount:
                            <i>{{getFeeReceiptTotalAmount(feeReceiptList[0])}}</i>
                        </span>
                        <span *ngIf="showPreviousFeeDetails">
                            Previous Fee Details
                        </span>
                    </div>
                    <div class="col-sm-1" align="end">
                        <i class="material-icons"
                           [@rotate]="!showPreviousFeeDetails"
                           (click)="showPreviousFeeDetails = !showPreviousFeeDetails">keyboard_arrow_down</i>
                    </div>
                </div>
                <div class="row" [@slideDown]="showPreviousFeeDetails">
                    <div class="col-xs-12">
                        <app-fee-receipt-list [user]="user"
                                              [feeReceiptList]="feeReceiptList"
                                              [whileSubmittingFee]="true"></app-fee-receipt-list>
                    </div>
                </div>
            </div>

            <div *ngIf="feeReceiptList.length == 0">
                **No fees submitted yet
            </div>

        </ng-container>

        <div style="margin-top: 25px; margin-bottom: 25px; border-bottom: 1px solid black"> </div>

        <ng-container *ngIf="concessionList">
            <div *ngIf="concessionList.length !== 0">
                <div class="row" style="font-weight: 800 !important;">
                    <div class="col-md-11">
                        <span>Total discount given till now: <i>{{getConcessionListTotalAmount()}}</i></span>
                    </div>
                    <div class="col-md-1">
                        <i class="material-icons"
                           [@rotate]="!showPreviousConcessionDetails"
                           (click)="showPreviousConcessionDetails = !showPreviousConcessionDetails">keyboard_arrow_down</i>
                    </div>
                </div>
                <div class="row" [@slideDown]="showPreviousConcessionDetails">
                    <div class="col-md-12">
                        <app-discount-list [user]="user"
                                           [concessionList]="concessionList"
                                           [whileSubmittingConcession]="true"></app-discount-list>
                    </div>
                </div>
            </div>
            <div *ngIf="concessionList.length == 0">
                **No concession given yet
            </div>

        </ng-container>

        -->

    </ng-container>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>
