<div class="card-content">
    <ng-container *ngIf="!isInitialLoading">
        <div class="row">
            <div class="col-md-9" *ngIf="examinationList.length > 0">
                <mat-form-field style="margin-top: 23px; margin-left: 20px">
                    <mat-select placeholder="Select Examination" [(ngModel)]="selectedExamination" [disabled]="isLoading" id="selectExam">
                        <mat-option *ngFor="let examination of examinationList" [value]="examination.id">
                            {{ examination.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-top: 23px; margin-left: 20px">
                    <mat-select placeholder="Select class section" [disabled]="isLoading" id="selectClassSection">
                        <ng-container *ngFor="let class of classSectionSubjectList">
                            <mat-option *ngFor="let section of class.sectionList">
                                <mat-checkbox
                                    [(ngModel)]="section.selected"
                                    (ngModelChange)="showTestDetails = false; showSelectedClassAndSection.length = 0"
                                    (click)="$event.stopPropagation()"
                                >
                                    {{ class.className }}, {{ section.sectionName }}
                                </mat-checkbox>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <button
                    type="submit"
                    style="margin-left: 20px"
                    id="getTestDetails"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    (click)="serviceAdapter.getTestAndSubjectDetailsNew()"
                >
                    GET
                </button>
            </div>
            <div class="col-md-9" *ngIf="examinationList.length === 0">No Examination created yet!</div>
        </div>

        <div class="row" style="margin-top: 25px" *ngIf="showSelectedClassAndSection.length > 0">
            <div class="col-md-12">
                <div *ngFor="let item of showSelectedClassAndSection" style="display: inline-block; padding-right: 50px">
                    <li>
                        <b>{{ item.className }},{{ item.sectionName }}</b>
                    </li>
                </div>
            </div>

            <div class="col-md-12" *ngIf="!dataCanBeFetched">
                <h3>Selected Class and Section have different Subjects</h3>
            </div>
        </div>

        <div class="row" style="border-bottom: 1px solid #eae2e2ad; margin-top: 25px; margin-bottom: 35px; border-width: thin">
            <div class="col-md-12"></div>
        </div>

        <ng-container *ngIf="showTestDetails && !isLoading">
            <!--Create specific subject wise test-->
            <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                    <mat-form-field>
                        <mat-select
                            placeholder="Select Subject"
                            [ngModel]="selectedSubject"
                            id="selectSubject"
                            (ngModelChange)="selectedSubject = $event"
                            [disabled]="isLocked"
                        >
                            <mat-option *ngFor="let subject of subjectList" [value]="subject.id">
                                {{ subject.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select
                            placeholder="Select Test Type"
                            [ngModel]="selectedTestType"
                            id="selectTestType"
                            (ngModelChange)="selectedTestType = $event"
                            [disabled]="isLocked"
                        >
                            <mat-option [value]="0">None</mat-option>
                            <mat-option *ngFor="let testType of testTypeList" [value]="testType">
                                {{ testType }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <input type="number" placeholder="Max. Marks" [(ngModel)]="selectedMaximumMarks" [disabled]="isLocked"/>
                    <button type="submit" class="btn" (click)="createSpecificTest()" [disabled]="isLocked">ADD</button>
            </div>

            <div class="row" style="border-bottom: 1px solid black; margin-top: 15px; margin-bottom: 15px">
                <div class="col-md-12"></div>
            </div>

            <!--Display a message if no test is in the backend-->
            <ng-container *ngIf="fetchedList === 0">
                <span style="margin-top: 30px"> No Tests added yet! </span>
                <span> Test Template Created </span>
            </ng-container>

            <!--Starts : Displaying a message if data is updated -->
            <ng-container *ngIf="isUpdated && fetchedList !== 0">
                <span style="margin-top: 30px">** Please Click on UPDATE to save your changes ! </span>
            </ng-container>
            <!--Ends : Displaying a message if data is updated -->

            <!--New Structure of Test List grouped by subject, testType and maximumMarks-->
            <ng-container *ngIf="newTestList.length > 0">
                <cdk-virtual-scroll-viewport itemSize="12" class="example-viewport">
                <table class="table table-hover">
                    <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                        <tr>
                            <th>S No.</th>
                            <th>Subject</th>
                            <th>Test type</th>
                            <th>Class Section</th>
                            <th>Max. Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *cdkVirtualFor="let test of newTestList; let i = index">
                        <tr>
                            <td testId="count" [class.lowOpacity]="test.deleted">{{ i + 1 }}.</td>
                            <td [class.lowOpacity]="test.deleted">{{ test.subjectName }}</td>
                            <td [class.lowOpacity]="test.deleted">
                                <mat-select
                                    style="max-width: 75px"
                                    [(ngModel)]="test.newTestType"
                                    (selectionChange)="handleTestTypeSelection($event.value, ngModelControl, test)"
                                    #ngModelControl="ngModel"
                                    (ngModelChange)="handleUpdate($event, test)"
                                    [disabled]="isLocked"
                                >
                                    <mat-option *ngFor="let testType of testTypeList" [value]="testType">
                                        {{ testType }}
                                    </mat-option>
                                </mat-select>
                            </td>

                            <td [class.lowOpacity]="test.deleted">
                                <table>
                                    <ng-container *ngIf="containsAllClass(test); else showSeperately">
                                        <tr>
                                            <td style="text-align: center">ALL</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #showSeperately>
                                        <ng-container *ngFor="let class of test.classList">
                                            <ng-container *ngFor="let section of class.sectionList">
                                                <tr>
                                                    <td>{{ class.className }},{{ section.sectionName }}</td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                    </ng-template>
                                </table>
                            </td>
                            <td [class.lowOpacity]="test.deleted">
                                <input
                                    style="max-width: 30%"
                                    type="number"
                                    [(ngModel)]="test.newMaximumMarks"
                                    (ngModelChange)="handleUpdate($event, test)"
                                    [disabled]="isLocked"
                                />
                            </td>
                            <td>
                                <button
                                    type="submit"
                                    style="padding: 3px 8px"
                                    class="btn"
                                    (click)="test.deleted = !test.deleted; handleUpdate(test, test); $event.stopPropagation()"
                                    [disabled]="isLocked"
                                >
                                    <span *ngIf="test.deleted; else Delete">UND</span>
                                    <ng-template #Delete>DEL</ng-template>
                                </button>
                            </td>
                        </tr>
                        </ng-container>
                    </tbody>
                </table>
                <button
                    type="submit"
                    style="padding: 13px 15px"
                    [disabled]="!isUpdated"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    (click)="serviceAdapter.UpdateHelper()"
                    [disabled]="isLocked"
                >
                    <span *ngIf="fetchedList === 0; else Update">Create</span>
                    <ng-template #Update>Update</ng-template>
                </button>
                <button
                    type="submit"
                    style="padding: 13px 15px; margin-right: 20px"
                    [disabled]="!isUpdated"
                    class="btn"
                    (click)="resetList()"
                    [disabled]="isLocked"
                >
                    Reset
                </button>
            </cdk-virtual-scroll-viewport>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isLoading || isInitialLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
</div>
