<div class="card-content">

    <!--<ng-container *ngIf="!isStudentListLoading">-->
        <!--Class:-->
        <!--<select [ngModel]="selectedClass"-->
                <!--(ngModelChange)="selectedClass=$event;changeSelectedSectionToFirst();"-->
                <!--style="margin-right: 15px">-->
            <!--<option *ngFor="let class of classSectionStudentList;" [ngValue]="class">-->
                <!--{{class.name}}-->
            <!--</option>-->
        <!--</select>-->

        <!--<div class="visible-xs" style="margin-top: 10px;"></div>-->

        <!--<span *ngIf='selectedClass' [class.hidden]="selectedClass.sectionList.length == 1">-->
            <!--Section:-->
            <!--<select [ngModel]="selectedSection"-->
                    <!--(ngModelChange)="selectedSection=$event;changeSelectedStudentToFirst();"-->
                    <!--style="margin-right: 15px">-->
                <!--<option *ngFor="let section of selectedClass.sectionList" [ngValue]="section">-->
                    <!--{{section.name}}-->
                <!--</option>-->
            <!--</select>-->
            <!--<div class="visible-xs" style="margin-top: 10px;"></div>-->
        <!--</span>-->

        <!--<span *ngIf="selectedSection">-->
            <!--Student:-->
            <!--<select [ngModel]="selectedStudent"-->
                    <!--(ngModelChange)="selectedStudent=$event;this.showDetails=false;"-->
                    <!--style="margin-right: 15px">-->
                <!--<option *ngFor="let student of selectedSection.studentList" [ngValue]="student">-->
                    <!--{{student.name}}-->
                <!--</option>-->
            <!--</select>-->
        <!--</span>-->

        <!--<div class="visible-xs" style="margin-top: 10px;"></div>-->

        <!--<button type="button"-->
                <!--class="btn btn-{{user.activeSchool.secondaryThemeColor}}"-->
                <!--style="padding: 3px 8px;"-->
                <!--[disabled]="!selectedStudent"-->
                <!--(click)="getStudentProfile();">Get-->
        <!--</button>-->

        <!--&lt;!&ndash; span *ngIf="selectedSection" style="float: right; margin-top: 10px;"><i>{{selectedSection.studentList.length}} students</i></span &ndash;&gt;-->

        <!--<span style="float: right; margin-top: 10px;"-->
              <!--*ngIf="selectedSession">-->
              <!--<select [ngModel]="selectedSession"-->
                      <!--(ngModelChange)="selectedSession=$event;handleSessionChange();"-->
                      <!--style="margin-right: 15px">-->
                  <!--<option *ngFor="let session of sessionList;" [ngValue]="session">-->
                      <!--{{session.name}}-->
                  <!--</option>-->
              <!--</select>-->
        <!--</span>-->

    <!--</ng-container>-->

    <student-filter [user]="user"
                    (onStudentSelected)="handleStudentSelection($event)"
                    (onStudentLoading)="isLoading=$event"
                    [studentTcGenerated]="true"></student-filter>



    <div class="row">
        <div class="col-md-12"
             style="border-bottom: 1px solid lightgrey;"></div>
    </div>


    <!-- ng-container *ngIf="selectedStudent && selectedStudent.fathersName !== undefined && !isLoading && !isStudentListLoading" -->
    <ng-container *ngIf="showDetails==true && !isLoading">


        <div class="row" style="font-weight: 800;">
            <div class="col-md-3">
                {{selectedStudent.name}}
            </div>
            <div class="col-md-3">
                {{selectedStudent.fathersName}}
            </div>
            <div class="col-md-3">
                {{selectedStudent.scholarNumber}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">Certificate No.</div>
            <div class="col-md-3">
                <input type="number"
                       [ngModel]="selectedTransferCertificate.certificateNumber"
                       (ngModelChange)="currentTransferCertificate.certificateNumber=$event"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">Issue Date</div>
            <div class="col-md-3">
                <input type="date"
                       [ngModel]="selectedTransferCertificate.issueDate"
                       (ngModelChange)="currentTransferCertificate.issueDate=$event"/>
            </div>
        </div>

        <!-- div class="row">
            <div class="col-md-3">Admission Date</div>
            <div class="col-md-3">
                <input type="date"
                       [ngModel]="selectedTransferCertificate.admissionDate"
                       (ngModelChange)="currentTransferCertificate.admissionDate=$event"/>
            </div>
        </div -->

        <div class="row">
            <div class="col-md-3">Leaving Date</div>
            <div class="col-md-3">
                <input type="date"
                       [ngModel]="selectedTransferCertificate.leavingDate"
                       (ngModelChange)="currentTransferCertificate.leavingDate=$event"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">is leaving school because</div>
            <div class="col-md-6">
                <input type="text"
                       [ngModel]="selectedTransferCertificate.leavingReason"
                       (ngModelChange)="currentTransferCertificate.leavingReason=$event"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">Admission Class</div>
            <div class="col-md-3">
                <input type="text"
                       [ngModel]="selectedTransferCertificate.admissionClass"
                       (ngModelChange)="currentTransferCertificate.admissionClass=$event"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">Last Class Passed</div>
            <div class="col-md-3">
                <input type="text"
                       [ngModel]="selectedTransferCertificate.lastClassPassed"
                       (ngModelChange)="currentTransferCertificate.lastClassPassed=$event"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-checkbox
                        [ngModel]="selectedTransferCertificate.leavingMidSession"
                        (ngModelChange)="currentTransferCertificate.leavingMidSession=$event">
                    Student is leaving mid session.
                </mat-checkbox>
            </div>
        </div>

        <ng-container *ngIf="currentTransferCertificate.leavingMidSession">
            <div class="row">
                <div class="col-md-3">Last Class Attended</div>
                <div class="col-md-3">
                    <input type="text"
                           [ngModel]="selectedTransferCertificate.lastClassAttended"
                           (ngModelChange)="currentTransferCertificate.lastClassAttended=$event" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">Attendance (in last class)</div>
                <div class="col-md-3">
                    <input type="number"
                           [ngModel]="selectedTransferCertificate.lastClassAttendance"
                           (ngModelChange)="currentTransferCertificate.lastClassAttendance=$event" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">Total working Days (till attendance)</div>
                <div class="col-md-3">
                    <input type="number"
                           [ngModel]="selectedTransferCertificate.attendanceOutOf"
                           (ngModelChange)="currentTransferCertificate.attendanceOutOf=$event" />
                </div>
            </div>
        </ng-container>

        <button type="button"
                *ngIf="!selectedTransferCertificate.id"
                (click)="generateTC();"
                class="btn btn-{{user.activeSchool.secondaryThemeColor}}">Generate T. C.</button>

        <button type="button"
                *ngIf="selectedTransferCertificate.id && selectedTransferCertificate.id != 0"
                (click)="updateTC();"
                class="btn btn-{{user.activeSchool.secondaryThemeColor}}">Update T.C.</button>

        <button type="button"
                *ngIf="selectedTransferCertificate.id && selectedTransferCertificate.id != 0"
                (click)="printTCSecondFormat();"
                class="btn btn-{{user.activeSchool.secondaryThemeColor}}">Print T. C.</button>

        <button type="button"
                *ngIf="selectedTransferCertificate.id && selectedTransferCertificate.id != 0"
                (click)="cancelTc()"
                class="btn btn-{{user.activeSchool.secondaryThemeColor}}">Cancel T. C.</button>

        <mat-checkbox [(ngModel)]="twoCopies">Two Copies</mat-checkbox>

        <div class="clearfix"></div>

        <div class="row" *ngIf="count>0">
            <div class="col-md-12"
                 style="border-bottom: 1px solid lightgrey;"></div>
        </div>

        <div *ngIf="count>0">
            <p>
            <span style="color: red">
                <span *ngIf="!fatherNameIsComing">Fathers Name,&nbsp;</span>
                <span *ngIf="!motherNameIsComing">Mothers Name,&nbsp;</span>
                <span *ngIf="!scholarNumberIsComing">Scholar Number,&nbsp;</span>
                <span *ngIf="!addressIsComing">Address,&nbsp;</span>
                <span *ngIf="!dateOfBirthIsComing">Date of birth,&nbsp;</span>
                <span *ngIf="!aadharNumberIsComing">Aadhar number,&nbsp;</span>
                <span *ngIf="!sssmidIsComing">Child sssmid,&nbsp;</span>
                <span *ngIf="!genderIsComing">Gender,&nbsp;</span>
                <span *ngIf="!casteIsComing">Caste,&nbsp;</span>
                <span *ngIf="!categoryIsComing">Category,&nbsp;</span>
           </span>
                <span *ngIf="count === 1">
                is missing in student profile.
                Please fill it by going in update profile for a valid transfer certificate.
            </span>
                <span *ngIf=" count > 1">
                are missing in student profile.
                Please fill them by going in update profile for a valid transfer certificate.
            </span>
            </p>
        </div>


    </ng-container>

    <ng-container *ngIf="selectedClass && !selectedStudent">
        <br/>No Students in this class
    </ng-container>

</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
