@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.flexContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexCol {
    display: flex;
    flex-direction: column;
}
