<div class="card-content">
    <!-- Starts :- Main Container -->
    <div *ngIf="!isLoading" class="flexContainer">
        <!-- Starts :- Select Employee -->
        <div class="flexRow" style="width: 100%">
            <mat-form-field appearance="fill" style="flex-grow: 1; max-width: 600px">
                <mat-label>Select Employee</mat-label>
                <mat-select (selectionChange)="updateLeavePlanList()" [(ngModel)]="currentEmployee" [disabled]="employeeChoiceList.length === 0">
                    <mat-form-field appearance="outline" style="width: 100%; padding: 5px; position: sticky; top: 0; z-index: 1; background: white">
                        <mat-label>Search Employee</mat-label>
                        <input
                            [(ngModel)]="filter"
                            (keydown)="$event.stopPropagation()"
                            (keyup)="updateEmployeeChoiceList()"
                            matInput
                            placeholder="Enter Employee Name"
                        />
                    </mat-form-field>
                    <mat-option *ngIf="filteredEmployeeChoiceList.length === 0" [value]="null" style="text-align: center"> No Employee found. </mat-option>
                    <mat-option *ngFor="let employee of filteredEmployeeChoiceList" [value]="employee">
                        {{ employee.name | titlecase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Ends :- Select Employee -->

        <!-- Starts :- Update leavePlan associated to this employee -->
        <div class="flexRow" style="width: 100%" *ngIf="currentEmployee !== null" style="font-size: medium; width: 100%">
            <!-- Starts :- Selected Employee Details -->
            <div class="flexRow" style="padding: 5px; width: 100%">
                <div class="flexRow" style="width: 15ch; font-weight: 500">Employee Name</div>
                <div class="flexRow" style="width: fit-content; padding-left: 5px; padding-right: 5px">:</div>
                <div class="flexRow" style="width: fit-content">{{ currentEmployee.name }}</div>
            </div>
            <div class="flexRow" style="padding: 5px; width: 100%">
                <div class="flexRow" style="width: 15ch; font-weight: 500">Position</div>
                <div class="flexRow" style="width: fit-content; padding-left: 5px; padding-right: 5px">:</div>
                <div class="flexRow" style="width: fit-content">
                    {{ currentEmployee.currentPost ? currentEmployee.currentPost : "No position assigned yet." }}
                </div>
            </div>
            <!-- Ends :- Selected Employee Details -->

            <!-- Starts :- Activate a leave Plan for selected employee -->
            <div class="flexRow" *ngIf="currentEmployee !== null" style="padding-top: 20px; justify-content: space-between; width: 100%">
                <div class="flexRow" style="flex-grow: 1">
                    <mat-form-field appearance="fill" style="flex-grow: 1; max-width: 350px">
                        <mat-label>Select LeavePlan</mat-label>
                        <mat-select [(ngModel)]="currentLeavePlan" [disabled]="leavePlanList.length === 0">
                            <mat-option *ngFor="let leavePlan of leavePlanList" [value]="leavePlan">
                                {{ leavePlan.leavePlanName }} {{ isCustomized && activeLeavePlan == leavePlan ? "( Customized )" : "" }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button
                        (click)="serviceAdapter.applyLeavePlan()"
                        style="margin-left: 10px; height: 59px; padding-left: 20px; padding-right: 20px; border-radius: 5px; font-weight: 500"
                        [ngStyle]="{
                            backgroundColor: activeLeavePlan === currentLeavePlan ? '#ffffff' : '#FD9700',
                            border: activeLeavePlan === currentLeavePlan ? '1px solid #fd9700' : '1px solid rgba(0, 0, 0, 0.25)',
                            color: activeLeavePlan === currentLeavePlan ? '#fd9700' : '#ffffff',
                            cursor: activeLeavePlan === currentLeavePlan ? 'not-allowed' : 'pointer'
                        }"
                        [disabled]="activeLeavePlan == currentLeavePlan"
                    >
                        Apply
                    </button>
                </div>
                <div
                    class="material-icons-outlined"
                    style="padding: 5px; cursor: pointer; height: 100%; display: flex; align-items: center"
                    (click)="refreshEmployeeData()"
                    matTooltip="refresh"
                    matTooltipPosition="left"
                >
                    refresh
                </div>
            </div>
            <!-- Ends :- Activate a leave Plan for selected employee -->

            <!-- Starts :- Update Allowed Leave Types for this employee -->
            <div class="flexRow" *ngIf="currentEmployee !== null" style="padding-top: 20px; width: 100%">
                <div class="flexRow" style="flex-grow: 1; border-bottom: 1px solid rgba(0, 0, 0, 0.5); color: #fc9701">
                    <div class="flexRow" style="width: 100%; max-width: 600px; padding: 10px">
                        <div class="flexRow" style="width: 30%; padding: 2px">Name</div>
                        <div class="flexRow" style="width: 30%; padding: 2px">Component Type</div>
                        <div class="flexRow" style="width: 30%; padding: 2px">Color</div>
                        <div class="flexRow" style="width: 10%; padding: 2px"></div>
                    </div>
                </div>
            </div>
            <div
                class="flexCol"
                *ngIf="currentEmployee !== null && selectedEmployeeLeaveTypeList.length"
                style="width: 100%; max-height: 300px; overflow-y: auto"
            >
                <div
                    class="flexRow"
                    *ngFor="let EmployeeLeaveType of selectedEmployeeLeaveTypeList"
                    style="width: 100%; border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: rgba(0, 0, 0, 0.5); padding-top: 5px"
                >
                    <div class="flexRow" style="width: 100%; max-width: 600px; padding: 10px">
                        <div class="flexRow" style="width: 30%; padding: 2px">{{ EmployeeLeaveType.leaveTypeName }}</div>
                        <div class="flexRow" style="width: 30%; padding: 2px">{{ EmployeeLeaveType.leaveType }}</div>
                        <div class="flexRow" style="width: 30%; padding: 2px">
                            <div
                                style="height: 25px; width: 25px; border: 1px solid black; border-radius: 5px"
                                [ngStyle]="{ backgroundColor: EmployeeLeaveType.color }"
                            ></div>
                        </div>
                        <div
                            class="flexRow material-icons-outlined"
                            style="width: 10%; padding: 2px; color: red; cursor: pointer"
                            (click)="serviceAdapter.deleteLeaveType(EmployeeLeaveType)"
                        >
                            delete_forever
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="flexRow"
                *ngIf="currentEmployee !== null && !selectedEmployeeLeaveTypeList.length"
                style="padding: 5px; justify-content: space-between; width: 100%"
            >
                <div class="flexRow" style="flex-grow: 1; border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: rgba(0, 0, 0, 0.5)">
                    <div class="flexRow" style="width: 100%; max-width: 600px; padding-top: 5px">
                        <div class="flexRow" style="flex-grow: 1; padding: 10px">
                            {{ activeLeavePlan ? "No Leave Types available currently." : "Please Select Leave Plan." }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends :- Update Allowed Leave Types for this employee -->

            <!-- Starts :- Button to add / remove leave types selected employee -->
            <div class="flexRow" *ngIf="currentEmployee !== null" style="padding-top: 16px; justify-content: space-between; width: 100%; margin-top: 30px">
                <div class="flexRow" style="flex-grow: 1">
                    <div class="flexRow" style="flex-grow: 1">
                        <button
                            *ngIf="!isLeaveTypeChoiceVisible"
                            (click)="isLeaveTypeChoiceVisible = true"
                            [disabled]="activeLeavePlan"
                            style="
                                height: 48px;
                                padding: 25px 20px;
                                border-radius: 5px;
                                font-weight: 500;
                                border: 1px solid rgba(0, 0, 0, 0.25);
                                width: fit-content;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                height: 30px;
                            "
                            [matTooltip]="activeLeavePlan ? 'Add / Remove Leave Types' : 'Please Select Leave Plan'"
                            [matTooltipPosition]="above"
                            [ngStyle]="{ backgroundColor: activeLeavePlan ? '#fd9700' : 'rgba(27, 27, 27, 0.1)', color: activeLeavePlan ? 'white' : 'black' }"
                        >
                            <span class="material-icons" style="height: 100%; display: flex; flex-direction: column; justify-content: center">add</span>
                            <span style="height: 100%; display: flex; flex-direction: column; justify-content: center">Add Leave Type</span>
                        </button>
                        <mat-form-field appearance="fill" *ngIf="isLeaveTypeChoiceVisible" style="max-width: 400px; flex-grow: 1">
                            <mat-label>Select Leave Type</mat-label>
                            <mat-select [(ngModel)]="currentLeaveTypeList" multiple [disabled]="!leaveTypeList.length">
                                <mat-option *ngFor="let leaveType of leaveTypeList" [value]="leaveType">
                                    {{ leaveType.leaveTypeName }} ( {{ leaveType.leaveType }} )
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div
                            (click)="serviceAdapter.saveLeaveTypes(); isLeaveTypeChoiceVisible = false"
                            class="material-icons"
                            *ngIf="isLeaveTypeChoiceVisible"
                            style="height: 59px; padding: 5px; color: green; display: flex; flex-direction: column; justify-content: center; cursor: pointer"
                        >
                            check
                        </div>
                        <div
                            (click)="currentLeaveTypeList = updateLeavePlanList(); isLeaveTypeChoiceVisible = false"
                            class="material-icons"
                            *ngIf="isLeaveTypeChoiceVisible"
                            style="height: 59px; padding: 5px; color: red; display: flex; flex-direction: column; justify-content: center; cursor: pointer"
                        >
                            clear
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends :- Button to add / remove leave types selected employee -->
        </div>
        <div class="flexRow" *ngIf="currentEmployee === null">Please select an Employee.</div>
        <!-- Ends :- Update leavePlan -->
    </div>
    <!-- Ends :- Main Container -->

    <!-- Starts :- Loader to display spinner while data is being loaded -->
    <div *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </div>
    <!-- Ends :- Loader-->
</div>
