.vscode/
.idea/
*.iml
frontend/.idea/
frontend/node_modules/
frontend/school.iml
frontend/preparePackage.sh
frontend/brightstar.tar.gz
frontend/brightstar.zip
frontend/brightstar/
frontend/src/src.iml
frontend/.DS_Store
frontend/md-angular-v1.4.1.iml
frontend/.vscode/
frontend/build/post-build.js
frontend/korangle/
frontend/korangle.*
frontend/version.json
frontend/preparePackage.sh
frontend/src/environments/environment.prod.ts
frontend/dist/
frontend/src/coverage/
frontend/copytoserver.sh
frontend/src/coverage/
backend/*db.sqlite3*
*.pyc
*.swp
backend/*DS_Store
backend/*message_app
backend/copydatabasefromserver.sh
backend/test_database
backend/helloworld_project/media
backend/*.idea
backend/staticpages/.*
backend/sms_file
backend/backupdb
backend/copydatabase.sh
backend/prev_db
backend/start_server.sh
backend/stop_server.sh
backend/helloworld_project/logs
backend/helloworld_project/nginx.conf
backend/helloworld_project/gunicorn.conf.py
backend/backup_database.sh
