.idea/
node_modules/
school.iml
preparePackage.sh
brightstar.tar.gz
brightstar.zip
brightstar/
src/src.iml
.DS_Store
md-angular-v1.4.1.iml
.vscode/
build/post-build.js
build/post-build-old.js
korangle/
korangle.*
version.json
preparePackage.sh
src/environments/environment.prod.ts
