<div class="card-content">

    <div class="row">
        <div class="col-md-12" align="center">
            <month-date [user]="user"
                        [showButton]="true"
                        [biggerFont]="true"
                        (onMonthSelected)="onMonthSelected($event)"></month-date>
        </div>
    </div>

    <!-- br class="visible-sm visible-xs"  style="margin-bottom: 10px;">
    <button type="submit"
            style="padding: 3px 8px;"
            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
            (click)="getEmployeeAttendanceStatusList()">Get</button -->

    <div class="row">
        <div class="col-md-12"
             style="border-bottom: 1px solid lightgrey; margin-top: 10px; margin-bottom: 10px;"></div>
    </div>

    <div class="row" *ngIf="showCalendar && !isLoading">
        <div class="col-md-6">

            <div class="calendar">
                <!-- div class="calendar-navs">
                    <div class="month-nav">
                        <button (click)="prevMonth()">&lt;</button>
                        <span class="p4">{{ currentDate.format('MMMM') }}</span>
                        <button (click)="nextMonth()">&gt;</button>
                    </div>
                    <div class="year-nav">
                        <button (click)="prevYear()">&lt;</button>
                        <span>{{ currentDate.format('YYYY') }}</span>
                        <button (click)="nextYear()">&gt;</button>
                    </div>
                </div -->
                <div class="month-grid">
                    <div class="day-names">
                        <div *ngFor="let name of dayNames"
                             class="day-name p9"
                             [attr.data-background-color]="user.activeSchool.primaryThemeColor">
                            {{ name }}
                        </div>
                    </div>
                    <div class="weeks">
                        <div *ngFor="let week of weeks" class="week">
                            <ng-container *ngFor="let day of week">
                                <div class="unselectable week-date disabled"
                                     *ngIf="!day.inSelectedMonth">
                                    <span class="date-text">{{ day.mDate.date() }}</span>
                                </div>
                                <div class="unselectable week-date enabled background-color-{{day.color}}"
                                     [class.pointer]="!day.attendanceStatus && !day.leaveStatus"
                                     [class.fullDayLeave]="day.leaveOption==leaveLengthList[0]"
                                     [class.halfDayLeave]="day.leaveOption==leaveLengthList[1]"
                                     style="position: relative"
                                     *ngIf="day.inSelectedMonth"
                                     (click)="selectDate(day)">
                                    <span class="date-text">
                                        &nbsp;&nbsp;{{ day.mDate.date() }}&nbsp;&nbsp;
                                    </span>
                                    <span *ngIf="day.leaveStatus"
                                          class="date-sup-text"
                                          style="position: absolute; right: 0px; top: 0px;">
                                        &nbsp;&nbsp;{{day.leaveStatus.substring(0,1)}}&nbsp;&nbsp;
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6" style="padding-top: 10px;">

            <!-- div class="row">
                <div class="col-xs-6">
                    <span class="text-color-red attStatus">
                        Absent: <b>{{getAttendanceStatusNumber(ATTENDANCE_STATUS_LIST[1])
                                    + (0.5*getAttendanceStatusNumber(ATTENDANCE_STATUS_LIST[3]))}}</b>
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="text-color-green attStatus">
                        Present: <b>{{getAttendanceStatusNumber(ATTENDANCE_STATUS_LIST[0])
                                    + (0.5*getAttendanceStatusNumber(ATTENDANCE_STATUS_LIST[3]))}}</b>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <span class="text-color-orange attStatus">
                        Holidays: <b>{{getAttendanceStatusNumber(ATTENDANCE_STATUS_LIST[2])}}</b>
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="text-color-blue attStatus">
                        Not Taken: <b>{{currentMoment.daysInMonth()-attendanceStatusList.length}}</b>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <span class="attStatus">
                        Total: <b>{{currentMoment.daysInMonth()}}</b>
                    </span>
                </div>
            </div -->

            Total Leave/s Applied: {{getTotalLeave()}}<br/>

            <button type="submit"
                    *ngIf="getTotalLeave()>0"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    (click)="applyLeave()">Apply</button>

        </div>
    </div>

    <br/>
    **Line through the date denotes half day<br/>
    **A: Approved, P: Pending, C: Canceled

</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
