<table class="table table-hover">
    <thead class="text-{{user.btn_color}}">
        <tr>
            <th align="center">Receipt No.</th>
            <th align="center" *ngIf="!whileSubmittingFee">Name</th>
            <th align="center" *ngIf="!whileSubmittingFee">Class</th>
            <th align="center">Amount</th>
            <th align="center">Date</th>
            <th class="text-center">Remark</th>
            <th class="text-center" *ngIf="user.complexFee">Bifurcation</th>
            <th class="text-center">-</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let feeEntry of feesList">
            <td align="right">{{feeEntry.receiptNumber}}</td>
            <td align="center" *ngIf="!whileSubmittingFee">{{feeEntry.studentName}}</td>
            <td align="center" *ngIf="!whileSubmittingFee">{{feeEntry.className}}</td>
            <td align="right">{{feeEntry.amount}}</td>
            <td align="center">{{feeEntry.generationDateTime}}</td>
            <td align="center">{{feeEntry.remark}}</td>
            <td align="center" *ngIf="user.complexFee">
                <span *ngIf="feeEntry.tuitionFeeAmount!==0">TutionFee: {{feeEntry.tuitionFeeAmount}},</span>
                <span *ngIf="feeEntry.lateFeeAmount!==0">LateFee: {{feeEntry.lateFeeAmount}},</span>
                <span *ngIf="feeEntry.cautionMoneyAmount!==0">CautionMoney: {{feeEntry.cautionMoneyAmount}},</span>
            </td>
            <td align="center">
                <button type="button"
                        style="padding: 8px 11px; margin: 0px"
                        matTooltip="Print"
                        tooltip-position="right"
                        class="btn btn-{{user.btn_color}}"
                        (click)="printFeeReceipt(feeEntry)">
                    <i class="material-icons">print</i></button>
            </td>
        </tr>
    </tbody>
</table>
