@media only screen and (min-width: 992px) {
    .main-content {
        padding: 0px;
        margin: 0px;
    }

    .table-content {
        margin-top: 40px;
        margin-left: 40px;
    }
}

.main-content {
    height: 95%;
}

.container-fluid {
    height: 100%;
}

.loader {
    border: 8px solid #ffffff; /* White */
    border-top: 8px solid Red; /* Red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fieldChanged {
    background-color: #ffffea;
}

.fieldRight {
    color: green;
    font-weight: 400;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

mat-form-field {
    margin-top: 15px;
    width: 100%;
}

mat-form-field input,
mat-form-field mat-select {
    padding-top: 5px;
    padding-bottom: 4px;
}

mat-form-field input[type='date'] {
    padding-top: 2px;
    padding-bottom: 1px;
}

.fieldChanged {
    background-color: #ffffea;
}

.fieldRight {
	color: lightgreen;
	font-weight: 400;
}
@media only screen and (min-width: 992px) {
	.main-content {
		padding: 0px;
		margin: 0px;
	}

	.table-content {
		margin-top: 40px;
		margin-left: 40px;
	}

}

.main-content {
	height: 95%;
}

.container-fluid {
	height: 100%;
}

.loader {
	border: 8px solid #FFFFFF; /* White */
	border-top: 8px solid Red; /* Red */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.fieldChanged {
	background-color: #FFFFEA;
}

.fieldRight {
	color: lightgreen;
	font-weight: 400;
}

mat-form-field {
	margin-top: 23px;
}

.document-parameter {
    position: relative;
    z-index: 0;
}

.dropzone {
    width: 200px;
    height: 200px;
    padding: 1rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;
}

.dropinput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.viewBox {
    position: absolute;
    padding: 20px;
    border: 1px solid;
    background: #969696;
    top: 0;
    z-index: 4;
    width: fit-content;
}

.drop {
    position: relative;
    height: 120px;
    border-radius: 5px;
}

.documentText {
    position: absolute;
    left: 102px;
    top: 47px;
    z-index: 3;
}

.documentLabel {
    position: absolute;
    left: 102px;
    top: 19px;
    font-size: 16px;
    color: black;
}

.documentName {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #959393;
    margin-right: 2px;
    margin-top: 5px;
	
}

.documentButton {
    border: none;
    background: none;
    padding: 0;
    color: #ed9614;
    font-weight: 500;
    padding-right: 15px;
    text-decoration: underline;
}

.documentIcon {
    width: 70px;
    padding-top: 10px;
    padding-left: 5px;
    z-index: 3;
}

.tooltip-btn {
    word-wrap: break-word;
    font-size: 12px;
    color: #959393;
    font-weight: 400;
    line-height: 18px;
}

.none {
    background: rgba(172, 204, 174, 0.1);
    border: 1px dashed #56AE5A;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    float: right;
    bottom: 30px;
    z-index: 100;
}

.row .col-md-5{
    width: 45%;
}

@media only screen and (max-width: 992px) {
    .row .col-md-5 {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .row .col-md-5 {
        width: 70%;
    }
}

@media only screen and (max-width: 650px) {
    .row .col-md-5 {
        width: 80%;
    }
}

@media only screen and (max-width: 550px) {
    .row .col-md-5 {
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    .documentIcon {
        width: 50px;
    } 

    .documentLabel {
        left: 72px;
        font-size: 12px;
    }

    .documentText {
        left: 72px;
    }

    .documentButton {
        font-size: 12px;
    }
}
