.card-content {
    padding: 3rem;
    min-height: 90vh;
}

.search-field-margin {
    padding: 3rem;
}

.send-new-common-section {
    display: flex;
    align-items: center;
}

.send-new-header {
    flex-basis: 25%;
}

.title-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #C4C4C4;
    width: 185px;
    font-weight: 400;
    opacity: 0.8;
}

.comment-section {
    background-color: #F4F7FF;
    border-radius: 5px;
}

.send-new-default-text {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
    border-bottom: 1px solid #C4C4C4;
    padding: 2rem;
    word-wrap: break-word;
}

.bottom-section {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-search-field {
    background: #FEFEFE;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    flex-basis: 90%;
    height: 40px;
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
}

.bottom-search-btn {
    flex-basis: 8%;
    border-radius: 5px !important;
    text-transform: capitalize !important;
}


/* Starts: Media Query - Mobile Phone */
@media only screen and (max-width: 992px) {
    .card-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .search-field-margin {
        padding-left: 1rem;
        padding-right: 1rem;
    }

   .send-new-common-section {
       display: block;
   }

   .bottom-section {
       display: block;
   }

   .bottom-text-field {
       width: 100%;
       height: 180px;
       background: #FEFEFE;
       border: 0.5px solid #C4C4C4;
       border-radius: 5px;
       padding: 10px;
       font-size: 12px;
       line-height: 14px;
   }

   .information {
       flex-basis: 100%;
   }

   .information .header {
       margin-right: 0rem;
       flex-basis: 50%;
   }

   .status-option-section {
       flex-basis: 50%;
       display: flex;
       align-items: center;
       justify-content: space-between;
   }

   .time {
       flex-basis: 35%;
       font-size: 12px;
       opacity: 0.5;
       display: flex;
       justify-content: flex-end;
       align-items: flex-end;
       word-wrap: break-word;
   }
}
/* Ends: Media Query - Mobile Phone */
