/* Starts: Modal Container */
.table-name-modal-container {
    height: 30vh;
    width: 30vw;
}
/* Ends: Modal Container */

/* Bottom Btns */
.bottom-btns {
    float: right;
}

.bottom-btns .btn {
    font-weight: 500;
    font-size: 12px;
}

.cancel-btn {
    color: #FF1717;    /* Red */
    background-color: white;
    outline: none;
    border: none;
    text-decoration: underline;
    box-shadow: none;
    text-transform: capitalize !important;
}

.save-btn {
    text-transform: capitalize !important;
    padding: 7px 17px;
}
/* Ends: Bottom Btns */

/* Starts: Media Query */
@media only screen and (max-width: 992px) {
    /* Starts: Modal Container */
    .table-name-modal-container {
        height: 30vh;
        width: 100%;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    /* Ends: Modal Container */

    /* Starts: Name Section */
    .inputField {
        width: 40%;
    }
    /* Ends: Name Section */
}
/* Ends: Media Query */
