.card-content {
    padding: 4rem;
    min-height: 90vh;
}

.common-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information {
    flex-basis: 65%;
    display: flex;
}

.information .header {
    margin-right: 5rem;
    flex-basis: 15%;
}

.status-section {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}

.delete-icon {
    margin-right: 3rem;
    color: red;
}

.refresh-btn {
    text-transform: capitalize !important;
}

.comment-section {
    background-color: #F4F7FF;
    border-radius: 5px;
}

.default-text {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
}

.comment {
    border-bottom: 1px solid #C4C4C4;
    padding: 2rem;
}

.name {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
    margin-bottom: 1.5rem;
}

.comment .information {
    justify-content: space-between;
}

.comment-description {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    opacity: 0.7;
    flex-basis: 88%;
    word-wrap: break-word;
}

.time {
    flex-basis: 10%;
    font-size: 9px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    word-wrap: break-word;
}

.class-dark {
    opacity: 1;
}

.bottom-section {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-search-field {
    background: #FEFEFE;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    flex-basis: 90%;
    height: 40px;
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
}

.bottom-seach-btn {
    flex-basis: 8%;
    border-radius: 5px !important;
    text-transform: capitalize !important;
}

.notify-btn {
    text-transform: capitalize !important;
}
