.footer {
    /*position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;*/
}
th {
    border-top: 1px solid navy;
    border-bottom: 1px solid navy !important;
}

.updownBorder {
    border-top: 1px solid navy;
    border-bottom: 1px solid navy !important;
}
.downBorder {
    border-bottom: 1px solid navy !important;
}
.upBorder {
    border-top: 1px solid navy !important;
}
.leftBorder {
    border-left: 1px solid navy !important;
}
.rightBorder {
    border-right: 1px solid navy !important;
}

.rightBorderLight {
    border-right: 1px solid lightgrey !important;
}

table {
    outline: 2px solid navy;
    outline-offset: 1px;
}

svg {
    background-color: #333;
    /*font-family: 'Luckiest Guy', cursive;*/
    font-size: 30px;
}

path {
    fill: transparent;
}

table, tbody, th, tr, td {
    background: transparent;
}

div, span, i, td, b {
    color: navy !important;
    text-decoration-color: navy !important;
}

td {
    font-weight: 400;
}

td.bold {
    font-weight: 800;
}

.pageBreakAfter {
    page-break-after: always;
}


.fontHandle {
    font-size: 12.6px;
    padding-bottom: 3px;
}

.fontHandle {
    font-size: 11.2px;
}

.studentInfo {
    font-weight: normal;
    vertical-align: middle;
}