<mat-dialog-content class="filter-modal-container">
    <!-- Starts: Name Field -->
    <b>Name - </b>
    <mat-form-field class="inputField" style="margin-left: 10%;">
        <input matInput required type="text" [(ngModel)]="name" />
    </mat-form-field>
    <p *ngIf="!isNameProvided && !name" style="color: red;">Filter name is necessary.</p>
    <!-- Ends: Name Field -->

    <!-- Starts: Class-Section Drop Down -->
    <br/><br/><b>Class, Section</b><br/>
    <mat-form-field style="margin-right: 15px">
        <mat-select placeholder="Select Class" id="select-class" style="width: 100%">
            <mat-option>
                <button class="btn" style="padding: 4px 7px" id="select-all-classes" (click)="selectAllClasses(); $event.stopPropagation()">
                    Select All
                </button>
                <button class="btn" style="padding: 4px 7px" (click)="unselectAllClasses(); $event.stopPropagation()">
                    Clear All
                </button>
            </mat-option>

            <ng-container *ngFor="let class of classSectionList">
                <ng-container *ngFor="let section of class.sectionList">
                    <mat-option *ngIf="section.containsStudent" style="width: 100%">
                        <mat-checkbox
                            class="checkbox-label"
                            [(ngModel)]="section.selected"
                            (click)="$event.stopPropagation()"
                        >
                            {{ class.name }}<span *ngIf="showSectionName(class)">, {{ section.name }}</span>
                        </mat-checkbox>
                    </mat-option>
                </ng-container>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <!-- Ends: Class-Section Drop Down -->

    <!-- Starts: List of Filters -->
    <br />
    <ng-container>
        <ng-container>
            <!-- Starts: Age -->
            <br /><b>Age</b><br />
            <input type="number" style="width: 70px; margin-right: 5px" [(ngModel)]="minAge" />
            <span style="margin-right: 5px">&lt;= Age &lt;=</span>
            <input type="number" style="width: 70px" [(ngModel)]="maxAge" />
            <br *ngIf="checkWidth() || checkMobile()" />
            <br *ngIf="checkWidth() || checkMobile()" />
            <span *ngIf="!checkWidth() || !checkMobile()">&nbsp; &nbsp;</span>as on date &nbsp;&nbsp;
            <mat-form-field style="width: 130px">
                <input matInput type="date" placeholder="Choose a date"
                    (ngModelChange)="asOnDate = $event"
                    [ngModel]="asOnDate" />
            </mat-form-field>
            <!-- Ends: Age -->

            <!-- Starts: Category -->
            <br /><br /><b>Category</b><br />
            <mat-checkbox
                [(ngModel)]="scSelected"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >SC
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="stSelected"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >ST
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="obcSelected"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >OBC
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="generalSelected"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >Gen.
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="noneCategory"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >None
            </mat-checkbox>
            <!-- Starts: Ends: Category -->

            <!-- Starts: Gender -->
            <br /><br /><b>Gender</b><br />
            <mat-checkbox
                [(ngModel)]="maleSelected"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >M
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="femaleSelected"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >F
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="otherGenderSelected"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >Other
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="noneGender"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >None
            </mat-checkbox>
            <!-- Ends: Gender -->

            <!-- Starts: Admission -->
            <br /><br /><b>Admission</b><br />
            <mat-checkbox
                [(ngModel)]="newAdmission"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >New
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="oldAdmission"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >Old
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="noneAdmission"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >None
            </mat-checkbox>
            <!-- Ends: Admission -->

            <!-- Starts: RTE -->
            <br /><br /><b>RTE</b><br />
            <mat-checkbox
                [(ngModel)]="yesRTE"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >Yes
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="noRTE"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >No
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="noneRTE"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >None
            </mat-checkbox>
            <!-- Ends: RTE -->

            <!-- Starts: TC -->
            <br /><br /><b>Transfer Certificate</b><br />
            <mat-checkbox
                [(ngModel)]="noTC"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >Not-Generated
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="yesTC"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >Generated
            </mat-checkbox>
        </ng-container>
        <!-- Ends: TC -->

        <!-- Starts: Custom Filters -->
        <br />
        <hr />
        <h5>Custom Filters</h5>
        <ng-container *ngFor="let parameter of getFilteredStudentParameterList()">
            <mat-form-field>
                <mat-label>{{ parameter.name }}</mat-label>
                <input matInput type="text" [(ngModel)]="parameter.filterFilterValues" /> </mat-form-field
            ><br />
            <mat-checkbox
                [(ngModel)]="parameter.showNone"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >None
            </mat-checkbox>
            <mat-checkbox
                *ngFor="let filter of getFilteredFilterValues(parameter)"
                [(ngModel)]="filter.show"
                style="margin-right: 5px"
                (click)="$event.stopPropagation()"
                >{{ filter.name }} </mat-checkbox
            ><br />
        </ng-container>
        <!-- Ends: Custom Filters -->
    </ng-container>
    <!-- End of Filters -->

    <!-- Starts: Bottom Buttons -->
    <div class="bottom-btns">
        <button
            type="button"
            class="btn delete-btn"
            style="padding: 7px 17px;"
            matTooltip="Delete Filter"
            tooltip-position="left"
            (click) = "deleteClick()"
        >
            Delete
        </button>

        <button
            type="button"
            class="btn btn-warning"
            style="padding: 7px 17px;"
            matTooltip="Apply Filter"
            tooltip-position="left"
            (click) = "applyClick()"
        >
            Apply
        </button>
    </div>
    <!-- Ends: Bottom Buttons -->
</mat-dialog-content>
