<div class="card-content">
    <ng-container *ngIf="!isLoading">
        <div class="row">
            <mat-form-field  *ngIf="!noTutorials" style="margin: 20px;">
                <mat-select placeholder="Select Subject"
                            [ngModel]="selectedSubject"
                            (ngModelChange)="selectedSubject=$event;showTutorialVideo=false;selectedChapter={};">
                    <mat-option *ngFor='let subject of filteredStudentSubject;' [value]="subject">
                        {{getSubjectName(subject)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="!noTutorials" style="margin: 20px;">
                <mat-select placeholder="Select Chapter"
                            [ngModel]="selectedChapter"
                            (ngModelChange)="selectedChapter=$event;showTutorialVideo=false;selectedTopic={};">
                    <mat-option *ngFor='let chapter of selectedSubject.chapterList;' [value]="chapter">
                        {{chapter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field  *ngIf="!noTutorials" style="margin: 20px;">
                <mat-select placeholder="Select Topic"
                            [ngModel]="selectedTopic"
                            (ngModelChange)="selectedTopic=$event;setTutorialVideo()">
                    <mat-option *ngFor='let topic of selectedChapter.topicList;' [value]="topic">
                        {{topic.topic}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <span *ngIf="noTutorials" style="margin-left:20px">[ No Tutorial Videos Present ]</span>

        </div>
        <ng-container *ngIf="showTutorialVideo">
            <div style="height:70%;width: 70%;margin-left:10%;margin-bottom: 5%">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            [src]="videoUrl | safe"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <span><b>Published On : {{publishDate.split('T')[0]}}</b></span>
            </div>
        </ng-container>
    </ng-container>

</div>
<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
