@media only screen and (min-width: 992px) {
    .main-content {
        padding: 0px;
        margin: 0px;
    }

    .table-content {
        margin-top: 40px;
        margin-left: 40px;
    }

}

.main-content {
    height: 95%;
}

.container-fluid {
    height: 100%;
}

.paymentInput {
    width: 100%;
    text-align: right;
    border-top: none;
    border-right: none;
    border-left: none;
}

redBackground {
    background-color: red;
}

.nowShow {
    background-color: red;
}

i {
    cursor: pointer;
}

.hoverHighlight:hover {
    background-color: lightgrey;
}

.loader-custom {
    margin-left: 5px;
    display: inline-block;
    border: 2px solid lightgrey;
    border-radius: 50%;
    border-top: 2px solid dimgrey;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.main-row .col-sm-4 {
    float: right;
}

@media only screen and (max-width: 992px) {

    .main-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .main-row .col-md-7 {
        float: left;
        width: 75%;
        order: 2;
    }

    .main-row .col-md-5 {
        float: left;
        width: 75%;
        order: 3;
    }

    .main-row .col-sm-2 {
        float: left;
        width: 100%;
        order: 4;
    }

    .main-row .col-sm-4 {
        float: left;
        order: 1;
    }
}