<mat-dialog-content class="add-status-modal-container">
    <div class="header">
        <div class="title">Parent Support >> {{ operation }} Complaint Status</div>
        <div><i class="material-icons close-btn" (click)="closeClicked()">highlight_off</i></div>
    </div>
    <br />
    <br />

    <!-- Starts: Name Field -->
    <div class="inputField">
        <mat-form-field>
            <input matInput placeholder="Status Name" required type="text" [(ngModel)]="statusName" />
        </mat-form-field>
        <div><i class="material-icons delete-btn">delete_forever</i></div>
    </div>
    <!-- Ends: Name Field -->

    <!-- Starts: Bottom Buttons -->
    <div class="bottom-btns">
        <button
            type="button"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
            style="padding: 7px 17px;"
            (click)="saveClicked()"
        >
            Save
        </button>
        <button
            type="button"
            class="btn cancel-btn"
            style="padding: 7px 17px;"
            (click)="closeClicked()"
        >
            Cancel
        </button>
    </div>
    <!-- Ends: Bottom Buttons -->
</mat-dialog-content>
