@media only screen and (min-width: 992px) {
}

.bgWarning {
    background: yellow !important;
}

.bgDanger {
    background: red !important;
}

.upload-btn {
    position: sticky;
    left: 0;
    float: left;
}
