<div class="card-content">
    <!-- Starts: Search Bar -->
    <div class="search-bar">
        <input class="search-field" type="search" placeholder="Search by student name, message type, title" [ngModel]="seachString" (ngModelChange)="seachString = $event">
        <button class="seach-btn"><i class="material-icons search-icon">search</i></button>
    </div>
    <br />
    <br />
    <!-- Ends: Search Bar -->

    <div class="table-container">
        <div class="example-viewport">Messages</div>
        <!-- <cdk-virtual-scroll-viewport itemSize="0" class="example-viewport"> -->
            <table class="table table-hover table-responsive">
                <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                    <tr>
                        <!-- <th style="min-width: 150px">Child Name</th>
                        <th style="min-width: 150px">Date Sent</th>
                        <th style="min-width: 150px">Message Type</th>
                        <th style="min-width: 150px">Status</th>
                        <th style="min-width: 150px">Comments</th>
                        <th style="min-width: 100px"></th>
                        <th style="min-width: 100px"></th> -->
                        <th>Child Name</th>
                        <th>Date Sent</th>
                        <th>Message Type</th>
                        <th>Status</th>
                        <th>Comments</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>Today</td>
                        <td>Fee Amount</td>
                        <td>Resolved</td>
                        <td>10</td>
                        <td>Open</td>
                        <td><i class="material-icons delete-icon">delete_forever</i></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Today</td>
                        <td>Fee Amount</td>
                        <td>Resolved</td>
                        <td>10</td>
                        <td>Open</td>
                        <td><i class="material-icons delete-icon">delete_forever</i></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Today</td>
                        <td>Fee Amount</td>
                        <td>Resolved</td>
                        <td>10</td>
                        <td>Open</td>
                        <td><i class="material-icons delete-icon">delete_forever</i></td>
                    </tr>
                    <!-- <tr>
                        <td style="min-width: 150px">John Doe</td>
                        <td style="min-width: 150px">Today</td>
                        <td style="min-width: 150px">Fee Amount</td>
                        <td style="min-width: 150px">Resolved</td>
                        <td style="min-width: 150px">10</td>
                        <td style="min-width: 100px">Open</td>
                        <td style="min-width: 100px"><i class="material-icons delete-icon">delete_forever</i></td>
                    </tr> -->
                </tbody>
            </table>
        <!-- </cdk-virtual-scroll-viewport> -->
    </div>

    <br />
    <button
        type="button"
        class="btn btn-{{ user.activeSchool.secondaryThemeColor }} send-new-btn"
        style="padding: 12px 15px; margin-left: 1rem"
        matTooltip="Send New Message"
        tooltip-position="left"
    >
        <i class="material-icons">add</i> Send New
    </button>
</div>
