<div class="card-content">
    <ng-container *ngIf="!isLoading">
        <ng-container *ngFor="let grade of gradeList;index as j">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td style="font-weight: bold;font-size: 2.5vh">
                            {{j+1}}. {{grade.name}}
                        </td>
                        <td>
                            <button type="submit"
                                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                                    style="padding: 6px 10px;"
                                    (click)="serviceAdapter.deleteGrade(grade)">Delete</button>
                        </td>
                    </tr>
                    <tr *ngFor="let subGrade of serviceAdapter.getSubGradeListOfAnyGrade(grade.id);index as i">
                        <td style="padding-left: 5vw">
                            <span>{{i+1}}</span>.
                            <input type="text"
                                   matInput
                                   placeholder="Type Sub-grade name here ...."
                                   [ngModel]="subGrade.name"
                                   [readonly] = "!subGrade.isUpdating"
                                   (input)="newSubGradeName = $event.target.value"/>
                        </td>
                        <td>
                            <button type="submit"
                                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                                    style="padding: 3px 8px;margin-right:10px "
                                    (click)="serviceAdapter.editSubGrade(grade,subGrade)">{{subGrade.isUpdating==false ? 'Edit' : 'Update'}}</button>
                            <button type="submit"
                                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                                    style="padding: 3px 8px;"
                                    (click)="serviceAdapter.deleteSubGrade(grade,subGrade)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 5vw">
                            <input type="text"
                                   matInput
                                   placeholder="Type Sub-Grade name here ...."
                                   (input)="subGradeNameToBeAdded = $event.target.value"/>
                        </td>
                        <td>
                            <button type="submit"
                                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                                    style="padding: 3px 8px;"
                                    (click)="serviceAdapter.createSubGrade(grade)">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <hr style="border-top: 2px dashed #404040">
        <ng-container>
            <table class="table table-hover">
                <tr>
                    <td>
                        <input type="text"
                               matInput
                               placeholder="Type Grade name here ...."
                               [(ngModel)]="gradeNameToBeAdded"/>
                    </td>
                    <td>
                        <button type="submit"
                                class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                                style="padding: 6px 10px;"
                                (click)="serviceAdapter.createGrade()">Add</button>
                    </td>
                </tr>
            </table>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>

