<div style="display: flex;flex-wrap: wrap;">
    <ng-container *ngFor="let studentProfile of studentProfileList;">

    <div style="display: flex;justify-items: flex-start;margin-top:3px; margin-right:20px;">
        <div class="container-fluid"
             style="width: 3.375in; height: 2.125in;
             border-radius: 4px;
             background-color: ivory !important;
             position: relative;
             overflow: hidden;
             font-weight: 800 !important; margin-bottom: 2px; margin-left: 2px">

            <!-- Background Watermark -->
            <img src="{{user.activeSchool.profileImage}}"
                 style="border-radius: 2px; position: absolute;
                 top: 55px; left: 120px;
                 width: 108px; height: 108px;
                 opacity: 0.2;
                 filter: grayscale(100%);
                 z-index: 1;"/>

            <div class="row"
                 style="padding: 5px 0px 5px 0px;
                        background-color: #80d8ff !important;
                        border-bottom: 1px solid lightgrey">

                <div class="col-xs-3" style="background-color: white !important; padding-left: 10px !important;">
                    <img src="{{user.activeSchool.profileImage}}"
                         style="border-radius: 2px;
                         width: 30px; height: 30px;"/>
                </div>

                <div class="col-xs-9" align="right" style="line-height: 70% !important; background-color: lightgreen !important; padding-right: 10px !important;">
                    <span style="font-size: 12px; line-height: normal !important;">
                        {{user.activeSchool.printName}}
                    </span><br/>
                    <span style="font-size: 7px; line-height: normal !important;">
                        {{user.activeSchool.address}}
                    </span><br/>
                    <span style="font-size: 7px; line-height: normal !important;">
                        Phone: {{user.activeSchool.mobileNumber}}
                    </span>
                </div>

            </div>

            <div class="row no-gutters" style="margin-top: 7.5px; line-height: normal !important;">
                <div class="col-xs-8">

                    <!-- Name -->
                    <div class="row no-gutters" style="font-size: 11.25px; padding-left: 5px;">
                        <div class="col-xs-12">
                            <span style="color: darkblue !important;">{{ studentProfile.name | titlecase }}</span>
                        </div>
                    </div>

                    <!-- Father's Name -->
                    <div class="row no-gutters" style="font-size: 7.5px; padding-left: 5px;">
                        <div class="col-xs-12">
                            <div style="font-size: 5px;"><i>Father's Name</i></div>
                            <span>{{ studentProfile.fathersName | titlecase}}</span>
                        </div>
                    </div>

                    <!-- Date of Birth, Standard -->
                    <div class="row no-gutters" style="font-size: 7.5px; padding-left: 5px;">
                        <div class="col-xs-8">
                            <div style="font-size: 5px;"><i>Date of Birth</i></div>
                            {{studentProfile.dateOfBirth | date: 'dd/MM/yyyy'}}
                        </div>
                        <div class="col-xs-4" *ngIf="showClass">
                            <div style="font-size: 5px;"><i>Standard</i></div>
                            {{studentProfile.className}}
                        </div>
                    </div>

                    <!-- Scholar No. -->
                    <div class="row no-gutters" style="font-size: 7.5px; padding-left: 5px;">
                        <div class="col-xs-12">
                            <div style="font-size: 5px;"><i>Scholar No.</i></div>
                            {{studentProfile.scholarNumber}}
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="row no-gutters" style="font-size: 7.5px; padding-left: 5px;">
                        <div class="col-xs-12">
                            <div style="font-size: 5px;"><i>Address</i></div>
                            <span>{{ studentProfile.address | titlecase}}</span>
                        </div>
                    </div>

                    <!-- Mobile No. -->
                    <div class="row no-gutters" style="font-size: 7.5px; padding-left: 5px;">
                        <div class="col-xs-12">
                            <div style="font-size: 5px;"><i>Mobile No.</i></div>
                            {{studentProfile.mobileNumber}}
                        </div>
                    </div>

                </div>
                <div class="col-xs-4" style="padding-right: 7.5px;" align="right">
                    <img src="{{studentProfile.profileImage}}"
                         style="border: 1px solid black;
                                 border-radius: 4px;
                                 z-index: 10;
                                 width: 70px;
                                 height: 70px;">
                </div>
            </div>

            <!-- Principal Signature Image -->
            <img src="{{user.activeSchool.principalSignatureImage}}"
                 *ngIf="user.activeSchool.principalSignatureImage != null"
                 style="border-radius: 2px; position: absolute;
                         bottom: 13px; left: 260px;
                         width: 40px; height: 20px;
                         z-index: 1;"/>


            <!-- Signature -->
            <div class="row no-gutters"
                 style="position: absolute; bottom:1px;width: 100%;">
                <div class="col-xs-offset-6 col-xs-6 custom-padding"
                     style="padding-right: 7.5px; font-size: 7.5px"
                     align="end">
                    <span style="text-align: center">Principal's Signature</span>
                </div>
            </div>

        </div>
    </div>

    </ng-container>
</div>