<div class="card-content">
    <parent-student-filter
        [user]="user"
        (onDataLoaded)="handleDetailsFromParentStudentFilter($event)"
        (onStudentListSelected)="handleStudentListSelection($event)"
        (onStudentListLoading)="isStudentListLoading = $event"
        [selectedFilterType]="'Student'"
        [studentTcGenerated]="false"
    ></parent-student-filter>

    <ng-container *ngIf="!isLoading && !isStudentListLoading">
        <div
            class="row"
            *ngIf="selectedStudentList.length != 0"
            style="margin-bottom: 2vh; border-bottom: 1px solid lightgrey; padding-bottom: 5vh; padding-top: 2.5vh"
        >
            <div class="col-md-6">
                <b>Certificate No. : </b>
                <input style="width: 150px" type="text" [(ngModel)]="certificateNumber" />
            </div>
            <div class="col-md-6">
                <b>Father's Name :</b>
                {{ selectedStudentList[0].fathersName }}
            </div>
        </div>

        <div
            *ngFor="let selectedStudent of selectedStudentList; let i = index"
            class="row"
            style="
                font-size: 16px;
                margin-bottom: 15px;
                margin-left: 5px;
                margin-top: 15px;
                border-bottom: 1px solid lightgrey;
                padding: 3.2vh 0vh;
            "
        >
            <div class="row">
                <div class="col-md-1">{{ i + 1 }}</div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-6">
                            <b>Student's Name : </b>
                            {{ selectedStudent.name }}
                        </div>
                        <div class="col-md-6">
                            <b>Scholar No.:</b>
                            {{ selectedStudent.scholarNumber }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1.5vh">
                        <div class="col-md-12" [style.color]="getTotalFeesPaidByStudent(selectedStudent) ? 'initial' : 'red'">
                            <b>Total Fees Paid: </b>
                            {{ getTotalFeesPaidByStudent(selectedStudent) }}
                        </div>
                        <p>
                            <ng-container *ngFor="let feeType of feeTypeList">
                                <ng-container *ngIf="getFeesPaidByFeeTypeAndStudent(feeType, selectedStudent)">
                                    <span style="display: inline-block; padding: 2vh 3vh">
                                        {{ feeType.name }}: {{ getFeesPaidByFeeTypeAndStudent(feeType, selectedStudent) }}
                                    </span>
                                </ng-container>
                            </ng-container>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <button
            type="button"
            *ngIf="selectedStudentList.length != 0 && getTotalFeesPaid()"
            (click)="printFeesCertificate()"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
        >
            Print Fees Certificate
        </button>

        <img
            src="{{ user.activeSchool.principalSignatureImage }}"
            *ngIf="user.activeSchool.principalSignatureImage != null"
            style="display: none; bottom: 25px; left: 600px; width: 100px; height: 50px; z-index: 1"
        />
    </ng-container>

    <ng-container *ngIf="isLoading || isStudentListLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
</div>
