<div class="row">
    <ng-container *ngFor="let month of amountFrequency.monthAmountList; let i=index;">
        <ng-container *ngIf="i<=5">
            <div class="col-md-2">
                <div class="form-group form-black label-floating">
                    <label class="control-label">{{month.month}}</label>
                    <input type="number"
                           class="form-control"
                           min="0"
                           [(ngModel)]="month.amount">
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
<div class="row">
    <ng-container *ngFor="let month of amountFrequency.monthAmountList; let i=index;">
        <ng-container *ngIf="i>=6">
            <div class="col-md-2">
                <div class="form-group form-black label-floating">
                    <label class="control-label">{{month.month}}</label>
                    <input type="number"
                           class="form-control"
                           min="0"
                           [(ngModel)]="month.amount">
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
