<div class="main-content">
    <div class="container-fluid">
			<div class="card" style="height: 100%">
				<div class="card-content table-responsive" style="height: 100%">
						<style>
							td { padding: 10px; }
						</style>
						<table cellpadding="10" class="table-content">
								<tbody>
										<tr>
												<td>Fees Receipt No.</td>
												<td><input type="number"/></td>
										</tr>
										<tr>
												<td>Student</td>
												<td><select></select></td>
										</tr>
										<tr>
												<td>Amount</td>
												<td><input type="number" min="0"/></td>
										</tr>
										<tr>
												<td><button type="button">Submit</button></td>
												<td><button type="button">Submit & Print</button></td>
										</tr>
								</tbody>
						</table>
				</div>
			</div>
    </div>
</div>
