<div class="row">
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">April</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.aprilAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">May</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.mayAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">June</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.juneAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">July</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.julyAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">August</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.augustAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">September</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.septemberAmount">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">October</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.octoberAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">November</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.novemberAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">December</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.decemberAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">January</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.januaryAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">February</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.februaryAmount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-black label-floating">
            <label class="control-label">March</label>
            <input type="number"
                   class="form-control"
                   min="0"
                   [(ngModel)]="amountFrequency.marchAmount">
        </div>
    </div>
</div>
