<div class="card-content table-responsive" *ngIf="!stateKeeper.isPageLoading">
        <mat-card>
            <mat-card-title style="font-size:18px">
                NEW SMS ID
            </mat-card-title>
                <div class="row">
                    <div class="col-md-4">
                       <mat-form-field style="width: 100%">
                             <mat-label>Entity Name</mat-label>
                            <input
                                type="text"
                                matInput
                                [(ngModel)]="userInput.newSMSId.entityName"
                            />
                       </mat-form-field>
                    </div>
                    
                    <div class="col-md-4">
                        <mat-form-field style="width: 100%">
                             <mat-label>Entity Registration ID</mat-label>
                            <input
                                type="text"
                                matInput
                                [(ngModel)]="userInput.newSMSId.entityRegistrationId"
                            />
                        </mat-form-field>
                    </div>
                    
                </div>
            <div class="row">
                    <div class="col-md-4">
                       <mat-form-field style="width: 100%">
                             <mat-label>SMS ID</mat-label>
                            <input
                                type="text"
                                matInput
                                style="text-transform: uppercase"
                                pattern="/^[A-Z]{6,6}$/"
                                [(ngModel)]="userInput.newSMSId.smsId"
                                (ngModelChange)="serviceAdapter.getExistingSMSIdData()"
                            />
                           <mat-error>SMS ID length must be 6</mat-error>
                       </mat-form-field>
                    </div>
                    
                    <div class="col-md-4">
                        <mat-form-field style="width: 100%">
                             <mat-label>SMS ID Registration Number</mat-label>
                            <input
                                type="text"
                                matInput
                                [(ngModel)]="userInput.newSMSId.smsIdRegistrationNumber"
                            />
                        </mat-form-field>
                    </div>
                
                </div>
    
        <div class="row">
            <div class="col-md-4">
                <button
                        type="button"
                        style="border-radius: 10px"
                        class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                        (click)="serviceAdapter.addNewSMSId()"
                        [disabled]="htmlRenderer.checkNullAndEmptySpace() || htmlRenderer.smsIdAlreadyExist() || htmlRenderer.invalidSMSIdDetails()"
                >ADD
                </button>
            </div>
            <div class="col-md-4">
                <div class="row" *ngIf="htmlRenderer.smsIdAlreadyExist()"><span style="color: red;font-weight: 400">SMS ID Already Exist in your List</span></div>
                <div class="row" *ngIf="htmlRenderer.smsIdRegistrationAlreadyExist()"><span style="color: red;font-weight: 400">SMS ID Registration Number Already Exist in your List</span></div>
                <div class="row" *ngIf="htmlRenderer.invalidSMSIdDetails()"><span style="color: red;font-weight: 400">Invalid Entity Registration Id for the Provided SMS ID</span></div>
            </div>
            
        </div>
</mat-card>
        
        
    <ng-container *ngIf="backendData.SMSIdList.length>0 && !stateKeeper.isSMSIdTableLoading">
    <mat-form-field style="margin-top:20px;margin-bottom:5px;margin-left:5px">
            <mat-select placeholder="Filter By Status" [(ngModel)]="userInput.selectedSMSStatus">
                <mat-option *ngFor="let status of statusChoiceList" [value]="status">
                    {{status}}
                </mat-option>
            </mat-select>
    </mat-form-field>
    
     <table class="table table-hover">
        <thead style="color: rgba(255, 152, 0, 1);">
            <tr> 
                <th><span>S.NO</span></th>
                <th class="text-left"><span>Entity Name</span></th>
                <th class="text-left"><span>SMS ID</span></th>
                <th class="text-left"><span>Status</span></th>
                <th class="text-left"><span>Registration Number</span></th>
                <th class="text-left"> </th>
            </tr>
        </thead>
        <tbody *ngIf="!stateKeeper.isSMSIdTableLoading">
            <tr *ngFor="let SMSId of htmlRenderer.getFilteredSMSIdList();let i = index">
                <td>{{i+1}}</td>
                <td>{{SMSId.entityName}}</td>
                <td style="font-weight: 400">{{SMSId.smsId}}</td>
                <td [style.color]="SMSId.smsIdStatus == 'ACTIVATED'?'#4CAF50':'#C4C4C4'" style="font-weight: 500">{{SMSId.smsIdStatus}}</td>
                <td>{{SMSId.smsIdRegistrationNumber}}</td>
                <td><button class="custom-button" style="padding: 6px 4px 2px 5px; float: left; margin-left: 10px" (click)="serviceAdapter.deleteSMSId(SMSId)"><i class="material-icons">delete</i></button></td>
            </tr>
        </tbody>

     </table>
    </ng-container>
        
        <div class="row" *ngIf="stateKeeper.isSMSIdTableLoading">
            <app-loading-spinner [user]="user"></app-loading-spinner>
        </div>
        
        <div *ngIf="backendData.SMSIdList.length==0" style="margin-top: 20px;margin-left: 5px">
            [ There are no Existing SMS ID's ] 
        </div>
</div>

<ng-container *ngIf="stateKeeper.isPageLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
