<div class="card-content">

    <app-employee-filter [user]="user"
                         [showAllEmployees]="true"
                         (employee)="getEmployeeProfile($event)"></app-employee-filter>


    <ng-container *ngIf="selected && !isLoading">

        <div class="row" style="font-weight: 800;">
            <div class="col-md-3">
                {{employee.name | titlecase}}
            </div>
            <div class="col-md-3">
                Mr. {{employeeFullProfile.fatherName | titlecase}}
            </div>
            <div class="col-md-3">
                {{employee.employeeNumber}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-black label-floating">
                    <label class="control-label">Certificate No.</label>
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="certificateNumber">
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 23px;">
                <day-date-old [placeHolder]="'Issue Date'"
                              (onDateSelected)="handleEmployeeCertiIssueDate($event)"></day-date-old>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group form-black label-floating">
                        <label class="control-label">Remark</label>
                        <textarea class="form-control" rows="3"
                                  [(ngModel)]="remark"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="numberOfMissingParameters > 0">
            <div style="padding-left: 15px">
                <div *ngIf="numberOfMissingParameters === 1" style="color: red">
                    <span *ngIf="dateOfJoiningMissing">Date of Joining&nbsp;</span>
                    <span *ngIf="currentPostMissing">Job Title&nbsp;</span>
                    <span *ngIf="fatherNameMissing">Father Name&nbsp;</span>is missing.
                </div>
                <div *ngIf="numberOfMissingParameters > 1" style="color: red">
                    <span *ngIf="dateOfJoiningMissing">Date of Joining ,&nbsp;</span>
                    <span *ngIf="currentPostMissing">Job Title ,&nbsp;</span>
                    <span *ngIf="fatherNameMissing">Father Name ,&nbsp;</span>are missing.
                </div>
            </div>
        </div>

        <button type="button"
                *ngIf="numberOfMissingParameters === 0"
                (click)="genrateExpCerti()"
                class="btn btn-{{user.activeSchool.secondaryThemeColor}}">Generate Experience Certificate</button>


        <div class="clearfix"></div>

    </ng-container>


</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
