<div class="container-fluid" id="WhyKorangle">
    <div
        class="container"
        style="
            background-color: white;
            border: 1px solid lightgrey;
            border-bottom: 0px;
            padding: 7vh 5vh;
            border-radius: 2vh 2vh 2vh 2vh;
            box-shadow: 3vh 3vh 10vh black;
            margin-bottom: 5vh;
        "
    >
        <div class="row">
            <p style="text-align: center; font-size: 6.5vh; line-height: 6.5vh; color: black; margin-bottom: 5vh"><b>Why Korangle ?</b></p>
            <div class="row" style="color: black; text-align: center">
                <div class="feature-block">
                    <i class="material-icons feature-icon-size">devices</i>
                    <p class="feature-description">
                        Supports multiple devices
                        <br />
                        anytime, anywhere
                    </p>
                </div>

                <div class="feature-block">
                    <i class="material-icons feature-icon-size">phone_in_talk</i>
                    <p class="feature-description">Quick and reliable technical support</p>
                </div>

                <div class="feature-block">
                    <i class="material-icons feature-icon-size">camera_alt</i>
                    <p class="feature-description">Upload photos from mobile camera directly</p>
                </div>

                <div class="feature-block">
                    <i class="material-icons feature-icon-size">mail_outline</i>
                    <p class="feature-description">Remain updated with notifications</p>
                </div>

                <br />

                <div class="feature-block">
                    <i class="material-icons feature-icon-size">account_balance</i>
                    <p class="feature-description">Multiple school management</p>
                </div>

                <div class="feature-block">
                    <i class="material-icons feature-icon-size">group</i>
                    <p class="feature-description">One stop solution for parents and teachers</p>
                </div>

                <div class="feature-block">
                    <i class="material-icons feature-icon-size">restore</i>
                    <p class="feature-description">Fast, efficient and secure database</p>
                </div>

                <div class="feature-block">
                    <i class="material-icons feature-icon-size">attach_money</i>
                    <p class="feature-description">Affordable with best features</p>
                </div>
            </div>
        </div>
        <!-- <hr style="padding: 0vh 5vh 0vh 5vh;"> -->
    </div>
</div>
