<div class="container-fluid" style="color:black;margin-bottom: 5vh;" id="Pricing">
	<div class="container" style="border:1px solid lightgrey;border-radius: 2vh 2vh 2vh 2vh;padding-top: 7vh;padding-bottom:0vh;background-color: white;box-shadow: 3vh 3vh 10vh black;">

		<p style="text-align: center;font-size: 10vh;line-height: 10vh; color:black">
			Why not try <span style="font-family: KorangleLogo">Korangle</span> ?
		</p>
		<p style="text-align: center;font-size: 20px;padding:5vh 27vh;">
			<br>
			<span style="font-size: 40px;">Call for Demo</span>
			<br>
			<br>
			<span style="font-size: 24px;">+91 - 7974151131</span>
			<br>
			<!-- br>
			In Free trial use all the functionalities to it's full extent, and see whether the software is suitable according to the needs of your school 
			<br -->
			<br>
		</p>
		<div class="row" style="background-color:#f5b312;color:black;border-radius: 0vh 0vh 2vh 2vh;">

			<!-- State Board pricing -->
			<div class="col-md-12" style="padding-top: 3vh;">
				
				<div class="row">
					<div class="col-md-4" style="text-align: center;font-size: 3.5vh">
						<p style="font-size: 10vh;line-height: 15vh">S</p>
						<b>State Board</b>
					</div>
					<div class="col-md-7" style="font-size: 3vh">
						<table class="table">
							<tbody>
								<tr>
									<td style="border-top:0px solid black"></td>
									<td style="border-top:0px solid black"><b>For starting session</b><br>(Initial Charges)</td>
									<td style="border-top:0px solid black"><b>Next session onwards</b><br>(Maintainence Charges)</td>
								</tr>
								<tr>
									<td></td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 40/- per student</td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 20/- per student</td>
								</tr>
								<tr>
									<td><b>Minimum</b></td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 12,000/-</td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 5,000/-</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-1">
						<!-- Just to counter table lines full width -->
					</div>
				</div>
			</div>


			<!-- Cbse Pricing -->
			<div class="col-md-12">
				<hr class="hr-style">
				<div class="row">
					<div class="col-md-4" style="text-align: center;font-size: 3.5vh">
						<p style="font-size: 10vh;line-height: 15vh">C</p>
						<b>CBSE</b>
					</div>
					<div class="col-md-7" style="font-size:3vh">
						<table class="table">
							<tbody>
								<tr>
									<td style="border-top:0px solid black"></td>
									<td style="border-top:0px solid black"><b>For starting session</b><br>(Initial Charges)</td>
									<td style="border-top:0px solid black"><b>Next session onwards</b><br>(Maintainence Charges)</td>
								</tr>
								<tr>
									<td></td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 50/- per student</td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 25/- per student</td>
								</tr>
								<tr>
									<td><b>Minimum</b></td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 20,000/-</td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 5,000/-</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-1">
						<!-- Just to counter table full width -->
					</div>
				</div>
			</div>

			<!-- ICSE board -->
			<div class="col-md-12">
				<hr class="hr-style">
				<div class="row">
					<div class="col-md-4" style="text-align: center;font-size: 3.5vh">
						<p style="font-size: 10vh;line-height: 15vh">I</p>
						<b>ICSE</b>
					</div>
					<div class="col-md-7" style="font-size: 3vh">
						<table class="table">
							<tbody>
								<tr>
									<td style="border-top:0px solid black"></td>
									<td style="border-top:0px solid black"><b>For starting session</b><br>(Initial Charges)</td>
									<td style="border-top:0px solid black"><b>Next session onwards</b><br>(Maintainence Charges)</td>
								</tr>
								<tr>
									<td></td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 50/- per student</td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 25/- per student</td>
								</tr>
								<tr>
									<td><b>Minimum</b></td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 20,000/-</td>
									<td><span style="font-size: 3.2vh">&#8377;</span> 5,000/-</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="col-md-1">
						<!-- Just to counter table full width -->
					</div>
				</div>
			</div>


			

			

		</div>
	</div>
</div>
