.modal-header {
    /*background: linear-gradient(60deg, #3949AB, #5C6BC0);*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 20px 10px 20px 10px;
}
.modal-header-purple {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
}
.modal-header-indigo {
    /*background: linear-gradient(60deg, #5C6BC0, #3949AB);*/
    background: linear-gradient(60deg, #3949AB, #5C6BC0);
}
.modal-header-blue {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}
.modal-header-green {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}
.modal-header-orange {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}
.modal-header-red {
    background: linear-gradient(60deg, #ef5350, #e53935);
}
