<div class="card-content" *ngIf="!isLoading">

    <mat-form-field style="margin-right: 20px;">
        <mat-select
            placeholder="Select Class"
            [(ngModel)]="userInput.selectedClass"
            [disabled]="isAddLoading">
            <mat-option
                *ngFor="let classs of backendData.classList"
                [value]="classs">
                {{ classs.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-right: 20px;">
        <mat-select
            placeholder="Select Section"
            [(ngModel)]="userInput.selectedSection"
            [disabled]="isAddLoading">
            <mat-option
                *ngFor="let division of backendData.divisionList"
                [value]="division">
                {{ division.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <input style="margin-right: 20px;"
        [class.Error]="userInput.startTime > userInput.endTime"
        placeholder="Start Time"
        type="time"
        [(ngModel)]="userInput.startTime"
        [disabled]="isAddLoading"/>

    <input style="margin-right: 20px;"
        [class.Error]="userInput.startTime > userInput.endTime"
        placeholder="End Time"
        type="time"
        [(ngModel)]="userInput.endTime"
        [disabled]="isAddLoading"/>

    <button
        type="submit"
        class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
        (click)="serviceAdapter.createActiveClass()"
        [disabled]="htmlRenderer.isAddButtonDisabled()">
        Add
    </button>

    <div class="row" style="border-bottom: 1px solid black; margin-top: 15px; margin-bottom: 15px">
        <div class="col-md-12"></div>
    </div>

</div>

<ng-container *ngIf="isLoading || isAddLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
