<div class="card-content" *ngIf="!isLoading else MainLoader">
    <div>
        <ng-container *ngIf="userInput.view=='class' else EmployeeFilter">
            <mat-form-field style="margin-right: 20px;">
                <mat-select placeholder="Select Class" [(ngModel)]="userInput.selectedClass"
                    (ngModelChange)="initializeTimeTable()">
                    <mat-option *ngFor="let classs of backendData.classList" [value]="classs">
                        {{ classs.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="margin-right: 20px;">
                <mat-select placeholder="Select Section" [(ngModel)]="userInput.selectedSection"
                    (ngModelChange)="initializeTimeTable()">
                    <mat-option *ngFor="let division of backendData.divisionList" [value]="division">
                        {{ division.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>

        <mat-form-field style="float: right">
            <mat-label>
                View
            </mat-label>
            <mat-select [(ngModel)]="userInput.view" (ngModelChange)="initializeTimeTable(); userInput.resetInput();">
                <mat-option value="class">Class & Section</mat-option>
                <mat-option value="employee">Employee</mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <ng-container *ngIf="userInput.view=='class' && userInput.selectedClass && userInput.selectedSection">

        <div>
            <h4 style="display: inline-block;">{{htmlRenderer.getClassDivisionName(userInput.selectedClass.id,
                userInput.selectedSection.id)}}</h4>
            <button style="float: right;" mat-stroked-button
                (click)="userInput.filteredOnlineClassList.splice(0, userInput.filteredOnlineClassList.length)">Reset</button>
        </div>
        <div style="overflow: auto;">
            <table class="mat-elevation-z8 table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let weekdayKey of commonFunctions.getObjectKeys(weekdays)">{{weekdays[weekdayKey]}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let timeSpan of userInput.timeSpanList, let timeSpanIndex = index;">
                        <tr>
                            <td style="width: 160px">
                                <ng-container
                                    *ngIf="userInput.editTimeSpanFormIndex!=timeSpanIndex else EditTimeSpanForm">
                                    {{timeSpan.startTime.getDisplayString()}} - {{timeSpan.endTime.getDisplayString()}}
                                    <mat-icon class="td-hover-show"
                                        (click)="htmlRenderer.setupEditTimeSpan(timeSpanIndex)"
                                        style="font-size: small;">edit</mat-icon>
                                </ng-container>
                            </td>
                            <ng-container
                                *ngFor="let weekday of commonFunctions.getObjectKeys(weekdays), let i = index;">
                                <ng-container
                                    *ngIf="htmlRenderer.getOnlineClassByWeekDayAndTime(weekday, timeSpan) as onlineClass else NoClass;">
                                    <td style="position: relative; cursor: pointer;" draggable="true"
                                        [class.overlapping-warning]="htmlRenderer.isOnlineClassSectionOverlappingWithDifferentSection(onlineClass)"
                                        [class.overlapping-danger]="htmlRenderer.isOnlineClassOverlappingWithDifferentClass(onlineClass)"
                                        (dragover)="$event.preventDefault();"
                                        (dragstart)="$event.dataTransfer.setData('onlineClassIndex', htmlRenderer.getOnlineClassIndex(onlineClass));"
                                        (drop)="htmlRenderer.swapOnlineClass($event, onlineClass);"
                                        (click)="htmlRenderer.openNewOnlineClassDialog(weekday, timeSpan)"
                                        [style.color]="htmlRenderer.colorPaletteHandle.getColorForSubject(htmlRenderer.getCardSlotDisplayData(onlineClass).subject.name)"
                                        [style.backgroundColor]="htmlRenderer.colorPaletteHandle.getBackgroundColorForSubject(htmlRenderer.getCardSlotDisplayData(onlineClass).subject.name)">

                                        <span>{{htmlRenderer.getCardSlotDisplayData(onlineClass).subject.name}}</span><br />
                                        <span
                                            *ngIf="userInput.view=='class'">({{htmlRenderer.getCardSlotDisplayData(onlineClass).employee.name}})</span>

                                        <span
                                            *ngIf="backendData.getAccountInfoByParentEmployee(backendData.getClassSubjectById(onlineClass.parentClassSubject).parentEmployee)"
                                            style="position: absolute; bottom: 8px; right: 8px;"
                                            class="glow-active"></span>

                                        <mat-icon class="td-hover-show hover-red"
                                            (click)="htmlRenderer.deleteOnlineClass(onlineClass); $event.stopPropagation()"
                                            style="position: absolute; font-size: small; top: 2px; right: -6px; ">delete
                                        </mat-icon>

                                        <mat-icon
                                            *ngIf="htmlRenderer.isOnlineClassSectionOverlappingWithDifferentSection(onlineClass) || htmlRenderer.isOnlineClassOverlappingWithDifferentClass(onlineClass)"
                                            [matTooltip]="htmlRenderer.getOverlappingOnlineClassInfo(onlineClass)"
                                            [style.color]="htmlRenderer.isOnlineClassOverlappingWithDifferentClass(onlineClass)?'red':'yellow'"
                                            style="position: absolute; font-size: small; top: 2px; left: -3px; ">info
                                        </mat-icon>

                                    </td>
                                </ng-container>
                                <ng-template #NoClass>
                                    <td (drop)="htmlRenderer.moveOnlineClass($event, weekday, timeSpan);"
                                        (dragover)="$event.preventDefault();">
                                        <div>
                                            <button mat-stroked-button
                                                (click)="htmlRenderer.openNewOnlineClassDialog(weekday, timeSpan)">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </ng-template>
                            </ng-container>
                        </tr>
                    </ng-container>
                    <tr>
                        <td style="width: 200px">
                            <button mat-fab (click)="userInput.newTimeSpanForm = true;"
                                *ngIf="!userInput.newTimeSpanForm else NewTimeSpanForm">
                                <mat-icon>add</mat-icon>
                            </button>
                        </td>
                        <ng-container *ngFor="let weekday of commonFunctions.getObjectKeys(weekdays)">
                            <td></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-divider style="margin-top: 32px;"></mat-divider>
        <span *ngIf="htmlRenderer.isAnyClassOverlapping()" style="color: red; float: right;">
            Teacher's Slots are overlapping</span><br />
        <ng-container *ngIf="htmlRenderer.isAnyClassSectionOverlapping()">
            <span style="color: rgb(255, 196, 0); float: right;">
                Teacher's Slots are overlapping within sections of a single class
            </span><br />
        </ng-container>
        <button [disabled]="htmlRenderer.isAnyClassOverlapping()"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}" style="float: right;"
            (click)="serviceAdapter.updateOnlineClassList();">Update</button>

        <ul>
            <li>Drag blocks to move to a different time slot</li>
            <li>Dropping block to an already existing block will swap blocks</li>
            <li>Shift + Drag to make a copy of the block</li>
        </ul>

    </ng-container>

    <ng-container *ngIf="userInput.view=='employee' && userInput.selectedEmployee">
        <h4>{{userInput.selectedEmployee.name}}</h4>
        <div class="mat-elevation-z8" style="overflow-x: auto; width: 100%"
            *ngIf="userInput.employeeTimeBreakPoints.length>0 else EmployeeNoOnlineClass">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let weekdayKey of commonFunctions.getObjectKeys(weekdays)">{{weekdays[weekdayKey]}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container
                        *ngFor="let time of userInput.employeeTimeBreakPoints.slice(0, userInput.employeeTimeBreakPoints.length-1), let timeSpanIndex = index;">
                        <tr>
                            <td style="width: 50px; vertical-align: top;">
                                <span style="position: relative; top: -12px;">{{time.getDisplayString()}}</span>
                            </td>
                            <ng-container *ngFor="let weekday of commonFunctions.getObjectKeys(weekdays)">
                                <ng-container
                                    *ngIf="htmlRenderer.getOnlineClassByWeekDayAndStartTime(weekday, time) as onlineClass else NoClass;">
                                    <td style="position: relative; min-width: 100px;"
                                        [class.overlapping-warning]="htmlRenderer.isOnlineClassSectionOverlappingWithDifferentSection(onlineClass)"
                                        [class.overlapping-danger]="htmlRenderer.isOnlineClassOverlappingWithDifferentClass(onlineClass)"
                                        [matTooltip]="onlineClass.startTimeJSON.getDisplayString() + ' - ' + onlineClass.endTimeJSON.getDisplayString()"
                                        [attr.rowspan]="htmlRenderer.getOnlineClassRowSpan(onlineClass)"
                                        [style.color]="htmlRenderer.colorPaletteHandle.getColorForSubject(onlineClass.parentClassSubject)"
                                        [style.backgroundColor]="htmlRenderer.colorPaletteHandle.getBackgroundColorForSubject(onlineClass.parentClassSubject)">
                                        <span>{{htmlRenderer.getCardSlotDisplayData(onlineClass).subject.name}}</span><br />
                                        <span> ({{htmlRenderer.getCardSlotDisplayData(onlineClass).classs.name}} -
                                            {{htmlRenderer.getCardSlotDisplayData(onlineClass).section.name}})</span>
                                        <span
                                            *ngIf="backendData.getAccountInfoByParentEmployee(htmlRenderer.getCardSlotDisplayData(onlineClass).employee.id)"
                                            style="position: absolute; bottom: 8px; right: 8px;"
                                            class="glow-active"></span>

                                        <mat-icon
                                            *ngIf="htmlRenderer.isOnlineClassSectionOverlappingWithDifferentSection(onlineClass) || htmlRenderer.isOnlineClassOverlappingWithDifferentClass(onlineClass)"
                                            [matTooltip]="htmlRenderer.getOverlappingOnlineClassInfo(onlineClass)"
                                            [style.color]="htmlRenderer.isOnlineClassOverlappingWithDifferentClass(onlineClass)?'red':'yellow'"
                                            style="position: absolute; font-size: small; top: 2px; left: -3px;">
                                            info
                                        </mat-icon>
                                    </td>
                                </ng-container>
                                <ng-template #NoClass>
                                    <td *ngIf="htmlRenderer.isCellOccupiedDueToRowSpan(weekday, time)"></td>
                                </ng-template>
                            </ng-container>
                        </tr>
                    </ng-container>
                    <tr style="border: none;" *ngIf="userInput.employeeTimeBreakPoints.length>1">
                        <td style="width: 50px; vertical-align: top;">
                            <span style="position: relative; top: -12px;">
                                {{userInput.employeeTimeBreakPoints.slice(-1)[0].getDisplayString()}}
                            </span>
                        </td>
                        <ng-container *ngFor="let weekday of commonFunctions.getObjectKeys(weekdays)">
                            <td></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #EmployeeNoOnlineClass>
            <span>No Online Class Present for this employee</span>
        </ng-template>
    </ng-container>

</div>

<ng-template #MainLoader>
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-template>

<ng-template #NewTimeSpanForm>
    <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input matInput type="time" [errorStateMatcher]="{isErrorState: htmlRenderer.newTimeSpanError}"
            [(ngModel)]="userInput.newTimeSpan.startTime">
    </mat-form-field>
    <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput [errorStateMatcher]="{isErrorState: htmlRenderer.newTimeSpanError}" type="time"
            [(ngModel)]="userInput.newTimeSpan.endTime">
        <mat-error *ngIf="htmlRenderer.endTimeBeforeStartTime()">End time before start time</mat-error>
        <mat-error *ngIf="htmlRenderer.timeSpanOverlapping()">Time Span Overlapping </mat-error>
    </mat-form-field>
    <button mat-stroked-button style="margin-top: 6px;"
        (click)="userInput.resetNewTimeSpanData(); userInput.newTimeSpanForm = false;">Cancel</button>
    <button mat-stroked-button [disabled]="htmlRenderer.newTimeSpanError()" style="margin-top: 6px;"
        (click)="htmlRenderer.addNewTimeSpan(); userInput.newTimeSpanForm = false;">Add</button>
</ng-template>


<ng-template #EditTimeSpanForm>
    <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input matInput type="time" [errorStateMatcher]="{isErrorState: htmlRenderer.editTimeSpanError}"
            [(ngModel)]="userInput.newTimeSpan.startTime">
    </mat-form-field>

    <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput [errorStateMatcher]="{isErrorState: htmlRenderer.editTimeSpanError}" type="time"
            [(ngModel)]="userInput.newTimeSpan.endTime">
        <mat-error *ngIf="htmlRenderer.endTimeBeforeStartTime()">End time before start time</mat-error>
        <mat-error *ngIf="htmlRenderer.timeSpanOverlapping()">Time Span Overlapping </mat-error>
        <mat-error *ngIf="htmlRenderer.isEditingTimeSpanOverlapping()">Teacher's Slot Overlapping</mat-error>
    </mat-form-field>

    <button mat-stroked-button style="margin-top: 6px; margin-right: 6px;" (click)="htmlRenderer.deleteTimeSpan()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-stroked-button [disabled]="htmlRenderer.editTimeSpanError()" style="margin-top: 6px;"
        (click)="htmlRenderer.editTimeSpan(); userInput.editTimeSpanForm = -1;">Update</button>
</ng-template>

<ng-template #EmployeeFilter>
    <mat-form-field>
        <mat-label>Select Employee</mat-label>
        <mat-select [(ngModel)]="userInput.selectedEmployee" (ngModelChange)="initializeTimeTable();">
            <ng-container *ngFor="let employee of backendData.employeeList">
                <mat-option [value]="employee">{{employee.name}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
</ng-template>