<h3 mat-dialog-title>
    Add Account
    <i class="material-icons" mat-dialog-close style="float: right;cursor:pointer">close</i>
</h3>

<mat-dialog-content style="overflow: hidden;">
    
        <div class="row col-md-12">
            <mat-form-field style="width: 100%;">
                <input type="text" matInput [ngModel]="accountName" (ngModelChange)="accountName=$event;" placeholder="Account Name *">
            </mat-form-field>
        </div>
        <div class="col-md-12" *ngIf="accountName.trim().length == 0" style="padding-left: 0px;margin-top: -15px;margin-bottom: 5px;">
            <span style="font-size: 11px; color:red">Account Name Can Not Be Blank</span>
        </div>

        <div class="row col-md-12">
            <mat-form-field style="width: 100%;">
                <mat-select placeholder="Add Group" [ngModel]="parentGroup"
                    (ngModelChange)="parentGroup = $event;assignHeadFromGroup()">
                    <mat-option (click)="parentGroup = null; parentHead = null">
                        None
                    </mat-option>
                    <mat-option *ngFor="let group of data.vm.groupsList"
                        [value]="group">
                        {{group.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="row col-md-12">
            <mat-form-field style="width: 100%;">
                <mat-select placeholder="Add Head *" [ngModel]="parentHead"
                    [disabled]="parentGroup!= null"
                    (ngModelChange)="parentHead = $event">
                    <mat-option *ngFor="let head of data.vm.headsList"
                        [value]="head">
                        {{head.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-12" *ngIf="parentHead == null" style="padding-left: 0px;margin-top: -15px;margin-bottom: 5px;">
            <span style="font-size: 11px; color:red">Head Can Not Be Empty</span>
        </div>

        

        <div class="row col-md-12">
            <mat-form-field style="width: 100%;">
                <input type="number" matInput [ngModel]="openingBalance" (ngModelChange)="openingBalance=$event;" placeholder="Opening Balance">
            </mat-form-field>
        </div>

        

</mat-dialog-content>
<div mat-dialog-actions>
    <div class="row col-md-12">
        <span *ngIf="accountName.trim().length > 0 && parentHead != null" mat-button style="color: rgba(255, 152, 0, 1); cursor: pointer" (click)="addAccount()">Add Account</span>
    </div>
</div>