<div class="card-content table-responsive">

  <ng-container *ngIf="!isLoading && classSectionList.length !== 0 && studentFeeDuesList.length !== 0">

    <!-- Class Filter -->
    <mat-form-field style="margin-right: 15px;">
      <mat-select placeholder="Select Class" style="width: 100%;">

        <mat-option>
          <button class="btn"
                  style="padding: 4px 7px"
                  (click)="selectAllClasses(); $event.stopPropagation();">Select All
          </button>
          <button class="btn"
                  style="padding: 4px 7px"
                  (click)="unselectAllClasses(); $event.stopPropagation();">Clear All
          </button>
        </mat-option>

        <ng-container *ngFor="let class of classSectionList">
          <ng-container *ngFor="let section of class.sectionList">
            <mat-option *ngIf="section.containsStudent" style="width: 100%;">
              <mat-checkbox [(ngModel)]="section.selected"
                            (click)="$event.stopPropagation();">
                {{class.name}}<span *ngIf="showSectionName(class)">, {{section.name}}</span>
              </mat-checkbox>
            </mat-option>
          </ng-container>
        </ng-container>

        <mat-option>
          <button class="btn"
                  style="padding: 4px 7px"
                  (click)="selectAllClasses(); $event.stopPropagation();">Select All
          </button>
          <button class="btn"
                  style="padding: 4px 7px"
                  (click)="unselectAllClasses(); $event.stopPropagation();">Clear All
          </button>
        </mat-option>

      </mat-select>
    </mat-form-field>

    <!-- Column Filter -->
    <mat-form-field style="margin-right: 15px;" class="hidden-xs">
      <mat-select placeholder="Select Columns">

        <mat-option>
          <button class="btn"
                  style="padding: 4px 7px"
                  (click)="selectAllColumns(); $event.stopPropagation();">Select All
          </button>
          <button class="btn"
                  style="padding: 4px 7px"
                  (click)="unSelectAllColumns(); $event.stopPropagation();">Clear All
          </button>
        </mat-option>

        <mat-option>
          <mat-checkbox [(ngModel)]="columnFilter.showSerialNumber" (click)="$event.stopPropagation();">Serial No.
          </mat-checkbox>
        </mat-option>
        <mat-option>
          <mat-checkbox [(ngModel)]="columnFilter.showName" (click)="$event.stopPropagation();">Name</mat-checkbox>
        </mat-option>
        <mat-option>
          <mat-checkbox [(ngModel)]="columnFilter.showClassName" (click)="$event.stopPropagation();">Class Name
          </mat-checkbox>
        </mat-option>
        <mat-option>
          <mat-checkbox [(ngModel)]="columnFilter.showFathersName" (click)="$event.stopPropagation();">Father's
            Name
          </mat-checkbox>
        </mat-option>
        <mat-option>
          <mat-checkbox [(ngModel)]="columnFilter.showMobileNumber" (click)="$event.stopPropagation();">Mobile No.
          </mat-checkbox>
        </mat-option>
        <mat-option>
          <mat-checkbox [(ngModel)]="columnFilter.showScholarNumber" (click)="$event.stopPropagation();">Scholar
            No.
          </mat-checkbox>
        </mat-option>
        <mat-option>
          <mat-checkbox [(ngModel)]="columnFilter.showFeesDue" (click)="$event.stopPropagation();">Fees Due
          </mat-checkbox>
        </mat-option>
        <mat-option>
          <mat-checkbox [(ngModel)]="columnFilter.showRTE" (click)="$event.stopPropagation();">
            RTE
          </mat-checkbox>
        </mat-option>

        <mat-option>
          <button class="btn"
                  style="padding: 4px 7px"
                  (click)="selectAllColumns(); $event.stopPropagation();">Select All
          </button>
          <button class="btn"
                  style="padding: 4px 7px"
                  (click)="unSelectAllColumns(); $event.stopPropagation();">Clear All
          </button>
        </mat-option>

      </mat-select>
    </mat-form-field>

    <button type="button"
            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
            style="padding: 12px 15px; margin-right: 17px;"
            matTooltip="Print the following list"
            tooltip-position="left"
            (click)="printStudentList();">
      Print<i class="material-icons" style="margin-left: 15px;">print</i></button>

    <button type="button"
            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
            style="padding: 12px 15px; margin-right: 17px;"
            matTooltip="Download the following list"
            tooltip-position="left"
            (click)="downloadList();">
      Download<i class="material-icons" style="margin-left: 15px;">save_alt</i></button>

    <br>

    <!-- Student Table List -->
    <mat-accordion displayMode="flat" multi class="mat-table">

      <section class="mat-elevation-z2 mat-header-row">
        <span class="mat-header-cell" [class.hidden]="!columnFilter.showSerialNumber">S No.</span>
        <span class="mat-header-cell" [class.hidden]="!columnFilter.showName">Name</span>
        <span class="mat-header-cell" [class.hidden]="!columnFilter.showClassName">Class Name</span>
        <span class="mat-header-cell" [class.hidden]="!columnFilter.showFathersName">Father's Name</span>
        <span class="mat-header-cell" [class.hidden]="!columnFilter.showMobileNumber">Mobile Number</span>
        <span class="mat-header-cell" [class.hidden]="!columnFilter.showScholarNumber">Scholar No.</span>
        <span class="mat-header-cell" [class.hidden]="!columnFilter.showFeesDue">Fees Due</span>
        <span class="mat-header-cell" [class.hidden]="!columnFilter.showRTE">RTE</span>
      </section>

      <mat-expansion-panel *ngFor="let student of getFilteredStudentFeeDuesList(); let i=index;"
                           (opened)="getStudentFeeProfile(student);"
                           [disabled]="student.feesDue === 0">
        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell" [class.hidden]="!columnFilter.showSerialNumber">{{i+1}}.</span>
          <span class="mat-cell" [class.hidden]="!columnFilter.showName">{{student.name | titlecase}}</span>
          <span class="mat-cell" [class.hidden]="!columnFilter.showClassName">{{student.className}}</span>
          <span class="mat-cell" [class.hidden]="!columnFilter.showFathersName">{{student.fathersName | titlecase}}</span>
          <span class="mat-cell" [class.hidden]="!columnFilter.showMobileNumber">
            <span class="hidden-xs">{{student.mobileNumber}}</span>
            <a class="visible-xs"
               href="tel:{{student.mobileNumber}}">Call Me</a>
          </span>
          <span class="mat-cell" [class.hidden]="!columnFilter.showScholarNumber">{{student.scholarNumber}}</span>
          <span class="mat-cell" [class.hidden]="!columnFilter.showFeesDue">{{student.feesDue}}</span>
          <span class="mat-cell" [class.hidden]="!columnFilter.showRTE">{{student.rte}}</span>
        </mat-expansion-panel-header>
        <div>

          <ng-container *ngIf="!student.studentFeeProfile">
            <div style="width: 100%" align="center">
                <div class="loaderCustom"></div>
            </div>
          </ng-container>

          <ng-container *ngIf="student.studentFeeProfile">
            <table class="table table-hover">

              <thead class="text-{{user.activeSchool.secondaryThemeColor}}">
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Fees Due</th>
                <th>Total Fees</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-weight: 800; font-size: 16px;">{{getStudentFeesDue(student)}}</td>
                <td style="font-weight: 800; font-size: 16px;">{{getStudentTotalFee(student)}}</td>
              </tr>
              <ng-container *ngFor="let sessionFeeStatus of student.studentFeeProfile.sessionFeeStatusList; let i=index;">
                <ng-container *ngIf="getSessionFeesDue(sessionFeeStatus)>0">
                  <ng-container *ngIf="showSessionFeesLine(student)">
                    <tr>
                      <td>{{i+1}}. {{sessionFeeStatus.sessionName}}</td>
                      <td></td>
                      <td></td>
                      <td style="font-weight: 600;">{{getSessionFeesDue(sessionFeeStatus)}}</td>
                      <td style="font-weight: 600;">{{getSessionTotalFee(sessionFeeStatus)}}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor="let component of sessionFeeStatus.componentList; let i=index;">
                    <ng-container *ngIf="getComponentTotalFee(component) != 0">
                      <tr>
                        <td></td>
                        <td>{{component.feeType}}</td>
                        <td></td>
                        <td style="font-weight: 600;">{{getComponentFeesDue(component)}}</td>
                        <td style="font-weight: 600;">{{getComponentTotalFee(component)}}</td>
                      </tr>
                      <ng-container *ngIf="component.frequency === frequencyList[1]">
                        <ng-container *ngFor="let month of component.monthList">
                          <ng-container *ngIf="getComponentMonthlyTotalFee(month)>0">
                            <tr>
                              <td></td>
                              <td></td>
                              <td>{{month.month}}</td>
                              <td>{{getComponentMonthlyFeesDue(month)}}</td>
                              <td>{{getComponentMonthlyTotalFee(month)}}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
              </tbody>
            </table>

          </ng-container>
        </div>
      </mat-expansion-panel>

    </mat-accordion>

  </ng-container>

</div>

<ng-container *ngIf="isLoading">
  <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
