.card-content {
    padding: 3rem;
    min-height: 90vh;
}

.common-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information {
    flex-basis: 65%;
    display: flex;
    align-items: center;
}

.information .header {
    margin-right: 3rem;
    flex-basis: 35%;
}

.status-section {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.status-option-section {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-icon {
    margin-right: 3rem;
    color: red;
    cursor: pointer;
}

.refresh-btn {
    text-transform: capitalize !important;
}

/* Starts: Comment Section */
.comment-section {
    background-color: #F4F7FF;
    border-radius: 5px;
}

.default-text {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
}

.comment {
    border-bottom: 1px solid #C4C4C4;
    padding: 2rem;
}

.name {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
    margin-bottom: 1.5rem;
}

.comment .information {
    justify-content: space-between;
}

.comment-description {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    opacity: 0.7;
    flex-basis: 88%;
    word-wrap: break-word;
}

.time {
    flex-basis: 15%;
    font-size: 10px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    word-wrap: break-word;
}

.class-dark {
    opacity: 1;
}

.bottom-section {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-search-field {
    background: #FEFEFE;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    flex-basis: 90%;
    height: 40px;
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
}

.bottom-search-btn {
    flex-basis: 8%;
    border-radius: 5px !important;
    text-transform: capitalize !important;
}

.notify-btn {
    text-transform: capitalize !important;
}
/* Ends: Comment Section */

/* Starts: Media Query - Mobile Phone */
@media only screen and (max-width: 992px) {
    .card-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

   .bottom-section {
       display: block;
   }

   .bottom-text-field {
       width: 100%;
       height: 180px;
       background: #FEFEFE;
       border: 0.5px solid #C4C4C4;
       border-radius: 5px;
       padding: 10px;
       font-size: 12px;
       line-height: 14px;
   }
}
/* Ends: Media Query - Mobile Phone */
