<div *ngIf="isLoading" class="loader-cont">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</div>
<div class="card-content table-responsive" *ngIf="!isLoading">


    <div class="row" *ngIf="!currentEvent">
        <div class="col-md-4">
            <mat-form-field style="width: 100%" [floatLabel]="'never'">
                <input matInput
                       [(ngModel)]="searchString"
                       type="text"
                       placeholder="search event title">
            </mat-form-field>
        </div>
    </div>


    <ng-container *ngIf="!currentEvent">
        <mat-card style="margin-top: 10px;" *ngFor="let event of htmlAdapter.getEventList()"
                  (click)="htmlAdapter.viewSelectedEvent(event)">
            <div class="row">
                <div class="col-md-5">
                    <mat-card-title>
                        <strong style="font-size: 16px;">
                            {{event.title}}
                        </strong>
                        <span class="eventDate">{{event.heldOn | date: 'dd MMM yyyy'}}</span>
                    </mat-card-title>
                    <mat-card-content
                            style="font-weight:400;font-size: 16px; white-space: pre-line; margin-top: 5px;line-height: 19px;word-wrap: break-word;">
                        {{event.description.length > 300 ? event.description.substring(0, 300) + "...." : event.description}} </mat-card-content>
                </div>
                <div class="col-md-5" style="padding-right:0;">
                    <img [src]=htmlAdapter.getEventImageUrl(event,0)
                         alt="Event Images"
                         class="eventImage">
                    <img [src]=htmlAdapter.getEventImageUrl(event,1)
                         alt="Event Images"
                         class="eventImage">
                </div>
                <div class="col-md-2" style="padding:0">
                    <div class="extraImageCount"
                         *ngIf="htmlAdapter.getImageLength(event) > 2">
                            <span style="flex: 0 0 120px;font-weight: 400;"> +{{htmlAdapter.getImageLength(event) - 2}}
                                More Media</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </ng-container>

    <ng-container *ngIf="currentEvent">

        <div class="row">
            <div class="col-md-5" style="padding-left: 9px">
                <mat-icon
                        style="float:left;cursor: pointer;"
                        (click)="currentEvent = null;">arrow_back
                </mat-icon>
                <span style="font-size:14px;float:left;margin-top:3px;margin-left: 5px;">Back</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" style="                                                                                                                                                                                                                                                                                                           margin-top: 15px;font-weight: 400;">
                <span style="font-size: 18px;display:block;margin-top:6px;">{{currentEvent.title}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" style="margin-top: 15px;font-weight: 400;">
                <span style="font-size: 14px;display:block;margin-top:6px;">{{currentEvent.heldOn | date : 'dd MMM yyyy'}}</span>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;font-weight: 400;">
            <div class="col-md-11">
                <span style="font-size: 18px;display:block;margin-top:6px;white-space: pre-line;line-height: 19px;word-wrap: break-word;">{{currentEvent.description}}</span>
            </div>
        </div>

        <div class="row" style="margin:20px 5px 30px;">
            <div class="col-md-12"
                 style="border-bottom: 1px solid lightgrey;"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <span *ngIf="this.currentTagList.length>0" style="font-size: 14px;font-weight:400;">Search By Tags</span>
                        <span *ngIf="this.currentTagList.length==0" style="font-size: 14px;font-weight:400;">No Tags have been uploaded yet</span>
                        <br>
                        <ng-container *ngFor="let eventTag of currentTagList">
                            <div class="btn"
                                 style="background:#ABABAB;height : 28px;padding:5px;margin-left:5px;text-transform:none"
                                 [ngClass]="{'selectedTag' : eventTag.selected}"
                                 (click)="htmlAdapter.selectTag($event,eventTag)">{{eventTag.tagName}}</div>
                        </ng-container>
                        <div class="col-md-5" style="float:right;" *ngIf="htmlAdapter.getSelectedTagList().length>1">
                            <label class="switch">
                                <input type="checkbox" [(ngModel)]="commonMediaChecked">
                                <span class="slider round"></span>
                            </label>
                            <span style="margin-left: 10px;"> View Media common with all selected tags </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <mat-card style="margin-top: 20px;">

            <div class="row">

                <div class="col-md-12"
                     *ngIf="this.currentEventImageList.length>0 && htmlAdapter.getFilteredImageList().length >0">
                    <mat-checkbox (change)="htmlAdapter.selectAllMedia($event)"
                                  [checked]="htmlAdapter.getSelectedImagesCount() == imageList.length"
                                  [disabled]="isImageDownloading"><span class="editTag" style="color: orange"> Select All Media </span>
                    </mat-checkbox>
                    <span style="float: right;"><a href="javascript:void(0);"
                                                   (click)="htmlAdapter.downloadSelectedImages()"
                                                   style="color:#FC9700;"> <i
                            class="material-icons" style="color:#FC9700;">save_alt</i>Download </a></span>

                    <ng-container *ngIf="isImageDownloading">
                        <div class="loader__dot"
                             style="display: inline-block;color:#ff9800;text-decoration: underline">Deleting
                            Media<span class="loader__dot">.</span><span class="loader__dot">.</span><span
                                    class="loader__dot">.</span></div>
                    </ng-container>

                </div>
            </div>

            <div class="row">

                <ng-container *ngIf="download=='START'">
                    <div class="col-md-12">
                        <div class="progress" style="height: 20px;float:left;width:100%;margin-top:20px;">
                            <div class="progress-bar progress-bar-success"
                                 role="progressbar"
                                 [style.width.%]="percent_download_completed">{{percent_download_completed | number : '1.0-0'}}
                                %
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h4><b>{{downloadedFiles}} out of {{totalFiles}} files downloaded</b></h4>
                    </div>
                </ng-container>

                <div *ngIf="download=='END'">
                    <h4 class="text-success text-center">
                        <div class="spinner-border text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <b>Download Done now Unziping</b>
                    </h4>
                </div>

                <div *ngIf="download=='FAIL'">
                    <h4 class="text-danger text-center">
                        <b>Download failed restart again.</b>
                    </h4>
                </div>

                <div *ngIf="totalFailed!=0" class="text-center">
                    <h5><b><i style="color:red">Failed to download {{totalFailed}} files</i></b></h5>
                </div>

                <div class="col-md-5" *ngIf="this.currentEventImageList.length==0">
                    <span style="font-weight: 400;font-size: 18px">No Media uploaded yet</span>
                </div>
            </div>

            <mat-card-content style="max-height: 400px;overflow: auto">
                <div class="image-row">

                    <div class="col-md-5"
                         *ngIf="htmlAdapter.getFilteredImageList().length == 0 && this.currentEventImageList.length!=0">
                        <span style="font-weight: 400;font-size: 18px">No Media is Assigned to this tag</span>
                    </div>

                    <ng-container *ngFor="let image of htmlAdapter.getFilteredImageList(); let i = index"
                                  style="display: inline-block">

                        <div class="image-column" *ngIf="htmlAdapter.getFilteredImageList().length >0">
                            <input type="checkbox" id="myCheckbox{{i}}" [disabled]="isImageDownloading"
                                   [checked]="image.selected" (change)="image.selected = !image.selected"/>
                            <label for="myCheckbox{{i}}">
                                <img src="{{image.eventImage}}" title="Select" class="hover-shadow cursor">
                                <div class="view-image-icon-container">
                                    <mat-icon class="view-eye" (click)="htmlAdapter.showPreview($event,image,i)">
                                        remove_red_eye
                                    </mat-icon>
                                </div>
                            </label>
                        </div>
                    </ng-container>
                </div>
            </mat-card-content>
        </mat-card>

    </ng-container>
</div>