<div class="card-content">

        <mat-form-field style="margin-top: 23px ; margin-right: 15px; margin-bottom: 10px;" >
            <mat-select placeholder="Send via"
                        [(ngModel)]="selectedSentType">
                <mat-option *ngFor='let sentType of sentTypeList;' [value]="sentType">
                    {{sentType}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-top: 23px;">
            <mat-select placeholder="Send Update To"
                        [(ngModel)]="selectedSentInfoTo">
                <mat-option *ngFor='let sentInfoToType of sentInfoToList;' [value]="sentInfoToType">
                    {{sentInfoToType}}
                </mat-option>
            </mat-select>
        </mat-form-field><br/>
</div>