<div class="card-content">

        <mat-form-field style="margin-top: 23px ; margin-right: 15px; margin-bottom: 10px;" >
            <mat-select placeholder="Send via"
                        [ngModel]="selectedUpdateType"
                        (ngModelChange)="currentUpdateType = $event">
                <mat-option *ngFor='let sentType of sentUpdateList;' [value]="sentType">
                    {{sentType}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-top: 23px;">
            <mat-select placeholder="Send Update To"
                    [ngModel]="selectedUpdateToType"
                    (ngModelChange)="currentUpdateToType = $event">
                <mat-option *ngFor='let sentUpdateToType of sentUpdateToList;' [value]="sentUpdateToType">
                    {{sentUpdateToType}}
                </mat-option>
            </mat-select>
        </mat-form-field><br/>

        <button type="submit"
        (click)="updateSettings();">Update</button>

</div>