<div class="card-content table-responsive">
    <ng-container *ngIf="!isLoading">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field style="margin-right: 15px;">
                    <mat-select placeholder="Select Class" style="width: 100%;">

                        <mat-option>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="selectAllClasses(); printReportCards(); $event.stopPropagation();">Select All
                            </button>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="unselectAllClasses(); printReportCards(); $event.stopPropagation();">Clear All
                            </button>
                        </mat-option>

                        <ng-container *ngFor="let classSection of classSectionList">
                            <mat-option style="width: 100%;">
                                <mat-checkbox [(ngModel)]="classSection.selected"
                                              (ngModelChange)="handleStudentDisplay(); printReportCards()"
                                              (click)="$event.stopPropagation();">
                                    {{classSection.class.name}}, {{classSection.section.name}}
                                </mat-checkbox>
                            </mat-option>
                        </ng-container>

                        <mat-option>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="selectAllClasses(); $event.stopPropagation();">Select All
                            </button>
                            <button class="btn"
                                    style="padding: 4px 7px"
                                    (click)="unselectAllClasses(); $event.stopPropagation();">Clear All
                            </button>
                        </mat-option>

                    </mat-select>
                </mat-form-field>
                <mat-form-field style="margin-right: 15px;">
                    <mat-label>
                        Select Layout
                    </mat-label>
                    <mat-select [(ngModel)]="selectedLayout" (ngModelChange)="printReportCards()">
                        <mat-option *ngFor="let layout of layoutList" [value]="layout">
                            {{layout.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br/>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="selectAllStudents(); printReportCards(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="clearAllStudents(); printReportCards(); $event.stopPropagation();">Clear All
                </button><br/>
                Selected: <b>{{getSelectedStudentList().length}}</b>,
                Display: <b>{{filteredStudentSectionList.length}}</b>,
                Total: <b>{{studentSectionList.length}}</b>
                <table class="table table-hover fixme" id="pdfTable">
                    <thead class="text-{{user.activeSchool.secondaryThemeColor}}">
                    <tr>
                        <th></th>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Class & Section</th>
                        <th>Father's Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let studentSection of filteredStudentSectionList">
                        <tr>
                            <td>
                                <mat-checkbox [(ngModel)]="studentSection.selected" (ngModelChange)="printReportCards()"></mat-checkbox>
                            </td>
                            <td> <img style="width: 3em" src="{{getStudent(studentSection.parentStudent).profileImage}}"/></td>
                            <td>{{getStudent(studentSection.parentStudent).name}}</td>
                            <td>{{getClass(studentSection.parentClass).name}}, {{getSection(studentSection.parentDivision).name}}</td>
                            <td>{{getStudent(studentSection.parentStudent).fathersName}}</td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <mat-checkbox [(ngModel)]="printMultiple" (ngModelChange)="printReportCards()">Print Multiple Cards</mat-checkbox><br/>
                <span style="color: red">{{iFrameWarning}}</span><br/>
                <iframe id="iFrameDisplay"
                        [class.hideIFrame]="isIFrameLoading"
                        type='application/pdf'
                        style="width:90%; height: 75vh;">
                </iframe>
                <ng-container *ngIf="isIFrameLoading" style="height: 100%; display: flex; justify-content: center">
                    <app-loading-spinner [user]="user"></app-loading-spinner>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="isLoading" style="height: 100%; display: flex; justify-content: center">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>
