.tnc_button_base {
    border: none;
    padding: 6px 8px;
    text-align: right;
    transition-duration: 0.25s;
  }

.tnc_button {
color: black; 
border: 2px solid #F1C40F;
}

.tnc_button:hover {
background-color: #F1C40F;
color: rgb(0, 0, 0);
}
