<div class="container-fluid" style="padding-top:5vh;padding-bottom: 5vh;color:black;background-color: whitesmoke" id="ContactUs">
	
	<div class="container">
		<div class="row">
			<div class="col-md-4" style="">
				<p style="font-family: KorangleLogo;font-size: 54pt;line-height: 54pt;">Korangle</p>
				<p>
					www.korangle.com
					<br>@copyright-2020
					<br>
					<a href="../../../assets/terms-and-conditions.html" style="color: #3498DB;"><b><u>Terms & Conditions</u></b></a>
				</p>
			</div>
			<div class="col-md-4" style="border-left:1px solid lightgrey;border-right:1px solid lightgrey">
				<span style="word-spacing: 0.30em"><b>Address:</b></span>
				<p style="">
					E-15 Brijnagar Colony,
					<br>Shujalpur Mandi, 
					<br>Dist. - Shajapur,M.P. 465333
				</p>
				<b>Email:</b>
				<p style="">
					korangleplus@gmail.com 
				</p>
			</div>
			<div class="col-md-4" style="">
				<div class="row" style="text-align: right">
					<div class="col-md-6">
						<p style=""><b>Sales support</b></p>
						+91 79741 51131
					</div>
					<div class="col-md-6">
						<p style=""><b>Technical support</b></p>
						+91 62616 27172
						<br>+91 76105 07140
						<br>+91 79999 51154
					</div>
				</div>
			</div>
			<!---->
			<div class="col-md-4" style="">
				<div class="row" style="text-align: right">
					<div class="col-md-6">
						<p style=""><b></b></p> <!-- padding -->
					</div>
					<div class="col-md-6">
						
					</div>
				</div>
			</div>
			<!---->
		</div>
	</div>
</div>