<div class="flexContainer" *ngIf="!isLoading">
    <div class="navBar" style="height: fit-content">
        <div class="title">Leave Plans -</div>
        <div *ngIf="isLeavePlanOpen" class="navBtn" (click)="resetComponent()">Go back</div>
    </div>
    <div class="Row" style="flex-grow: 1" *ngIf="!isLeavePlanOpen">
        <mat-card *ngFor="let leavePlan of leavePlanList" style="margin-top: 10px">
            <mat-card-content>
                <span class="matCardContentModifiedFlex" (click)="setPlan(leavePlan)" style="cursor: pointer">
                    <span>{{ leavePlan.leavePlanName }}</span>
                    <span class="material-icons-outlined"> navigate_next </span>
                </span>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="!leavePlanList.length && !isAddNewOpen" style="margin-top: 10px">
            <mat-card-content (click)="isAddNewOpen = true" style="cursor: pointer">
                <span class="matCardContentModifiedFlex">
                    <span>No Leave Plan Available</span>
                    <span class="material-icons-outlined"> navigate_next </span>
                </span>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="isAddNewOpen" style="margin-top: 10px">
            <mat-card-content>
                <span class="matCardContentAddNew">
                    <span style="flex-grow: 1">
                        <input style="width: 100%; padding: 8px; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.25)" placeholder="Enter leave plan name" [(ngModel)]="leavePlanName" autofocus />
                    </span>
                    <span class="material-icons-outlined" style="width: fit; padding: 8px; cursor: pointer; color: green" (click)="savePlan({ leavePlanName: leavePlanName })">
                        check
                    </span>
                    <span class="material-icons-outlined" style="width: fit; padding: 8px; cursor: pointer; color: red" (click)="resetComponent()">
                        clear
                    </span>
                </span>
            </mat-card-content>
        </mat-card>
        <div style="padding-top: 20px">
            <button (click)="isAddNewOpen = true" class="contentButton" [disabled]="isAddNewOpen">
                <span class="material-icons" style="font-size: large">add</span>
                <span style="margin-left: 8px">Add Plan</span>
            </button>
        </div>
    </div>
    <div class="Row" style="flex-grow: 1" *ngIf="isLeavePlanOpen">
        <mat-card style="margin-top: 10px" class="cardContainer">
            <mat-card-content style="height: 100%;">
                <div style="width: 100%; height: 100%; display: flex; flex-direction: column">
                    <div class="contentRow" style="justify-content: space-between">
                        <div class="contentColItem" style="flex-grow: 1">
                            <div class="contentRowItem" style="justify-content: flex-start">
                                <div class="contentTitle">Plan Name :</div>
                                <div style="margin-left: 10px; flex-grow: 1; max-width: 500px">
                                    <input class="contentInput" placeholder="Enter plan name" [(ngModel)]="currentLeavePlan.leavePlanName" />
                                </div>
                            </div>
                        </div>
                        <div style="width: fit-content; justify-content: center" class="contentColItem" (click)="handleDelete()" style="cursor: pointer">
                            <div class="contentRowItem" style="color: red">
                                <div class="material-icons-outlined">delete_forever</div>
                                <div class="responsiveText" style="text-decoration: underline; padding: 2px">Delete Plan</div>
                            </div>
                        </div>
                    </div>
                    <div class="contentRow" style="flex-grow: 1; overflow-y: scroll; max-height: 30%">
                        <div class="contentColItem" style="flex-grow: 1; justify-content: flex-start">
                            <div class="contentRowItem" style="justify-content: flex-start; border-bottom: 1px solid rgba(0, 0, 0, 0.25); padding: 5px">
                                <span class="contentColItem" style="width: 30%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fc9701">Name</span></span
                                >
                                <span class="contentColItem" style="width: 30%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fc9701"
                                        >Component Type</span
                                    ></span
                                >
                                <span class="contentColItem" style="width: 20%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fc9701"
                                        >Colour</span
                                    ></span
                                >
                                <span class="contentColItem" style="width: 20%"></span>
                            </div>
                            <div class="contentRowItem" *ngFor="let LeaveTypeChoice of appliedLeaveTypeChoiceList"
                                style="justify-content: flex-start; border-bottom: 1px solid rgba(0, 0, 0, 0.25); padding: 5px"
                            >
                                <span class="contentColItem" style="width: 30%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{
                                        LeaveTypeChoice.leaveTypeName
                                    }}</span></span
                                >
                                <span class="contentColItem" style="width: 30%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{
                                        LeaveTypeChoice.leaveType
                                    }}</span></span
                                >
                                <span class="contentColItem" style="width: 20%">
                                    <span [ngStyle]="{ backgroundColor: LeaveTypeChoice.color }"
                                        style="height: 25px; width: 25px; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.25)"
                                    ></span>
                                </span>
                                <span class="contentColItem material-icons" style="width: 20%">
                                    <span class="material-icons-outlined" (click)="removeLeaveTypeChoice(LeaveTypeChoice)"
                                        style="color: rgba(255, 0, 0, 0.5); cursor: pointer"
                                        >delete_forever</span>
                                    </span>
                            </div>
                            <div class="contentRowItem" *ngIf="appliedLeaveTypeChoiceList.length === 0"
                                style="justify-content: flex-start; border-bottom: 1px solid rgba(0, 0, 0, 0.25); padding: 5px"
                            >
                                <span class="contentColItem" style="flex-grow: 1">No Leave Type Available Currently</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="contentColItem" style="width: 100%">
                            <div *ngIf="!isSelectLeavePlanToLeaveTypeVisible" class="contentRowItem">
                                <button class="contentButton" style="padding: 5px" (click)="enableAddPlanToLeaveType()">
                                    <div class="contentColItem material-icons">
                                        <span class="contentRowItem"> add </span>
                                    </div>
                                    <div class="contentColItem">
                                        <span class="contentRowItem"> Add Leave Type </span>
                                    </div>
                                </button>
                            </div>
                            <div class="contentRowItem" style="width: 100%" *ngIf="isSelectLeavePlanToLeaveTypeVisible">
                                <mat-form-field appearance="fill" style="flex-grow: 1; max-width: 500px">
                                    <mat-label>Select Leave Type</mat-label>
                                    <mat-select [(ngModel)]="currentLeaveTypeChoiceList" multiple [disabled]="leaveTypeChoiceList.length === 0">
                                        <mat-option *ngFor="let leaveTypeChoice of leaveTypeChoiceList" [value]="leaveTypeChoice">
                                            {{ leaveTypeChoice.leaveTypeName }} - {{ leaveTypeChoice.leaveType }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="material-icons-outlined" style="width: fit; padding: 8px; cursor: pointer; color: green"
                                    (click)="leaveTypeChoiceList.length !== 0 ? savePlanToLeaveType(currentLeaveTypeChoiceList):1"
                                >
                                    check
                                </span>
                                <span class="material-icons-outlined" style="width: fit; padding: 8px; cursor: pointer; color: red"
                                    (click)="savePlanToLeaveType([])"
                                >
                                    clear
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="contentColItem" style="width: 100%">
                            <div class="contentRowItem" style="width: 100%">
                                <mat-form-field appearance="fill" style="flex-grow: 1; max-width: 500px">
                                    <mat-label>Select Employee/s</mat-label>
                                    <mat-select (selectionChange)="updateEmployeeChoiceList()" [(ngModel)]="currentEmployeeChoiceList" multiple [disabled]="employeeChoiceList.length === 0">
                                        <mat-form-field appearance="outline" style="width: 100%; padding: 5px">
                                            <mat-label>Search Employee</mat-label>
                                            <input [(ngModel)]="filter" (keyup)="updateEmployeeChoiceList()" matInput placeholder="Enter Employee Name" autofocus>
                                        </mat-form-field>
                                        <mat-option *ngFor="let employee of filteredEmployeeChoiceList" [value]="employee">
                                            ({{ employee.id }}) - {{ employee.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span *ngIf="employeeChoiceList.length !== 0 && currentEmployeeChoiceList !== appliedEmployeeChoiceList" class="material-icons-outlined" style="width: fit; padding: 8px; cursor: pointer; color: green"
                                    (click)="appliedEmployeeChoiceList = currentEmployeeChoiceList"
                                >
                                    check
                                </span>
                                <span *ngIf="employeeChoiceList.length !== 0 && currentEmployeeChoiceList !== appliedEmployeeChoiceList" class="material-icons-outlined" style="width: fit; padding: 8px; cursor: pointer; color: red"
                                    (click)="currentEmployeeChoiceList = appliedEmployeeChoiceList"
                                >
                                    clear
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="contentRow" style="flex-grow: 1; overflow-y: scroll; max-height: 40%">
                        <div class="contentColItem" style="flex-grow: 1; justify-content: flex-start">
                            <div class="contentRowItem" style="justify-content: flex-start; border-bottom: 1px solid rgba(0, 0, 0, 0.25); padding: 5px">
                                <span class="contentColItem" style="width: 40%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fc9701">Employee Id</span></span
                                >
                                <span class="contentColItem" style="width: 40%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fc9701"
                                        >Name</span
                                    ></span
                                >
                                <span class="contentColItem" style="width: 20%"></span>
                            </div>
                            <div class="contentRowItem" *ngFor="let employee of appliedEmployeeChoiceList"
                                style="justify-content: flex-start; border-bottom: 1px solid rgba(0, 0, 0, 0.25); padding: 5px"
                            >
                                <span class="contentColItem" style="width: 40%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{
                                        employee.id
                                    }}</span></span
                                >
                                <span class="contentColItem" style="width: 40%"
                                    ><span style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{
                                        employee.name
                                    }}</span></span
                                >
                                <span class="contentColItem material-icons" style="width: 20%">
                                    <span class="material-icons-outlined" (click)="removeEmployee(employee)"
                                        style="color: rgba(255, 0, 0, 0.5); cursor: pointer"
                                        >delete_forever</span>
                                    </span>
                            </div>
                            <div class="contentRowItem" *ngIf="appliedEmployeeChoiceList.length === 0"
                                style="justify-content: flex-start; border-bottom: 1px solid rgba(0, 0, 0, 0.25); padding: 5px"
                            >
                                <span class="contentColItem" style="flex-grow: 1">No Employee/s associated to this leave plan</span>
                            </div>
                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="contentColItem" style="flex-grow: 1">
                            <div class="contentRowItem" style="justify-content: flex-end">
                                <button class="contentButton" (click)="savePlan(currentLeavePlan)">Save</button>
                                <button class="contentButtonHollow" (click)="resetComponent()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
