.card-content {
    padding: 3rem;
    min-height: 90vh;
}

/* Starts: Search Bar */
.search-bar {
    display: flex;
    height: 25px;
    font-size: 12px;
}

.search-field {
    flex-basis: 63%;
    border: 0.4px solid rgba(0, 0, 0, 0.5);   /* Black - Opacity(0.5) */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 5px;
}

.search-btn {
    flex-basis: 7%;
    border: 0.4px solid rgba(0, 0, 0, 0.5);   /* Black - Opacity(0.5) */
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
}

.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
/* Ends: Search Bar */

/* Starts: Table */
.table-container {
    margin-left: 1rem;
}

thead tr th {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.example-viewport {
    height: 65vh;
    width: 100%;
}

.delete-icon {
    color: red;
    cursor: pointer;
}
/* Ends: Table */


/* Starts: Media Query - Mobile Phone */
@media only screen and (max-width: 992px) {
    .card-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* Starts: Search Bar */
    .search-bar {
        height: 20px;
    }

    .search-field {
        flex-basis: 90%;
    }

    .search-btn {
        flex-basis: 10%;
    }

    .material-icons {
        font-size: 15px;
    }
    /* Ends: Search Bar */

    .table-container {
        margin-left: 0rem;
    }
}
/* Ends: Media Query - Mobile Phone */
