<div class="main-content">
    <div class="container-fluid">

        <div class="card" style="min-height: 100%">
            <div class="card-header" [attr.data-background-color]="user.color">
                <h4 class="title">Student Profile</h4>
            </div>
            <div class="card-content">

                <form class="example-form" *ngIf="!isListLoading">
                    <mat-form-field class="example-full-width">
                        <input type="text"
                               placeholder="Type student name here...."
                               aria-label="Student"
                               matInput
                               [formControl]="myControl"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                                          (optionSelected)="getStudentFeeData($event.option.value)"
                                          [displayWith]="displayFn">
                            <mat-option *ngFor="let student of filteredStudentList | async" [value]="student">
                                {{ student.name }}, {{ student.className }}
                                <span *ngIf="student.sectionName && student.sectionName != ''">, {{student.sectionName}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>

                <ng-container *ngIf="selectedStudent && selectedStudent.fathersName !== undefined && !isLoading">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Name</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.name" (ngModelChange)="currentStudent.name=$event;" disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Father's Name</label>
                                <input type="text"
                                       class="form-control"
                                       [ngModel]="selectedStudent.fathersName" (ngModelChange)="currentStudent.fathersName=$event" disabled>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Total Fees</label>
                                <input type="number" class="form-control" [value]="selectedStudent.totalFees" disabled>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Fees Due</label>
                                <input type="number" class="form-control" [value]="selectedStudent.feesDue" disabled>
                            </div>
                        </div>

                    </div>

                    <div class="row" *ngIf="selectedStudent.remark !== undefined && selectedStudent.remark !== ''">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Remark</label>
                                    <textarea class="form-control" rows="3"
                                              [ngModel]="selectedStudent.remark" (ngModelChange)="currentStudent.remark=$event" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Amount</label>
                                <input type="number" class="form-control" [(ngModel)]="newConcession.amount">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Remark</label>
                                <input type="text" class="form-control" [(ngModel)]="newConcession.remark">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-{{user.btn_color}}" (click)="submitConcession();">Submit</button>
                        </div>
                    </div>

                    <div *ngIf="selectedStudent.feesList.length === 0" class="row">
                        <div class="col-md-12">
                            **No Fee submitted yet
                        </div>
                    </div>

                    <div *ngIf="selectedStudent.concessionList.length === 0" class="row">
                        <div class="col-md-12">
                            **No Concession records
                        </div>
                    </div>

                </ng-container>

            </div>
        </div>

        <div *ngIf="!isLoading && selectedStudent && selectedStudent.feesList.length !== 0"
             class="card" style="min-height: 100%">
            <div class="card-header" [attr.data-background-color]="user.color">
                <h4 class="title">Previous Fee Records</h4>
            </div>
            <div class="card-content" id="forforfor">
                <div class="row">
                    <div class="col-md-12">
                        <app-fees-table [user]="user"
                                        [feesList]="selectedStudent.feesList"
                                        [whileSubmittingFee]="true"></app-fees-table>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading && selectedStudent && selectedStudent.concessionList.length !== 0"
             class="card" style="min-height: 100%">
            <div class="card-header" [attr.data-background-color]="user.color">
                <h4 class="title">Previous Concession</h4>
            </div>
            <div class="card-content" id="forforforfor">
                <div class="row">
                    <div class="col-md-8" *ngIf="selectedStudent.concessionList.length > 0">
                        <table cellpadding="10" class="table-content">
                            <style>
                                td { padding: 10px; }
                                tr { border-bottom: 1px solid gainsboro; }
                            </style>
                            <tr>
                                <td align="center">Amount</td>
                                <td align="center">Date</td>
                                <td align="center">Remark</td>
                            </tr>
                            <tr *ngFor="let concessionEntry of selectedStudent.concessionList">
                                <td align="right">{{concessionEntry.amount}}</td>
                                <td align="center">{{concessionEntry.generationDateTime}}</td>
                                <td align="left">{{concessionEntry.remark}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="isLoading">
            <app-loading-spinner [user]="user"></app-loading-spinner>
        </ng-container>

    </div>
</div>
