<div class="row">
    <div class="col-md-9">
        <form class="example-form" *ngIf="!isLoading">

            <!-- Starts :- Student Filter -->
            <mat-form-field *ngIf="selectedFilterType == STUDENT" class="example-full-width" floatPlaceholder="never">
                <input
                    type="text"
                    id="textInput"
                    placeholder="Student Name, Scholar No."
                    value="some name..."
                    aria-label="Student"
                    matInput
                    [formControl]="studentFormControl"
                    [matAutocomplete]="autoStudent"

                />
                <mat-autocomplete
                    #autoStudent="matAutocomplete"
                    (optionSelected)="handleStudentSelection($event.option.value)"
                    [displayWith]="displayStudentFunction"
                >
                    <mat-option *ngFor="let student of (filteredStudentList | async )" [value]="student">
                        <div class="box">
                            <img class="pix" *ngIf="student.profileImage"  src="{{ student.profileImage }}" />
                            <img
                                 class="pix"
                                 *ngIf="!student.profileImage"
                                 src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                            />
                            <span style="width: 85%;">
                                <p class="paraUp">
                                {{ leftText(student.name) }}<font color="#00bfff">{{ highlightText(student.name) }}</font>{{ rightText(student.name)}}
                                    <span *ngIf="student.scholarNumber">
                                    {{ ' ('+leftText(student.scholarNumber) }}<font color="#00bfff">{{ highlightText(student.scholarNumber) }}</font>{{ rightText(student.scholarNumber)+')'}}
                                    </span>
                                </p>
                                <p class="paraDown">
                                {{ student.fathersName+', ' }}{{ getStudentClassAndSection(student) }}
                                </p>
                            </span>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- Starts :- Student Filter -->

            <!-- Starts :- Mobile Number Filter -->
            <mat-form-field *ngIf="selectedFilterType == MOBILE_NUMBER" class="example-full-width" floatPlaceholder="never">
                <input
                    type="number"
                    placeholder="Parent's Mobile No."
                    aria-label="Parent"
                    matInput
                    (keypress)="policeMobileNumberInput($event)"
                    [formControl]="mobileNumberFormControl"
                    [matAutocomplete]="autoMobileNumber"
                />
                <mat-autocomplete
                    #autoMobileNumber="matAutocomplete"
                    (optionSelected)="handleMobileNumberSelection($event.option.value)"
                    [displayWith]="displayMobileNumberFn"
                >
                    <mat-option *ngFor="let mobileNumber of filteredMobileNumberList | async" [value]="mobileNumber">
                        {{ displayMobileNumberFn(mobileNumber) }},
                        {{ getFilteredStudentListByMobileNumber(mobileNumber)[0].fathersName }}
                        <ng-container *ngFor="let student of getFilteredStudentListByMobileNumber(mobileNumber)">
                            <span>,</span>
                            <img *ngIf="student.profileImage" style="width: 10%" src="{{ student.profileImage }}" />
                            <img
                                *ngIf="!student.profileImage"
                                style="width: 10%"
                                src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                            />
                        </ng-container>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- Ends :- Mobile Number Filter -->

            <!-- Starts :- Fathers Name & Mother Name Filter -->
            <mat-form-field *ngIf="selectedFilterType == FATHER_NAME || selectedFilterType == MOTHER_NAME" class="example-full-width" floatPlaceholder="never">
                <input
                    type="text"
                    [placeholder]="getPlaceHolder()"
                    aria-label="Parent"
                    matInput
                    [formControl]="parentNameFormControl"
                    [matAutocomplete]="autoParentName"
                />
                <mat-autocomplete
                    #autoParentName="matAutocomplete"
                    (optionSelected)="handleSiblingListSelection($event.option.value)"
                    [displayWith]="displayParentNameFn"
                >
                    <mat-option
                        style="font-size: 12px; color: lightgrey; height: 18px;"
                        [disabled]="true"
                    >
                        Siblings are connected only through mobile numbers
                    </mat-option>
                    <mat-option *ngFor="let siblingList of filteredSiblingListList | async" [value]="siblingList">
                        <div class="box">
                            <span>
                                <span style="font-size: 12px;">
                                    {{ 
                                        (
                                            selectedFilterType == FATHER_NAME ?
                                                siblingList[0].fathersName :
                                                getMotherName(siblingList)
                                        )
                                    }}
                                </span>
                                <span *ngIf="siblingList.length>1" style="font-size: 12px;">
                                    ({{siblingList.length}} children)
                                </span>
                                <p class="paraDown">
                                    <ng-container *ngFor="let student of siblingList; let last=last;">
                                        {{student.name}} <ng-container *ngIf="!last">,</ng-container>
                                    </ng-container>
                                </p>
                            </span>
                            <ng-container *ngFor="let student of siblingList; let last=last;">
                                <img *ngIf="student.profileImage" style="width: 10%" src="{{ student.profileImage }}" />
                                <img
                                    *ngIf="!student.profileImage"
                                    style="width: 10%"
                                    src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                                />
                                <span *ngIf="!last">,</span>
                            </ng-container>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- Ends :- Fathers Name & Mother Name Filter -->

        </form>

    </div>
    <div *ngIf="showFilter && bothFilters" class="col-md-3">
        <mat-form-field>
            <mat-select
                placeholder="Select Filter Type"
                (ngModelChange)="selectedFilterType = $event;"
                [ngModel]="selectedFilterType"
                [disabled]="!bothFilters"
                (ngModelChange)="onChangeSelectedFilterType($event)"
            >
                <mat-option *ngFor="let filterType of filterTypeList" [value]="filterType">
                    {{ filterType }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
