<div class="row">
    <div class="col-md-9">
        <form class="example-form" *ngIf="!isLoading">
            <mat-form-field *ngIf="selectedFilterType == 'Student'" class="example-full-width" floatPlaceholder="never">
                <input
                    type="text"
                    id="textInput"
                    placeholder="Student Name, Scholar No."
                    value="some name..."
                    aria-label="Student"
                    matInput
                    [formControl]="studentFormControl"
                    [matAutocomplete]="autoStudent"
                />
                <mat-autocomplete
                    #autoStudent="matAutocomplete"
                    (optionSelected)="handleStudentSelection($event.option.value)"
                >
                    <mat-option *ngFor="let student of (filteredStudentList | async )" [value]="student">
                        <div class="box">
                            <img class="pix" *ngIf="student.profileImage"  src="{{ student.profileImage }}" />
                            <img
                                 class="pix"
                                 *ngIf="!student.profileImage"
                                 src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                            />
                            <span style="width: 85%;">
                                <p class="paraUp">
                                {{ leftText(student.name) }}<font color="#00bfff">{{ highlightText(student.name) }}</font>{{ rightText(student.name)}}
                                {{ student.scholarNumber?' ('+student.scholarNumber+')':'' }}
                                </p>
                                <p class="paraDown">
                                {{ student.fathersName+', ' }}{{ getStudentClassAndSection(student) }}
                                </p>
                            </span>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field *ngIf="selectedFilterType == 'Parent'" class="example-full-width" floatPlaceholder="never">
                <input
                    type="number"
                    placeholder="Parent's Mobile No."
                    aria-label="Parent"
                    matInput
                    (keypress)="policeMobileNumberInput($event)"
                    [formControl]="mobileNumberFormControl"
                    [matAutocomplete]="autoMobileNumber"
                />
                <mat-autocomplete
                    #autoMobileNumber="matAutocomplete"
                    (optionSelected)="handleMobileNumberSelection($event.option.value)"
                    [displayWith]="displayMobileNumberFn"
                >
                    <mat-option *ngFor="let mobileNumber of filteredMobileNumberList | async" [value]="mobileNumber">
                        {{ displayMobileNumberFn(mobileNumber) }},
                        {{ getFilteredStudentListByMobileNumber(mobileNumber)[0].fathersName }}
                        <ng-container *ngFor="let student of getFilteredStudentListByMobileNumber(mobileNumber)">
                            <span>,</span>
                            <img *ngIf="student.profileImage" style="width: 10%" src="{{ student.profileImage }}" />
                            <img
                                *ngIf="!student.profileImage"
                                style="width: 10%"
                                src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                            />
                        </ng-container>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div *ngIf="showFilter && bothFilters" class="col-md-3">
        <mat-form-field>
            <mat-select
                placeholder="Select Filter Type"
                [ngModel]="selectedFilterType"
                [disabled]="!bothFilters"
                (ngModelChange)="selectedFilterType = $event"
            >
                <mat-option *ngFor="let filterType of filterTypeList" [value]="filterType">
                    {{ filterType }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
