<div class="card-content table-responsive">
    <ng-container *ngIf="!htmlRenderer.isLoading">
        <div class="row">
            <div class="col-md-9" *ngIf="!htmlRenderer.subjectsExist()">
                <span>[ There are no Subjects Assigned to you ]</span>
            </div>
            <div class="col-md-9" *ngIf="htmlRenderer.subjectsExist()">
                <mat-form-field>
                    <mat-select
                        placeholder="Select Class -"
                        [(ngModel)]="userInput.selectedSection"
                        [disabled]="htmlRenderer.isLoading"
                        (selectionChange)="userInput.selectedSubject = null;"
                    >
                        <ng-container *ngFor="let classs of classSectionSubjectList">
                            <ng-container *ngFor="let section of classs.sectionList">
                                <mat-option style="width: 100%" [value]="section"> {{ classs.name }}, {{ section.name }} </mat-option>
                            </ng-container>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="margin-top: 23px; margin-left: 20px">
                    <mat-select
                        placeholder="Subject"
                        [ngModel]="userInput.selectedSubject"
                        [disabled]="htmlRenderer.isLoading"
                        (ngModelChange)="userInput.selectedSubject = $event; htmlRenderer.showTutorialDetails = false;"
                    >
                        <mat-option *ngFor="let subject of userInput.selectedSection.subjectList" [value]="subject">
                            {{ htmlRenderer.getSubjectName(subject) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button
                    type="submit"
                    style="margin-left: 20px"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    [disabled]="!userInput.selectedSubject"
                    (click)="serviceAdapter.getTutorialList()"
                >
                    GET
                </button>
            </div>
        </div>

        <ng-container *ngIf="htmlRenderer.isTutorialDetailsLoading">
            <app-loading-spinner [user]="user"></app-loading-spinner>
        </ng-container>

        <ng-container *ngIf="htmlRenderer.showTutorialDetails && !htmlRenderer.isTutorialDetailsLoading">
            <div class="row">
                <div class="col-md-4" style="margin: 10px">
                    <div class="row">
                        <mat-form-field style="width: 100%">
                            <mat-label>Chapter*</mat-label>
                            <input matInput type="text" cdkTextareaAutosize [(ngModel)]="userInput.newTutorial.chapter" />
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field style="width: 100%">
                            <mat-label
                                >Topic*<span *ngIf="htmlRenderer.topicAlreadyPresent(userInput.newTutorial)" style="color: red"
                                    >(Topic Already Present in the List)</span
                                >
                            </mat-label>
                            <input matInput type="text" [(ngModel)]="userInput.newTutorial.topic" />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field style="width: 100%">
                            <mat-label>Order No(Only upto 1 Decimal)</mat-label>
                            <input matInput type="number" value="0" min="1" step=".1" [(ngModel)]="userInput.newTutorial.orderNumber" />
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field style="width: 100%">
                            <mat-label
                                >Youtube Link*<span *ngIf="!htmlRenderer.youTubeLinkValid() && userInput.newTutorial.link != null" style="color: red"
                                    >(Invalid Link)</span
                                >
                            </mat-label>
                            <textarea
                                matInput
                                type="text"
                                cdkTextareaAutosize
                                [(ngModel)]="userInput.newTutorial.link"
                                style="overflow: hidden; min-height: 17px"
                                (ngModelChange)="htmlRenderer.youTubeLinkValid()"
                            >
                            </textarea>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <button
                            type="submit"
                            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                            [disabled]="!htmlRenderer.checkEnableAddButton()"
                            (click)="serviceAdapter.addNewTutorial()"
                        >
                            Add
                        </button>
                    </div>
                </div>

                <ng-container *ngIf="htmlRenderer.youTubeLinkValid()">
                    
                    <div class="col-md-6" style="margin-left: 20px">
    
                    <ng-container *ngIf="htmlRenderer.isIFrameLoading">
                            <app-loading-spinner [user]="user"></app-loading-spinner>
                        </ng-container>
                    
                        <youtube-player
                            #player
                            [class.d-none]="htmlRenderer.isIFrameLoading" 
                            height="250"
                            width="100%"
                            [videoId]="htmlRenderer.getVideoUrlId()"
                            (ready)="htmlRenderer.onReady($event)"
                        ></youtube-player>
                        <div id="player"></div>
                    </div>
                </ng-container>
            </div>

            <div class="row" style="border-bottom: 1px solid black; margin-top: 15px; margin-bottom: 15px">
                <div class="col-md-12"></div>
            </div>
            <ng-container *ngIf="tutorialList.length == 0">
                <span style="margin-top: 30px" align="center"> No Tutorial Videos added yet! </span>
            </ng-container>

            <table class="table table-hover" *ngIf="tutorialList.length > 0">
                <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                    <tr>
                        <th>Order No</th>
                        <th>Chapter</th>
                        <th>Topic</th>
                        <th class="text-center">Youtube Link</th>
                        <th>Created Date</th>
                        <ng-container *ngIf="htmlRenderer.tutorialUpdating">
                            <th></th>
                        </ng-container>
                        <th>-</th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tutorial of tutorialList">
                        <td>
                            <span *ngIf="!tutorial.editable || !tutorialEditing">{{ tutorial.orderNumber }}</span>
                            <mat-form-field *ngIf="tutorial.editable && tutorialEditing">
                                <input
                                    matInput
                                    type="number"
                                    step=".1"
                                    min="1"
                                    [ngModel]="userInput.editedTutorial.orderNumber"
                                    (ngModelChange)="userInput.editedTutorial.orderNumber = $event"
                                />
                            </mat-form-field>
                        </td>

                        <td>
                            <span *ngIf="!tutorial.editable || !tutorialEditing">{{ tutorial.chapter }}</span>
                            <mat-form-field *ngIf="tutorial.editable && tutorialEditing">
                                <input
                                    matInput
                                    type="text"
                                    [ngModel]="userInput.editedTutorial.chapter"
                                    (ngModelChange)="userInput.editedTutorial.chapter = $event"
                                />
                            </mat-form-field>
                        </td>
                        <td>
                            <span *ngIf="!tutorial.editable || !tutorialEditing">{{ tutorial.topic }}</span>
                            <mat-form-field *ngIf="tutorial.editable && tutorialEditing">
                                <input
                                    matInput
                                    type="text"
                                    [ngModel]="userInput.editedTutorial.topic"
                                    (ngModelChange)="userInput.editedTutorial.topic = $event"
                                />
                            </mat-form-field>
                        </td>
                        <td>
                            <a href="{{ tutorial.link }}" target="_blank"
                                ><span *ngIf="!tutorial.editable || !tutorialEditing">{{ tutorial.link }}</span></a
                            >
                            <mat-form-field *ngIf="tutorial.editable && tutorialEditing">
                                <textarea
                                    matInput
                                    type="text"
                                    style="overflow: hidden; min-height: 17px"
                                    cdkTextareaAutosize
                                    [ngModel]="userInput.editedTutorial.link"
                                    (ngModelChange)="userInput.editedTutorial.link = $event"
                                >
                                </textarea>
                            </mat-form-field>
                        </td>
                        <td>
                            <span>{{ tutorial.generationDateTime.split('T')[0] }}</span>
                        </td>
                        <ng-container *ngIf="htmlRenderer.tutorialUpdating && tutorial.editable">
                            <td>
                                <mat-spinner [diameter]="20"></mat-spinner>
                            </td>
                        </ng-container>
                        <td>
                            <button
                                type="submit"
                                class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                                style="padding: 3px 8px"
                                [disabled]="(tutorialEditing && !tutorial.editable == true) || htmlRenderer.tutorialUpdating"
                                (click)="serviceAdapter.makeEditableOrSave(tutorial)"
                            >
                                <span *ngIf="tutorial.editable">Save</span><span *ngIf="!tutorial.editable">Edit</span>
                            </button>
                        </td>
                        <td>
                            <button
                                type="submit"
                                class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                                style="padding: 3px 8px"
                                [disabled]="(tutorialEditing && !tutorial.editable == true) || htmlRenderer.tutorialUpdating"
                                (click)="serviceAdapter.removeOrCancel(tutorial)"
                            >
                                <span *ngIf="tutorial.editable">Cancel</span><span *ngIf="!tutorial.editable">Remove</span>
                            </button>
                        </td>
                        <td>
                            <button
                                *ngIf="!tutorial.editable"
                                type="submit"
                                class="btn"
                                style="padding: 3px 8px"
                                [disabled]="htmlRenderer.tutorialUpdating"
                                (click)="htmlRenderer.showPreviewVideo(tutorial)"
                            >
                                Preview
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" style="border-bottom: 1px solid black; margin-top: 15px; margin-bottom: 15px">
                <div class="col-md-12"></div>
            </div>
        </ng-container>
    </ng-container>
</div>
<ng-container *ngIf="htmlRenderer.isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
