<h2 mat-dialog-title>Add Online Class</h2>
<mat-dialog-content style="height: 65vh; width: 60vw; min-height: 300px; min-width: 280px; overflow: hidden;">

    <h4>{{data.weekday}}: {{data.timespan.startTime.getDisplayString()}} -
        {{data.timespan.endTime.getDisplayString()}}</h4>

    <mat-form-field style="width: -webkit-fill-available">
        <mat-label>Subject</mat-label>
        <mat-select [(ngModel)]="parentClassSubject">
            <ng-container *ngFor="let classSubject of filteredClassSubject">
                <mat-option [value]="classSubject.id">
                    {{data.vm.backendData.getSubjectById(classSubject.parentSubject).name}}
                    <ng-container *ngIf="data.vm.view=='employee'">:
                        {{data.vm.backendData.getClassById(classSubject.parentClass).name}} -
                        {{data.vm.backendData.getDivisionById(classSubject.parentDivision).name}}</ng-container>
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

    <br />
    <div class="Flex-Row-Col" *ngIf="data.vm.hasAdminPermission() && getAccountInfoForSelectedSubject()"
        style="margin: 24px 0;">
        <div style="margin: 16px">
            <span>Username: {{getAccountInfoForSelectedSubject().username}}</span><br />
            <span>Password: {{getAccountInfoForSelectedSubject().password}}</span>
        </div>

        <div style="margin: 16px">
            <span>Meeting ID: {{getAccountInfoForSelectedSubject().meetingNumber}}</span><br />
            <span>Passcode: {{getAccountInfoForSelectedSubject().passcode}}</span>
        </div>
    </div>


</mat-dialog-content>
<div mat-dialog-actions style="color: white">
    <button mat-button (click)="apply()" class="btn" style="background-color: blue; margin-left: auto;"
        cdkFocusInitial>Apply</button>
</div>