<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header" [attr.data-background-color]="user.color">
        <h4 class="title">Student List</h4>
        <p class="category">Get filtered list of student</p>
      </div>
      <div class="card-content table-responsive">

        <ng-container *ngIf="!isLoading && classSectionList.length !== 0 && studentFeeProfileList.length !== 0">

          <!-- Class Filter -->
          <mat-form-field style="margin-right: 15px;">
            <mat-select placeholder="Select Class" style="width: 100%;">
              <mat-option>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="selectAllClasses(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="unselectAllClasses(); $event.stopPropagation();">Clear All
                </button>
              </mat-option>
              <ng-container *ngFor="let class of classSectionList">
                <ng-container *ngFor="let section of class.sectionList">
                  <mat-option *ngIf="section.containsStudent" style="width: 100%;">
                    <mat-checkbox [(ngModel)]="section.selected"
                                  (click)="$event.stopPropagation();">
                      {{class.name}}<span *ngIf="showSectionName(class)">, {{section.name}}</span>
                    </mat-checkbox>
                  </mat-option>
                </ng-container>
              </ng-container>
              <mat-option>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="selectAllClasses(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="unselectAllClasses(); $event.stopPropagation();">Clear All
                </button>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Column Filter -->
          <mat-form-field style="margin-right: 15px;" class="hidden-xs">
            <mat-select placeholder="Select Columns">
              <mat-option>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="selectAllColumns(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="unSelectAllColumns(); $event.stopPropagation();">Clear All
                </button>
              </mat-option>
              <!-- mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showSerialNumber" (click)="$event.stopPropagation();">Serial No.
                </mat-checkbox>
              </mat-option -->
              <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showName" (click)="$event.stopPropagation();">Name</mat-checkbox>
              </mat-option>
              <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showClassName" (click)="$event.stopPropagation();">Class Name
                </mat-checkbox>
              </mat-option>
              <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFathersName" (click)="$event.stopPropagation();">Father's
                  Name
                </mat-checkbox>
              </mat-option>
              <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showMobileNumber" (click)="$event.stopPropagation();">Mobile No.
                </mat-checkbox>
              </mat-option>
              <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showScholarNumber" (click)="$event.stopPropagation();">Scholar
                  No.
                </mat-checkbox>
              </mat-option>
              <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showTotalFees" (click)="$event.stopPropagation();">Total Fees
                </mat-checkbox>
              </mat-option>
              <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFeesDue" (click)="$event.stopPropagation();">Fees Due
                </mat-checkbox>
              </mat-option>
              <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showRTE" (click)="$event.stopPropagation();">
                  RTE
                </mat-checkbox>
              </mat-option>
              <mat-option>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="selectAllColumns(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="unSelectAllColumns(); $event.stopPropagation();">Clear All
                </button>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br>

          <!-- Student Table List -->
          <ng-container *ngIf="!isLoading">
            <table class="table table-hover">
              <thead class="text-{{user.btn_color}}">
              <tr>
                <th [class.hidden]="!columnFilter.showName">Name</th>
                <th [class.hidden]="!columnFilter.showClassName">Class Name</th>
                <th [class.hidden]="!columnFilter.showFathersName">Father's Name</th>
                <th [class.hidden]="!columnFilter.showMobileNumber">Mobile No.</th>
                <th class="visible-xs">Called</th>
                <th class="hidden-xs" [class.hidden]="!columnFilter.showScholarNumber">Scholar No.</th>
                <th class="hidden-xs" [class.hidden]="!columnFilter.showTotalFees">Total Fees</th>
                <th [class.hidden]="!columnFilter.showFeesDue">Fees Due</th>
                <th class="hidden-xs" [class.hidden]="!columnFilter.showRTE">RTE</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let student of studentFeeProfileList">
                <tr [class.hidden]="!student.sectionObject.selected">
                  <td [class.hidden]="!columnFilter.showName">{{student.name}}</td>
                  <td [class.hidden]="!columnFilter.showClassName">{{student.className}}</td>
                  <td [class.hidden]="!columnFilter.showFathersName">{{student.fathersName}}</td>
                  <td [class.hidden]="!columnFilter.showMobileNumber">
                    <span class="hidden-xs">{{student.mobileNumber}}</span>
                    <a class="visible-xs"
                       href="tel:{{student.mobileNumber}}">Call Me</a>
                  </td>
                  <td  class="visible-xs">
                    <mat-checkbox></mat-checkbox>
                  </td>
                  <td class="hidden-xs" [class.hidden]="!columnFilter.showScholarNumber">{{student.scholarNumber}}</td>
                  <td class="hidden-xs" [class.hidden]="!columnFilter.showTotalFees">{{student.totalFees}}</td>
                  <td [class.hidden]="!columnFilter.showFeesDue">{{student.feesDue}}</td>
                  <td class="hidden-xs" [class.hidden]="!columnFilter.showRTE">{{student.rte}}</td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </ng-container>

        </ng-container>

      </div>
    </div>

    <ng-container *ngIf="isLoading">
      <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

  </div>
</div>
