<div class="main-content" style="min-height: 100vh;">
    <div class="container-fluid">
        <div class="card" style="min-height: 100vh; margin: 0;">
            <div class="card-content" style="padding-top: 20vh" *ngIf="!isLoading">

                


                <form (ngSubmit)="submit()">


                    <div class="row" align="center">
                        <ng-container *ngIf="isMobile()">
                            <div class="col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" align="center">
                                 <mat-form-field class="example-full-width">
                                    <input matInput id="username" type="text"
                                           [(ngModel)]="username"
                                           placeholder="Mobile No."
                                           name="username"
                                           [pattern]="validators.phoneNumber"
                                           maxlength="10">
                                    <mat-error>Please provide correct 10 digits mobile number</mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="!isMobile()">
                            <div style="height: 100px;margin-bottom: 10vh" align="center">
                                <img src="assets/img/korangle.jpg" style="height: 100%;width:100px;">
                            </div>
                            <div style="width: 75%">
                                <mat-form-field class="example-full-width">
                                    <input matInput id="username" type="text"
                                           [(ngModel)]="username"
                                           placeholder="Mobile No."
                                           name="username"
                                           [pattern]="validators.phoneNumber"
                                           maxlength="10">
                                    <mat-error>Please provide correct 10 digits mobile number</mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>

                    </div>

                    <div class="row" align="center">
                        <ng-container *ngIf="isMobile()">
                            <div class="col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" align="center">
                                <mat-form-field class="example-full-width">
                                    <input matInput id="password"
                                           type="{{visibilityMode ? 'text':'password'}}"
                                           placeholder="Password"
                                           [(ngModel)]="password"
                                           name="password">
                                    <i matSuffix
                                       class="material-icons"
                                       (click)="toggleVisibilityMode()"
                                    >{{getVisibilityMode()}}</i>
                                </mat-form-field>

                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isMobile()">
                            <div style="width: 75%">
                                <mat-form-field class="example-full-width">
                                    <input matInput id="password"
                                           type="{{visibilityMode ? 'text':'password'}}"
                                           placeholder="Password"
                                           [(ngModel)]="password"
                                           name="password">
                                    <i matSuffix style="cursor: pointer;"
                                       class="material-icons"
                                       (click)="toggleVisibilityMode()"
                                    >{{getVisibilityMode()}}</i>
                                </mat-form-field>

                            </div>
                        </ng-container>

                            
                    </div>

                    <div class="row">
                        <div class="col-md-12"
                             align="center">
                            <button type="submit" [disabled]="!isFormValid()" class="btn btn-danger">Login</button>
                        </div>
                    </div>

                </form>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12"
                         align="center">
                        <a style="cursor: pointer" (click)="changePage.emit('signup')">Sign Up</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12"
                         align="center">
                        <a style="cursor: pointer" (click)="changePage.emit('forgot-password')">Forgot Password</a>
                    </div>
                </div>

            </div>

            <ng-container *ngIf="isLoading">
                <app-loading-spinner [user]="user"></app-loading-spinner>
            </ng-container>
        </div>
    </div>
</div>
