<div class="card-content" id="classroom-main" #classRoom *ngIf="!isLoading else Loader">
    <ng-container *ngIf="!restrictedStudent else RestrictedStudent">
        <ng-container *ngIf="isActiveSession else NotActiveSession">
            <h3>{{htmlRenderer.getTime()}}</h3>

            <ng-container *ngIf="!htmlRenderer.meetingEntered else zoomIframe">
                <ng-container *ngIf="htmlRenderer.timeSpanList.length>0 else NoClassReg">

                    <div style="overflow: auto;">
                        <table class="mat-elevation-z8 table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let weekdayKey of getObjetKeys(weekdays)"
                                        [style.color]="weekdays[weekdayKey]==today?'#ff9800':''">
                                        {{weekdays[weekdayKey]}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor="let timespan of htmlRenderer.timeSpanList, let timeSpanIndex = index;">
                                    <tr>
                                        <td style="width: 160px">
                                            {{timespan.startTime.getDisplayString()}} -
                                            {{timespan.endTime.getDisplayString()}}
                                        </td>
                                        <ng-container *ngFor="let weekday of getObjetKeys(weekdays)">
                                            <ng-container
                                                *ngIf="htmlRenderer.getOnlineClassByWeekDayAndTime(weekday, timespan) as onlineClass else NoClass;">
                                                <td style="position: relative; min-width: 100px;"
                                                    [style.color]="htmlRenderer.colorPaletteHandle.getColorForSubject(htmlRenderer.getDisplayData(onlineClass).subject.name)"
                                                    [style.backgroundColor]="htmlRenderer.colorPaletteHandle.getBackgroundColorForSubject(htmlRenderer.getDisplayData(onlineClass).subject.name)">
                                                    <span>{{htmlRenderer.getDisplayData(onlineClass).subject.name}}</span><br />
                                                    <span *ngIf="onlineClass.meetingNumber"
                                                        style="position: absolute; bottom: 8px; right: 8px;"
                                                        class="glow-active"></span>
                                                </td>
                                            </ng-container>
                                            <ng-template #NoClass>
                                                <td></td>
                                            </ng-template>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <ng-container *ngIf="htmlRenderer.getActiveClass() as activeClass">
                        <div class="mat-elevation-z8"
                            style="min-height: 100px; margin-top: 24px; padding: 8px; display: flex; flex-direction: row; align-items: center;"
                            [style.color]="htmlRenderer.colorPaletteHandle.getColorForSubject(htmlRenderer.getDisplayData(activeClass).subject.name)"
                            [style.backgroundColor]="htmlRenderer.colorPaletteHandle.getBackgroundColorForSubject(htmlRenderer.getDisplayData(activeClass).subject.name)">

                            <span>
                                {{activeClass.startTimeJSON.getDisplayString()}} -
                                {{activeClass.endTimeJSON.getDisplayString()}}
                            </span>

                            <div style="margin-left: 24px;">
                                <span>{{htmlRenderer.getDisplayData(activeClass).subject.name}} </span><br />

                                <span>Meeting Id: {{activeClass.meetingNumber || '-'}}</span><br />
                                <span>Pass Code: {{activeClass.password || '-'}}</span><br />
                            </div>
                            <button *ngIf="activeClass.meetingNumber" class="btn"
                                (click)="serviceAdapter.initilizeMeetingData(activeClass)"
                                style="background-color: green; margin-left: auto; margin-right: 12px;">Enter
                                Class</button>
                        </div>
                    </ng-container>

                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>

</div>
<ng-template #Loader>
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-template>

<ng-template #NotActiveSession>
    <span style="color: red;">This session is closed</span>
</ng-template>

<ng-template #NoClassReg>
    <span>No Online Registered Class</span>
</ng-template>

<ng-template #zoomIframe>
    <button (click)="htmlRenderer.meetingEntered = false;"
        style="margin-bottom: 12px; display: flex; border-radius: 50%;background-color: black; color:white;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <iframe id="zoomIFrame" allowfullscreen="true" allow="camera *;microphone *"
        style="width: 100%; height: 75vh;"></iframe>
</ng-template>

<ng-template #RestrictedStudent>
    <span style="color: red">Permission Denied!</span>
</ng-template>