<div class="card-content" id="classroom-main" #classRoom *ngIf="!isLoading else Loader">

    <ng-container *ngIf="!htmlRenderer.mettingEntered else zoomIframe">
        <ng-container *ngIf="backendData.onlineClass else NoClassReg">
            demo
        </ng-container>
        <ng-template #NoClassReg>
            <span>No Online Registered Class</span>
        </ng-template>
    </ng-container>

    <ng-template #zoomIframe>
        <button (click)="htmlRenderer.mettingEntered = false;" style="margin-bottom: 12px; display: flex; border-radius: 50%;background-color: black; color:white;">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <iframe id="zoomIFrame" allowfullscreen="true" allow="camera *;microphone *" style="width: 100%; height: 75vh;"></iframe>
    </ng-template>

</div>
<ng-template #Loader>
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-template>
