<div style="margin-bottom: 15px; margin-top: 10px">
    <mat-card>
        <mat-card-title>
            <span style="font-weight: 510;cursor:pointer" (click)="vm.openEditDialog(group)">{{group.title}}</span>
            <hr style="margin-top:4px; margin-bottom: 0px;border: 0.1px solid #E5E5E5;">
        </mat-card-title>
        <mat-card-content>
            <div *ngFor="let child of group.childs" style="display: inline-block; margin-right: 15px">
                <div *ngIf="child.type == 'ACCOUNT'">
                    <span  style="cursor: pointer;" (click)="vm.openEditDialog(child)">{{child.title}}</span>
                    <span *ngIf="child.balance < 0" style="color:rgba(76, 175, 80, 1); font-size:13px; margin-bottom: 10px"><br>Cr Bal {{child.balance}}</span>
                    <span *ngIf="child.balance > 0" style="color:rgba(86, 142, 174, 1); font-size:13px; margin-bottom: 10px"><br>Dr Bal {{child.balance}}</span>
                </div>
            </div>
            <div *ngFor="let child of group.childs">
                <div *ngIf="child.type == 'GROUP'">
                    <group-hierarchy [group]="child"
                                    [vm]="vm"></group-hierarchy>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>