<div class="card-content" id="classroom-main" #classRoom *ngIf="!isLoading else Loader">

    <ng-container *ngIf="!htmlRenderer.meetingEntered else zoomIframe">
        <ng-container *ngIf="backendData.onlineClassList.length>0 else NoClassReg">
            <table class="table table-hover">
                <thead style="color: rgba(255, 152, 0, 1)">
                    <tr>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Working Days</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let onlineClass of backendData.onlineClassList">
                        <td>{{backendData.getClassById(onlineClass.parentClass).name}}</td>
                        <td>{{backendData.getDivisionById(onlineClass.parentDivision).name}}</td>
                        <td>{{onlineClass.startTime}}</td>
                        <td>{{onlineClass.endTime}}</td>
                        <td>
                            <div style="display: inline-flex;">
                                <div style="display: inline-block; display: flex; flex-direction: column; margin-right: 2px;" 
                                        *ngFor="let weekday of weekdays, let i = index;">
                                    <label style="margin: 0;">{{weekday[0]}}</label>
                                    <input type="checkbox" [disabled]="true" [ngModel]="onlineClass.configJSON.weekdays[weekday]">
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn" style="background-color: green;" (click)="serviceAdapter.initilizeMeetingData(onlineClass)">Enter Class</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </ng-container>
    </ng-container>

</div>

<ng-template #Loader>
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-template>

<ng-template #NoClassReg>
    <span>No Online Registered Class</span>
</ng-template>

<ng-template #zoomIframe>
    <button (click)="htmlRenderer.meetingEntered = false;" style="margin-bottom: 12px; display: flex; border-radius: 50%;background-color: black; color:white;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <iframe id="zoomIFrame" allowfullscreen="true" allow="camera *;microphone *" style="width: 100%; height: 75vh;"></iframe>
</ng-template>