<div class="card-content">

    <ng-container *ngIf="!isLoading">

        <ng-container *ngIf="reportCardMapping && classStudentList.length > 0">

            <mat-form-field style="margin-top: 23px;">
                <mat-select placeholder="Select Class"
                            [ngModel]="selectedClass"
                            (ngModelChange)="selectedClass=$event;">
                    <mat-option *ngFor='let classs of classStudentList;' [value]="classs">
                        {{classs.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <button type="submit"
                    style="margin-left: 20px;"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    (click)="serviceAdapter.getClassPatrakDetails()">GET</button>

            <br/><br/>

            <b>Final Formats :-</b>

            <br/><br/>

            <a href="http://www.anupreetiti.com/korangle_data/patrakprimaryclass1And2.xlsx">Patrak Primary (1st & 2nd)</a>
            <br/><br/>
            <a href="http://www.anupreetiti.com/korangle_data/patrakprimaryclass3to5.xlsx">Patrak Middle (3rd to 5th)</a>
            <br/><br/>
            <a href="http://www.anupreetiti.com/korangle_data/patrakmiddle6to8.xlsx">Patrak Middle (6th to 8th)</a>

        </ng-container>

        <ng-container *ngIf="reportCardMapping == null">
            Please set the final report card before generating patrak.
        </ng-container>

        <ng-container *ngIf="classStudentList.length === 0">
            No students in this session.
        </ng-container>

    </ng-container>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>
