.footer {
    /*position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;*/
}
th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.updownBorder {
    border-top: 1px solid navy;
    border-bottom: 1px solid navy !important;
}
.downBorder {
    border-bottom: 1px solid navy !important;
}
.upBorder {
    border-top: 1px solid navy !important;
}
.leftBorder {
    border-left: 1px solid navy !important;
}
.rightBorder {
    border-right: 1px solid navy !important;
}

table {
    outline: 2px solid navy;
    outline-offset: 1px;
}

/*.updownBoldBorder {
    border-top: 2px solid navy;
    border-bottom: 2px solid navy !important;
}
.downBoldBorder {
    border-bottom: 2px solid navy !important;
}
.upBoldBorder {
    border-top: 2px solid navy !important;
}
.leftBoldBorder {
    border-left: 2px solid navy !important;
}
.rightBoldBorder {
    border-right: 2px solid navy !important;
}*/

svg {
    background-color: #333;
    /*font-family: 'Luckiest Guy', cursive;*/
    font-size: 35px;
}

path {
    fill: transparent;
}

/*text {
    fill: #FF9800;
}*/

table, tbody, th, tr, td {
    background: transparent;
}

div, span, i, td, b {
    color: navy !important;
    text-decoration-color: navy !important;
}

td {
    font-weight: 400;
}

td.bold {
    font-weight: 800;
}
