<div class="card-content">

    <ng-container *ngIf="!isLoading">
        <div [style.pointerEvents]="isActiveSession?'auto':'none'" [style.opacity]="isActiveSession?'1':'0.3'">
            <ng-container *ngIf="feeSettings else enableAccounting">

                <mat-form-field style="width: 200px;" (click)="searchInput1.focus();">
                    <mat-label>Student Fee Debit Account</mat-label>
                    <mat-select [(ngModel)]="feeSettings.fromAccountSession" required>
                        <mat-option style="pointer-events: none; height: auto;">  <!--Search bar-->
                            <mat-form-field style="width: 100%;">
                                <mat-icon matPrefix (click)="searchInput1.focus();">search</mat-icon>
                                <input style="pointer-events: auto;" #searchInput1 placeholder="Search..." (click)="$event.stopPropagation();" matInput>
                            </mat-form-field>
                        </mat-option>
                            
                        <ng-container *ngFor="let customAccountSession of customAccountSessionList">
                            <mat-option *ngIf="customAccountSession.title.toLowerCase().startsWith(searchInput1.value.toLowerCase())"
                                [value]="customAccountSession.id">
                                {{customAccountSession.title}}&nbsp;A/c
                            </mat-option>   
                        </ng-container>
                    </mat-select>
                </mat-form-field><br/>

                <ng-container *ngFor="let paymentMode of getPaymentModeList(); let i=index;">
                    <div style="display: flex; flex-direction: row; width: 100%;">
                    <mat-form-field style="flex-grow: 2;">
                        <mat-label>Mode: {{paymentMode}}</mat-label>
                        <mat-chip-list required>
                            <mat-chip *ngFor="let feePaymentAccount of getPaymentModeFilteredFeeAccountsList(paymentMode)"
                                    [removable]="true" (removed)="removeFeePaymentAccount(feePaymentAccount)">
                            {{getAccountName(feePaymentAccount.parentAccountSession)}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <input style="pointer-events: none; opacity: 0;"> <!--Hack for propor placeholder display-->
                    </mat-form-field>

                    <mat-form-field style="margin-left: 16px;" (click)="searchInput=''">
                        <mat-label>Add Account</mat-label>
                        <mat-select placeholder="Add Account">
                            <mat-option style="pointer-events: none;">  <!--Search bar-->
                                <mat-form-field style="width: 100%;">
                                    <mat-icon matPrefix>search</mat-icon>
                                    <input style="pointer-events: auto;" [(ngModel)]="searchInput" placeholder="Search..." (click)="$event.stopPropagation();" matInput>
                                </mat-form-field>
                            </mat-option>

                            <ng-container *ngFor="let customAccountSession of customAccountSessionList">
                                <mat-option *ngIf="customAccountSession.title.toLowerCase().startsWith(searchInput.toLowerCase())"
                                        (click)="addNewAccountInFeePaymentAccountList(customAccountSession, paymentMode); $event.stopPropagation();">
                                    {{customAccountSession.title}}&nbsp;A/c
                                </mat-option>   
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    </div>
                </ng-container>

                <button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" style="float: right;" (click)="serviceAdapter.deleteAccounting()">Disable Accounting</button>
                <button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" style="float: right;"
                        (click)="serviceAdapter.updatePaymentSettings()">
                        Update</button><br/>
                <div class="clearfix"></div>
            </ng-container>
            
            <ng-template #enableAccounting>
                <button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" 
                        (click)="enbaleAccountingHandler()"
                        style="background-color: blue;">
                        Enable Accounting</button>
            </ng-template>
        </div>

        <mat-divider style="margin: 12px 0px;"></mat-divider>
        <ng-container *ngIf="lockFees; else feesUnlocked;">
            <span style="font-size: 16px;">
                Unlock fees structure for session {{getSession(this.user.activeSchool.currentSessionDbId).name}}
            </span><br/>
            <button type="submit"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    (click)="serviceAdapter.unlockFees()">
                Unlock
            </button>
        </ng-container>

        <ng-template #feesUnlocked>
            <span style="font-size: 16px;">
                Lock fees structure for session {{getSession(this.user.activeSchool.currentSessionDbId).name}}
            </span><br/>
            <button type="submit"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    (click)="serviceAdapter.lockFees()">
                Lock
            </button>
        </ng-template>

    </ng-container>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>
