@media only screen and (min-width: 992px) {
    .main-content {
        padding: 0px;
        margin: 0px;
    }

    .table-content {
        margin-top: 40px;
        margin-left: 40px;
    }
}

.main-content {
    height: 95%;
}

.container-fluid {
    height: 100%;
}

/*th {
    font-weight: 800 !important;
}*/

.paymentInput {
    width: 100%;
    text-align: right;
    border-top: none;
    border-right: none;
    border-left: none;
}

redBackground {
    background-color: red;
}

.nowShow {
    background-color: red;
}

i {
    cursor: pointer;
}

.hoverHighlight:hover {
    background-color: lightgrey;
}

.loader-custom {
    margin-left: 5px;
    display: inline-block;
    border: 2px solid lightgrey;
    border-radius: 50%;
    border-top: 2px solid dimgrey;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgrey;
    width: 90%;
    margin-left: 5px;
}

.updatingField {
    animation: colorchange infinite 15s;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange infinite 15s;
    /* Chrome and Safari */
}

.invalidMarks {
    background-color: red;
}

@keyframes colorchange {
    0% {
        background: lightpink;
    }

    25% {
        background: lightyellow;
    }

    50% {
        background: lightblue;
    }

    75% {
        background: lightgreen;
    }

    100% {
        background: lightpink;
    }
}

@-webkit-keyframes colorchange

/* Safari and Chrome - necessary duplicate */
    {
    0% {
        background: lightpink;
    }

    25% {
        background: lightyellow;
    }

    50% {
        background: lightblue;
    }

    75% {
        background: lightgreen;
    }

    100% {
        background: lightpink;
    }
}

/*.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}*/
