<div class="card-content main-page">
    <ng-container *ngIf="!isInitialLoading">
        <div class="row">
            <div class="col-md-9" *ngIf="examinationClassSectionSubjectList.length > 0">
                <mat-form-field>
                    <mat-select
                        placeholder="Select Examination"
                        [ngModel]="selectedExamination"
                        id="selectExam"
                        [disabled]="isLoading"
                        (ngModelChange)="selectedExamination = $event; detectChanges()"
                    >
                        <mat-option
                            *ngFor="let examination of examinationClassSectionSubjectList"
                            testId="examination.id"
                            [value]="examination"
                        >
                            {{ examination.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-top: 23px; margin-left: 20px">
                    <mat-select
                        placeholder="Select Class"
                        [ngModel]="selectedExamination.selectedClass"
                        id="selectClass"
                        (ngModelChange)="selectedExamination.selectedClass = $event; detectChanges()"
                    >
                        <mat-option *ngFor="let classs of selectedExamination.classList" testId="classs.id" [value]="classs">
                            {{ classs.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-top: 23px; margin-left: 20px">
                    <mat-select
                        placeholder="Select Section"
                        id="selectSection"
                        [ngModel]="selectedExamination.selectedClass.selectedSection"
                        (ngModelChange)="selectedExamination.selectedClass.selectedSection = $event; detectChanges()"
                    >
                        <mat-option
                            *ngFor="let section of selectedExamination.selectedClass.sectionList"
                            testId="section.id"
                            [value]="section"
                        >
                            {{ section.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-top: 23px; margin-left: 20px">
                    <mat-select
                        placeholder="Select Test"
                    >
                        <mat-option *ngFor="let test of selectedExamination.selectedClass.selectedSection.testList">
                            <mat-checkbox
                                [(ngModel)]="test.isSelected"
                                (click)="$event.stopPropagation()"
                            >
                                {{ test.name }}
                            </mat-checkbox>
                            <!-- {{ test.name }} -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button
                    type="submit"
                    style="margin-left: 20px"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    (click)="serviceAdapter.getStudentTestDetails()"
                >
                    GET
                </button>
            </div>

            <div class="col-md-9" *ngIf="examinationClassSectionSubjectList.length === 0">No tests for you to update marks!</div>
        </div>

        <ng-container *ngIf="showTestDetails && !isLoading">
            <div class="row" style="border-bottom: 1px solid black; margin-top: 15px; margin-bottom: 15px">
                <div class="col-md-12"></div>
            </div>
            <div class="responsive-table-wrapper">
            <table class="table table-hover">
                <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                    <tr>
                        <th>S No.</th>
                        <th>Student</th>
                        <th>Roll No.</th>
                        <ng-container *ngFor="let test of selectedExamination.selectedClass.selectedSection.selectedTestList">
                            <th>
                                <span>{{ test.name }} (Max: {{ test.maximumMarks }})</span>
                            </th>
                            <th style="padding-left:4px;padding-right:4px;">Absent</th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let student of getFilteredStudentList(
                                selectedExamination.selectedClass.selectedSection.selectedTestList.studentList
                            );
                            let i = index
                        "
                    >
                        <td>{{ i + 1 }}.</td>
                        <td>{{ student.name }}</td>
                        <td>
                            <span *ngIf="student.rollNumber != null">{{ student.rollNumber }}</span>
                            <span *ngIf="student.rollNumber == null"> N/A </span>
                        </td>
                        <ng-container *ngFor="let test of student.testData">
                            <td>
                                <input [ngClass]="{'invalidMarks': test.marksObtained > test.maximumMarks}" type="number" [disabled]="test.absent" [(ngModel)]="test.marksObtained" (change)="handleUpdate(test,$event)" placeholder="Type marks here" />
                            </td>
                            <td style="padding-left:4px;padding-right:4px;">
                                <mat-checkbox style="margin-left: 14px" [(ngModel)]="test.absent" (ngModelChange)="handleUpdate(test)"></mat-checkbox>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isLoading || isInitialLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
</div>