<div *ngIf="!isMobile()" id="desktop-version" class="background"
     style="background-image:url(/assets/img/sss.png);">
    <img src="/assets/img/korangleLogo.png" width="30" height="30"
         class="logo" alt="korangle logo">
    <span class="logo-name">Korangle</span>
    <a href="#" class="back-button" style="float: right;right: 15%;top: 4%;">
        Back to HomePage
    </a>
    <div class="centered-div" *ngIf="section=='contact'"  id="contact" style="height: 100vh;">
        <mat-tab-group #tabGroup [color]="'warn'">
            <mat-tab label="Contact Us">
                <br>
                <span style="margin-bottom: 5px">Enter your details and we will get contact you</span><br><br>
                <label>
                    Mobile Number <span style="color:#f88c7c">*</span>
                </label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Mobile Number">
                </mat-form-field>
                <br>
                <div class="row" style="margin-right: 0 !important;margin-left: 0 !important;">
                    <div class="col-md-6" style="padding-left:0 !important;padding-right: 15px !important;">
                        <label>First Name <span style="color:#f88c7c">*</span></label><br>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="First Name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="padding-left:0 !important;padding-right: 0 !important;">
                        <label>Last Name <span
                                style="color:#f88c7c">*</span></label><br>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Last Name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" style="margin-right: 0 !important;margin-left: 0 !important;">
                    <div class="col-md-6" style="padding-left:0 !important;padding-right: 15px !important;">
                        <label>Email ID</label><br>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Email ID">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="padding-left:0 !important;padding-right: 0 !important;">
                        <label>School Name</label><br>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="School Name">
                        </mat-form-field>
                    </div>
                </div>
                <button type="button" class="btn">Submit</button>
            </mat-tab>
        </mat-tab-group>
        </div>
    <div style="display: flex;margin-left: 25%;min-height: 100vh" id="create" *ngIf="section=='create'">
        <mat-tab-group #tabGroup [color]="'warn'" style="margin-top: 5%;">
                <mat-tab label="Create School"><br>
                    <label>Mobile Number <span style="color:#f88c7c">*</span></label><br>
                    <mat-form-field appearance="outline" style="width: 45%">
                        <input matInput placeholder="Mobile Number">
                    </mat-form-field>
                    <span>&nbsp; An OTP will be sent For verification &nbsp; </span>
                    <button type="button" class="btn">Send OTP</button>
                    <br>
                    <label>OTP <span style="color:#f88c7c">*</span></label><br>
                    <ng-otp-input (onInputChange)="onOtpChange($event)"
                                  [config]="{length:6,allowNumbersOnly:true}"></ng-otp-input>
                    <br>
                    <div class="row" style="margin-right: 0 !important;margin-left: 0 !important;">
                        <div class="col-md-4" style="padding-left:0 !important;padding-right: 15px !important;">
                            <label>First Name <span style="color:#f88c7c">*</span></label><br>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="First Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" style="padding-left:0 !important;padding-right: 15px !important;">
                            <label>Last Name <span style="color:#f88c7c">*</span></label><br>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Last Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" style="padding-left:0 !important;padding-right: 0 !important;">
                            <label>Email ID</label><br>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Email ID">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row" style="margin-right: 0 !important;margin-left: 0 !important;">
                        <div class="col-md-6" style="padding-left:0 !important;padding-right: 15px !important;">
                            <label>Full Name of School <span
                                    style="color:#f88c7c">*</span></label><br>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Full School Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" style="padding-left:0 !important;padding-right: 15px !important;">
                            <label>Name
                                <span>( in short less than 15 Characters )</span>
                                <span style="color:#f88c7c">*</span>
                            </label><br>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="School Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <label>Address</label><br>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Address">
                    </mat-form-field>
                    <button type="button" class="btn">Sign Up</button>
                </mat-tab>
            </mat-tab-group>
    </div>
</div>

<div *ngIf="isMobile()" id="mobile-version" class="background" style="background-image:url(/assets/img/mob-create-contact.png);">
    <div class="mobile-header">
        <img src="/assets/img/korangleLogo.png" width="30" height="30" class="mobile-logo" alt="korangle logo">
        <span class="mobile-logo-name">Korangle</span>
    </div>

    <div class="centered-div" style="margin-bottom: 60px">
        <div class="col-md-4">
            <mat-tab-group *ngIf="section=='create'" #tabGroup [color]="'warn'" style="margin-top: 5%;">
                <mat-tab label="Create School"><br>
                    <label>Mobile Number <span style="color:#f88c7c">*</span></label><br>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Mobile Number">
                    </mat-form-field>
                    <br>
                    <span>An OTP will be sent For verification </span>
                    <button type="button" class="btn">Send OTP</button>
                    <br>
                    <label>OTP <span style="color:#f88c7c">*</span></label><br>
                    <ng-otp-input (onInputChange)="onOtpChange($event)"
                                  [config]="{length:6,allowNumbersOnly:true}"></ng-otp-input>
                    <br>
                    <div class="row" style="margin-right: 0 !important;margin-left: 0 !important;">
                        <div class="col-md-4" style="padding-left:0 !important;padding-right: 15px !important;">
                            <label>First Name <span style="color:#f88c7c">*</span></label><br>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="First Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" style="padding-left:0 !important;padding-right: 0 !important;">
                            <label>Last Name <span style="color:#f88c7c">*</span></label><br>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Last Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <label>Email ID</label><br>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Email ID">
                    </mat-form-field>
                    <label>Full Name of School <span
                            style="color:#f88c7c">*</span></label><br>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Full School Name">
                    </mat-form-field>
                    <label>Name
                        <span>( in short less than 15 Characters )</span>
                        <span style="color:#f88c7c">*</span>
                    </label><br>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="School Name">
                    </mat-form-field>
                    <label>Address</label><br>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Address">
                    </mat-form-field>
                    <button type="button" class="btn">Sign Up</button>
                </mat-tab>
            </mat-tab-group>
            <mat-tab-group *ngIf="section=='contact'" #tabGroup [color]="'warn'">
            <mat-tab label="Contact Us">
                <br>
                <span style="margin-bottom: 5px">Enter your details and we will get contact you</span><br><br>
                <label>
                    Mobile Number <span style="color:#f88c7c">*</span>
                </label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Mobile Number">
                </mat-form-field>
                <br>
                <div class="row" style="margin-right: 0 !important;margin-left: 0 !important;">
                    <div class="col-md-6" style="padding-left:0 !important;padding-right: 15px !important;">
                        <label>First Name <span style="color:#f88c7c">*</span></label><br>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="First Name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="padding-left:0 !important;padding-right: 0 !important;">
                        <label>Last Name <span
                                style="color:#f88c7c">*</span></label><br>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Last Name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" style="margin-right: 0 !important;margin-left: 0 !important;">
                    <div class="col-md-6" style="padding-left:0 !important;padding-right: 15px !important;">
                        <label>Email ID</label><br>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Email ID">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" style="padding-left:0 !important;padding-right: 0 !important;">
                        <label>School Name</label><br>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="School Name">
                        </mat-form-field>
                    </div>
                </div>
                <button type="button" class="btn">Submit</button>
            </mat-tab>
        </mat-tab-group>
        </div>
        <a href="#" style="bottom: 6%;" class="back-button">Back to HomePage</a>
    </div>
    <div class="mobile-footer"></div>
</div>