.example-card {
    margin: 0 auto;
    width: 40%;
    vertical-align: middle;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/deep/ .mat-tab-label {
    font-size: 18px;
    padding: 0 !important;
    text-align: left !important;
    justify-content: normal !important;
}

/deep/ .mat-tab-group {
    flex-direction: column !important;
    align-content: center !important;
    flex-wrap: wrap !important;
}

/deep/ .mat-tab-label-active {
    color: #FF7131 !important;
    opacity: 0.6 !important;
}

/deep/ .mat-tab-label {
    color: #000000;
}

/deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #F9F9F9 !important;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

/deep/ .wrapper {
    height: fit-content !important;
}

.btn {
    padding: 9px 20px !important;
}

/deep/ .mat-form-field{
    font-size: 12px;
}

/deep/ .otp-input{
    font-size: 16px !important;
    width: 35px !important;
    height: 35px !important;
    font-weight: bold !important;
    background-color: #F9F9F9 !important;
}