<div class="card-content table-responsive " *ngIf="!isInitialLoading">
    <div class="row col-md-12" >
        <mat-form-field style="margin-right: 20px;">
            <input type="date" matInput
                onkeydown="return false"
                [min]="minimumDate"
                [max]="maximumDate"
                [ngModel]="startDate"
                (ngModelChange)="startDate=$event;" placeholder="Start Date ">
        </mat-form-field>
        
        <mat-form-field style="margin-right: 20px;">
            <input type="date" matInput
                onkeydown="return false"
                [min]="startDate"
                [max]="maximumDate"
                [ngModel]="endDate"
                (ngModelChange)="endDate=$event;" placeholder="End Date ">
        </mat-form-field>

        <button class="custom-button" style="background:rgba(255, 152, 0, 1); color: white; padding: 6px 4px 2px 5px" (click)="serviceAdapter.loadTransactions(); "><i class="material-icons">search</i></button>
        <ng-container *ngIf="!isLoading && transactionsList && transactionsList.length>0">
            <button class="custom-button" style="padding: 6px 4px 2px 5px; float: right; margin-left: 10px" (click)="serviceAdapter.loadAllTransactions('print')"><i class="material-icons">print</i></button>
            <button class="custom-button" style="padding: 6px 4px 2px 5px; float: right; margin-left: 10px" (click)="serviceAdapter.loadAllTransactions('download')"><i class="material-icons">download</i></button>
        </ng-container>
    </div>

    <div *ngIf="transactionsList && !isLoading" style="width: 100%; display: flex; flex-wrap: wrap;">
        
        <mat-form-field>
            <mat-select placeholder="Select Columns">
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterColumnsList,'value'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterColumnsList,'value'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
                <mat-option *ngFor="let filter of filterColumnsList">
                    <mat-checkbox [(ngModel)]="filter.value" (click)="$event.stopPropagation()">{{filter.displayName}}</mat-checkbox>
                </mat-option>   
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterColumnsList,'value'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterColumnsList,'value'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field >
            <mat-select placeholder="Filter By A/C">
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterAccountsList,'selected'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterAccountsList,'selected'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
                <mat-option *ngFor="let account of filterAccountsList">
                    <mat-checkbox [(ngModel)]="account.selected" (ngModelChange)="getFilteredTransactionList();">{{account.title}}&nbsp;A/c</mat-checkbox>
                </mat-option>   
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterAccountsList,'selected'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterAccountsList,'selected'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Filter By Employee">
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterEmployeeList,'selected'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterEmployeeList,'selected'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
                <mat-option *ngFor="let employee of filterEmployeeList">
                    <mat-checkbox [(ngModel)]="employee.selected" (ngModelChange)="getFilteredTransactionList();">{{employee.name}}</mat-checkbox>
                </mat-option>   
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterEmployeeList,'selected'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterEmployeeList,'selected'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field >
            <mat-select placeholder="Filter By Head">
                        <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterHeadsList,'selected'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterHeadsList,'selected'); $event.stopPropagation();">Clear All
                        </button>
                            </mat-option>
                <mat-option *ngFor="let head of filterHeadsList">
                    <mat-checkbox [(ngModel)]="head.selected" (ngModelChange)="getFilteredTransactionList();">{{head.title}}</mat-checkbox>
                </mat-option>   
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterHeadsList,'selected'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterHeadsList,'selected'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Filter By Group">
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterGroupsList,'selected'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterGroupsList,'selected'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
                <mat-option *ngFor="let group of filterGroupsList">
                    <mat-checkbox [(ngModel)]="group.selected" (click)="getFilteredTransactionList();$event.stopPropagation()">{{group.title}}</mat-checkbox>
                </mat-option>   
                    <mat-option>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="selectAll(filterGroupsList,'selected'); $event.stopPropagation();">Select All
                        </button>
                        <button class="btn"
                                style="padding: 4px 7px"
                                (click)="deSelectAll(filterGroupsList,'selected'); $event.stopPropagation();">Clear All
                        </button>
                    </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="showSelectedOnly" (ngModelChange)="getFilteredTransactionList();" style="margin-top:20px; margin-left: auto;" >Only Selected Accounts <mat-icon style="vertical-align: middle;" matTooltip="only transactions between selected accounts">help</mat-icon></mat-slide-toggle>

    </div>

    <table class="table table-hover" *ngIf="transactionsList && !isLoading">
        <thead style="color: rgba(255, 152, 0, 1);">
            <tr> 
                <th *ngIf="columnFilter.voucherNumber.value"><span>V. No.</span></th>
                <th *ngIf="columnFilter.date.value" class="text-left"><span>Date</span></th>
                <th *ngIf="columnFilter.debitAccount.value" class="text-left"><span>Paid To</span></th>
                <th *ngIf="columnFilter.creditAccount.value" class="text-left"><span>Paid From</span></th>
                <th *ngIf="columnFilter.remark.value" class="text-left"><span>Remark</span></th>
                <th *ngIf="columnFilter.approvalId.value" class="text-left"><span>Approval ID</span></th>
                <th *ngIf="columnFilter.addedBy.value" class="text-left"><span>Added By</span></th>
                <th *ngIf="columnFilter.quotation.value" class="text-center"><span>Quotation</span></th>
                <th *ngIf="columnFilter.bill.value" class="text-center"><span>Bill</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of filteredTransactionsList">
                
                <td *ngIf="columnFilter.voucherNumber.value" class="text-left" style="vertical-align: top;"><span>{{transaction.voucherNumber}}</span></td>
                <td *ngIf="columnFilter.date.value" class="text-left" style="vertical-align: top;"><span>{{getDisplayDateFormat(transaction.transactionDate)}}</span></td>
                <td *ngIf="columnFilter.debitAccount.value" class="text-left" style="vertical-align: top;" >
                    <div *ngFor="let account of transaction.debitAccounts;" style="margin-bottom: 10px;">
                        <span>{{account.account}}&nbsp;A/c</span><br>
                        <span style="color: rgba(76, 175, 80, 1);">{{account.amount}}</span>
                    </div>
                </td>
                <td *ngIf="columnFilter.creditAccount.value" class="text-left" style="vertical-align: top;">
                    <div *ngFor="let account of transaction.creditAccounts" style="margin-bottom: 10px;">
                        <span>{{account.account}}&nbsp;A/c</span><br>
                        <span style="color:rgba(86, 142, 174, 1)">{{account.amount}}</span>
                    </div>
                </td>
                <td *ngIf="columnFilter.remark.value" class="text-left" style="vertical-align: top;"><span>{{transaction.remark}}</span></td>
                <td *ngIf="columnFilter.approvalId.value" class="text-left" style="vertical-align: top;"><span>{{transaction.approvalId}}</span></td>
                <td *ngIf="columnFilter.addedBy.value" class="text-left" style="vertical-align: top;"><span>{{transaction.parentEmployeeName}}</span></td>
                <td *ngIf="columnFilter.quotation.value" class="text-center">
                    <i *ngIf="transaction.quotationImages.length > 0" class="material-icons" style="cursor: pointer;" (click)="openImagePreviewDialog(transaction.quotationImages, 0, 0);">
                        insert_photo
                    </i>
                    <i *ngIf="transaction.quotationImages.length == 0">
                        No Image
                    </i>
                </td>
                <td *ngIf="columnFilter.bill.value" class="text-center">  
                    <i *ngIf="transaction.billImages.length > 0" class="material-icons" style="cursor: pointer;" (click)="openImagePreviewDialog(transaction.billImages, 0, 0)">
                        insert_photo
                    </i>
                    <i *ngIf="transaction.billImages.length == 0">
                        No Image
                    </i>
                </td>
                 <td *ngIf="canUserUpdate() && !isAccountLocked()" style="color: rgba(255, 152, 0, 1); cursor: pointer" class="text-center" (click)="openUpdateTransactionDialog(transaction)"><u>Update</u></td>
            </tr>
            
        </tbody>

    </table>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
    
</div>

<ng-container *ngIf="isInitialLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
