<div class="card-content table-responsive">

    <!-- Class Filter -->
    <mat-form-field style="margin-right: 15px;">
        <mat-select placeholder="Select Class" id="select-class" style="width: 100%;">

            <mat-option>
                <button class="btn"
                        style="padding: 4px 7px"
                        id="select-all-classes"
                        (click)="selectAllClasses(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="unselectAllClasses(); $event.stopPropagation();">Clear All
                </button>
            </mat-option>

            <ng-container *ngFor="let class of classSectionList">
                <ng-container *ngFor="let section of class.sectionList">
                    <mat-option *ngIf="section.containsStudent" style="width: 100%;">
                        <mat-checkbox [(ngModel)]="section.selected"
                                      (ngModelChange)="handleStudentDisplay()"
                                      (click)="$event.stopPropagation();">
                            {{class.name}}<span *ngIf="showSectionName(class)">, {{section.name}}</span>
                        </mat-checkbox>
                    </mat-option>
                </ng-container>
            </ng-container>

            <mat-option>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="selectAllClasses(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="unselectAllClasses(); $event.stopPropagation();">Clear All
                </button>
            </mat-option>

        </mat-select>
    </mat-form-field>

    <!-- Column Filter For Profile Data -->
    <mat-form-field style="margin-right: 15px;"
    				*ngIf="currentProfileDocumentFilter==='Profile'">
        <mat-select placeholder="Select Columns"
        			id="select-profile-column"
        			style="width: 100%;">
            <mat-option>
                <button class="btn"
                		id="select-all-profile-columns"
                        style="padding: 4px 7px"
                        (click)="selectAllColumns(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                		id="unselect-all-profile-columns"
                        style="padding: 4px 7px"
                        (click)="unSelectAllColumns(); $event.stopPropagation();">Clear All
                </button>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showSerialNumber" (click)="$event.stopPropagation();">Serial No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showProfileImage" (click)="$event.stopPropagation();">Profile
                    Image
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showName" (click)="$event.stopPropagation();">Name
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showClassName" (click)="$event.stopPropagation();">Class
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showSectionName" (click)="$event.stopPropagation();">Section
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showRollNumber" (click)="$event.stopPropagation();">Roll No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFathersName" (click)="$event.stopPropagation();">Father's
                    Name
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showMobileNumber" (click)="$event.stopPropagation();">Mobile No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showSecondMobileNumber" (click)="$event.stopPropagation();">Alt. Mobile No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showScholarNumber" (click)="$event.stopPropagation();">Scholar
                    No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showDateOfBirth" (click)="$event.stopPropagation();">Date of
                    Birth
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showMotherName" (click)="$event.stopPropagation();">Mother's
                    Name
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showGender" (click)="$event.stopPropagation();">Gender
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showCaste" (click)="$event.stopPropagation();">Caste
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showCategory" (click)="$event.stopPropagation();">Category
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showReligion" (click)="$event.stopPropagation();">Religion
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFatherOccupation" (click)="$event.stopPropagation();">
                    Father's
                    Occupation
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showAddress" (click)="$event.stopPropagation();">Address
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showChildSSMID" (click)="$event.stopPropagation();">Child SSMID
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFamilySSMID" (click)="$event.stopPropagation();">Family
                    SSMID
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBankName" (click)="$event.stopPropagation();">Bank Name
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBankIfscCode" (click)="$event.stopPropagation();">Bank Ifsc Code
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBankAccountNum" (click)="$event.stopPropagation();">Bank
                    Acc.
                    No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showAadharNum" (click)="$event.stopPropagation();">Aadhar No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBloodGroup" (click)="$event.stopPropagation();">Blood Group
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFatherAnnualIncome" (click)="$event.stopPropagation();">
                    Father's Annual Income
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showRTE" (click)="$event.stopPropagation();">
                    RTE
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showAdmissionSession"
                    (click)="$event.stopPropagation();">
                    Admission Session
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBusStopName"
                    (click)="$event.stopPropagation();">
                    Bus Stop Name
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showDateOfAdmission"
                    (click)="$event.stopPropagation();">
                    Date Of Admission
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showRemark" (click)="$event.stopPropagation();">
                    Remark
                </mat-checkbox>
            </mat-option>
            <mat-option *ngFor="let parameter of studentParameterOtherList">
                <mat-checkbox [(ngModel)]="parameter.show" (click)="$event.stopPropagation();">
                    {{parameter.name}}
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="selectAllColumns(); $event.stopPropagation();">Select All
                </button>
                <button class="btn"
                        style="padding: 4px 7px"
                        (click)="unSelectAllColumns(); $event.stopPropagation();">Clear All
                </button>
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <!-- Column Filter For Document Data-->
        <mat-form-field style="margin-right: 15px;"
        				*ngIf="currentProfileDocumentFilter==='Documents'">
        <mat-select placeholder="Select Documents"
        			id="select-document-column">
            <mat-option>
                <button id="select-all-document-columns" 
                		class="btn"
                		style="padding: 4px 7px" 
                		(click)="selectAllDocuments(); $event.stopPropagation();">Select All
        		</button>
                <button id="unselect-all-document-columns"
                		class="btn"
                		style="padding: 4px 7px"
                		(click)="unSelectAllDocuments(); $event.stopPropagation();">Clear All
        		</button>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showName" (click)="$event.stopPropagation();">Name
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showFathersName" (click)="$event.stopPropagation();">Father's Name
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showClassName" (click)="$event.stopPropagation();">Class
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showSectionName" (click)="$event.stopPropagation();">Section
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showRollNumber" (click)="$event.stopPropagation();">Roll No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showScholarNumber" (click)="$event.stopPropagation();">Scholar No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showMobileNumber" (click)="$event.stopPropagation();">Mobile No.
                </mat-checkbox>
            </mat-option>
            <hr>
            <mat-option *ngFor="let parameter of studentParameterDocumentList">
                <mat-checkbox [(ngModel)]="parameter.show" (click)="$event.stopPropagation();">
                    {{parameter.name}}
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <button class="btn"
                		style="padding: 4px 7px"
                		(click)="selectAllDocuments(); $event.stopPropagation();">Select All
        		</button>
                <button class="btn"
                		style="padding: 4px 7px"
                		(click)="unSelectAllDocuments(); $event.stopPropagation();">Clear All
        		</button>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button *ngIf="currentProfileDocumentFilter==='Profile'"
    		id="print-list"
    		type="button"
            class="btn btn-{{user.activeSchool.secondaryThemeColor}} hidden-sm hidden-xs"
            style="padding: 12px 15px; margin-right: 17px;"
            matTooltip="Print the following list"
            tooltip-position="left"
            (click)="printStudentList();">
        Print<i class="material-icons" style="margin-left: 15px;">print</i>
    </button>

    <button type="button"
    		id="download"
            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
            style="padding: 12px 15px; margin-right: 17px;"
            matTooltip="Download the following items"
            tooltip-position="left"
            (click)="downloadList();">
        Download<i class="material-icons" style="margin-left: 15px;">save_alt</i>
    </button>
    
    <mat-form-field style="float: right;">
        <mat-select [ngModel]="currentProfileDocumentFilter"
        			(ngModelChange)="currentProfileDocumentFilter=$event">
            <mat-option value="Profile">Profile</mat-option>
            <mat-option value="Documents">Documents</mat-option>
        </mat-select>
    </mat-form-field>
    
    <!-- Filters -->
    <br>
    <ng-container>
        <button class="btn"
        		style="padding: 4px 7px"
        		(click)="showFilters=!showFilters">
            <ng-container *ngIf="!showFilters">Show Filters</ng-container>
            <ng-container *ngIf="showFilters">Hide Filters</ng-container>
        </button>
        <ng-container *ngIf="showFilters">
            <br>Category<br>
            <mat-checkbox [(ngModel)]="scSelected"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">SC,
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="stSelected"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">ST,
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="obcSelected"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">OBC,
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="generalSelected"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">Gen.
            </mat-checkbox>
            
            <br><br>Gender<br>
            <mat-checkbox [(ngModel)]="maleSelected"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">M
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="femaleSelected"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">F
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="otherGenderSelected"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">Other
            </mat-checkbox>
            
            
            <br><br><b>Admission</b><br>
            <mat-checkbox [(ngModel)]="newAdmission"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">New
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="oldAdmission"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">Old
            </mat-checkbox>
            
            <br><br><b>RTE</b><br>
            <mat-checkbox [(ngModel)]="noneRTE"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">None
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="yesRTE"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">Yes
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="noRTE"
                          style="margin-right: 5px;"
                          (ngModelChange)="handleStudentDisplay()"
                          (click)="$event.stopPropagation();">No
            </mat-checkbox>
            <br>
            <hr>
            <h5>Custom Filters</h5>
            <ng-container *ngFor="let parameter of getFilteredStudentParameterList()">
                <mat-form-field>
                    <mat-label>{{parameter.name}}</mat-label>
                    <input matInput type="text"
                    	[(ngModel)]="parameter.filterFilterValues">
                </mat-form-field><br/>
                <mat-checkbox [(ngModel)]="parameter.showNone"
                			style="margin-right: 5px;"
                			(ngModelChange)="handleStudentDisplay()"
                			(click)="$event.stopPropagation();">None
                </mat-checkbox>
                <mat-checkbox *ngFor="let filter of getFilteredFilterValues(parameter)"
                			[(ngModel)]="filter.show"
                			style="margin-right: 5px;"
                			(ngModelChange)="handleStudentDisplay()"
                			(click)="$event.stopPropagation();">{{filter.name}}
                </mat-checkbox><br/>
            </ng-container>
        </ng-container>
    </ng-container>
    
    <ng-container *ngIf="currentProfileDocumentFilter==='Documents'"><br>
    	<div *ngIf="download=='START'">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-success"
                	role="progressbar"
                	[style.width.%]="percent_download_comlpleted">{{percent_download_comlpleted}}%
                </div>
            </div>
            <div class="text-center">
                <h4><b>{{downloadedFiles-totalFailed}} out of {{totalFiles}} files downloaded</b></h4>
                <div *ngIf="totalFailed!=0">
                    <h5><b><i style="color:red">Failed to download {{totalFailed}} files</i></b></h5>
                </div>
            </div>
        </div>
        <div *ngIf="download=='END'">
            <h4 class="text-success text-center">
                <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <b>Download Done now Unziping</b>
            </h4>
            <div *ngIf="totalFailed!=0" class="text-center">
                <h5><b><i style="color:red">Failed to download {{totalFailed}} files</i></b></h5>
            </div>
        </div>
        <div *ngIf="download=='FAIL'">
            <h4 class="text-danger text-center">
                <b>Download failed restart again.</b>
            </h4>
        </div>
    </ng-container>
    <p>Total Students: <b>{{studentFullProfileList.length}}</b>, Displaying: <b>{{displayStudentNumber}}</b>, Selected: <b>{{getSelectedStudents()}}</b></p>
    <button class="btn" style="padding: 7px 7px; margin-right: 5px;" (click)="selectAllStudents(); $event.stopPropagation();">Select All
    </button>
    <button class="btn" style="padding: 7px 7px" (click)="unselectAllStudents(); $event.stopPropagation();">Clear All
    </button>

    <!-- Student Table Profile Data List -->
    <ng-container *ngIf="!isLoading  && currentProfileDocumentFilter==='Profile'">
    	<cdk-virtual-scroll-viewport itemSize="15" class="example-viewport">
        	<table class="table table-hover">
		        <thead class="text-{{user.activeSchool.secondaryThemeColor}}">
		        <tr>
		        	<th></th>
		            <th [class.hidden]="!columnFilter.showSerialNumber">S No.</th>
		            <th [class.hidden]="!columnFilter.showProfileImage" style="text-align: center">Profile Image</th>
		            <th [class.hidden]="!columnFilter.showName">Name</th>
		            <th [class.hidden]="!columnFilter.showClassName">Class</th>
		            <th [class.hidden]="!columnFilter.showSectionName">Section</th>
		            <th [class.hidden]="!columnFilter.showRollNumber">Roll No.</th>
		            <th [class.hidden]="!columnFilter.showFathersName">Father's Name</th>
		            <th [class.hidden]="!columnFilter.showMobileNumber">Mobile No.</th>
		            <th [class.hidden]="!columnFilter.showSecondMobileNumber">Alt. Mobile No.</th>
		            <th [class.hidden]="!columnFilter.showScholarNumber">Scholar No.</th>
		            <th [class.hidden]="!columnFilter.showDateOfBirth">Date of Birth</th>
		            <th [class.hidden]="!columnFilter.showMotherName">Mother's Name</th>
		            <th [class.hidden]="!columnFilter.showGender">Gender</th>
		            <th [class.hidden]="!columnFilter.showCaste">Caste</th>
		            <th [class.hidden]="!columnFilter.showCategory">Category</th>
		            <th [class.hidden]="!columnFilter.showReligion">Religion</th>
		            <th [class.hidden]="!columnFilter.showFatherOccupation">Father's Occupation</th>
		            <th [class.hidden]="!columnFilter.showAddress">Address</th>
		            <th [class.hidden]="!columnFilter.showChildSSMID">Child SSMID</th>
		            <th [class.hidden]="!columnFilter.showFamilySSMID">Family SSMID</th>
		            <th [class.hidden]="!columnFilter.showBankName">Bank Name</th>
		            <th [class.hidden]="!columnFilter.showBankIfscCode">Bank Ifsc Code</th>
		            <th [class.hidden]="!columnFilter.showBankAccountNum">Bank Acc. No.</th>
		            <th [class.hidden]="!columnFilter.showAadharNum">Aadhar No.</th>
		            <th [class.hidden]="!columnFilter.showBloodGroup">Blood Group</th>
		            <th [class.hidden]="!columnFilter.showFatherAnnualIncome">Father's Annual Income</th>
		            <th [class.hidden]="!columnFilter.showRTE">RTE</th>
		            <th [class.hidden]="!columnFilter.showAdmissionSession">Admission Session</th>
		            <th [class.hidden]="!columnFilter.showBusStopName">Bus Stop Name</th>
		            <th [class.hidden]="!columnFilter.showDateOfAdmission">Date Of Admission</th>
		            <th [class.hidden]="!columnFilter.showRemark">Remark</th>
		            <th *ngFor="let parameter of studentParameterOtherList" [class.hidden]="!parameter.show">{{parameter.name}}</th>
		        </tr>
		        </thead>
		        <tbody>
		        <ng-container *cdkVirtualFor="let student of studentFullProfileList">
		            <tr [class.hidden]="!student.show">
		                <ng-container>
		                    <td>
                            	<mat-checkbox [(ngModel)]="student.selectProfile"
                            				  (click)="$event.stopPropagation();">
                                </mat-checkbox>
                            </td>
		                    <td [class.hidden]="!columnFilter.showSerialNumber">{{student.serialNumber}}.</td>
		                    <td [class.hidden]="!columnFilter.showProfileImage" align="center">
		                        <img *ngIf="student.profileImage"
		                             src="{{student.profileImage}}"
		                             style="width: 50px">
		                        <img *ngIf="!student.profileImage"
		                             src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
		                             style="width: 50px"/>
		                    </td>
		                    <td [attr.id]="'student-value-'+student.name.replace(' ','')" [class.hidden]="!columnFilter.showName">{{student.name}}</td>
		                    <td [class.hidden]="!columnFilter.showClassName">{{student.className}}
		                        <!-- span *ngIf="class.sectionList.length > 1">, {{section.name}}</span -->
		                    </td>
		                    <td [class.hidden]="!columnFilter.showSectionName">{{student.sectionName}}</td>
		                    <td [class.hidden]="!columnFilter.showRollNumber">{{student.rollNumber}}</td>
		                    <td [attr.id]="'father-name-value-'+student.fathersName.replace(' ','')" [class.hidden]="!columnFilter.showFathersName">{{student.fathersName}}</td>
		                    <td [class.hidden]="!columnFilter.showMobileNumber">
		                        <span class="hidden-xs hidden-sm">{{student.mobileNumber}}</span>
		                        <a class="visible-xs visible-sm" href="tel:{{student.mobileNumber}}">Call Me</a>
		                    </td>
		                    <td [class.hidden]="!columnFilter.showSecondMobileNumber">
		                        <span class="hidden-xs hidden-sm">{{student.secondMobileNumber}}</span>
		                        <a class="visible-xs visible-sm" href="tel:{{student.secondMobileNumber}}">Call Me</a>
		                    </td>
		                    <td [class.hidden]="!columnFilter.showScholarNumber">{{student.scholarNumber}}</td>
		                    <td [class.hidden]="!columnFilter.showDateOfBirth">
		                        {{student.dateOfBirth | date: 'dd/MM/yyyy'}}
		                    </td>
		                    <td [class.hidden]="!columnFilter.showMotherName">{{student.motherName}}</td>
		                    <td [class.hidden]="!columnFilter.showGender">{{student.gender}}</td>
		                    <td [class.hidden]="!columnFilter.showCaste">{{student.caste}}</td>
		                    <td [class.hidden]="!columnFilter.showCategory">{{student.category}}</td>
		                    <td [class.hidden]="!columnFilter.showReligion">{{student.religion}}</td>
		                    <td [class.hidden]="!columnFilter.showFatherOccupation">{{student.fatherOccupation}}</td>
		                    <td [class.hidden]="!columnFilter.showAddress">{{student.address}}</td>
		                    <td [class.hidden]="!columnFilter.showChildSSMID">{{student.childSSMID}}</td>
		                    <td [class.hidden]="!columnFilter.showFamilySSMID">{{student.familySSMID}}</td>
		                    <td [class.hidden]="!columnFilter.showBankName">{{student.bankName}}</td>
		                    <td [class.hidden]="!columnFilter.showBankIfscCode">{{student.bankIfscCode}}</td>
		                    <td [class.hidden]="!columnFilter.showBankAccountNum">{{student.bankAccountNum}}</td>
		                    <td [class.hidden]="!columnFilter.showAadharNum">{{student.aadharNum}}</td>
		                    <td [class.hidden]="!columnFilter.showBloodGroup">{{student.bloodGroup}}</td>
		                    <td [class.hidden]="!columnFilter.showFatherAnnualIncome">{{student.fatherAnnualIncome}}
		                    </td>
		                    <td [class.hidden]="!columnFilter.showRTE">{{student.rte}}</td>
		                    <td [class.hidden]="!columnFilter.showAdmissionSession">
		                        {{getAdmissionSession(student.admissionSessionDbId)}}
		                    </td>
		                    <td [class.hidden]="!columnFilter.showBusStopName">
		                        {{getBusStopName(student.busStopDbId)}}
		                    </td>
		                    <td [class.hidden]="!columnFilter.showDateOfAdmission">{{student.dateOfAdmission | date: 'dd/MM/yyyy'}}</td>
		                    <td [class.hidden]="!columnFilter.showRemark">{{student.remark}}</td>
		                    <td *ngFor="let parameter of studentParameterList" [class.hidden]="!parameter.show">{{getParameterValue(student, parameter)}}</td>
		                </ng-container>
		            </tr>
		        </ng-container>
		        </tbody>
	    	</table>
        </cdk-virtual-scroll-viewport>
    </ng-container>


<!-- Student Table Documents List -->
    <ng-container *ngIf="!isLoading && currentProfileDocumentFilter==='Documents'">
        <cdk-virtual-scroll-viewport itemSize="15" class="example-viewport">
            <table class="table table-hover">
                <thead class="text-{{user.activeSchool.secondaryThemeColor}}">
                    <tr>
                        <th></th>
                        <th [class.hidden]="!documentFilter.showSerialNumber">S No.</th>
                        <th [class.hidden]="!documentFilter.showName">Name</th>
                        <th [class.hidden]="!documentFilter.showFathersName">Father's Name</th>
                        <th [class.hidden]="!documentFilter.showClassName">Class</th>
                        <th [class.hidden]="!documentFilter.showSectionName">Section</th>
                        <th [class.hidden]="!documentFilter.showRollNumber">Roll No.</th>
                        <th [class.hidden]="!documentFilter.showScholarNumber">Scholar No.</th>
                        <th [class.hidden]="!documentFilter.showMobileNumber">Mobile No.</th>
                        <th class="text-center" *ngFor="let parameter of studentParameterDocumentList" [class.hidden]="!parameter.show">{{parameter.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *cdkVirtualFor="let student of studentFullProfileList">
                        <tr [class.hidden]="!student.show">
                            <ng-container>
                                <td>
                                    <mat-checkbox [(ngModel)]="student.selectDocument"
                                    			  (click)="$event.stopPropagation();">
                                    </mat-checkbox>
                                </td>
                                <td [class.hidden]="!documentFilter.showSerialNumber">{{student.serialNumber}}.</td>
                                <td [attr.id]="'student-value-'+student.name.replace(' ','')" [class.hidden]="!documentFilter.showName">{{student.name}}</td>
                                <td [attr.id]="'father-name-value-'+student.fathersName.replace(' ','')" [class.hidden]="!documentFilter.showFathersName">{{student.fathersName}}</td>
                                <td [class.hidden]="!documentFilter.showClassName">{{student.className}}</td>
                                <td [class.hidden]="!documentFilter.showSectionName">{{student.sectionName}}</td>
                                <td [class.hidden]="!documentFilter.showRollNumber">{{student.rollNumber}}</td>
                                <td [class.hidden]="!documentFilter.showScholarNumber">{{student.scholarNumber}}</td>
                                <td [class.hidden]="!documentFilter.showMobileNumber">
                                    <span class="hidden-xs hidden-sm">{{student.mobileNumber}}</span>
                                    <a class="visible-xs visible-sm" href="tel:{{student.mobileNumber}}">Call Me</a>
                                </td>
                                <td class="text-center" *ngFor="let parameter of studentParameterDocumentList" [class.hidden]="!parameter.show">
                                    <img src="{{getDocumentIcon(student,parameter)}}" style="width:20px"></td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-container>
</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>

