<div class="card-content table-responsive">
    <!-- Class Filter -->
    <mat-form-field style="margin-right: 15px">
        <mat-select placeholder="Select Class" id="select-class" style="width: 100%">
            <mat-option>
                <button class="btn" style="padding: 4px 7px" id="select-all-classes" (click)="selectAllClasses(); $event.stopPropagation()">
                    Select All
                </button>
                <button class="btn" style="padding: 4px 7px" (click)="unselectAllClasses(); $event.stopPropagation()">Clear All</button>
            </mat-option>

            <ng-container *ngFor="let class of classSectionList">
                <ng-container *ngFor="let section of class.sectionList">
                    <mat-option *ngIf="section.containsStudent" style="width: 100%">
                        <mat-checkbox
                            [(ngModel)]="section.selected"
                            (ngModelChange)="handleStudentDisplay()"
                            (click)="$event.stopPropagation()"
                        >
                            {{ class.name }}<span *ngIf="showSectionName(class)">, {{ section.name }}</span>
                        </mat-checkbox>
                    </mat-option>
                </ng-container>
            </ng-container>

            <mat-option>
                <button class="btn" style="padding: 4px 7px" (click)="selectAllClasses(); $event.stopPropagation()">Select All</button>
                <button class="btn" style="padding: 4px 7px" (click)="unselectAllClasses(); $event.stopPropagation()">Clear All</button>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Column Filter For Profile Data -->
    <mat-form-field style="margin-right: 15px" *ngIf="currentProfileDocumentFilter === 'Profile'">
        <mat-select placeholder="Select Columns" id="select-profile-column" style="width: 100%">
            <mat-option>
                <button
                    class="btn"
                    id="select-all-profile-columns"
                    style="padding: 4px 7px"
                    (click)="selectAllColumns(); $event.stopPropagation()"
                >
                    Select All
                </button>
                <button
                    class="btn"
                    id="unselect-all-profile-columns"
                    style="padding: 4px 7px"
                    (click)="unSelectAllColumns(); $event.stopPropagation()"
                >
                    Clear All
                </button>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showSerialNumber" (click)="$event.stopPropagation()">Serial No. </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showProfileImage" (click)="$event.stopPropagation()">Profile Image </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showName" (click)="$event.stopPropagation()">Name </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showClassName" (click)="$event.stopPropagation()">Class </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showSectionName" (click)="$event.stopPropagation()">Section </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showRollNumber" (click)="$event.stopPropagation()">Roll No. </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFathersName" (click)="$event.stopPropagation()">Father's Name </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showMobileNumber" (click)="$event.stopPropagation()">Mobile No. </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showSecondMobileNumber" (click)="$event.stopPropagation()"
                    >Alt. Mobile No.
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showScholarNumber" (click)="$event.stopPropagation()">Scholar No. </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showDateOfBirth" (click)="$event.stopPropagation()">Date of Birth </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showMotherName" (click)="$event.stopPropagation()">Mother's Name </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showGender" (click)="$event.stopPropagation()">Gender </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showCaste" (click)="$event.stopPropagation()">Caste </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showCategory" (click)="$event.stopPropagation()">Category </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showReligion" (click)="$event.stopPropagation()">Religion </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFatherOccupation" (click)="$event.stopPropagation()">
                    Father's Occupation
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showAddress" (click)="$event.stopPropagation()">Address </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showChildSSMID" (click)="$event.stopPropagation()">Child SSMID </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFamilySSMID" (click)="$event.stopPropagation()">Family SSMID </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBankName" (click)="$event.stopPropagation()">Bank Name </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBankIfscCode" (click)="$event.stopPropagation()">Bank Ifsc Code </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBankAccountNum" (click)="$event.stopPropagation()">Bank Acc. No. </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showAadharNum" (click)="$event.stopPropagation()">Aadhar No. </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBloodGroup" (click)="$event.stopPropagation()">Blood Group </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showFatherAnnualIncome" (click)="$event.stopPropagation()">
                    Father's Annual Income
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showRTE" (click)="$event.stopPropagation()"> RTE </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showAdmissionSession" (click)="$event.stopPropagation()">
                    Admission Session
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showBusStopName" (click)="$event.stopPropagation()"> Bus Stop Name </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showDateOfAdmission" (click)="$event.stopPropagation()">
                    Date Of Admission
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="columnFilter.showRemark" (click)="$event.stopPropagation()"> Remark </mat-checkbox>
            </mat-option>
            <mat-option *ngFor="let parameter of studentParameterOtherList">
                <mat-checkbox [(ngModel)]="parameter.show" (click)="$event.stopPropagation()">
                    {{ parameter.name }}
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <button class="btn" style="padding: 4px 7px" (click)="selectAllColumns(); $event.stopPropagation()">Select All</button>
                <button class="btn" style="padding: 4px 7px" (click)="unSelectAllColumns(); $event.stopPropagation()">Clear All</button>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Column Filter For Document Data-->
    <mat-form-field style="margin-right: 15px" *ngIf="currentProfileDocumentFilter === 'Documents'">
        <mat-select placeholder="Select Documents" id="select-document-column">
            <mat-option>
                <button
                    id="select-all-document-columns"
                    class="btn"
                    style="padding: 4px 7px"
                    (click)="selectAllDocuments(); $event.stopPropagation()"
                >
                    Select All
                </button>
                <button
                    id="unselect-all-document-columns"
                    class="btn"
                    style="padding: 4px 7px"
                    (click)="unSelectAllDocuments(); $event.stopPropagation()"
                >
                    Clear All
                </button>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showName" (click)="$event.stopPropagation()">Name </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showFathersName" (click)="$event.stopPropagation()">Father's Name </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showClassName" (click)="$event.stopPropagation()">Class </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showSectionName" (click)="$event.stopPropagation()">Section </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showRollNumber" (click)="$event.stopPropagation()">Roll No. </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showScholarNumber" (click)="$event.stopPropagation()">Scholar No. </mat-checkbox>
            </mat-option>
            <mat-option>
                <mat-checkbox [(ngModel)]="documentFilter.showMobileNumber" (click)="$event.stopPropagation()">Mobile No. </mat-checkbox>
            </mat-option>
            <hr />
            <mat-option *ngFor="let parameter of studentParameterDocumentList">
                <mat-checkbox [(ngModel)]="parameter.show" (click)="$event.stopPropagation()">
                    {{ parameter.name }}
                </mat-checkbox>
            </mat-option>
            <mat-option>
                <button class="btn" style="padding: 4px 7px" (click)="selectAllDocuments(); $event.stopPropagation()">Select All</button>
                <button class="btn" style="padding: 4px 7px" (click)="unSelectAllDocuments(); $event.stopPropagation()">Clear All</button>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button
        *ngIf="currentProfileDocumentFilter === 'Profile' && !htmlRenderer.isMobileApplication() && !htmlRenderer.isMobileBrowser()"
        id="print-list"
        type="button"
        class="btn btn-{{ user.activeSchool.secondaryThemeColor }} hidden-sm hidden-xs"
        style="padding: 12px 15px; margin-right: 17px"
        matTooltip="Print the following list"
        tooltip-position="left"
        (click)="printStudentList()"
    >
        Print<i class="material-icons" style="margin-left: 15px">print</i>
    </button>

    <button
        *ngIf="!htmlRenderer.isMobileApplication()"
        type="button"
        id="download"
        class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
        style="padding: 12px 15px; margin-right: 17px"
        matTooltip="Download the following items"
        tooltip-position="left"
        (click)="downloadList()"
    >
        Download<i class="material-icons" style="margin-left: 15px">save_alt</i>
    </button>

    <mat-form-field style="float: right">
        <mat-select [ngModel]="currentProfileDocumentFilter" (ngModelChange)="currentProfileDocumentFilter = $event">
            <mat-option value="Profile">Profile</mat-option>
            <mat-option value="Documents">Documents</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Filters -->
    <br />
    <ng-container>
        <button class="btn" style="padding: 4px 7px" (click)="showFilters = !showFilters">
            <ng-container *ngIf="!showFilters">Show Filters</ng-container>
            <ng-container *ngIf="showFilters">Hide Filters</ng-container>
        </button>
        <ng-container *ngIf="showFilters">
            <br /><b>Age</b><br />
            <input type="number" style="width: 60px; margin-right: 5px" [(ngModel)]="minAge" (ngModelChange)="handleStudentDisplay()" />
            <span style="margin-right: 5px">&lt;= Age &lt;=</span>
            <input type="number" style="width: 60px" [(ngModel)]="maxAge" (ngModelChange)="handleStudentDisplay()" />
            &nbsp; &nbsp; as on date &nbsp;&nbsp;
            <!-- input type="date" [(ngModel)]="asOnDate" (ngModelChange)="handleStudentDisplay()" -->
            <day-date [formattedDateOutput]="true"
                      (onDateSelected)="asOnDate = $event; handleStudentDisplay()">
            </day-date>

            <br /><br /><b>Category</b><br />
            <mat-checkbox
                [(ngModel)]="scSelected"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >SC,
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="stSelected"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >ST,
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="obcSelected"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >OBC,
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="generalSelected"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >Gen.
            </mat-checkbox>

            <br /><br /><b>Gender</b><br />
            <mat-checkbox
                [(ngModel)]="maleSelected"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >M
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="femaleSelected"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >F
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="otherGenderSelected"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >Other
            </mat-checkbox>

            <br /><br /><b>Admission</b><br />
            <mat-checkbox
                [(ngModel)]="newAdmission"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >New
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="oldAdmission"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >Old
            </mat-checkbox>

            <br /><br /><b>RTE</b><br />
            <mat-checkbox
                [(ngModel)]="noneRTE"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >None
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="yesRTE"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >Yes
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="noRTE"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >No
            </mat-checkbox>

            <br /><br /><b>Transfer Certificate</b><br />
            <mat-checkbox
                [(ngModel)]="noTC"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >Not-Generated
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="yesTC"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >Generated
            </mat-checkbox>

            <br /><b>Is Logged In?</b><br />
            <mat-checkbox
                [(ngModel)]="isLogged"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >Show Students who are logged in
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="isNotLogged"
                style="margin-right: 5px"
                (ngModelChange)="handleStudentDisplay()"
                (click)="$event.stopPropagation()"
                >Show Students who are not logged in
            </mat-checkbox>

            <br />
            <hr />
            <h5>Custom Filters</h5>
            <ng-container *ngFor="let parameter of getFilteredStudentParameterList()">
                <mat-form-field>
                    <mat-label>{{ parameter.name }}</mat-label>
                    <input matInput type="text" [(ngModel)]="parameter.filterFilterValues" /> </mat-form-field
                ><br />
                <mat-checkbox
                    [(ngModel)]="parameter.showNone"
                    style="margin-right: 5px"
                    (ngModelChange)="handleStudentDisplay()"
                    (click)="$event.stopPropagation()"
                    >None
                </mat-checkbox>
                <mat-checkbox
                    *ngFor="let filter of getFilteredFilterValues(parameter)"
                    [(ngModel)]="filter.show"
                    style="margin-right: 5px"
                    (ngModelChange)="handleStudentDisplay()"
                    (click)="$event.stopPropagation()"
                    >{{ filter.name }} </mat-checkbox
                ><br />
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="currentProfileDocumentFilter === 'Documents'"
        ><br />
        <div *ngIf="download == 'START'">
            <div class="progress" style="height: 20px">
                <div class="progress-bar progress-bar-success" role="progressbar" [style.width.%]="percent_download_comlpleted">
                    {{ percent_download_comlpleted | number: '1.0-0' }}%
                </div>
            </div>
            <div class="text-center">
                <h4>
                    <b>{{ downloadedFiles }} out of {{ totalFiles }} files downloaded</b>
                </h4>
            </div>
        </div>
        <div *ngIf="download == 'END'">
            <h4 class="text-success text-center">
                <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <b>Download Done now Unziping</b>
            </h4>
        </div>
        <div *ngIf="download == 'FAIL'">
            <h4 class="text-danger text-center">
                <b>Download failed restart again.</b>
            </h4>
        </div>
        <div *ngIf="totalFailed != 0" class="text-center">
            <h5>
                <b
                    ><i style="color: red">Failed to download {{ totalFailed }} files</i></b
                >
            </h5>
        </div>
    </ng-container>

    <!-- Student Table Profile Data List -->
    <ng-container *ngIf="!isLoading && currentProfileDocumentFilter === 'Profile'">
        <p>
            Total Students: <b>{{ studentFullProfileList.length }}</b
            >, Selected : <b>{{ displayStudentNumber }}</b>
        </p>
        <cdk-virtual-scroll-viewport itemSize="0" class="example-viewport">
            <table class="table table-hover">
                <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                    <tr>
                        <th style="min-width: 60px" *ngIf="columnFilter.showSerialNumber">S No.</th>
                        <th *ngIf="columnFilter.showProfileImage" style="min-width: 120px; text-align: center">Profile Image</th>
                        <th style="min-width: 180px" *ngIf="columnFilter.showName">Name</th>
                        <th style="min-width: 100px" *ngIf="columnFilter.showClassName">Class</th>
                        <th style="min-width: 100px" *ngIf="columnFilter.showSectionName">Section</th>
                        <th style="min-width: 80px" *ngIf="columnFilter.showRollNumber">Roll No.</th>
                        <th style="min-width: 180px" *ngIf="columnFilter.showFathersName">Father's Name</th>
                        <th style="min-width: 100px" *ngIf="columnFilter.showMobileNumber">Mobile No.</th>
                        <th style="min-width: 110px" *ngIf="columnFilter.showSecondMobileNumber">Alt. Mobile No.</th>
                        <th style="min-width: 90px" *ngIf="columnFilter.showScholarNumber">Scholar No.</th>
                        <th style="min-width: 100px" *ngIf="columnFilter.showDateOfBirth">Date of Birth</th>
                        <th style="min-width: 180px" *ngIf="columnFilter.showMotherName">Mother's Name</th>
                        <th style="min-width: 80px" *ngIf="columnFilter.showGender">Gender</th>
                        <th style="min-width: 100px" *ngIf="columnFilter.showCaste">Caste</th>
                        <th style="min-width: 80px" *ngIf="columnFilter.showCategory">Category</th>
                        <th style="min-width: 90px" *ngIf="columnFilter.showReligion">Religion</th>
                        <th style="min-width: 150px" *ngIf="columnFilter.showFatherOccupation">Father's Occupation</th>
                        <th style="min-width: 200px" *ngIf="columnFilter.showAddress">Address</th>
                        <th style="min-width: 100px" *ngIf="columnFilter.showChildSSMID">Child SSMID</th>
                        <th style="min-width: 100px" *ngIf="columnFilter.showFamilySSMID">Family SSMID</th>
                        <th style="min-width: 180px" *ngIf="columnFilter.showBankName">Bank Name</th>
                        <th style="min-width: 150px" *ngIf="columnFilter.showBankIfscCode">Bank Ifsc Code</th>
                        <th style="min-width: 150px" *ngIf="columnFilter.showBankAccountNum">Bank Acc. No.</th>
                        <th style="min-width: 150px" *ngIf="columnFilter.showAadharNum">Aadhar No.</th>
                        <th style="min-width: 100px" *ngIf="columnFilter.showBloodGroup">Blood Group</th>
                        <th style="min-width: 110px" *ngIf="columnFilter.showFatherAnnualIncome">Father's Annual Income</th>
                        <th style="min-width: 60px" *ngIf="columnFilter.showRTE">RTE</th>
                        <th style="min-width: 140px" *ngIf="columnFilter.showAdmissionSession">Admission Session</th>
                        <th style="min-width: 150px" *ngIf="columnFilter.showBusStopName">Bus Stop Name</th>
                        <th style="min-width: 150px" *ngIf="columnFilter.showDateOfAdmission">Date Of Admission</th>
                        <th style="min-width: 200px" *ngIf="columnFilter.showRemark">Remark</th>
                        <ng-container *ngFor="let parameter of studentParameterOtherList">
                            <th style="min-width: 150px" *ngIf="parameter.show">
                                {{ parameter.name }}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *cdkVirtualFor="let student of studentFullProfileList">
                        <tr *ngIf="student.show">
                            <ng-container>
                                <td *ngIf="columnFilter.showSerialNumber">{{ student.serialNumber }}.</td>
                                <td *ngIf="columnFilter.showProfileImage" align="center">
                                    <img *ngIf="student.profileImage" src="{{ student.profileImage }}" style="width: 50px" />
                                    <img
                                        *ngIf="!student.profileImage"
                                        src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                                        style="width: 50px"
                                    />
                                </td>
                                <td [attr.id]="'student-value-' + student.name.replace(' ', '')" *ngIf="columnFilter.showName">
                                    {{ student.name }}
                                </td>
                                <td *ngIf="columnFilter.showClassName">
                                    {{ student.className }}
                                    <!-- span *ngIf="class.sectionList.length > 1">, {{section.name}}</span -->
                                </td>
                                <td *ngIf="columnFilter.showSectionName">{{ student.sectionName }}</td>
                                <td *ngIf="columnFilter.showRollNumber">{{ student.rollNumber }}</td>
                                <td
                                    [attr.id]="'father-name-value-' + student.fathersName.replace(' ', '')"
                                    *ngIf="columnFilter.showFathersName"
                                >
                                    {{ student.fathersName }}
                                </td>
                                <td *ngIf="columnFilter.showMobileNumber">
                                    <span class="hidden-xs hidden-sm">{{ student.mobileNumber }}</span>
                                    <a class="visible-xs visible-sm" href="tel:{{ student.mobileNumber }}">Call Me</a>
                                </td>
                                <td *ngIf="columnFilter.showSecondMobileNumber">
                                    <span class="hidden-xs hidden-sm">{{ student.secondMobileNumber }}</span>
                                    <a class="visible-xs visible-sm" href="tel:{{ student.secondMobileNumber }}">Call Me</a>
                                </td>
                                <td *ngIf="columnFilter.showScholarNumber">{{ student.scholarNumber }}</td>
                                <td *ngIf="columnFilter.showDateOfBirth">
                                    {{ student.dateOfBirth | date: 'dd/MM/yyyy' }}
                                </td>
                                <!-- td *ngIf="columnFilter.showMotherName">{{ student.motherName }}</td -->
                                <td *ngIf="columnFilter.showMotherName">{{student.motherName}}</td>
                                <td *ngIf="columnFilter.showGender">{{ student.gender }}</td>
                                <td *ngIf="columnFilter.showCaste">{{ student.caste }}</td>
                                <td *ngIf="columnFilter.showCategory">{{ student.category }}</td>
                                <td *ngIf="columnFilter.showReligion">{{ student.religion }}</td>
                                <td *ngIf="columnFilter.showFatherOccupation">{{ student.fatherOccupation }}</td>
                                <td *ngIf="columnFilter.showAddress">{{ student.address }}</td>
                                <td *ngIf="columnFilter.showChildSSMID">{{ student.childSSMID }}</td>
                                <td *ngIf="columnFilter.showFamilySSMID">{{ student.familySSMID }}</td>
                                <td *ngIf="columnFilter.showBankName">{{ student.bankName }}</td>
                                <td *ngIf="columnFilter.showBankIfscCode">{{ student.bankIfscCode }}</td>
                                <td *ngIf="columnFilter.showBankAccountNum">{{ student.bankAccountNum }}</td>
                                <td *ngIf="columnFilter.showAadharNum">{{ student.aadharNum }}</td>
                                <td *ngIf="columnFilter.showBloodGroup">{{ student.bloodGroup }}</td>
                                <td *ngIf="columnFilter.showFatherAnnualIncome">{{ student.fatherAnnualIncome }}</td>
                                <td *ngIf="columnFilter.showRTE">{{ student.rte }}</td>
                                <td *ngIf="columnFilter.showAdmissionSession">
                                    {{ getAdmissionSession(student.admissionSessionDbId) }}
                                </td>
                                <td *ngIf="columnFilter.showBusStopName">
                                    {{ getBusStopName(student.busStopDbId) }}
                                </td>
                                <td *ngIf="columnFilter.showDateOfAdmission">
                                    {{ student.dateOfAdmission | date: 'dd/MM/yyyy' }}
                                </td>
                                <td *ngIf="columnFilter.showRemark">{{ student.remark }}</td>
                                <ng-container *ngFor="let parameter of studentParameterOtherList">
                                    <td *ngIf="parameter.show">
                                        {{ getParameterValue(student, parameter) }}
                                    </td>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-container>

    <!-- Student Table Documents List -->
    <ng-container *ngIf="!isLoading && currentProfileDocumentFilter === 'Documents'">
        <p>
            Total Students: <b>{{ studentFullProfileList.length }}</b
            >, Displaying: <b>{{ displayStudentNumber }}</b
            >, Selected: <b>{{ getSelectedStudents() }}</b>
        </p>
        <button class="btn" style="padding: 7px 7px; margin-right: 5px" (click)="selectAllStudents(); $event.stopPropagation()">
            Select All
        </button>
        <button class="btn" style="padding: 7px 7px" (click)="unselectAllStudents(); $event.stopPropagation()">Clear All</button>

        <cdk-virtual-scroll-viewport itemSize="0" class="example-viewport">
            <table class="table table-hover">
                <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                    <tr>
                        <th></th>
                        <th *ngIf="documentFilter.showSerialNumber">S No.</th>
                        <th *ngIf="documentFilter.showName">Name</th>
                        <th *ngIf="documentFilter.showFathersName">Father's Name</th>
                        <th *ngIf="documentFilter.showClassName">Class</th>
                        <th *ngIf="documentFilter.showSectionName">Section</th>
                        <th *ngIf="documentFilter.showRollNumber">Roll No.</th>
                        <th *ngIf="documentFilter.showScholarNumber">Scholar No.</th>
                        <th *ngIf="documentFilter.showMobileNumber">Mobile No.</th>
                        <ng-container *ngFor="let parameter of studentParameterDocumentList">
                            <th class="text-center"  *ngIf="parameter.show">
                                {{ parameter.name }}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *cdkVirtualFor="let student of studentFullProfileList">
                        <tr *ngIf="student.show">
                            <ng-container>
                                <td>
                                    <mat-checkbox [(ngModel)]="student.selectDocument" (click)="$event.stopPropagation()"> </mat-checkbox>
                                </td>
                                <td *ngIf="documentFilter.showSerialNumber">{{ student.serialNumber }}.</td>
                                <td [attr.id]="'student-value-' + student.name.replace(' ', '')" *ngIf="documentFilter.showName">
                                    {{ student.name }}
                                </td>
                                <td
                                    [attr.id]="'father-name-value-' + student.fathersName.replace(' ', '')"
                                    *ngIf="documentFilter.showFathersName"
                                >
                                    {{ student.fathersName }}
                                </td>
                                <td *ngIf="documentFilter.showClassName">{{ student.className }}</td>
                                <td *ngIf="documentFilter.showSectionName">{{ student.sectionName }}</td>
                                <td *ngIf="documentFilter.showRollNumber">{{ student.rollNumber }}</td>
                                <td *ngIf="documentFilter.showScholarNumber">{{ student.scholarNumber }}</td>
                                <td *ngIf="documentFilter.showMobileNumber">
                                    <span class="hidden-xs hidden-sm">{{ student.mobileNumber }}</span>
                                    <a class="visible-xs visible-sm" href="tel:{{ student.mobileNumber }}">Call Me</a>
                                </td>
                                <ng-container *ngFor="let parameter of studentParameterDocumentList">
                                    <td class="text-center" *ngIf="parameter.show">
                                        <img src="{{ getDocumentIcon(student, parameter) }}"
                                             style="width: 20px"
                                             (click)="openFilePreviewDialog(student, parameter)"/>
                                    </td>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-container>
</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
