<mat-dialog-content class="show-complaint-list-modal-container">
    <!-- Starts: Header -->
    <div class="header">
        <div class="title">Count All >> Filtered complaint List</div>
        <div><i class="material-icons close-btn" (click)="closeClicked()">highlight_off</i></div>
    </div>
    <br />
    <!-- Ends: Header -->

    <div>
        <div class="column-detail text-{{ user.activeSchool.secondaryThemeColor }}" style="margin-bottom: 2rem;">
            <div class="complaint-title">
                Complaint Title
            </div>
            <div class="complaint-student">
                Student
            </div>
            <div class="complaint-complaint-type">
                Complaint Type
            </div>
            <div class="complaint-status">
                Status
            </div>
        </div>

        <ng-container *ngFor="let complaint of complaintList">
            <div class="column-detail" style="font-size: 12px;">
                <div class="complaint-title">
                    {{ complaint.title }}
                </div>
                <div class="complaint-student">
                    {{ htmlRenderer.getStudent(complaint.parentStudent) }}
                </div>
                <div class="complaint-complaint-type">
                    {{ htmlRenderer.getComplaintType(complaint.parentSchoolComplaintType) }}
                </div>
                <div class="complaint-status">
                    {{ htmlRenderer.getStatus(complaint.parentSchoolComplaintStatus) }}
                </div>
            </div>
        </ng-container>
    </div>
</mat-dialog-content>
