/* Starts: Modal Container */
.show-complaint-list-modal-container {
    height: 70vh;
    width: 60vw;
}
/* Ends: Modal Container */

/* Starts: header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #C4C4C4;   /* Light Gray */
}

.title {
    font-weight: 500;
}

.close-btn {
    color: red;
    cursor: pointer;
}
/* Ends: header */

.column-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complaint-title {
    flex-basis: 22%;
    font-weight: 400;
    word-wrap: break-word;
}

.complaint-student {
    flex-basis: 22%;
    font-weight: 400;
    word-wrap: break-word;
}

.complaint-complaint-type {
    flex-basis: 22%;
    font-weight: 400;
    word-wrap: break-word;
}

.complaint-status {
    flex-basis: 22%;
    font-weight: 400;
    word-wrap: break-word;
}

/* Starts: Media Query */
@media only screen and (max-width: 992px) {
    /* Starts: Modal Container */
    .show-complaint-list-modal-container {
        height: 70vh;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    /* Ends: Modal Container */
}
/* Ends: Media Query */
