<mat-dialog-content class="show-complaint-list-modal-container">
    <!-- Starts: Header -->
    <div class="header">
        <div class="title">Count All >> Filtered complaint List</div>
        <div><i class="material-icons close-btn" (click)="closeClicked()">highlight_off</i></div>
    </div>
    <br />
    <!-- Ends: Header -->

    <!-- Starts: Table -->
    <ng-container>
        <cdk-virtual-scroll-viewport itemSize="0" class="example-viewport">
            <table class="table table-hover">
                <!-- Starts: Table Header -->
                <thead>
                    <tr class="text-{{ user.activeSchool.secondaryThemeColor }}">
                        <th class="minWidth">
                            Complaint Title
                        </th>
                        <th class="minWidth">
                            Student
                        </th>
                        <th class="minWidth">
                            Complaint Type
                        </th>
                        <th class="minWidth">
                            Status
                        </th>
                    </tr>
                </thead>
                <!-- Ends: Table Header -->

                <!-- Starts: Table Body -->
                <tbody>
                    <tr *ngFor="let complaint of complaintList">
                        <td class="minWidth">
                            {{ complaint.title }}
                        </td>
                        <td class="minWidth">
                            {{ htmlRenderer.getStudentName(complaint.parentStudent) }}
                        </td>
                        <td class="minWidth">
                            {{ htmlRenderer.getComplaintType(complaint.parentSchoolComplaintType) }}
                        </td>
                        <td class="minWidth">
                            {{ htmlRenderer.getStatus(complaint.parentSchoolComplaintStatus) }}
                        </td>
                    </tr>
                </tbody>
                <!-- Ends: Table Body -->
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-container>
    <!-- End of Table -->
</mat-dialog-content>
