<div class="card-content table-responsive">
    <ng-container *ngIf="!isInitialLoading">
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3">
                <day-date
                    [formattedDateOutput]="true"
                    [placeHolder]="'Start Date'"
                    [minDate]="minDate"
                    (onDateSelected)="startDate = $event">
                </day-date>
            </div>
            <div class="col-sm-3">
                <day-date
                    [formattedDateOutput]="true"
                    [placeHolder]="'End Date'" 
                    [minDate]="minDate"
                    (onDateSelected)="endDate = $event">
                </day-date>
            </div>
            <div class="col-sm-3">
                <button
                    type="button"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    style="padding: 12px 15px"
                    matTooltip="Get all the receipts b/w start and end date"
                    tooltip-position="right"
                    (click)="serviceAdapter.getFeeCollectionList()"
                >
                    <i class="material-icons">search</i></button
                ><br />
            </div>
            <div class="col-md-3" align="left">
                <button
                    type="button"
                    *ngIf="getFilteredFeeReceiptList()"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    style="padding: 12px 15px"
                    matTooltip="Print the following list"
                    tooltip-position="left"
                    (click)="printFeeReceiptList()"
                >
                    Print<i class="material-icons" style="margin-left: 15px">print</i></button
                ><br />
            </div>
        </div>

        <ng-container *ngIf="!isLoading && feeReceiptList">
            <ng-container *ngIf="feeReceiptList.length > 0">
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Collected By" [(ngModel)]="selectedEmployee">
                        <mat-option *ngFor="let employee of filteredEmployeeList" [value]="employee">
                            {{ employee.name }}
                        </mat-option>
                        <mat-option [value]="nullValue"> All </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Payment Mode" [(ngModel)]="selectedModeOfPayment">
                        <mat-option *ngFor="let modeOfPayment of filteredModeOfPaymentList" [value]="modeOfPayment">
                            {{ modeOfPayment }}
                        </mat-option>
                        <mat-option [value]="nullValue"> All </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Collection of Classes" [(ngModel)]="selectedClassSection">
                        <mat-option *ngFor="let classSection of filteredClassSectionList" [value]="classSection">
                            {{ classSection.classs.name }}, {{ classSection.section.name }}
                        </mat-option>
                        <mat-option [value]="nullValue"> All </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Fee Type" [(ngModel)]="selectedFeeType">
                        <mat-option *ngFor="let feeType of filteredFeeTypeList" [value]="feeType">
                            {{ feeType.name }}
                        </mat-option>
                        <mat-option [value]="nullValue"> All </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px">
                    <mat-select
                        placeholder="Select Fee Receipt Type"
                        [(ngModel)]="selectedFeeReceiptType"
                        (ngModelChange)="checkCancelledRemark()"
                    >
                        <mat-option *ngFor="let receiptType of receiptTypeList" [value]="receiptType">
                            {{ receiptType }}
                        </mat-option>
                        <mat-option [value]="nullValue"> All </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Session" [(ngModel)]="selectedSession">
                        <mat-option *ngFor="let session of filteredSessionList" [value]="session">
                            {{ session.name }}
                        </mat-option>
                        <mat-option [value]="nullValue"> All </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Columns">
                        <ng-container *ngFor="let key of getReceiptColumnFilterKeys()">
                            <mat-option>
                                <mat-checkbox [(ngModel)]="receiptColumnFilter[key]" (click)="$event.stopPropagation()">
                                    {{ key | titlecase }}
                                </mat-checkbox>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <br />

                <span style="font-size: 16px"> Total Fees: {{ getFilteredFeeReceiptListTotalAmount() | indianCurrency: true }} </span>

                <app-fee-receipt-list
                    [user]="user"
                    [number]="50"
                    [receiptColumnFilter]="receiptColumnFilter"
                    [feeTypeList]="feeTypeList"
                    [feeReceiptList]="getFilteredFeeReceiptList()"
                    [subFeeReceiptList]="subFeeReceiptList"
                    [studentList]="studentList"
                    [studentSectionList]="studentSectionList"
                    [employeeList]="filteredEmployeeList"
                    [classList]="classList"
                    [sectionList]="sectionList"
                    [selectedFeeType]="selectedFeeType"
                    [sessionList]="filteredSessionList"
                    [boardList]="boardList"
                ></app-fee-receipt-list>
            </ng-container>

            <ng-container *ngIf="getFilteredFeeReceiptList().length == 0">
                <span style="font-size: 16px">No Fee Receipts found</span>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isInitialLoading || isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
</div>
