<div class="card-content table-responsive">
    <ng-container *ngIf="!isInitialLoading">
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3">
                <day-date
                    [formattedDateOutput]="true"
                    [placeHolder]="'Start Date'"
                    [minDate]="minDate"
                    (onDateSelected)="startDate = $event">
                </day-date>
            </div>
            <div class="col-sm-3">
                <day-date
                    [formattedDateOutput]="true"
                    [placeHolder]="'End Date'" 
                    [minDate]="minDate"
                    (onDateSelected)="endDate = $event">
                </day-date>
            </div>
            <div class="col-sm-3">
                <button
                    type="button"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    style="padding: 12px 15px"
                    matTooltip="Get all the receipts b/w start and end date"
                    tooltip-position="right"
                    (click)="serviceAdapter.getFeeCollectionList()"
                >
                    <i class="material-icons">search</i></button
                ><br />
            </div>
            <div class="col-md-3" align="left">
                <button
                    type="button"
                    *ngIf="getFilteredFeeReceiptList() && !htmlRenderer.isMobileApplication() && !htmlRenderer.isMobileBrowser()"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    style="padding: 12px 15px"
                    matTooltip="Print the following list"
                    tooltip-position="left"
                    (click)="printFeeReceiptList()"
                >
                    Print<i class="material-icons" style="margin-left: 15px">print</i></button
                ><br />
            </div>
        </div>

        <ng-container *ngIf="!isLoading && feeReceiptList">
            <ng-container *ngIf="feeReceiptList.length > 0">


                <!-- Collected By -->
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Collected By">
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="selectAllEmployees(); $event.stopPropagation();">Select All</button>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="unselectAllEmployees(); $event.stopPropagation();">Clear All</button>
                        </mat-option>
                        <mat-option *ngFor="let employee of filteredEmployeeList">
                            <mat-checkbox [(ngModel)]="employee.selectedEmployee"
                            (click)="$event.stopPropagation();">
                                {{ employee.name }}
                            </mat-checkbox>
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- payment mode -->
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Payment Mode">
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="selectAllPaymentModes(); $event.stopPropagation()">Select All</button>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="unselectAllPaymentModes(); $event.stopPropagation()">Clear All</button>
                        </mat-option>
                        <mat-option *ngFor="let modeOfPayment of filteredModeOfPaymentList">
                            <mat-checkbox [(ngModel)]="modeOfPayment.selectedModeOfPayment"
                            (click)="$event.stopPropagation();">
                                {{ modeOfPayment.mode }}
                            </mat-checkbox>
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <!-- Collection of Classes -->
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Collection of Classes">
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="selectAllClassSection(); $event.stopPropagation()">
                                Select All
                            </button>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="unselectAllClassSection(); $event.stopPropagation()">
                                Clear All
                            </button>
                        </mat-option>
                        <mat-option *ngFor="let classSection of filteredClassSectionList">
                            <mat-checkbox [(ngModel)]="classSection.selectedClassSection"
                            (click)="$event.stopPropagation();">
                                {{ classSection.classs.name }}, {{ classSection.section.name }}
                            </mat-checkbox>
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- Fee Type -->
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Fee Type">
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="selectAllFeeType(); $event.stopPropagation()">
                                Select All
                            </button>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="unselectAllFeeType(); $event.stopPropagation()">
                                Clear All
                            </button>
                        </mat-option>
                        <mat-option *ngFor="let feeType of feeTypeList">
                            <mat-checkbox [(ngModel)]="feeType.selectedFeeType"
                            (click)="$event.stopPropagation();">
                                {{ feeType.name }}
                            </mat-checkbox>
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- Fee Receipt Type -->
                <mat-form-field style="margin-right: 15px">
                    <mat-select
                        placeholder="Select Fee Receipt Type"
                        [(ngModel)]="selectedFeeReceiptType"
                        (ngModelChange)="checkCancelledRemark()"
                    >
                        <mat-option *ngFor="let receiptType of receiptTypeList" [value]="receiptType">
                            {{ receiptType }}
                        </mat-option>
                        <mat-option [value]="nullValue"> All </mat-option>
                    </mat-select>
                </mat-form-field>



                <!-- Session -->
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Session">
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="selectAllSession(); $event.stopPropagation()">
                                Select All
                            </button>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="unselectAllSession(); $event.stopPropagation()">
                                Clear All
                            </button>
                        </mat-option>
                        <mat-option *ngFor="let session of filteredSessionList">
                            <mat-checkbox [(ngModel)]="session.selectedSession"
                            (click)="$event.stopPropagation();">
                                {{ session.name }}
                            </mat-checkbox>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Starts :- Select Fee Receipt Book -->
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Receipt Book">
                        <mat-option>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="selectAllFeeReceiptBook(); $event.stopPropagation()">
                                Select All
                            </button>
                            <button class="btn" style="padding: 4px 7px"
                                (click)="unselectAllFeeReceiptBook(); $event.stopPropagation()">
                                Clear All
                            </button>
                        </mat-option>
                        <mat-option *ngFor="let feeReceiptBook of filteredFeeReceiptBookList">
                            <mat-checkbox [(ngModel)]="feeReceiptBook.selected"
                            (click)="$event.stopPropagation();">
                                {{ feeReceiptBook.name }}
                            </mat-checkbox>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Ends :- Select Fee Receipt Book -->

                <!-- Columns -->
                <mat-form-field style="margin-right: 15px">
                    <mat-select placeholder="Select Columns">
                        <ng-container *ngFor="let key of getReceiptColumnFilterKeys()">
                            <mat-option>
                                <mat-checkbox [(ngModel)]="receiptColumnFilter[key]" (click)="$event.stopPropagation()">
                                    {{ key | titlecase }}
                                </mat-checkbox>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <br />

                <span style="font-size: 16px"> Total Fees: {{ getFilteredFeeReceiptListTotalAmount() | indianCurrency: true }} </span>
            <cdk-virtual-scroll-viewport itemSize="12" class="example-viewport">
                <app-fee-receipt-list
                    [user]="user"
                    [number]="50"
                    [receiptColumnFilter]="receiptColumnFilter"
                    [feeTypeList]="feeTypeList"
                    [feeReceiptList]="getFilteredFeeReceiptList()"
                    [subFeeReceiptList]="subFeeReceiptList"
                    [studentList]="studentList"
                    [studentSectionList]="studentSectionList"
                    [employeeList]="filteredEmployeeList"
                    [classList]="classList"
                    [sectionList]="sectionList"
                    [sessionList]="filteredSessionList"
                    [boardList]="boardList"
                    [feeReceiptBookList]="feeReceiptBookList"
                ></app-fee-receipt-list>
            </cdk-virtual-scroll-viewport>
            </ng-container>

            <ng-container *ngIf="getFilteredFeeReceiptList().length == 0">
                <span style="font-size: 16px">No Fee Receipts Found</span>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isInitialLoading || isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
</div>
