<div class="card-content table-responsive" *ngIf="!isLoading">
    <div *ngIf="nextSession == undefined">
        You can transfer accounts once next session is created
    </div>
    <div *ngIf="nextSession != undefined">
        <div class="row col-md-12">
            <button class="nav-item" style="margin-right: 10px;" (click)="selectedSession = currentSession"><span>From : {{currentSession.name}}</span></button>
            <button class="nav-item" style="margin-right: 20px;" (click)="selectedSession = nextSession"><span>To : {{nextSession.name}}</span></button>
            <mat-checkbox style="font-size: 13px;">Split View</mat-checkbox>
            <button class="custom-button" style="float: right;background:rgba(255, 152, 0, 1); color: white"><span>Transfer</span></button>
        </div>
        <div class="row col-md-12" *ngIf="selectedSession == currentSession">
            <mat-card>
                <mat-card-header style="margin-bottom: 20px;">
                    <div class="row col-md-12">
                        <button class="custom-button" style="margin-right: 10px;" (click)="selectAllAccounts()">Select All</button>
                        <button class="custom-button" style="margin-right: 10px;" (click)="deSelectAllAccounts()">Clear All</button>
                        <!-- <span>Closing Balance</span> -->
                    </div>
                </mat-card-header>
                <mat-expansion-panel class="mat-elevation-z0" >
                    <mat-expansion-panel-header>
                        <div style="width: 100%;">
                            <span>Expenses</span>
                            <mat-checkbox style="float:right; margin-top:2px; margin-right: 10px" [checked]="isAnyOneAccountSelected(1)" (change)="changeAllAccountsStatusFromHead(1, $event.checked )" (click)="$event.stopPropagation()"></mat-checkbox>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body" *ngFor="let element of currentSessionAccountsList['Expenses']" >
                        <div *ngIf="element.type == 'ACCOUNT' " style="margin: 5px 8px 5px 0px;">
                            {{element.title}}
                            <mat-checkbox [checked]="isElementSelected(element)" (change)="changeElementStatus(element, $event.checked); selectParentGroups(element, $event.checked)" style="float:right; margin-top:2px; margin-right: 10px"></mat-checkbox>
                            <span class="account-font" style="float: right; margin-right: 15px">Cr: {{element.balance}}</span>
                        </div>
                        <div *ngIf="element.type == 'GROUP' ">
                            <group-hierarchy-list
                                        [group]="element"
                                        [vm]="this"
                                        [displayCheckBox]="true"
                                        ></group-hierarchy-list>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0" >
                    <mat-expansion-panel-header>
                        <div style="width: 100%;">
                            <span>Income</span>
                            <mat-checkbox style="float:right; margin-top:2px; margin-right: 10px" [checked]="isAnyOneAccountSelected(2)" (change)="changeAllAccountsStatusFromHead(2, $event.checked )" (click)="$event.stopPropagation()"></mat-checkbox>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body" *ngFor="let element of currentSessionAccountsList['Income']" >
                        <div *ngIf="element.type == 'ACCOUNT' " style="margin: 5px 8px 5px 0px;">
                            {{element.title}}
                            <mat-checkbox [checked]="isElementSelected(element)" (change)="changeElementStatus(element, $event.checked); selectParentGroups(element, $event.checked)" style="float:right; margin-top:2px; margin-right: 10px"></mat-checkbox>
                            <span class="account-font" style="float: right; margin-right: 15px">Cr: {{element.balance}}</span>
                        </div>
                        <div *ngIf="element.type == 'GROUP' ">
                            <group-hierarchy-list
                                        [group]="element"
                                        [vm]="this"
                                        [displayCheckBox]="true"
                                        ></group-hierarchy-list>
                        </div>
                    </div>
                </mat-expansion-panel>


                
                <mat-expansion-panel class="mat-elevation-z0" >
                    <mat-expansion-panel-header>
                        <div style="width: 100%;">
                            <span>Assets</span>
                            <mat-checkbox style="float:right; margin-top:2px; margin-right: 10px" [checked]="isAnyOneAccountSelected(3)" (change)="changeAllAccountsStatusFromHead(3, $event.checked )" (click)="$event.stopPropagation()"></mat-checkbox>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body" *ngFor="let element of currentSessionAccountsList['Assets']" >
                        <div *ngIf="element.type == 'ACCOUNT' " style="margin: 5px 8px 5px 0px;">
                            {{element.title}}
                            <mat-checkbox [checked]="isElementSelected(element)" [disabled]="isElementDisabled(element)" (change)="changeElementStatus(element, $event.checked); selectParentGroups(element, $event.checked)" style="float:right; margin-top:2px; margin-right: 10px"></mat-checkbox>
                            <span class="account-font" style="float: right; margin-right: 15px">Cr: {{element.balance}}</span>
                        </div>
                        <div *ngIf="element.type == 'GROUP' ">
                            <group-hierarchy-list
                                        [group]="element"
                                        [vm]="this"
                                        [displayCheckBox]="true"
                                        ></group-hierarchy-list>
                        </div>
                    </div>
                </mat-expansion-panel>




                <mat-expansion-panel class="mat-elevation-z0" >
                    <mat-expansion-panel-header>
                        <div style="width: 100%;">
                            <span>Liabilities</span>
                            <mat-checkbox style="float:right; margin-top:2px; margin-right: 10px" [checked]="isAnyOneAccountSelected(4)" (change)="changeAllAccountsStatusFromHead(4, $event.checked )" (click)="$event.stopPropagation()"></mat-checkbox>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body" *ngFor="let element of currentSessionAccountsList['Liabilities']" >
                        <div *ngIf="element.type == 'ACCOUNT' " style="margin: 5px 8px 5px 0px;">
                            {{element.title}}
                            <mat-checkbox [checked]="isElementSelected(element)" (change)="changeElementStatus(element, $event.checked); selectParentGroups(element, $event.checked)" style="float:right; margin-top:2px; margin-right: 10px"></mat-checkbox>
                            <span class="account-font" style="float: right; margin-right: 15px">Cr: {{element.balance}}</span>
                        </div>
                        <div *ngIf="element.type == 'GROUP' ">
                            <group-hierarchy-list
                                        [group]="element"
                                        [vm]="this"
                                        [displayCheckBox]="true"
                                        ></group-hierarchy-list>
                        </div>
                    </div>
                </mat-expansion-panel>


            </mat-card>
        </div>

        <div class="row col-md-12" *ngIf="selectedSession == nextSession">
            <mat-card>
                
                <mat-expansion-panel class="mat-elevation-z0" >
                    <mat-expansion-panel-header>
                        <div style="width: 100%;">
                            <span>Expenses</span>
                            
                        </div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body" *ngFor="let element of nextSessionAccountsList['Expenses']" >
                        <div *ngIf="element.type == 'ACCOUNT' " style="margin: 5px 8px 5px 0px;">
                            {{element.title}}
                            <span class="account-font" style="float: right; margin-right: 15px">Cr: {{element.balance}}</span>
                        </div>
                        <div *ngIf="element.type == 'GROUP' ">
                            <group-hierarchy-list
                                        [group]="element"
                                        [vm]="this"
                                        [displayCheckBox]="false"
                                        ></group-hierarchy-list>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z0" >
                    <mat-expansion-panel-header>
                        <div style="width: 100%;">
                            <span>Income</span>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body" *ngFor="let element of nextSessionAccountsList['Income']" >
                        <div *ngIf="element.type == 'ACCOUNT' " style="margin: 5px 8px 5px 0px;">
                            {{element.title}}
                            <span class="account-font" style="float: right; margin-right: 15px">Cr: {{element.balance}}</span>
                        </div>
                        <div *ngIf="element.type == 'GROUP' ">
                            <group-hierarchy-list
                                        [group]="element"
                                        [vm]="this"
                                        [displayCheckBox]="false"
                                        ></group-hierarchy-list>
                        </div>
                    </div>
                </mat-expansion-panel>


                
                <mat-expansion-panel class="mat-elevation-z0" >
                    <mat-expansion-panel-header>
                        <div style="width: 100%;">
                            <span>Assets</span>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body" *ngFor="let element of nextSessionAccountsList['Assets']" >
                        <div *ngIf="element.type == 'ACCOUNT' " style="margin: 5px 8px 5px 0px;">
                            {{element.title}}
                            <span class="account-font" style="float: right; margin-right: 15px">Cr: {{element.balance}}</span>
                        </div>
                        <div *ngIf="element.type == 'GROUP' ">
                            <group-hierarchy-list
                                        [group]="element"
                                        [vm]="this"
                                        [displayCheckBox]="false"
                                        ></group-hierarchy-list>
                        </div>
                    </div>
                </mat-expansion-panel>




                <mat-expansion-panel class="mat-elevation-z0" >
                    <mat-expansion-panel-header>
                        <div style="width: 100%;">
                            <span>Liabilities</span>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body" *ngFor="let element of nextSessionAccountsList['Liabilities']" >
                        <div *ngIf="element.type == 'ACCOUNT' " style="margin: 5px 8px 5px 0px;">
                            {{element.title}}
                            <span class="account-font" style="float: right; margin-right: 15px">Cr: {{element.balance}}</span>
                        </div>
                        <div *ngIf="element.type == 'GROUP' ">
                            <group-hierarchy-list
                                        [group]="element"
                                        [vm]="this"
                                        [displayCheckBox]="false"
                                        ></group-hierarchy-list>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-card>
        </div>
    </div>
    
</div>

<ng-container *ngIf="isLoading || isInitialLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>


