.loader {
    z-index: 1000;
    border: 8px solid #ffffff; /* White */
    border-top: 8px solid red; /* Red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
mat-form-field {
    margin-top: 23px;
    margin-bottom: 30px;
    width: 100%;
}
.sticky {
    position: sticky;
    position: -webkit-sticky;
    float: right;
    bottom: 30px;
}
.row .col-md-5{
    width: 45%;
}
.col-md-9{
    height: 100%;
}
@media only screen and (max-width: 992px) {
    .row .col-md-5 {
        width: 100%;
    }
}
