<div class="main-content">
    <div class="container-fluid">
        <div class="card" style="min-height: 100%">
            <div class="card-header" data-background-color="red">
                <h4 class="title">List of Concession</h4>
            </div>
            <div class="card-content">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating">
                            <label class="control-label">Start Date</label>
                            <input type="date" class="form-control" [(ngModel)]="startDate">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating">
                            <label class="control-label">End Date</label>
                            <input type="date" class="form-control" [(ngModel)]="endDate">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button"
                                class="btn btn-danger"
                                (click)="getConcessionList();">Submit</button><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Total Concession: {{totalConcession | currency:'INR':true:'1.1-1'}}
                    </div>
                </div>

                <div *ngIf="!isLoading" class="row">
                    <div class="col-md-12">
                        <table cellpadding="10" class="table-content">
                            <style>
                                td { padding: 10px; }
                                tr { border-bottom: 1px solid gainsboro; }
                            </style>
                            <tr>
                                <td align="center">Amount</td>
                                <td align="center">Date</td>
                                <td align="center">Name</td>
                                <td align="center">Class</td>
                                <td align="center">Remark</td>
                            </tr>
                            <tr *ngFor="let concessionEntry of concessionList">
                                <td align="right">{{concessionEntry.amount}}</td>
                                <td align="center">{{concessionEntry.generationDateTime}}</td>
                                <td align="center">{{concessionEntry.studentName}}</td>
                                <td align="center">{{concessionEntry.className}}</td>
                                <td align="left">{{concessionEntry.remark}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <ng-container *ngIf="isLoading">
                    <div style="width: 100%; margin-top: 10mm;" align="center">
                        <div class="loader"></div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>
