<div class="card-content">

    <ng-container *ngIf="studentFeeProfile && studentFeeStatusList && !isLoading">

        <div style="margin-top: 30px"></div>

        <div class="row" style="font-size: 16px;">
            <div class="col-md-2">
                Name
            </div>
            <div class="col-md-4">
                : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.name}}</span>
            </div>
            <div class="col-md-2">
                Scholar No.
            </div>
            <div class="col-md-4">
                : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.scholarNumber}}</span>
            </div>
        </div>

        <div class="row" style="font-size: 16px;">
            <div class="col-md-2">
                Father's Name
            </div>
            <div class="col-md-4">
                : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.fathersName}}</span>
            </div>
            <div class="col-md-2">
                Class Name
            </div>
            <div class="col-md-4">
                : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.className}}</span>
            </div>
        </div>

        <div class="row" style="font-size: 16px; border-bottom: 1px solid black; padding-bottom: 30px;">
            <div class="col-md-2" *ngIf="studentFeeProfile.stopName">
                BusStop
            </div>
            <div class="col-md-4" *ngIf="studentFeeProfile.stopName">
                : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.stopName}}</span>
            </div>
            <div class="col-md-2" *ngIf="studentFeeProfile.rte">
                RTE
            </div>
            <div class="col-md-4" *ngIf="studentFeeProfile.rte">
                : <span style="font-weight: 600; margin-left: 5px;">{{studentFeeProfile.rte}}</span>
            </div>
        </div>

        <div style="margin-top: 40px"></div>

        <ng-container *ngIf="getStudentFeesDue()>0">
            <div class="row hoverHighlight" style="font-size: 16px;">
                <!-- div class="col-md-2 col-md-offset-5">
                    Payment
                </div -->
                <div class="col-md-2 col-md-offset-5">
                    Due
                </div>
                <div class="col-md-2">
                    Total
                </div>
            </div>
            <div class="row hoverHighlight" style="font-size: 16px; font-weight: 800 !important;">
                <div class="col-md-5">
                    {{studentFeeProfile.name}}
                </div>
                <!-- div class="col-md-2">
                    <input class='paymentInput'
                           type="number" min="0"
                           [attr.max]="getStudentFeesDue()"
                           [ngModel]="getStudentPayment()==0?null:getStudentPayment()"
                           (keypress)="policeStudentPaymentInput($event)"
                           (ngModelChange)="handleStudentPaymentChange($event);">
                </div -->
                <div class="col-md-2">
                    {{getStudentFeesDue()-getStudentPayment()}}
                </div>
                <div class="col-md-2">
                    {{getStudentTotalFee()}}
                </div>
                <div class="col-md-1">
                    <i class="material-icons"
                       [@rotate]="!showDetails"
                       (click)="showDetails = !showDetails">keyboard_arrow_down</i>
                </div>
            </div>
            <div [@slideDown]="showDetails">
                <ng-container *ngFor="let sessionFeeStatus of studentFeeStatusList; let i=index;">
                    <ng-container  *ngIf="getSessionFeesDue(sessionFeeStatus)>0">
                        <div class="row hoverHighlight"
                             style="font-size: 16px; font-weight: 500 !important;"
                             *ngIf="showSessionFeesLine()">
                            <div class="col-md-5">
                                {{i+1}}. {{sessionFeeStatus.sessionName}}
                            </div>
                            <!-- div class="col-md-2">
                                <input class='paymentInput'
                                       type="number" min="0"
                                       [attr.max]="getSessionFeesDue(sessionFeeStatus)"
                                       [ngModel]="getSessionPayment(sessionFeeStatus)==0?null:getSessionPayment(sessionFeeStatus)"
                                       (keypress)="policeSessionPaymentInput(sessionFeeStatus, $event)"
                                       (ngModelChange)="handleSessionPaymentChange(sessionFeeStatus, $event);">
                            </div -->
                            <div class="col-md-2">
                                {{getSessionFeesDue(sessionFeeStatus)-getSessionPayment(sessionFeeStatus)}}
                            </div>
                            <div class="col-md-2">
                                {{getSessionTotalFee(sessionFeeStatus)}}
                            </div>
                        </div>
                        <ng-container *ngFor="let component of sessionFeeStatus.componentList; let i=index;">
                            <div class="row hoverHighlight"
                                 *ngIf="getComponentTotalFee(component) != 0"
                                 style="font-size: 16px; font-weight: 500 !important;">
                                <div class="col-md-4 col-md-offset-1">
                                    {{i+1}}. {{component.feeType}}
                                </div>
                                <!-- div class="col-md-2">
                                    <input class='paymentInput'
                                           type="number" min="0"
                                           [attr.max]="getComponentFeesDue(component)"
                                           [ngModel]="getComponentPayment(component)==0?null:getComponentPayment(component)"
                                           (keypress)="policeComponentPaymentInput(component, $event)"
                                           (ngModelChange)="handleComponentPaymentChange(component, $event);">
                                </div -->
                                <div class="col-md-2">
                                    {{getComponentFeesDue(component)-getComponentPayment(component)}}
                                </div>
                                <div class="col-md-2">
                                    {{getComponentTotalFee(component)}}
                                </div>
                                <div class="col-md-1" *ngIf="component.frequency == frequencyList[1]">
                                    <i class="material-icons"
                                       [@rotate]="!component.showDetails"
                                       (click)="component.showDetails = !component.showDetails">keyboard_arrow_down</i>
                                </div>
                            </div>
                            <div  [@slideDown]="component.showDetails" *ngIf="component.frequency == frequencyList[1]">
                                <ng-container *ngFor="let month of component.monthList">
                                    <div class="row hoverHighlight"
                                         *ngIf="getComponentMonthlyTotalFee(month)>0"
                                         style="font-size: 16px; font-weight: 300 !important;">
                                        <div class="col-md-3 col-md-offset-2">
                                            {{month.month}}
                                        </div>
                                        <!-- div class="col-md-2">
                                            {{getComponentMonthlyPayment(month)}}
                                        </div -->
                                        <div class="col-md-2">
                                            {{getComponentMonthlyFeesDue(month)-getComponentMonthlyPayment(month)}}
                                        </div>
                                        <div class="col-md-2">
                                            {{getComponentMonthlyTotalFee(month)}}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>

        <ng-container *ngIf="getStudentTotalFee() === 0">
            **No Fees Due
        </ng-container>

        <div style="margin-top: 25px; margin-bottom: 25px; border-bottom: 1px solid black"> </div>

        <ng-container *ngIf="feeReceiptList">
            <div *ngIf="feeReceiptList.length !== 0">
                <div class="row" style="font-weight: 800 !important;">
                    <div class="col-md-11">
                                    <span *ngIf="!showPreviousFeeDetails">
                                        Last Receipt Date: <i>{{feeReceiptList[0].generationDateTime | date: 'dd - MMM - yyyy'}}</i>, Amount: <i>{{getFeeReceiptTotalAmount(feeReceiptList[0])}}</i>
                                    </span>
                        <span *ngIf="showPreviousFeeDetails">Previous Fee Details</span>
                    </div>
                    <div class="col-md-1">
                        <i class="material-icons"
                           [@rotate]="!showPreviousFeeDetails"
                           (click)="showPreviousFeeDetails = !showPreviousFeeDetails">keyboard_arrow_down</i>
                    </div>
                </div>
                <div class="row" [@slideDown]="showPreviousFeeDetails">
                    <div class="col-md-12">
                        <app-fee-receipt-list [user]="user"
                                              [feeReceiptList]="feeReceiptList"
                                              [whileSubmittingFee]="false"></app-fee-receipt-list>
                    </div>
                </div>
            </div>
            <div *ngIf="feeReceiptList.length == 0">
                **No fees submitted yet
            </div>

        </ng-container>

        <ng-container *ngIf="concessionList">
            <ng-container *ngIf="concessionList.length !== 0">
                <div style="margin-top: 25px; margin-bottom: 25px; border-bottom: 1px solid black"> </div>

                <div class="row" style="font-weight: 800 !important;">
                    <div class="col-md-11">
                        <span>Total discount given till now: <i>{{getConcessionListTotalAmount()}}</i></span>
                    </div>
                    <div class="col-md-1">
                        <i class="material-icons"
                           [@rotate]="!showPreviousConcessionDetails"
                           (click)="showPreviousConcessionDetails = !showPreviousConcessionDetails">keyboard_arrow_down</i>
                    </div>
                </div>
                <div class="row" [@slideDown]="showPreviousConcessionDetails">
                    <div class="col-md-12">
                        <app-discount-list [user]="user"
                                           [concessionList]="concessionList"
                                           [whileSubmittingConcession]="true"></app-discount-list>
                    </div>
                </div>
            </ng-container>
        </ng-container>

    </ng-container>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>
