<div class="card-content table-responsive">

    <ng-container *ngIf="studentFeeProfile && studentFeeStatusList && !isLoading">

        <ng-container *ngIf="getStudentFeesDue()>0">
            <table class="table table-hover">
                <thead class="text-{{user.activeSchool.secondaryThemeColor}}">
                <tr>
                    <th></th>
                    <th class="text-right">Due</th>
                    <th class="text-right">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="font-weight: 800">{{studentFeeProfile.name | titlecase}}</td>
                    <td style="font-weight: 800" align="right">{{getStudentFeesDue()-getStudentPayment()}}</td>
                    <td style="font-weight: 800" align="right">{{getStudentTotalFee()}}</td>
                </tr>
                <ng-container *ngFor="let sessionFeeStatus of studentFeeStatusList; let i=index;">
                    <ng-container  *ngIf="getSessionFeesDue(sessionFeeStatus)>0">
                        <tr *ngIf="showSessionFeesLine()">
                            <td style="font-weight: 600; padding-left: 20px">{{sessionFeeStatus.sessionName}}</td>
                            <td style="font-weight: 600" align="right">{{getSessionFeesDue(sessionFeeStatus)-getSessionPayment(sessionFeeStatus)}}</td>
                            <td style="font-weight: 600" align="right">{{getSessionTotalFee(sessionFeeStatus)}}</td>
                        </tr>
                        <ng-container *ngFor="let component of sessionFeeStatus.componentList; let i=index;">
                            <tr *ngIf="getComponentTotalFee(component) != 0">
                                <td style="padding-left: 30px">{{component.feeType}}</td>
                                <td align="right">{{getComponentFeesDue(component)-getComponentPayment(component)}}</td>
                                <td align="right">{{getComponentTotalFee(component)}}</td>
                            </tr>
                            <ng-container *ngIf="component.frequency == frequencyList[1]">
                                <ng-container *ngFor="let month of component.monthList">
                                    <tr *ngIf="getComponentMonthlyTotalFee(month)>0">
                                        <td style="padding-left: 40px">{{month.month}}</td>
                                        <td align="right">{{getComponentMonthlyFeesDue(month)-getComponentMonthlyPayment(month)}}</td>
                                        <td align="right">{{getComponentMonthlyTotalFee(month)}}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
                </tbody>
            </table>
            <!-- div class="row hoverHighlight" style="font-size: 16px;">
                <div class="col-xs-3 col-xs-offset-6" align="end">
                    Due
                </div>
                <div class="col-xs-3" align="end">
                    Total
                </div>
            </div>
            <div class="row hoverHighlight" style="font-size: 16px; font-weight: 800 !important;">
                <div class="col-xs-6">
                    {{studentFeeProfile.name | titlecase}}
                </div>
                <div class="col-xs-3" align="end">
                    {{getStudentFeesDue()-getStudentPayment()}}
                </div>
                <div class="col-xs-3" align="end">
                    {{getStudentTotalFee()}}
                </div>
            </div>
            <div>
                <ng-container *ngFor="let sessionFeeStatus of studentFeeStatusList; let i=index;">
                    <ng-container  *ngIf="getSessionFeesDue(sessionFeeStatus)>0">
                        <div class="row hoverHighlight"
                             style="font-size: 16px; font-weight: 500 !important;"
                             *ngIf="showSessionFeesLine()">
                            <div class="col-xs-6">
                                {{sessionFeeStatus.sessionName}}
                            </div>
                            <div class="col-xs-3" align="end">
                                {{getSessionFeesDue(sessionFeeStatus)-getSessionPayment(sessionFeeStatus)}}
                            </div>
                            <div class="col-xs-3" align="end">
                                {{getSessionTotalFee(sessionFeeStatus)}}
                            </div>
                        </div>
                        <ng-container *ngFor="let component of sessionFeeStatus.componentList; let i=index;">
                            <div class="row hoverHighlight"
                                 *ngIf="getComponentTotalFee(component) != 0"
                                 style="font-size: 16px; font-weight: 500 !important;">
                                <div class="col-xs-5 col-xs-offset-1">
                                    {{component.feeType}}
                                </div>
                                <div class="col-xs-3" align="end">
                                    {{getComponentFeesDue(component)-getComponentPayment(component)}}
                                </div>
                                <div class="col-xs-3" align="end">
                                    {{getComponentTotalFee(component)}}
                                </div>
                            </div>
                            <div *ngIf="component.frequency == frequencyList[1]">
                                <ng-container *ngFor="let month of component.monthList">
                                    <div class="row hoverHighlight"
                                         *ngIf="getComponentMonthlyTotalFee(month)>0"
                                         style="font-size: 16px; font-weight: 300 !important;">
                                        <div class="col-xs-4 col-xs-offset-2">
                                            {{month.month}}
                                        </div>
                                        <div class="col-xs-3" align="end">
                                            {{getComponentMonthlyFeesDue(month)-getComponentMonthlyPayment(month)}}
                                        </div>
                                        <div class="col-xs-3" align="end">
                                            {{getComponentMonthlyTotalFee(month)}}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div -->
        </ng-container>

        <ng-container *ngIf="getStudentTotalFee() === 0">
            **No Fees Due
        </ng-container>

        <div style="margin-top: 25px; margin-bottom: 25px; border-bottom: 1px solid black"> </div>

        <ng-container *ngIf="feeReceiptList && concessionList">

            <mat-accordion>

                <mat-expansion-panel [disabled]="feeReceiptList.length === 0"
                                     (opened)="showPreviousFeeDetails = true"
                                     (closed)="showPreviousFeeDetails = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title *ngIf="feeReceiptList.length !== 0">
                            <span class="hidden-xs">
                                Last Receipt Date: <i>{{feeReceiptList[0].generationDateTime | date: 'dd - MMM - yyyy'}}</i>,
                                Amount: <i>Rs. {{getFeeReceiptTotalAmount(feeReceiptList[0])}}</i>
                            </span>
                            <span class="visible-xs">
                                Latest: <i>Rs. {{getFeeReceiptTotalAmount(feeReceiptList[0])}}</i>,
                                <i>{{feeReceiptList[0].generationDateTime | date: 'dd - MMM - yyyy'}}</i>
                            </span>
                        </mat-panel-title>
                        <mat-panel-title *ngIf="feeReceiptList.length === 0">
                            **No fees submitted yet
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-fee-receipt-list [user]="user"
                                          [feeReceiptList]="feeReceiptList"
                                          [whileSubmittingFee]="true"></app-fee-receipt-list>

                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="concessionList.length !== 0"
                                     [disabled]="concessionList.length === 0"
                                     (opened)="showPreviousConcessionDetails = true"
                                     (closed)="showPreviousConcessionDetails = false">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Total discount given till now: <i>{{getConcessionListTotalAmount()}}</i>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-discount-list [user]="user"
                                       [concessionList]="concessionList"
                                       [whileSubmittingConcession]="true"></app-discount-list>

                </mat-expansion-panel>

            </mat-accordion>

        </ng-container>

    </ng-container>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>
