<div class="card-content main-page" id="design-main-wrapper" style="height: 90vh;" *ngIf="!isLoading; else LoaderSpinner">
    <!-- Inventory Starts -->
    <app-inventory (openLayout)="setActiveLayout($event)"></app-inventory>
    <!-- Inventory Ends -->

    <!-- Layout Info Editor Start-->
    <mat-card>
        <!-- <div *ngIf="!htmlAdapter.isFullScreen"> -->
            <mat-form-field style="width: 100%; max-width: 250px;">
                <mat-label>
                    Layout Name
                </mat-label>
                <input matInput [(ngModel)]="activeLayout.name">
                <!-- <mat-icon matSuffix *ngIf="doesCurrentLayoutHasUniqueName()"><span class="matrial-icons">emoji_emotions</span></mat-icon>
                <mat-hint style="color:red; display: block;" *ngIf="!doesCurrentLayoutHasUniqueName() && activeLayout.name!=''" class="small">
                    Layout name must be unique
                </mat-hint> -->
            </mat-form-field>


            <!-- <button class="btn"
            (click)="resetCurrentLayout()"
            [disabled]="htmlAdapter.isSaving"
            style="padding: 4px 7px; margin-right: 12px; float: right;">Reset All</button> -->

        <!-- </div> -->
    </mat-card>
    <!-- Layout Info Editor Ends -->

    <mat-card class="bg-grey" style="width: 100%; padding: 2px; padding-bottom: 0; margin-top: 6px; align-items: center; display: flex; flex-wrap: wrap;">
        <!-- Top Toolbar -->
    </mat-card>

    <!-- Editor Body Starts -->
    <div class="flex-row" style="margin-top: 8px; width: 100%; height: calc(100vh - 90px); justify-content: space-between; position: relative;" id="canvasDesigningWrapper">
    
        <!-- column 2: Canvas Starts -->
        <mat-card class="bg-grey inline-block" style="padding:0; flex-grow: 1; position: relative; text-align: center; overflow: hidden;" id="canvasWrapper">
            <div style="overflow: auto; max-height: 100%;" #CanvasWrapper>
                <!--Main Canvas Will be Rendered Here: Check ngAfterViewInit()-->
            </div>
        </mat-card>
        <!-- column 2: Canvas Ends -->

    </div>
    <!-- Editor Body Ends -->

</div>

<ng-template #LoaderSpinner>
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-template>