<div class="card-content table-responsive">
    <!-- Column Filter -->
    <mat-form-field style="margin-right: 15px">
        <mat-select placeholder="Select Columns">
            <ng-container *ngFor="let column of COLUMNHANDLES">
                <mat-option>
                    <mat-checkbox [(ngModel)]="column.show" (click)="$event.stopPropagation()">
                        {{ column.name }}
                    </mat-checkbox>
                </mat-option>
            </ng-container>
            <ng-container *ngFor="let parameter of employeeParameterList">
                <mat-option>
                    <mat-checkbox [(ngModel)]="parameter.show" (click)="$event.stopPropagation();">
                        {{parameter.name}}
                    </mat-checkbox>
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

    <!--    // Employee Table-->
    <ng-container *ngIf="!isLoading">
        <cdk-virtual-scroll-viewport itemSize="12" class="example-viewport">
            <table class="table table-hover">
                <thead class="text-{{user.activeSchool.secondaryThemeColor}}">
                    <tr>
                        <th *ngFor="let column of COLUMNHANDLES" [class.hidden]="!column.show">
                            {{column.name}}
                        </th>
                        <th style="min-width: 150px;" *ngFor="let parameter of employeeParameterList"
                            [class.hidden]="!parameter.show">
                            {{parameter.name}}
                        <th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *cdkVirtualFor="let employee of employeeFullProfileList">
                        <tr>
                            <td *ngFor="let column of COLUMNHANDLES" [class.hidden]="!column.show"
                                [attr.id]="column.key+employee.id">
                                <ng-container *ngIf="column.key==='bankIfscCode'">
                                    <input [attr.type]="column.inputType" [attr.id]="employee.id+column.key"
                                        class="customInput"
                                        [ngStyle]="{'text-transform':(checkOnlyUppercaseFields(column.key))?'uppercase': 'none'}"
                                        (keydown)="handleOnKeyDown(column.inputType, $event, column.key)"
                                        (blur)="serviceAdapter.updateEmloyeeField(column.name,column.key,employee, $event.target.value,column.inputType)"
                                        [ngModel]="employee[column.key]"
                                        (ngModelChange)="getBankName(employee,$event)"
                                    />
                                </ng-container>
                                <ng-container *ngIf="column.inputType===null">
                                    {{employee[column.key]}}
                                </ng-container>
                                <ng-container *ngIf="column.inputType==='list'">
                                    <mat-form-field>
                                        <mat-select [ngModel]="employee[column.key]" [attr.id]="employee.id+column.key"
                                            (ngModelChange)="serviceAdapter.updateEmloyeeField(column.name, column.key, employee, $event,column.inputType)">
                                            <mat-option *ngFor='let item of column.list;' [value]="item">
                                                {{item}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ng-container>
                                <ng-container
                                    *ngIf="(column.inputType==='text' || column.inputType==='number' || column.inputType==='date') && column.key!=='bankIfscCode'">
                                    <input [attr.type]="column.inputType" [attr.id]="employee.id+column.key"
                                        class="customInput"
                                        [min]="column.inputType==='number'?0:''"
                                        [max]="getMaxDateForDateType(column.key, column.inputType)"
                                        (keydown)="handleOnKeyDown(column.inputType, $event, column.key)"
                                        [ngStyle]="{'text-transform':(checkOnlyUppercaseFields(column.key))?'uppercase': 'none'}"
                                        (blur)="serviceAdapter.updateEmloyeeField(column.name,column.key,employee, $event.target.value,column.inputType)"
                                        [ngModel]="employee[column.key]" />
                                </ng-container>
                            </td>
                            <ng-container *ngFor="let parameter of employeeParameterList">
                                <td *ngIf="parameter.show" [attr.id]="parameter.id+'-'+employee.id">
                                    <input matInput *ngIf="parameter.parameterType===parameter_type_list[0]" type="text"
                                        class="customInput" [attr.id]="employee.id+'-'+parameter.id"
                                        (blur)="serviceAdapter.updateParameterValue(employee, parameter, $event.target.value)"
                                        [ngModel]="getParameterValue(employee, parameter)">
                                    <ng-container *ngIf="parameter.parameterType===parameter_type_list[1]">
                                        <mat-select placeholder="{{parameter.name}}"
                                            [attr.id]="employee.id+'-'+parameter.id"
                                            [ngModel]="getParameterValue(employee, parameter)"
                                            (ngModelChange)="serviceAdapter.updateParameterValue(employee, parameter, $event)">
                                            <mat-option [value]="NULL_CONSTANT">None</mat-option>
                                            <mat-option *ngFor="let item of parameter.filterValues" [value]="item">
                                                {{item}}</mat-option>
                                        </mat-select>
                                    </ng-container>
                                    <ng-container *ngIf="parameter.parameterType===parameter_type_list[2]">
                                        <div class="text-center">
                                            <input class="dropinput" type="file" style="cursor: pointer;"
                                                [attr.id]="employee.id+'-'+parameter.id"
                                                title="{{getDocumentName(employee, parameter)}}"
                                                (input)="serviceAdapter.updateParameterDocumentValue(employee,parameter,$event)">
                                            <img [src]="getDocumentIcon(employee, parameter)" class="documenticon"
                                                [id]="employee.id+'-'+parameter.id+'-icon'">
                                            <p [id]="employee.id+'-'+parameter.id+'-text'"></p>
                                        </div>
                                    </ng-container>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-container>
</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
