<ng-container *ngIf="studentFinalReportList">

    <ng-container *ngFor="let student of studentFinalReportList; let isLast = last;">

        <div class="container-fluid" [class.pageBreakAfter]="!isLast"
             style="width: 100%; height: 100%;
             border: 6px double #b87333;
             position: relative;
             overflow: hidden;
             border-radius: 8px;
             font-weight: 800 !important;">

            <!-- Background Watermark -->
            <img src="{{user.activeSchool.profileImage}}"
                 style="border-radius: 2px; position: absolute;
                 top: 440px; left: 178px;
                 width: 350px; height: 350px;
                 opacity: 0.15 !important;
                 filter: grayscale(100%) !important;
                 z-index: 10;"/>

            <!-- School Logo -->
            <img src="{{user.activeSchool.profileImage}}"
                 style="border-radius: 2px;
                        position: absolute; top: 115px; left: 30px;
                        opacity: 0.8;
                        width: 100px; height: 100px;"/>

            <!-- Student Photo -->
            <img src="{{student.profileImage}}"
                 style="border: 1px solid black;
                             border-radius: 10px;
                             position: absolute; top: 115px; left: 580px;
                             width: 100px; height: 100px;"/>

            <!-- Reg. No. , Dise Code -->
            <div class="row no-gutters" style="margin-bottom: 0px !important;">
                <div class="col-xs-6 d-flex custom-padding">
                    Dise code : {{user.activeSchool.diseCode}}
                </div>
                <div class="col-xs-6 d-flex custom-padding" align="end">
                    <ng-container *ngIf="user.activeSchool.parentBoard==boardList[0].id;">
                        School Code :
                    </ng-container>
                    <ng-container *ngIf="user.activeSchool.parentBoard==boardList[1].id;">
                        Affiliation No. :
                    </ng-container>
                    {{user.activeSchool.affiliationNumber}}
                </div>
            </div>

            <!-- School Name -->
            <div class="row no-gutters" style="margin-top: 25px;">
                <div class="col-xs-12 " align="center">
                    <span style="font-size: 45px; font-weight: 800; color: red !important;">
                        {{user.activeSchool.printName}}
                    </span>
                </div>
            </div>

            <!-- Address -->
            <div class="row no-gutters" style="margin-top: 5px !important; line-height: normal !important;">
                <div class="col-xs-12" align="center">
                    <span style="font-size: 22px;">
                        {{user.activeSchool.address}}
                    </span>
                </div>
            </div>

            <!-- Annual Report, Class, Session -->
            <div class="row no-gutters" style="margin-top: 3px !important; line-height: normal !important;">
                <div class="col-xs-12" align="center">
                    <span style="font-size: 35px;">Annual Report</span>
                </div>
            </div>

            <!-- Session -->
            <div class="row no-gutters" style="margin-top: 3px !important; line-height: normal !important;">
                <div class="col-xs-12" align="center">
                    <span style="font-size: 25px">{{getSessionName(user.activeSchool.currentSessionDbId)}}</span>
                </div>
            </div>

            <!-- Class -->
            <div class="row no-gutters" style="margin-top: 3px !important; line-height: normal !important;">
                <div class="col-xs-12" align="center">
                    <span style="font-size: 30px;">{{student.className}}</span>
                </div>
            </div>

            <!-- Roll No. , Scholar No. -->
            <div class="row no-gutters" style="margin-top: 15px !important; margin-bottom: 5px !important;">
                <div class="col-xs-3 studentInfo" style="font-weight: normal !important;">
                    Roll No.<span style="float: right">:</span>
                </div>
                <div class="col-xs-4 studentInfo" style="padding-left: 0px !important;">
                    {{student.rollNumber}}
                </div>
                <div class="col-xs-3 studentInfo" style="padding-left: 0px !important;font-weight: normal !important;">
                    Scholar No.<span style="float: right">:</span>
                </div>
                <div class="col-xs-2 studentInfo" style="padding-left: 0px !important;">
                    {{student.scholarNumber}}
                </div>
            </div>

            <!-- Student's Name -->
            <div class="row no-gutters" style="margin-bottom: 5px !important;">
                <div class="col-xs-3 studentInfo" style="font-weight: normal !important;">
                    Student's Name<span style="float: right">:</span>
                </div>
                <div class="col-xs-9 studentInfo" style="padding-left: 0px !important; font-size: 25px !important;">
                    <span *ngIf="student.gender=='Male'">Master</span>
                        <span *ngIf="student.gender=='Female'">Miss</span>
                        {{ student.name | titlecase }}
                </div>
            </div>

            <!-- Father's Name , Category -->
            <div class="row no-gutters" style="margin-bottom: 5px !important;">
                <div class="col-xs-3 studentInfo" style="font-weight: normal !important;">
                    Father's Name<span style="float: right">:</span>
                </div>
                <div class="col-xs-9 studentInfo" style="padding-left: 0px !important;">
                    Mr. {{ student.fathersName | titlecase }}
                </div>
            </div>

            <!-- Mother's Name , SSSMID -->
            <div class="row no-gutters" style="margin-bottom: 5px !important;">
                <div class="col-xs-3 studentInfo" style="font-weight: normal !important;">
                    Mother's Name<span style="float: right">:</span>
                </div>
                <div class="col-xs-9 studentInfo" style="padding-left: 0px !important;">
                    Mrs. {{ student.motherName | titlecase }}
                </div>
            </div>

            <!-- Date of Birth -->
            <div class="row no-gutters" style="margin-bottom: 5px !important;">
                <div class="col-xs-3 studentInfo" style="font-weight: normal !important;">
                    Date of birth<span style="float: right">:</span>
                </div>
                <div class="col-xs-9 studentInfo" style="padding-left: 0px !important;">
                    {{student.dateOfBirth | date: 'dd/MM/yyyy'}} ({{student.dateOfBirth | dateInWords}})
                </div>
            </div>

            <!-- Aadhar No. , Category -->
            <div class="row no-gutters" style="margin-bottom: 5px !important;">
                <div class="col-xs-3 studentInfo" style="font-weight: normal !important;">
                    Aadhar No.<span style="float: right">:</span>
                </div>
                <div class="col-xs-4 studentInfo" style="padding-left: 0px !important;">
                    {{student.aadharNum}}
                </div>
                <div class="col-xs-3 studentInfo" style="padding-left: 0px !important;font-weight: normal !important;">
                    Category<span style="float: right">:</span>
                </div>
                <div class="col-xs-2 studentInfo" style="padding-left: 0px !important;">
                    {{student.category}}
                </div>
            </div>

            <!-- Child SSMID , Family SSMID -->
            <div class="row no-gutters" style="margin-bottom: 5px !important;">
                <div class="col-xs-3 studentInfo" style="font-weight: normal !important;">
                    Child SSMID<span style="float: right">:</span>
                </div>
                <div class="col-xs-4 studentInfo" style="padding-left: 0px !important;">
                    {{student.childSSMID}}
                </div>
                <div class="col-xs-3 studentInfo" style="padding-left: 0px !important;font-weight: normal !important;">
                    Family SSMID<span style="float: right">:</span>
                </div>
                <div class="col-xs-2 studentInfo" style="padding-left: 0px !important;">
                    {{student.familySSMID}}
                </div>
            </div>

            <!-- Marksheet -->
            <div class="row no-gutters" style="margin-top: 25px !important;">
                <div class="col-xs-12">
                    <table class="table updownBorder" style="font-size: 16px !important;">
                        <tbody>
                        <tr>
                            <td class="upBorder leftBorder downBorder bold" style="padding: 5px" align="left"><b>Subject</b></td>
                            <td class="upBorder downBorder bold" align="right"><b>Max. Marks</b></td>
                            <td class="upBorder downBorder bold" align="right"><b>Marks Obt.</b></td>
                            <td class="upBorder rightBorder downBorder bold" align="center"><b>Grade</b></td>
                        </tr>
                        <ng-container *ngFor="let subject of student.mainSubjectList; let i = index;">
                            <tr>
                                <td class="leftBorder" style="padding: 5px;">{{getSubjectName(subject.parentSubject)}}</td>
                                <td style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentSubjectMaxMarks()}}</td>
                                <td style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentSubjectMarks(student, subject, i) | number: '1.0-1'}}</td>
                                <td class="rightBorder" style="padding: 5px;" align="center">{{getGrade(getOverallStudentSubjectMarks(student, subject, i),getOverallStudentSubjectMaxMarks())}}</td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td class="leftBorder" style="padding: 5px;">{{extraFieldList[0].name}}</td>
                            <td style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentTotalExtraFieldMaxMarks(0)}}</td>
                            <td style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentTotalExtraFieldMarks(student, 0) | number: '1.0-1'}}</td>
                            <td class="rightBorder" style="padding: 5px;" align="center">{{getGrade(getOverallStudentTotalExtraFieldMarks(student, 0),getOverallStudentTotalExtraFieldMaxMarks(0))}}</td>
                        </tr>
                        <tr>
                            <td class="leftBorder" style="padding: 5px;">{{extraFieldList[1].name}}</td>
                            <td style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentTotalExtraFieldMaxMarks(1)}}</td>
                            <td style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentTotalExtraFieldMarks(student, 1) | number: '1.0-1'}}</td>
                            <td class="rightBorder" style="padding: 5px;" align="center">{{getGrade(getOverallStudentTotalExtraFieldMarks(student, 1),getOverallStudentTotalExtraFieldMaxMarks(1))}}</td>
                        </tr>
                        <tr>
                            <td class="updownBorder leftBorder bold" style="padding: 5px;">Total</td>
                            <td class="updownBorder bold" style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentMaxMarks(student)}}</td>
                            <td class="updownBorder bold" style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentMarks(student) | number: '1.0-1'}}</td>
                            <td class="updownBorder rightBorder bold" style="padding: 5px;" align="center">{{getGrade(getOverallStudentMarks(student),getOverallStudentMaxMarks(student))}}</td>
                        </tr>
                        <tr>
                            <td class="bold rightBorder leftBorder"
                                colspan="4"
                                style="padding: 5px;">
                                Total Marks In Words: - {{ getOverallStudentMarks(student) | amountInWords }}
                            </td>
                        </tr>
                        <ng-container *ngFor="let subject of student.extraSubjectList; let i = index;">
                            <tr>
                                <td [class.upBorder]="i==0" class="leftBorder" style="padding: 5px;">{{getSubjectName(subject.parentSubject)}}</td>
                                <td [class.upBorder]="i==0" style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentSubjectMaxMarks()}}</td>
                                <td [class.upBorder]="i==0" style="padding: 5px; padding-right: 30px;" align="right">{{getOverallStudentSubjectMarks(student, subject, i) | number: '1.0-1'}}</td>
                                <td [class.upBorder]="i==0" class="rightBorder" style="padding: 5px;" align="center">{{getGrade(getOverallStudentSubjectMarks(student, subject, i),getOverallStudentSubjectMaxMarks())}}</td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Percentage, Attendance -->
            <div class="row no-gutters" style="font-size: 16px !important;">
                <div class="col-xs-6 d-flex custom-padding">
                    Attendance:
                    <ng-container *ngIf="reportCardMapping.autoAttendance">
                        {{getOverallStudentAttendance(student)}} / {{getOverallStudentWorkingDays(student)}}
                    </ng-container>
                </div>
                <div class="col-xs-6 custom-padding"  align="end">
                    Percentage - {{getPercentage(getOverallStudentMarks(student),getOverallStudentMaxMarks(student)) | number: '1.0-1'}}%
                </div>
            </div>

            <!-- Promotion Info -->
            <div class="row no-gutters" style="margin-top: 5px;">
                <div class="col-xs-12 d-flex custom-padding">
                    Teacher's Remark:&nbsp;<i>{{student.remark}}</i>
                </div>
            </div>

            <img src="{{this.classTeacherSignature}}"
                 *ngIf="this.classTeacherSignature != null"
                 style="position: absolute;
                 bottom: 25px; left: 525px;
                 width: 150px; height: 75px;
                 z-index: 1;"/>

            <!-- Principal Signature Image -->
            <img src="{{user.activeSchool.principalSignatureImage}}"
                 *ngIf="user.activeSchool.principalSignatureImage != null && showPrincipalSignature"
                 style="position: absolute;
                 bottom: 25px; left: 525px;
                 width: 150px; height: 75px;
                 z-index: 1;"/>
            <!-- img src="https://s3.amazonaws.com/korangleplus/schools/13/principal_signature/1551291073.55681"
                 style="position: absolute;
                 bottom: 25px; left: 273px;
                 width: 150px; height: 75px;
                 z-index: 1;"/ -->

            <!-- Class Teacher's Sign. , Headmaster's Sign. -->
            <div class="row no-gutters"
                 style="position: absolute; bottom: 10px; width: 100%;">
                <div class="col-xs-4 custom-padding" style="padding-left: 30px">
                    {{getNextStep(student)}}
                </div>
                <div class="col-xs-4 custom-padding" style="padding-left: 30px">
                    Class Teacher's Signature
                </div>
                <div class="col-xs-4 custom-padding" style="padding-right: 40px" align="end">
                    Principal's Signature
                </div>
            </div>

        </div>

    </ng-container>

</ng-container>


