<h2 mat-dialog-title>Variables</h2>
<mat-dialog-content style="min-height: 25vh; max-height: 60vh; min-width: 50vw;">
    <mat-accordion>
    <ng-container *ngFor="let customVariable of customVariablesList">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                {{customVariable.name}}
                </mat-panel-title>
                <mat-panel-description>
                {{customVariable.type}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <p class="expansion-pannel-content">
                <mat-form-field>
                    <mat-label>Variable Name</mat-label>
                    <input matInput type="text" [(ngModel)]="customVariable.name">
                </mat-form-field>
                <ng-container [ngSwitch]="customVariable.type">

                    <ng-container *ngSwitchCase="'CONSTANT'">
                        <mat-form-field>
                            <mat-label>Value</mat-label>
                            <input matInput type="number" [(ngModel)]="customVariable.value">
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngSwitchCase="'LAYER'">
                        <mat-select placeholder="Select Layer" [(ngModel)]="customVariable.layerID">
                            <mat-option *ngFor="let layer of getMarksLayers();" [value]="layer.id">{{layer.displayName}} : {{layer.marks}}</mat-option>
                        </mat-select>
                    </ng-container>

                    <ng-container *ngSwitchCase="'MARKS'">
                        <mat-form-field>
                            <mat-select 
                                placeholder="Examination"
                                [(ngModel)]="customVariable.parentExamination">
                                <mat-option *ngFor="let examination of getExaminationList();" [value]="examination.id">{{examination.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                
                        <mat-form-field>
                            <mat-select placeholder="Subject"
                            [(ngModel)]="customVariable.parentSubject">
                                <mat-option *ngFor="let subject of getSubjectList();" [value]="subject.id">
                                    {{subject.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field><br/>
                
                        <mat-form-field>
                            <mat-select placeholder="Test Type"
                            [(ngModel)]="customVariable.testType">
                                <mat-option *ngFor="let testType of getTestTypeList()" [value]="testType">{{testType?testType:'NONE'}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                
                        <mat-form-field>
                            <mat-select placeholder="M.M. / M.O."
                            [(ngModel)]="customVariable.marksType">
                                <mat-option *ngFor="let marksType of getMarksTypeList()" [value]="marksType">{{marksType}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngSwitchCase="'FORMULA'">
                        <mat-form-field appearence="fill" style="width: 100%;">
                            <mat-label>Formula</mat-label>
                            <input type="text" matInput [(ngModel)]="customVariable.formula">
                        </mat-form-field>
                    </ng-container>

                </ng-container>
            </p>

        </mat-expansion-panel>
    </ng-container>
    </mat-accordion>
    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 16px;">
    <button class="btn" appearence="fill" style="padding: 6px;" (click)="createCustomVariable()">Add Variable</button>
    <mat-form-field appearence="fill" style="margin-left: 20px">
        <mat-select placeholder="Select Variable Type" [(ngModel)]="newCustomVariableType">
            <mat-option *ngFor="let type of customVariablesTypes()" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
</mat-dialog-content>