@import "../../../assets/sass/md/variables";
@import "../../../assets/sass/md/typography";
@import "../../../assets/sass/md/colors";
$dayBase: 60px;
$cloud: lightgrey;
$base: $dayBase / 5;
$seafoam: green;
$light-blue-grey: lightBlue;
$concrete: grey;


.calendar {
  display: block;
  width: $dayBase * 7;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }

  .calendar-navs {
    background-color: $cloud;
  }

  .month-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: ($dayBase * 2) / 3;
  }

  .year-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: ($dayBase * 3) / 4;
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      background: $concrete;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
    }
    .week-date,
    .day-name {
      text-align: center;
      padding: $base;
      display: block;
      width: $dayBase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: ($dayBase) / 3;
    }

    .week-date {
      height: $dayBase;
      position: relative;

      .date-text {
        z-index: 10;
        font-size: $dayBase / 3;
        font-family: 'Montserrat', sans-serif;
      }

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        &:hover {
          &:after {
            background-color: $seafoam;
          }
        }
      }
      &.selected {
        color: $white;
        &:after {
          background-color: $teal;
        }
        &:hover {
          &:after {
            background-color: $teal;
          }
        }
      }

      &.disabled {
        color: $light-blue-grey;
      }
    }

    .today {
      font-weight: bold;
    }
  }
}