<div class="card-content">

    <ng-container *ngIf="!isLoading">

        <!-- Online Payment Settings Starts -->
        <div [style.pointerEvents]="backendData.schoolMerchantAccount?'auto':'none'"
            [style.opacity]="backendData.schoolMerchantAccount?'1':'0.35'">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <mat-icon style="font-size: 30px">payments</mat-icon>
                <h3 style="margin-left: 12px;">Online Fee Payment</h3>

                <mat-slide-toggle *ngIf="backendData.schoolMerchantAccount"
                    style="margin-right: 16px; margin-left: auto;"
                    [(ngModel)]="backendData.schoolMerchantAccount.isEnabled">
                    Online Fees Payment
                </mat-slide-toggle>

            </div>

            <span *ngIf="!backendData.schoolMerchantAccount">Merchant Bank Account not set.</span>
            <span *ngIf="!htmlRenderer.isUpdatingOnlineFeePaymentAllowed()" style="color: red;">Online Fees Payments are
                disabled while your Bank Account details are being updated, you can resume collecting Online Fees
                Payments when the details are changed
                successfully.</span>

            <div *ngIf="backendData.schoolMerchantAccount">
                <h4>Platform Charges Division between parent and school</h4>
                <div style="opacity: 65%; margin-bottom: 1rem;">* Choose how you want to distribute platform charges
                    between school and parent</div>
                <mat-radio-group aria-label="Select one" style="display: flex; flex-direction: column; gap: 1rem;"
                    [(ngModel)]="backendData.schoolMerchantAccount.platformFeeOnSchoolType"
                    *ngIf="htmlRenderer.isEasebuzzInPayFeesFeatureFlagEnabled">
                    <mat-radio-button value="Percentage">
                        <span style="color: black;">School will bear a particular percentage of total platform
                            charges.</span>
                    </mat-radio-button>
                    <div class="flex-desktop-row-mobile-col" style="align-items: center; margin-left: 1rem; gap: 4px;"
                        *ngIf="backendData.schoolMerchantAccount.platformFeeOnSchoolType=='Percentage'">
                        <mat-chip>Parent:
                            {{htmlRenderer.getParentPlatformFeePercentage().toFixed(2)}}%</mat-chip>
                        <mat-slider style="min-width: max(320px, 48vw);"
                            [ngModel]="100 - backendData.schoolMerchantAccount.percentageOfPlatformFeeOnSchool"
                            (ngModelChange)="backendData.schoolMerchantAccount.percentageOfPlatformFeeOnSchool = 100 - $event"
                            min="0" max="100" step="1"></mat-slider>
                        <mat-chip>School:
                            {{htmlRenderer.getSchoolPlatformFeePercentage().toFixed(2)}}%</mat-chip>
                    </div>
                    <mat-radio-button value="Flat">
                        <span style="color: black;">School will bear complete platform charges upto a particular
                            amount.</span>
                    </mat-radio-button>
                    <div style="margin-left: 2rem;"
                        *ngIf="backendData.schoolMerchantAccount.platformFeeOnSchoolType=='Flat'">
                        <mat-form-field>
                            <mat-label>Max Platform Fee</mat-label>
                            <input name="maxPlatformFeeOnSchool" required matInput type="number" min="0"
                                [(ngModel)]="backendData.schoolMerchantAccount.maxPlatformFeeOnSchool">
                        </mat-form-field>
                    </div>
                </mat-radio-group>
                <div class="flex-desktop-row-mobile-col" style="align-items: center; margin-left: 1rem; gap: 4px;"
                    *ngIf="!htmlRenderer.isEasebuzzInPayFeesFeatureFlagEnabled">
                    <mat-chip>Parent:
                        {{htmlRenderer.getParentPlatformFeePercentage().toFixed(2)}}%</mat-chip>
                    <mat-slider style="min-width: max(320px, 48vw);"
                        [ngModel]="100 - backendData.schoolMerchantAccount.percentageOfPlatformFeeOnSchool"
                        (ngModelChange)="backendData.schoolMerchantAccount.percentageOfPlatformFeeOnSchool = 100 - $event"
                        min="0" max="100" step="1"></mat-slider>
                    <mat-chip>School:
                        {{htmlRenderer.getSchoolPlatformFeePercentage().toFixed(2)}}%</mat-chip>
                </div>

            </div>

        </div>

        <!-- Online Payment Settings Ends -->

        <mat-divider style="margin: 20px 0px;"></mat-divider>

        <!-- Fees Accounting Settings Begins -->
        <div [style.pointerEvents]="isActiveSession?'auto':'none'" [style.opacity]="isActiveSession?'1':'0.35'">

            <div style="display: flex; flex-direction: row; align-items: center;">
                <mat-icon style="font-size: 30px">account_balance</mat-icon>
                <h3 style="margin-left: 12px;">Accounting</h3>
                <mat-slide-toggle style="margin-right: 16px; margin-left: auto;"
                    [checked]="backendData.feeSettings.accountingSettingsJSON!=null"
                    (change)="toggleAccounting($event.checked)">Enable</mat-slide-toggle>
            </div>

            <ng-container *ngIf="backendData.feeSettings.accountingSettingsJSON">
                <mat-form-field style="width: 200px;" (click)="searchInput1.focus();">
                    <mat-label>Student Fee Debit Account</mat-label>
                    <mat-select [(ngModel)]="backendData.feeSettings.accountingSettingsJSON.parentAccountFrom" required>
                        <mat-option style="pointer-events: none;">
                            <!--Search bar-->
                            <mat-form-field style="width: 100%;">
                                <mat-icon matPrefix (click)="searchInput1.focus();">search</mat-icon>
                                <input style="pointer-events: auto;" #searchInput1 (click)="$event.stopPropagation();"
                                    matInput>
                            </mat-form-field>
                        </mat-option>

                        <ng-container *ngFor="let customAccountSession of customAccountSessionList">
                            <mat-option
                                *ngIf="customAccountSession.title.toLowerCase().startsWith(searchInput1.value.toLowerCase())"
                                [value]="customAccountSession.id">
                                {{customAccountSession.title}}&nbsp;A/c
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field><br />

                <ng-container *ngFor="let paymentMode of getPaymentModeList(); let i=index;">
                    <div class="row" style="margin-top: 24px;"
                        [style.margin-left]="commonFunctions.isMobileMenu()?'-8px':'16px'">
                        <div class="col-md-3 col-xs-9">
                            <mat-form-field style="width: 100%;" (click)="searchInput2.focus()">
                                <mat-label>Add Account</mat-label>
                                <mat-select placeholder="Add Account">
                                    <mat-option style="pointer-events: none;">
                                        <!--Search bar-->
                                        <mat-form-field style="width: 100%;">
                                            <mat-icon matPrefix>search</mat-icon>
                                            <input style="pointer-events: auto;" #searchInput2
                                                (click)="$event.stopPropagation();" matInput>
                                        </mat-form-field>
                                    </mat-option>

                                    <ng-container *ngFor="let customAccountSession of customAccountSessionList;">
                                        <mat-option
                                            *ngIf="customAccountSession.title.toLowerCase().startsWith(searchInput2.value.toLowerCase())"
                                            (click)="addNewAccountInFeePaymentAccountList(customAccountSession, paymentMode); $event.stopPropagation();">
                                            {{customAccountSession.title}}&nbsp;A/c
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Mode: {{paymentMode}}</mat-label>
                                <mat-chip-list required>
                                    <mat-chip
                                        *ngFor="let feePaymentAccountSession of backendData.feeSettings.accountingSettingsJSON.toAccountsStructure[paymentMode], let fi=index;"
                                        [removable]="true"
                                        (removed)="backendData.feeSettings.accountingSettingsJSON.toAccountsStructure[paymentMode].splice(fi,1)">
                                        {{getAccountName(feePaymentAccountSession)}}
                                        <mat-icon class="pre-border" matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                                <input style="pointer-events: none; opacity: 0;">
                                <!--Hack for proper placeholder display-->
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container><br />

                <!-- Online Fee Payment Credit Account Selector Start -->
                <mat-form-field style="width: 200px;" (click)="searchInput3.focus();">
                    <mat-label>Online Payment Credit Account</mat-label>
                    <mat-select
                        [(ngModel)]="backendData.feeSettings.accountingSettingsJSON.parentOnlinePaymentCreditAccount"
                        required>
                        <mat-option style="pointer-events: none;">
                            <!--Search bar-->
                            <mat-form-field style="width: 100%;">
                                <mat-icon matPrefix (click)="searchInput3.focus();">search</mat-icon>
                                <input style="pointer-events: auto;" #searchInput3 (click)="$event.stopPropagation();"
                                    matInput>
                            </mat-form-field>
                        </mat-option>

                        <ng-container *ngFor="let customAccountSession of customAccountSessionList">
                            <mat-option
                                *ngIf="customAccountSession.title.toLowerCase().startsWith(searchInput3.value.toLowerCase())"
                                [value]="customAccountSession.id">
                                {{customAccountSession.title}}&nbsp;A/c
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field><br />
                <!-- Online Fee Payment Credit Account Selector Ends -->

            </ng-container>

        </div>

        <!-- Fees Accounting Settings Ends -->

        <!-- Single Fee Receipt Printing Toggle Settings Starts -->

        <mat-divider style="margin: 20px 0px;"></mat-divider>

        <div style="display: flex; flex-direction: row; align-items: center;">
            <mat-icon style="font-size: 30px">print</mat-icon>
            <h3 style="margin-left: 12px;">Single Fee Receipt Printing Toggle</h3>
        </div>

        <mat-slide-toggle style="margin-right: 16px; margin-left: auto;" [(ngModel)]="printSingleReceipt"
            (change)="serviceAdapter.updatePrintSingleReceipt()">
            Enable Single Fee Receipt Printing (Disable For Double Fee Receipts Printing)
        </mat-slide-toggle>
        <div *ngIf="isLoadingPrintSingleReceiptSetting" class="loader-custom"></div>

        <mat-divider style="margin: 20px 0px;"></mat-divider>

        <!-- Single Fee Receipt Printing Toggle Settings Ends -->

        <div style="display: flex; flex-direction: row; align-items: center;">
            <mat-icon style="font-size: 30px">lock</mat-icon>
            <h3 style="margin-left: 12px;">Lock Fee</h3>
        </div>

        <div style="display: flex; flex-direction: row; align-items: center;">
            <span style="font-size: large;">Lock Fee &nbsp;</span>
            <mat-slide-toggle [(ngModel)]="backendData.feeSettings.sessionLocked"></mat-slide-toggle>
        </div>
        <ng-container *ngIf="backendData.feeSettings.sessionLocked; else feesUnlocked;">
            <span style="font-size: 16px;">
                (Unlock fees structure for session {{activeSession.name}})
            </span>
        </ng-container>

        <ng-template #feesUnlocked>
            <span style="font-size: 16px;">
                (Lock fees structure for session {{activeSession.name}})
            </span>
        </ng-template><br />

        <button style="margin: 40px 0;" class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
            (click)="serviceAdapter.updatePaymentSettings()">Update</button>
    </ng-container>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

</div>