<!-- Starts: For Mobile & Tablet Devices -->
<div *ngIf="htmlAdapter.isMobileDevice()" class="card-content table-responsive">
    This page is not availble on mobile / Tablets
</div>
<!-- Ends: For Mobile & Tablet Devices -->

<!-- Starts: For Desktop -->
<div *ngIf="!uploadSheetAdapter.isFileLoading && !htmlAdapter.isMobileDevice()" class="card-content table-responsive">

    <!-- Starts: Upload Excel file & Download-Template -->
    <div class="display-flex-section">

        <!-- Starts: Excel file -->
        <div style="display: flex; align-items: center;">

            <!-- Starts: Upload Button and Chosen file name -->
            <button class="btn btn-indigo"
                style="padding: 4px 7px;"
                (click)="uploadSheetAdapter.clickInputFileButton()">
                Upload xlsx
            </button>
            <span style="margin-left: 5px;">{{uploadSheetAdapter.chosenFileName}}</span>
            <!-- Starts: Upload Button and Chosen file name -->

            <!-- Starts: Hidden Input Element -->
            <input type="file" id="input-file-button" style="display: none;" (change)="uploadSheetAdapter.uploadSheet($event)" multiple="false" accept=".xlsx" />
            <!-- Ends: Hidden Input Element -->

        </div>
        <!-- Ends: Excel file -->

    </div><br />
    <!-- Ends: Upload Excel file & Download-Template -->

    <!-- Starts: Student Data in table view -->
    <cdk-virtual-scroll-viewport *ngIf="tableAdapter.excelDataFromUser.length > 0" itemSize="0" class="example-viewport">
        <table class="table table-hover">
            <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                <tr>
                    <th *ngFor="let columnHeader of tableAdapter.excelDataFromUser[0]">{{columnHeader}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *cdkVirtualFor="let studentRow of tableAdapter.excelDataFromUser.slice(1)">
                    <tr>
                        <td *ngFor="let column of studentRow">{{column}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
    <!-- Ends: Student Data in table view -->

</div>
<!-- Ends: For Desktop -->

<!-- Start: Loader -->
<ng-container *ngIf="uploadSheetAdapter.isFileLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
<!-- Ends: Loader -->
