<div class="main-content">
  <div class="container-fluid">

    <div class="card" style="min-height: 100%">
      <div class="card-header" [attr.data-background-color]="user.color">
        <h4 class="title">Promote Student</h4>
      </div>
      <div class="card-content">

          <ng-container *ngIf="fromSelectedClass && toSelectedClass && !isLoading">

              <!-- Session, Class, Section Headings Selection -->
              <div class="row">

                  <div class="col-md-6">

                      <span style="font-weight: 800; font-size: 16px;">Session 2017-18</span><br/>

                      Class:
                      <select [ngModel]="fromSelectedClass"
                              (ngModelChange)="fromSelectedClass=$event;handleFromSelectedClassChange();"
                              style="margin-right: 15px">
                          <option *ngFor="let class of fromClassSectionStudentList;" [ngValue]="class">
                              {{class.name}}
                          </option>
                      </select>

                      <span *ngIf='fromSelectedClass' [class.hidden]="fromSelectedClass.sectionList.length == 1">
                        Section:
                        <select [ngModel]="fromSelectedSection"
                                (ngModelChange)="fromSelectedSection=$event;handleFromSelectedSectionChange()"
                                style="margin-right: 15px">
                            <option *ngFor="let section of fromSelectedClass.sectionList" [ngValue]="section">
                                {{section.name}}
                            </option>
                        </select>
                      </span> <br/>
                      <button class="btn"
                              style="padding: 4px 7px"
                              (click)="selectAllStudentsFromList(); $event.stopPropagation();">Select All
                      </button>
                      <button class="btn"
                              style="padding: 4px 7px"
                              (click)="clearAllStudentsFromList(); $event.stopPropagation();">Clear All
                      </button>
                  </div>

                  <div class="col-md-6" *ngIf="toSelectedClass">

                      <span style="font-weight: 800; font-size: 16px;">Session 2018-19</span><br/>


                      <mat-form-field style="margin-top: 23px;">
                          <mat-select placeholder="Select Class"
                                      #selectClassSection
                                      [ngModel]="toSelectedClass"
                                      (ngModelChange)="toSelectedClass=$event;">
                              <mat-option *ngFor='let classs of toClassSectionList;' [value]="classs">
                                  {{classs.name}}
                                  <span *ngIf="classs.selectedSection.dbId != classs.sectionList[0].dbId">
                                            , {{classs.selectedSection.name}}
                                        </span>
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                      <button class="btn"
                              style="padding: 2px 11px; background-color: transparent;"
                              matTooltip="Choose Section (default: Section - A)"
                              mat-icon-button
                              [matMenuTriggerFor]="classSectionMenu">
                          <i class="material-icons" style="color: black;">expand_more</i>
                      </button>
                      <mat-menu #classSectionMenu="matMenu">
                          <button *ngFor="let section of toSelectedClass.sectionList"
                                  mat-menu-item
                                  (click)="selectClassSection.open(); selectClassSection.close(); toSelectedClass.selectedSection=section">
                              {{section.name}}
                          </button>
                      </mat-menu>

                  </div>

              </div>

              <!-- Student List -->
              <div class="row">

                  <div class="col-md-6" style="border-right: 1px solid black">
                      <ng-container *ngFor="let student of fromSelectedSection.studentList">
                          <div [class.highlightBackground]="inToList(student.dbId)"
                               style="width: 100%">
                              <mat-checkbox [(ngModel)]="student.selected"
                                            [disabled]="inToList(student.dbId)">
                                  {{student.name}}, {{student.scholarNumber}}
                              </mat-checkbox><br/>
                          </div>
                      </ng-container>
                  </div>

                  <div class="col-md-6" style="border-left: 1px solid black">
                      <ng-container *ngFor="let student of getFilteredToStudentList()">
                          <span>{{student.name}}, {{student.scholarNumber}}</span><br/>
                      </ng-container>
                  </div>

              </div>

              <!-- Selected Session, Class, Section Headings -->
              <div class="row">

                  <div class="col-md-6">

                      From:
                      <span style="font-weight: 800; font-size: 16px;">
                          Session 2017-18, {{fromSelectedClass.name}}
                          <ng-container *ngIf="fromSelectedClass.sectionList.length != 1">
                              , {{fromSelectedSection.name}}
                          </ng-container>
                      </span>

                  </div>

                  <div class="col-md-6" *ngIf="toSelectedClass">

                      To:
                      <span style="font-weight: 800; font-size: 16px;">
                          Session 2018-19, {{toSelectedClass.name}}
                          <ng-container *ngIf="toSelectedClass.selectedSection.name != 'Section - A'">
                              , {{toSelectedClass.selectedSection.name}}
                          </ng-container>
                      </span>

                  </div>

              </div>

              <div class="row" align="center">
                  <button type="submit" class="btn btn-{{user.btn_color}}" (click)="promoteStudent();">Promote</button>
              </div>

          </ng-container>

      </div>
    </div>

    <ng-container *ngIf="isLoading">
      <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

  </div>
</div>
