<div class="card-content table-responsive" *ngIf="noPermission" >
    No permission for any subject
</div>

<div class="card-content table-responsive" *ngIf="!noPermission">

    <div class="row col-md-12">
        <ng-container *ngIf="!isSessionLoading">
            <mat-form-field style="margin-top: 23px ; margin-right: 15px; margin-bottom: 10px;">
                <mat-select placeholder="Select Class" [ngModel]="selectedClassSection"
                    (ngModelChange)="selectedClassSection = $event;changeClassSection()">
                    <mat-option *ngFor="let classs of classSectionSubjectList" style="width: 100%;" [value]="classs">
                        {{classs.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="margin-top: 23px ; margin-right: 15px; margin-bottom: 10px;">
                <mat-select placeholder="Select Subject" [ngModel]="selectedSubject"
                    (ngModelChange)="selectedSubject = $event">
                    <mat-option *ngFor="let subject of selectedClassSection.subjectList" style="width: 100%;"
                        [value]="subject">
                        {{subject.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button type="submit" class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                (click)="serviceAdapter.getHomeworks();">GET</button>
        </ng-container>
    </div>

    <div class="row" style="border-bottom: 1px solid lightgrey; margin-top: 15px; margin-bottom: 10px;">
        <div class="col-md-12"></div>
    </div>

    <ng-container *ngIf="!isLoading && showContent">

            
        <!-- CREATE HOMEWORK -->

        <div class="row col-md-12">
            <mat-form-field *ngIf="!isMobile()" style="margin-top: 5px ; margin-right: 15px; margin-bottom: 5px; width: 25%">
                <input testId="homeworkName" type="text" matInput [ngModel]="currentHomework.homeworkName" (ngModelChange)="currentHomework.homeworkName=$event;" placeholder="Type Homework Name">
            </mat-form-field>

            <mat-form-field *ngIf="isMobile()" style="margin-top: 5px ; margin-right: 15px; margin-bottom: 5px; width: 80%">
                <input type="text" matInput [ngModel]="currentHomework.homeworkName"
                    (ngModelChange)="currentHomework.homeworkName=$event;" placeholder="Type Homework Name"><br>
            </mat-form-field>

            <mat-form-field style="margin-top: 5px ; margin-right: 15px; margin-bottom: 5px; width: 150px">
                <input type="date" matInput [ngModel]="currentHomework.endDate"
                    (ngModelChange)="currentHomework.endDate=$event;" placeholder="Choose Deadline Date ">
            </mat-form-field>

            <mat-form-field *ngIf="currentHomework.endDate != null" style="margin-top: 5px ; margin-right: 15px; margin-bottom: 5px; width: 140px">
                <input type="time" matInput [ngModel]="currentHomework.endTime"
                    (ngModelChange)="currentHomework.endTime=$event;" placeholder="Choose Deadline Time">
            </mat-form-field>
        </div>


        <mat-form-field style="width: 100%;">
            <textarea matInput cdkTextareaAutosize style="padding-top: 10px; padding-bottom: 10px; white-space: pre-wrap;"
                rows="2" [ngModel]="currentHomework.homeworkText" (ngModelChange)="currentHomework.homeworkText=$event;"
                placeholder="Enter Homework Questions">
            </textarea>
        </mat-form-field><br>

        <div class="row col-md-12" style="margin-top: 5px;" *ngIf="!isMobile()">
            <span class="hidden-xs" style="color: #7b7b7b;">Homework Images: <br></span>
            <div class="image-row" >
                <div  *ngFor="let images of currentHomeworkImages; let i = index">
                    <img src="{{images.questionImage}}" class="hover-shadow cursor image-column" (click)="openImagePreviewDialog(currentHomeworkImages, i, 1)">
                </div>
                <input type='file' (click)="imageInput.value = null" (change)="readURL($event);" multiple="false" style="display: none"
                            accept="image/jpeg,image/png" #imageInput />
                <button type="submit" class="image-column"
                    style="cursor: pointer; font-size: 45px;color: grey;border-radius: 5px;width: 1.375in"
                    (click)="imageInput.click()">+</button>
            </div>
        </div>

        <div style="margin-top: 5px;" *ngIf="isMobile()">
            <span style="color: #7b7b7b;">Homework Images: <br></span>
            <div class="image-row">
                <div  *ngFor="let images of currentHomeworkImages; let i = index">
                    <img src="{{images.questionImage}}" class="hover-shadow cursor image-column-mobile" (click)="openImagePreviewDialog(currentHomeworkImages, i, 1)">
                </div>
                <input type='file' (click)="imageInput.value = null" (change)="readURL($event);" multiple="false" style="display: none"
                            accept="image/jpeg,image/png" #imageInput />
                <button type="submit" class="image-column-mobile"
                    style="cursor: pointer; font-size: 35px;color: grey;border-radius: 5px; width: 0.525in"
                    (click)="imageInput.click()">+</button>
            </div><br>
        </div>
        
                        
        <button type="submit" class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
            [disabled]="isCreateButtonDisabled(currentHomework.homeworkName)"
            style="margin-top: 15px ; margin-right: 15px; margin-bottom: 10px;"
            (click)="serviceAdapter.createHomework()">CREATE</button>
        <!-- PREVIOUS HOMEWORK -->

        <div *ngIf="!isMobile()" class="row" style="border-bottom: 1px solid lightgrey; margin-top: 15px; margin-bottom: 10px;">
            <div class="col-md-12"></div>
        </div><br>

        

        <mat-expansion-panel [disabled]="homeworkList.length === 0">
            <mat-expansion-panel-header *ngIf="homeworkList.length === 0">**No Homework Given Yet</mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-accordion [multi]="false">
            <ng-container *ngFor="let homework of homeworkList; let i=index;">
                <mat-expansion-panel style="margin-top: 5px; margin-bottom:5px;">
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            <div style="width: 100%;">
                                <strong>{{homework.homeworkName}}</strong>
                                <div *ngIf="!isMobile()" style="float: right;">
                                    <span class="hidden-xs" style="color: #7b7b7b;">Issued On: &nbsp;</span><i>{{displayDateTime(homework.startDate, homework.startTime)}}</i>&nbsp;&nbsp;
                                </div>
                            </div>
                        </mat-panel-title>
                        
                    </mat-expansion-panel-header>

                    <div *ngIf="!isMobile()">
                        <span class="hidden-xs" style="color: #7b7b7b;">Due On: &nbsp;</span><i>{{displayDateTime(homework.endDate, homework.endTime)}}</i>    
                    </div>
                    <div *ngIf="isMobile()">
                        <span style="color: #7b7b7b;">Issued On:
                            &nbsp;</span><i>{{displayDateTime(homework.startDate, homework.startTime)}}</i> <br>
                        <span style="color: #7b7b7b;">Due On:
                            &nbsp;</span><i>{{displayDateTime(homework.endDate, homework.endTime)}}</i> <br>
                        
                    </div>
                    <div style="margin-top: 30px;">
                        <span class="hidden-xs" style="color: #7b7b7b;">Homework Questions: <br></span>
                        <div >
                            <pre>{{homework.homeworkText}}</pre>
                        </div>
                    </div><br>

                    <div class="row col-md-12" style="margin-top: 5px;" *ngIf="!isMobile()">
                        <span class="hidden-xs" style="color: #7b7b7b;">Homework Images: <br></span>
                        <div class="image-row">
                            <div  *ngFor="let images of homework.homeworkImages; let i = index">
                                <img src="{{images.questionImage}}" class="hover-shadow cursor image-column" (click)="openImagePreviewDialog(homework.homeworkImages, i, 0)">
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 5px;" *ngIf="isMobile()">
                        <span style="color: #7b7b7b;">Homework Images: <br></span>
                        <div class="image-row">
                            <div  *ngFor="let images of homework.homeworkImages; let i = index">
                                <img src="{{images.questionImage}}" class="hover-shadow cursor image-column-mobile" (click)="openImagePreviewDialog(homework.homeworkImages, i, 0)">
                            </div>
                        </div>
                        <br>
                    </div>

                    <div >
                        <button type="submit"
                                class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                                style="padding: 12px 15px; margin-top : 10px"
                                (click)="editHomework(homework.id);openEditHomeworkDialog()">
                                <i class="material-icons">edit</i></button>
                        <button type="submit"
                                class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                                style="padding: 12px 15px; margin-left: 15px; margin-top : 10px;"
                                (click)="serviceAdapter.deleteHomework(homework.id);">
                                <i class="material-icons">delete</i></button>
                    </div>

                </mat-expansion-panel>

            </ng-container>
        </mat-accordion>
                
    </ng-container>

</div>

<ng-container *ngIf="isLoading || isSessionLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
