@media only screen and (min-width: 992px) {
    .main-content {
        padding: 0px;
        margin: 0px;
    }

    .table-content {
        margin-top: 40px;
        margin-left: 40px;
    }
}

button[disabled] {
    background-color: #c4c4c4;
    color: #ffffff;
}
button[disabled]:hover {
    background: #c4c4c4;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.main-content {
    height: 95%;
}

.container-fluid {
    height: 100%;
}

.paymentInput {
    width: 100%;
    text-align: right;
    border-top: none;
    border-right: none;
    border-left: none;
    min-width: 100px !important;
    max-width: 150px !important;
}

@media only screen and (max-width: 768px) {
    .paymentInput::placeholder {
        color: lightgrey;
        font-weight: normal;
        font-size: 14px;
    }
}

@media only screen and (min-width: 769px) {
    .paymentInput::placeholder {
        color: transparent;
    }
}

redBackground {
    background-color: red;
}

.nowShow {
    background-color: red;
}

i {
    cursor: pointer;
}

.hoverHighlight:hover {
    background-color: lightgrey;
}

.loader-custom {
    margin-left: 5px;
    display: inline-block;
    border: 2px solid lightgrey;
    border-radius: 50%;
    border-top: 2px solid dimgrey;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgrey;
    width: 90%;
    margin-left: 5px;
}
