<div class="main-content">
  <div class="container-fluid">

    <div class="card" style="min-height: 100%">
      <div class="card-header" [attr.data-background-color]="user.color">
        <h4 class="title">Generate T.C.</h4>
      </div>
      <div class="card-content">

          <ng-container *ngIf="!isStudentListLoading">
              Class:
              <select [ngModel]="selectedClass"
                      (ngModelChange)="selectedClass=$event;changeSelectedSectionToFirst();"
                      style="margin-right: 15px">
                  <option *ngFor="let class of classSectionStudentList;" [ngValue]="class">
                      {{class.name}}
                  </option>
              </select>

              <span *ngIf='selectedClass' [class.hidden]="selectedClass.sectionList.length == 1">
            Section:
            <select [ngModel]="selectedSection"
                    (ngModelChange)="selectedSection=$event;changeSelectedStudentToFirst();"
                    style="margin-right: 15px">
                        <option *ngFor="let section of selectedClass.sectionList" [ngValue]="section">
                            {{section.name}}
                        </option>
                    </select>
        </span>

              <span *ngIf="selectedSection">
            Student:
            <select [ngModel]="selectedStudent"
                    (ngModelChange)="selectedStudent=$event;currentStudent.copy(selectedStudent)"
                    style="margin-right: 15px">
                        <option *ngFor="let student of selectedSection.studentList" [ngValue]="student">
                            {{student.name}}
                        </option>
                    </select>
        </span>

              <button type="button"
                      class="btn btn-{{user.btn_color}}"
                      style="padding: 3px 8px;"
                      [disabled]="!selectedStudent"
                      (click)="getStudentProfile();">Get
              </button>

              <!-- span *ngIf="selectedSection" style="float: right; margin-top: 10px;"><i>{{selectedSection.studentList.length}} students</i></span -->

              <span style="float: right; margin-top: 10px;" *ngIf="selectedSession">
              <select [ngModel]="selectedSession"
                      (ngModelChange)="selectedSession=$event;handleSessionChange();"
                      style="margin-right: 15px">
                  <option *ngFor="let session of sessionList;" [ngValue]="session">
                      {{session.name}}
                  </option>
              </select>
          </span>
          </ng-container>

        <div class="row">
          <div class="col-md-12"
               style="border-bottom: 1px solid lightgrey;"></div>
        </div>


        <ng-container *ngIf="selectedStudent && selectedStudent.fathersName !== undefined && !isLoading && !isStudentListLoading">


            <div class="row" style="font-weight: 800;">
                <div class="col-md-3">
                    {{selectedStudent.name}}
                </div>
                <div class="col-md-3">
                    {{selectedStudent.fathersName}}
                </div>
                <div class="col-md-3">
                    {{selectedStudent.scholarNumber}}
                </div>
            </div>

          <!-- Name, Father's Name, Mother's Name >
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-black label-floating">
                <label class="control-label">Name</label>
                <input type="text"
                       class="form-control"
                       [ngModel]="selectedStudent.name" (ngModelChange)="currentStudent.name=$event;">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-black label-floating">
                <label class="control-label">Father's Name</label>
                <input type="text"
                       class="form-control"
                       [ngModel]="selectedStudent.fathersName" (ngModelChange)="currentStudent.fathersName=$event">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-black label-floating">
                <label class="control-label">Mother's Name</label>
                <input type="text"
                       class="form-control"
                       [ngModel]="selectedStudent.motherName" (ngModelChange)="currentStudent.motherName=$event">
              </div>
            </div>
          </div -->

          <!-- Scholar No., Date of Birth >
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-black label-floating">
                <label class="control-label">Scholar No.</label>
                <input type="text"
                       class="form-control"
                       [ngModel]="selectedStudent.scholarNumber" (ngModelChange)="currentStudent.scholarNumber=$event">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-black label-floating">
                <label class="control-label">Date of Birth</label>
                <input type="date"
                       class="form-control"
                       [ngModel]="selectedStudent.dateOfBirth" (ngModelChange)="currentStudent.dateOfBirth=$event">
              </div>
            </div>
          </div -->

            <!-- Gender, Category >
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Gender"
                                    [ngModel]="selectedStudent.gender"
                                    (ngModelChange)="currentStudent.gender=$event">
                            <mat-option>None</mat-option>
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Category"
                                    [ngModel]="selectedStudent.category"
                                    (ngModelChange)="currentStudent.category=$event">
                            <mat-option>None</mat-option>
                            <mat-option value="SC">SC</mat-option>
                            <mat-option value="ST">ST</mat-option>
                            <mat-option value="OBC">OBC</mat-option>
                            <mat-option value="Gen.">Gen.</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div -->

          <!-- Child SSMID, Aadhar Number, Caste>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-black label-floating">
                <label class="control-label">Child SSMID</label>
                <input type="number"
                       class="form-control"
                       [ngModel]="selectedStudent.childSSMID" (ngModelChange)="currentStudent.childSSMID=$event">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-black label-floating">
                <label class="control-label">Aadhar Number</label>
                <input type="number"
                       class="form-control"
                       [ngModel]="selectedStudent.aadharNum" (ngModelChange)="currentStudent.aadharNum=$event">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-black label-floating">
                <label class="control-label">Caste</label>
                <input type="text"
                       class="form-control"
                       [ngModel]="selectedStudent.caste" (ngModelChange)="currentStudent.caste=$event">
              </div>
            </div>
          </div -->

          <!-- Address >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-group form-black label-floating">
                  <label class="control-label">Address</label>
                  <textarea class="form-control" rows="3"
                            [ngModel]="selectedStudent.address"
                            (ngModelChange)="currentStudent.address=$event"></textarea>
                </div>
              </div>
            </div>
          </div -->

            <div class="row">
                <div class="col-md-3">Certificate No.</div>
                <div class="col-md-3"><input type="number" [(ngModel)]="currentStudent.certificateNumber"/></div>
            </div>

            <div class="row">
                <div class="col-md-3">Issue Date</div>
                <div class="col-md-3"><input type="date" [(ngModel)]="currentStudent.issueDate" /></div>
            </div>

            <div class="row">
                <div class="col-md-3">Admission Date</div>
                <div class="col-md-3"><input type="date" [(ngModel)]="currentStudent.admissionDate" /></div>
            </div>

            <div class="row">
                <div class="col-md-3">Leaving Date</div>
                <div class="col-md-3"><input type="date" [(ngModel)]="currentStudent.leavingDate" /></div>
            </div>

            <div class="row">
                <div class="col-md-3">is leaving school because</div>
                <div class="col-md-6"><input type="text" [(ngModel)]="currentStudent.leavingReason" /></div>
            </div>

            <div class="row">
                <div class="col-md-3">Admission Class</div>
                <div class="col-md-3"><input type="text" [(ngModel)]="currentStudent.admissionClass" /></div>
            </div>

            <div class="row">
                <div class="col-md-3">Last Class Passed</div>
                <div class="col-md-3"><input type="text" [(ngModel)]="currentStudent.lastClassPassed" /></div>
            </div>

            <div class="row">
                <div class="col-md-3">Last Class Attended</div>
                <div class="col-md-3"><input type="text" [(ngModel)]="currentStudent.lastClassAttended" /></div>
            </div>

            <div class="row">
                <div class="col-md-3">Attendance (in last class)</div>
                <div class="col-md-3"><input type="number" [(ngModel)]="currentStudent.lastClassAttendance" /></div>
            </div>

            <div class="row">
                <div class="col-md-3">Total working Days (till attendance)</div>
                <div class="col-md-3"><input type="number" [(ngModel)]="currentStudent.attendanceOutOf" /></div>
            </div>

            <button type="button"
                    (click)="printTCSecondFormat();"
                    class="btn btn-{{user.btn_color}}">Print T. C.</button>

            <div class="clearfix"></div>

        </ng-container>

        <ng-container *ngIf="selectedClass && !selectedStudent && !isStudentListLoading">
          <br/>No Students in this class
        </ng-container>

      </div>
    </div>

    <ng-container *ngIf="isLoading || isStudentListLoading">
      <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>

  </div>
</div>
