.card-content {
    padding: 4rem;
    min-height: 90vh;
}

/* Starts: Commom Input Section */
.common-section {
    display: flex;
    align-items: center;
}

.header {
    flex-basis: 25%;
}

.example-viewport {
    height: 20vh;
    width: 100%;
    font-size: 14px;
}

    /* Starts: Search Bar */
.search-bar {
    display: flex;
    height: 25px;
    font-size: 12px;
}

.search-field {
    flex-basis: 90%;
    border: 0.4px solid rgba(0, 0, 0, 0.5);   /* Black - Opacity(0.5) */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 5px;
}

.search-btn {
    flex-basis: 10%;
    border: 0.4px solid rgba(0, 0, 0, 0.5);   /* Black - Opacity(0.5) */
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
}

.search-icon {
    color: rgba(0, 0, 0, 0.5);
}
    /* Ends: Search Bar */

    /* Starts: Complaint Title */
.title-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #C4C4C4;
    width: 185px;
    font-weight: 400;
    opacity: 0.8;
}
    /* Ends: Complaint Title */

/* Ends: Commom Input Section */


/* Starts: Comment Section */
.comment-section {
    background-color: #F4F7FF;
    border-radius: 5px;
}

.default-text {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
    border-bottom: 1px solid #C4C4C4;
    padding: 2rem;
}

.bottom-section {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-search-field {
    background: #FEFEFE;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    flex-basis: 90%;
    height: 40px;
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
}

.bottom-search-btn {
    flex-basis: 8%;
    border-radius: 5px !important;
    text-transform: capitalize !important;
}

.notify-btn {
    text-transform: capitalize !important;
}
/* Ends: Comment Section */


/* Starts: Media Query - Mobile Phone */
@media only screen and (max-width: 992px) {
    .card-content {
        padding: 2rem;
    }

    /* Starts: Common Input Section */
    .common-section {
        display: block;
    }

    .information {
        flex-basis: 100%;
    }

    .information .header {
        margin-right: 0rem;
        flex-basis: 40%;
    }

    .search-field {
        flex-basis: 90%;
    }

    .search-btn {
        flex-basis: 10%;
    }
    /* Ends: Common Input Section */

    /* Starts: Comment Section */
    .bottom-section {
        display: block;
    }

    .bottom-text-field {
        width: 100%;
        height: 180px;
        background: #FEFEFE;
        border: 0.5px solid #C4C4C4;
        border-radius: 5px;
        padding: 10px;
        font-size: 12px;
        line-height: 14px;
    }
    /* Ends: Comment Section */
}
/* Ends: Media Query - Mobile Phone */
