<mat-progress-bar  *ngIf="isLoginButtonPressed" mode="indeterminate"></mat-progress-bar>
<div class="container-fluid " style="height:100vh" id="section-1">
	<div class="row" style="height:100vh">
		<div class="col-md-8" style="height:100vh;padding:5px;background: radial-gradient(closest-side at 35% 50%,#43a047 30%,#66bb6a);" >
			
			<!-- Navbar starts -->
			<div class="" style="background-color: white; border-radius: 5px;padding:5px;display: inline-block;z-index: 1000;">
				<a href="#AboutUs" class="navbar-link" (click)="handleGotoDiv($event,'AboutUs')">
					<button style=""class="navbar-button">
						About us
					</button>
				</a>
				<a href="#WhyKorangle" class="navbar-link" (click)="handleGotoDiv($event,'WhyKorangle')">
					<button style=""class="navbar-button">
						Why Korangle
					</button>
				</a>
				<a href="#Features" class="navbar-link" (click)="handleGotoDiv($event,'Features')">
					<button style=""class="navbar-button">
						Features
					</button>
				</a>
				<a href="#Pricing" class="navbar-link" (click)="handleGotoDiv($event,'Pricing')">
					<button style="" class="navbar-button">
						Pricing
					</button>
				</a>
				<a href="#ContactUs" class="navbar-link" (click)="handleGotoDiv($event,'ContactUs')">
					<button style="border-right:0px" class="navbar-button">
						Contact us
					</button>
				</a>
			</div>
			<!-- Navbar ends -->

			<div style="margin-top: 150px;padding: 10px;margin-bottom: 70px;margin-left: 80px">
				<p class="brand-name">
					Korangle
				</p>
				<app-text-carousel></app-text-carousel>
			</div>
		</div>

		<div class="col-md-4" style="height:100vh;background-color: white; padding: 0px">
			<app-login-form (showFrontPageProgressBar)='handleEvent($event)'></app-login-form>
		</div>
	</div>
</div>

<div class="" style="background-image: url('https://korangleplus.s3.amazonaws.com/assets/img/background.svg');background-repeat: no-repeat;background-size: cover;background-position: center;position: relative;" id="section-2">
	
	<div style="position:fixed;padding:2vh;bottom:0vh;right:0vh;color:red;background-color: yellow;z-index: 1000" id="top-button" (click)="handleGotoDiv($event,'section-1')">
		<a href><b>Top</b></a>
	</div>	
	<app-about-us></app-about-us>
	<app-why-korangle></app-why-korangle>
	<app-what-korangle-can-do></app-what-korangle-can-do>
	<app-pricing></app-pricing>
	<app-contact-us></app-contact-us>

</div>
