<div class="card-content table-responsive">

    <ng-container *ngIf="employeeList && !isLoading">

        <div style="margin-top: 10px;"></div>

        School Balance: <b>{{getSchoolBalance()}}</b><br/>

        <div style="margin-top: 15px;"></div>

        <mat-accordion>

            <ng-container *ngFor="let employee of employeeList">

                <mat-expansion-panel [disabled]="employee.recordList.length === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{employee.name}}: {{getEmployeeBalance(employee)}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <table class="table table-hover">
                        <thead class="text-{{user.activeSchool.secondaryThemeColor}}">
                        <tr>
                            <th>S No.</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Remark</th>
                            <th class="text-right">Credited</th>
                            <th class="text-right">Debited</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let record of employee.recordList | slice:0:number; let i=index;">
                            <td>{{i+1}}.</td>
                            <td align="center">{{record.date | date: 'dd-MMM-yyyy'}}</td>
                            <td align="center"><span style="white-space: pre">{{record.remark}}</span></td>
                            <td style="padding-right: 15px;" align="right">
                                <ng-container *ngIf="record.type==='payslip'">
                                    {{record.amount}}
                                </ng-container>
                            </td>
                            <td style="padding-right: 15px;" align="right">
                                <ng-container *ngIf="record.type==='payment'">
                                    {{record.amount}}
                                </ng-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <ng-container *ngIf="employee.recordList.length>5">
                        <u *ngIf="number<employee.recordList.length"
                           style="color: deepskyblue; cursor: pointer"
                           (click)="increaseNumber(employee)">
                            Show More
                        </u>
                        Total Records: {{employee.recordList.length}}
                    </ng-container>

                </mat-expansion-panel>

            </ng-container>

        </mat-accordion>

        <ng-container *ngIf="employeeRecordList && !isLoading">

            <!-- div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput
                               type="number"
                               placeholder="Payment"
                               [(ngModel)]="employeeDetails.amount">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <textarea matInput
                                  row="1"
                                  placeholder="Remark"
                                  [(ngModel)]="employeeDetails.remark"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <button type="submit"
                            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                            (click)="serviceAdapter.generateEmployeePayment()">
                        Submit
                    </button>
                </div>
            </div>

            <div style="margin-top: 15px;"></div -->

            Balance: <b>{{getBalance()}}</b><br/>

        </ng-container>

    </ng-container>

</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
