<div class="card-content">
    <ng-container *ngIf="!isSessionLoading">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field style="margin-top: 23px">
                    <mat-select
                        placeholder="Change to -"
                        #selectClassSection
                        [ngModel]="selectedClass"
                        (ngModelChange)="selectedClass = $event"
                    >
                        <mat-option *ngFor="let classs of classSectionSubjectList" [value]="classs">
                            {{ classs.name }}, {{ classs.selectedSection.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button
                    class="btn"
                    style="padding: 2px 11px; background-color: transparent"
                    matTooltip="Choose Section (default: Section - A)"
                    mat-icon-button
                    [matMenuTriggerFor]="classSectionMenu"
                >
                    <i class="material-icons" style="color: black">expand_more</i>
                </button>
                <mat-menu #classSectionMenu="matMenu">
                    <button
                        *ngFor="let section of selectedClass.sectionList"
                        mat-menu-item
                        (click)="selectClassSection.open(); selectClassSection.close(); selectedClass.selectedSection = section"
                    >
                        {{ section.name }}
                    </button>
                </mat-menu>
            </div>
            <div class="col-md-8" align="end"></div>
        </div>

        <ng-container *ngIf="!isLoading && selectedClass">
            <div class="row" style="border-bottom: 1px solid #ddd; margin-top: 15px; margin-bottom: 15px">
                <div class="col-md-12"></div>
            </div>

            <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                            <mat-form-field>
                                <mat-select
                                    placeholder="Select Subject"
                                    [ngModel]="selectedSubject"
                                    (ngModelChange)="selectedSubject = $event"
                                >
                                    <mat-option *ngFor="let subject of getFilteredSubjectList()" [value]="subject">
                                        {{ subject.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select
                                    placeholder="Select Teacher"
                                    [ngModel]="selectedEmployee"
                                    (ngModelChange)="selectedEmployee = $event"
                                >
                                    <mat-option *ngFor="let employee of employeeList" [value]="employee">
                                        {{ employee.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        <!-- td>
                        <input type="number" [(ngModel)]="orderNumber"/>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="mainSubject">
                            Main Subject
                        </mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="onlyGrade">
                            Only Grade
                        </mat-checkbox>
                    </td -->
                            <button
                                type="submit"
                                class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                                (click)="serviceAdapter.addSubject()"
                                style="margin-right: 17px;"
                            >
                                Add
                            </button>
            </div>

            <div class="row" style="border-bottom: 1px solid black; margin-top: 15px; margin-bottom: 15px">
                <div class="col-md-12"></div>
            </div>

            <ng-container *ngIf="selectedClass.selectedSection.subjectList.length === 0">
                <span style="margin-top: 30px"> No Subjects added yet! </span>
            </ng-container>

            <cdk-virtual-scroll-viewport itemSize="12" class="example-viewport">
            <table class="table table-hover" *ngIf="selectedClass.selectedSection.subjectList.length > 0">
                <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                    <tr>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <!-- th>Order No.</th>
                    <th>-</th>
                    <th>-</th -->
                        <th>-</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *cdkVirtualFor="let subject of selectedClass.selectedSection.subjectList">
                    <tr>
                        <td>{{ getSubjectName(subject) }}</td>
                        <td>
                            <mat-form-field>
                                <mat-select
                                    placeholder="Select Teacher"
                                    [ngModel]="subject.newEmployee"
                                    (ngModelChange)="subject.newEmployee = $event"
                                >
                                    <mat-option *ngFor="let employee of employeeList" [value]="employee">
                                        {{ employee.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <!-- td>
                        <input type="number" [(ngModel)]="subject.newOrderNumber"/>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="subject.newMainSubject">
                            Main Subject
                        </mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="subject.newOnlyGrade">
                            Only Grade
                        </mat-checkbox>
                    </td -->
                        <td>
                            <button
                                type="submit"
                                class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                                style="padding: 3px 8px"
                                [disabled]="isSubjectUpdateDisabled(subject)"
                                (click)="serviceAdapter.updateSubject(subject)"
                            >
                                Update
                            </button>
                        </td>
                        <td>
                            <button
                                type="submit"
                                class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                                style="padding: 3px 8px"
                                (click)="serviceAdapter.removeSubject(subject)"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>
                    </ng-container>
                </tbody>
            </table>
            </cdk-virtual-scroll-viewport>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isLoading || isSessionLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
</div>
