<div class="card-content">
    <ng-container *ngIf="!isLoading">
        <!-- Old Password -->
        <div class="row">
            <div class="col-md-3">Old Password</div>
            <div class="col-md-3">:<input type="password" [(ngModel)]="oldPassword" /></div>
        </div>

        <!-- New Password -->
        <div class="row">
            <div class="col-md-3">New Password</div>
            <div class="col-md-3">:<input type="password" [(ngModel)]="newPassword" /></div>
        </div>

        <!-- Confirm Password -->
        <div class="row">
            <div class="col-md-3">Confirm Password</div>
            <div class="col-md-3">:<input type="password" [(ngModel)]="confirmPassword" /></div>
        </div>

        <button
            *ngIf="user.activeSchool"
            type="button"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
            (click)="changePassword()"
        >
            Change Password
        </button>

        <button *ngIf="!user.activeSchool" type="button" class="btn btn-warning" (click)="changePassword()">Change Password</button>
    </ng-container>
</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
