<div class="container-fluid" style="height: 100vh">
    <h3 align="center">
        Bright Star Higher Secondary School
    </h3>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
            <img src="http://www.iitcounseling.in/brightstarlogo.png" align="center" style="width: 20%; height: 20%"/>
        </div>
    </div>
    <h6 align="center">
        (Recognized By M.P. Govt.)
    </h6>
    <h5 align="center">
        Branch - Akodia
    </h5>
    <h6 align="center">
        English Medium
    </h6>
    <div class="row" style="padding-left: 15px; padding-right: 15px;">
        <h6 class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border-bottom: 1px solid black; border">
            Receipt No. : {{feeReceipt.receiptNumber}}
        </h6>
        <h6 class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="right" style="border-bottom: 1px solid black;">
            Date: {{feeReceipt.generationDateTime}}
        </h6>
    </div>
    <div class="row">
        <h6 class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Student Name:
        </h6>
        <h6 class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {{feeReceipt.studentName}}
        </h6>
    </div>
    <div class="row">
        <h6 class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Father's Name:
        </h6>
        <h6 class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {{feeReceipt.fatherName}}
        </h6>
    </div>
    <div class="row">
        <h6 class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Standard:
        </h6>
        <h6 class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {{feeReceipt.className}}
        </h6>
    </div>
    <div class="row">
        <h6 class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Fee Amount:
        </h6>
        <h6 class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {{feeReceipt.amount}}
        </h6>
    </div>
    <div class="row" style="margin-top: 100px; padding-right: 20px">
        <h6 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        </h6>
        <h6 class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="right">
            (Receiver's Signature)
        </h6>
    </div>
    <div class="row footer" style="padding-left: 15px; padding-right: 15px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-top: 1px solid black;">
            Fees once deposited will not be refunded in any circumstances
        </div>
    </div>

</div>
<!-- div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="#">About</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="https://www.google.ca/images/srpr/logo11w.png" style="width: 100px">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="#myModal1" data-toggle="modal">SHARE</a>
        </div>
    </div>
</div -->