<div class="card-content" style="height: 88vh; overflow: auto"> <!-- 88vh -->
	
	<div class="row" style="" *ngIf="!isLoading" style="height: 100%;overflow: auto;">
		
		<div class="col-md-12" *ngIf="examinationList.length == 0">
			No examination created.
		</div>

		<!-- Parameter Section  -->
		<div class="col-md-6" style="height: 100%; overflow: auto;">

			<!-- Existing layouts dropdown -->
			<div *ngIf="selectedLayout == null && layoutList.length != 0">
				<mat-form-field>
					<mat-label>
						Existing layouts
					</mat-label>
					<mat-select (selectionChange)="initializeExistingLayout($event.value)">
						<mat-option *ngFor="let layout of layoutList" [value]="layout">
							{{layout.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<!-- Create new layout button -->
			<button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" *ngIf="selectedLayout == null" (click)="initializeNewLayout()">
				Create new layout
			</button>

			<!-- Reset Layout button -->
			<button class="btn btn-danger" *ngIf="selectedLayout != null" (click)="resetCurrentLayout()">
				Reset
			</button>

			<!-- Save Layout button -->
			<button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" *ngIf="selectedLayout && selectedLayout.layout.id == 0" (click)="serviceAdapter.createNewLayout()">
				Save
			</button>
			<!-- Update Layout button -->
			<button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" *ngIf="selectedLayout && selectedLayout.layout.id != 0" (click)="serviceAdapter.updateLayout()">
				Update
			</button>

			<div class="row">
				<div class="col-md-6">
					<mat-form-field *ngIf="selectedLayout != null">
						<mat-label>Layout Name</mat-label>
						<input matInput placeholder="Enter Layout Name" [(ngModel)]="selectedLayout.layout.name" required>
						<mat-error *ngIf="!isNameUnqiue(selectedLayout,layoutList)">
							Layout name must be unique
						</mat-error>
					</mat-form-field>
				</div>

				<div class="col-md-6">
					<mat-form-field *ngIf="selectedLayout != null">
						<mat-label>Report Card Heading</mat-label>
						<input matInput
						          [(ngModel)]="selectedLayout.layout.reportCardHeading">
					</mat-form-field>
				</div>
			</div>
			
			<mat-vertical-stepper *ngIf="selectedLayout">
				<mat-step>
					<ng-template matStepLabel>Student Header Mapping Section</ng-template>

					<!-- Student Detail Header Parameter -->
					<div cdkDropList 
						class="example-list" 
						(cdkDropListDropped)="drop($event, selectedLayout.selectedStudentDetailsHeader)">
						<ng-container *ngFor="let studentDetail of selectedLayout.selectedStudentDetailsHeader">
							<div class="example-box" cdkDrag>
								{{STUDENT_DETAILS_HEADER[studentDetail]}}
								<span style="float:right;cursor: default;display: inline-block;" (click)="removeSelectedStudentHeader(studentDetail)">
									remove
								</span>
							</div>	
						</ng-container>
					</div>

					<div>
						<mat-form-field>
							<mat-label>Add new Header paramter</mat-label>
							<mat-select (selectionChange)="addStudentHeader($event.value)">
								<ng-container *ngFor="let studentHeaderKey of getFilteredStudentDetailHeader()">
									<mat-option [value]="studentHeaderKey">
										{{STUDENT_DETAILS_HEADER[studentHeaderKey]}}
									</mat-option>
								</ng-container>
							</mat-select>
						</mat-form-field>
					</div>	
				</mat-step>


				<!-- Examination Header Section -->
				<mat-step>

					<ng-template matStepLabel>Examination Mapping Section</ng-template>		
					<!-- Subject Count input -->
					<div>
						<mat-form-field>
							<label>No of Subjects</label>
							<input matInput type="number" min="0" max="10" step="1" [value]="subjectCountArray.length" (change)="updateSubjectCountArray($event.target.value)">
						</mat-form-field>
					</div>

					<!-- LayoutExamColumn  parameter -->
					<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event,selectedLayout.layoutExamColumnList)">
					  <ng-container *ngFor="let layoutExam of selectedLayout.layoutExamColumnList">
						  <div class="example-box" cdkDrag>
						  		<span style="display: inline-block;width:80%;box-sizing: border-box;">
						  			{{getExaminationName(layoutExam.parentExamination)}}
						  		</span>
						  		<span style="display: inline-block;width:20%;box-sizing: border-box;cursor: default;" (click)="removeLayoutExamColumnList(layoutExam)">
									remove						  			
						  		</span>
						  		<br>
						  		<mat-form-field>
						  			<mat-label>
						  				Report card exam name
						  			</mat-label>
						  			<input matInput [(ngModel)]="layoutExam.name">
						  		</mat-form-field>

						  		<mat-form-field>
						  			<mat-select [(value)]="layoutExam.columnType">
						  				<mat-option *ngFor="let exam_type of EXAM_COLUMN_TYPE" [value]="exam_type">
						  					{{exam_type}}
						  				</mat-option>
						  			</mat-select>
						  		</mat-form-field>

						  		<mat-form-field>
						  			<mat-label *ngIf="layoutExam.columnType.split('/').length == 2">					{{layoutExam.columnType.split('/')[0]}}  Maximum Marks
						  			</mat-label>
						  			<mat-label *ngIf="layoutExam.columnType.split('/').length == 1">
						  				Maximum Marks
						  			</mat-label>
						  			<input matInput type="number" min="0" [(ngModel)]="layoutExam.maximumMarksObtainedOne">
						  		</mat-form-field>

						  		<mat-form-field *ngIf="layoutExam.columnType.split('/').length == 2">
						  			<mat-label>
						  				{{layoutExam.columnType.split('/')[1]}} Maximum Marks
						  			</mat-label>
						  			<input matInput type="number" min="0" [(ngModel)]="layoutExam.maximumMarksObtainedTwo">
						  		</mat-form-field>
						  </div>
					  </ng-container>
					</div>
					<!-- Examination List -->
					<mat-form-field>
						<mat-label>Select Examination to map</mat-label>
						<mat-select (selectionChange)="addExamToMapping($event.value)">
							<ng-container *ngFor="let examination of getFilteredExaminationList()" >
								<mat-option [value]="examination">
										{{examination.name}}
								</mat-option>
							</ng-container>
						</mat-select>
					</mat-form-field>
		
				</mat-step>

					<!-- Grade List  -->
				<mat-step>
					<ng-template matStepLabel>Grade Mapping Section</ng-template>		
					<div cdkDropList 
						class="example-list" 
						(cdkDropListDropped)="drop($event, selectedLayout.layoutGradeList)" *ngIf="selectedLayout.layoutGradeList.length != 0 ">
						  <div class="example-box" *ngFor="let layoutGrade of selectedLayout.layoutGradeList;" cdkDrag>
		  					  {{getGradeName(layoutGrade.parentGrade)}}
		  					  <hr>
		  					  <mat-card *ngFor="let layoutSubGrade of getFilteredLayoutSubGradeList(layoutGrade)">
		  					  		{{getSubGradeName(layoutSubGrade.parentSubGrade)}}
		  					  </mat-card>

		  					  <mat-form-field>
		  					  	<mat-label>Add Sub grade</mat-label>
		  					  	<mat-select (selectionChange)="addSubGradeMapping($event.value, layoutGrade)">
		  					  		<mat-option *ngFor="let subGrade of getFilteredSubGradeList(layoutGrade)" [value]="subGrade">
		  					  			{{subGrade.name}}
		  					  		</mat-option>
		  					  	</mat-select>
		  					  </mat-form-field>
						  </div>
					
					</div>

					<br>
					<mat-form-field>
						<mat-label>Avaliable Grades</mat-label>
						<mat-select (selectionChange)="addGradeMapping($event.value)">
							<mat-option *ngFor="let grade of getFilteredGradeList()" [value]="grade">
								{{grade.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				

				</mat-step>
			</mat-vertical-stepper>
			


			
		</div>

<!-------------------------------------------------------- Preview section -------------------------------------------------------->
<!-------------------------------------------------------- Preview section -------------------------------------------------------->
<!-------------------------------------------------------- Preview section -------------------------------------------------------->

		<div class="col-md-6" style="height: 81.76vh; overflow-y: auto;">
			
			<div class="container-fluid"
			     style="width: 57.75vh; /*height: 100%;*/ /*h-81.675vh, w-57.75*/
			     border: 6px double #b87333;
			     position: relative;
			     /*overflow: hidden;*/
			     border-radius: 8px;
			     font-weight: 800 !important;
			     font-size:1.5vh">
			     
			     <!-- Reg. No. , Dise Code -->
			     <div class="row no-gutters" style="margin-bottom: 0px !important;">
			         <div class="col-xs-6 d-flex custom-padding">
			             Dise code : {{user.activeSchool.diseCode}}
			         </div>
			     </div>

			     <!-- School name, School profile image, school address -->
			     <div class="row">
			     	<div class="col-md-2">
			     		<img src="{{user.activeSchool.profileImage}}" style="">
			     	</div>
			     	<div class="col-md-8" style="line-height: normal !important; margin-top: 5px !important; text-align: center;">
			     		<p style="/*font-size:45px*/font-size: 2.8vh; font-weight:800; color: red !important;">
			     			{{user.activeSchool.printName}}	
			     		</p>
			     		<p style="/*font-size: 22px;*/font-size: 2vh;">
			     			{{user.activeSchool.address}}
			     		</p>
			     	</div>
			     	<div class="col-md-2"></div>
			     </div>


			     <!-- Report Card Heading -->
			     <div class="row no-gutters"  *ngIf="selectedLayout != null" style="margin-top: 3px !important; line-height: normal !important;">
			         <div class="col-xs-12" align="center">
			             <span style="/*font-size: 35px;*/font-size:2.2vh">{{selectedLayout.layout.reportCardHeading}}</span>
			         </div>
			     </div>

			     <!-- Session -->
			     <div class="row no-gutters" style="margin-top: 3px !important; line-height: normal !important;">
			         <div class="col-xs-12" align="center">
			             <span style="/*font-size: 25px*/font-size: 2vh">{{getSessionName(user.activeSchool.currentSessionDbId)}}</span>
			         </div>
			     </div>

			     <!-- Student Detail header -->
			     <!-- First four rows -->
			     <div class="row" style="/*font-size:14px;*/ font-size: 1.7vh"  *ngIf="selectedLayout != null">
			     	<div class="col-md-10" style="margin-bottom: 0.5vh">
			     		
			     		<ng-container *ngFor="let studentHeaderKey of selectedLayout.selectedStudentDetailsHeader;let i = index">
			     			<ng-container *ngIf="i<=3">
			     				<div style="display:flex;margin-bottom:0.5vh;">
				     				<div style="width:31%; font-weight: bold;">
				     					{{STUDENT_DETAILS_HEADER[studentHeaderKey]}}
				     				</div>
				     				<div style="width: 100%; font-weight: normal;">
				     					{{STUDENT_DETAILS_HEADER[studentHeaderKey]}} Value
				     				</div>
				     			</div>
			     			</ng-container>
			     		</ng-container>

			     	</div>
			     	<div class="col-md-2" style="padding-left:0px;">
			     		<img src="{{user.activeSchool.profileImage}}">
			     	</div>
			     	
			     </div>

			     <!-- Remaining rows -->
			     <div class="row" style="/*font-size:14px;*/ font-size:1.7vh;"  *ngIf="selectedLayout != null">
			     		<ng-container *ngFor="let studentHeaderKey of selectedLayout.selectedStudentDetailsHeader;let i = index">
			     			<ng-container *ngIf="i>3 && i%2 == 0">
			     				<div class="col-md-8" style="display: flex;margin-bottom: 0.5vh">
			     					<div style="width:30%; font-weight: bold;">
			     						{{STUDENT_DETAILS_HEADER[studentHeaderKey]}}
			     					</div>
			     					<div style="width:70%; font-weight: normal">
			     						{{STUDENT_DETAILS_HEADER[studentHeaderKey]}} Value
			     					</div>
			     				</div>
			     			</ng-container>
			     			<ng-container *ngIf="i>3 && i%2 != 0">
			     				<div class="col-md-4" style="display: flex;margin-bottom: 0.5vh;padding-left:0px;">
			     					<div style="width:30%; font-weight: bold">
			     						{{STUDENT_DETAILS_HEADER[studentHeaderKey]}}
			     					</div>
			     					<div style="width:70%;font-weight: normal">
			     						{{STUDENT_DETAILS_HEADER[studentHeaderKey]}} Value
			     					</div>
			     				</div>
			     			</ng-container>
			     		</ng-container>

			     </div>


			     <!-- Examination wing -->
			     <div class="row" *ngIf="selectedLayout && selectedLayout.layoutExamColumnList.length != 0">
			     	<div classs="col-md-12" style="text-align: center;">
			     		<table class="table table-bordered table-responsive" id='examTable'>
			     			<!-- First row -->
			     			<tr>
			     				<td rowspan="2">Subject Name</td>
			     				<ng-container *ngFor="let examination of selectedLayout.layoutExamColumnList">
			     					<ng-container *ngIf="examination.columnType.split('/').length == 1">
			     						<td rowspan="2">
			     							{{examination.name}}
			     						</td>
			     					</ng-container>
			     					<ng-container *ngIf="examination.columnType.split('/').length > 1">
			     						<!-- Added one for total column -->
			     						<td [attr.colspan]="examination.columnType.split('/').length + 1">
			     							{{examination.name}}
			     						</td>
			     					</ng-container>
			     				</ng-container>

			     				<!-- Added for Total for all examinations; Last column of table -->
			     				<ng-container *ngIf="selectedLayout.layoutExamColumnList.length > 1">
			     					<td rowspan="2">
			     						Total
			     					</td>
			     				</ng-container>
			     			</tr>

			     			<!-- Second Row -->
			     			<tr>
			     				<ng-container *ngFor="let examination of selectedLayout.layoutExamColumnList">
			     					<ng-container *ngIf="examination.columnType.split('/').length > 1">
				     					<td   *ngFor="let exam_type of examination.columnType.split('/')">
				     						{{exam_type}}
				     					</td>
				     					<td>
				     						Total
				     					</td>
			     					</ng-container>
			     				</ng-container>
			     			</tr>
			     			<!-- Row for subjects count -->
			     			<tr *ngFor="let subjectNo of subjectCountArray;let i = index">
			     				<td>
			     					Subject-{{i+1}}
			     				</td>
			     				<ng-container *ngFor="let examination of selectedLayout.layoutExamColumnList">
			     					<td *ngFor="let exam_type of examination.columnType.split('/')">
			     						10
			     					</td>
			     					<ng-container *ngIf="examination.columnType.split('/').length > 1">
			     						<!-- Added for total column -->
			     						<td>
			     							10
			     						</td>
			     					</ng-container>
			     				</ng-container>

		     					<ng-container *ngIf="selectedLayout.layoutExamColumnList.length > 1">
			     					<td>
			     						10
			     					</td>
			     				</ng-container>

			     			</tr>
			     			<!-- Total marks row -->
			     			<tr>
			     				<td>
			     					Total
			     				</td>
			     				<ng-container *ngFor="let examination of selectedLayout.layoutExamColumnList">
			     					
			     					<td *ngIf="examination.columnType.split('/').length > 1" [attr.colspan]="examination.columnType.split('/').length + 1" style="text-align: right">
			     						10
			     					</td>
			     					<td *ngIf="examination.columnType.split('/').length == 1" style="text-align: center">
			     						10
			     					</td>
			     				</ng-container>
			     				<ng-container *ngIf="selectedLayout.layoutExamColumnList.length > 1">
			     					<td>
			     						10
			     					</td>
			     				</ng-container>
			     			</tr>

			     			<!-- Total marks in words row -->
			     			<tr>
			     				<!-- TODO: Hanlde its colspan -->
			     				<td [attr.colspan]="selectedLayout.layoutExamColumnList.length + 1" style="text-align: left;">
			     					Total( in words):
			     				</td>
			     			</tr>

			     		</table>
			     	</div>
			     </div>


			     <!-- Grade Section -->
			     <ng-container *ngIf="selectedLayout && selectedLayout.layoutGradeList.length != 0">
			     	<div style="border:0px solid black;margin-bottom:1vh" *ngFor="let layoutGrade of selectedLayout.layoutGradeList">
			     		<div class="row" style="border:1px solid lightgrey;border-collapse: collapse;">
	     					{{getGradeName(layoutGrade.parentGrade)}}
			     		</div>

			     		<div class="row">
			     			<div class="col-md-6" style="border:1px solid lightgrey;border-collapse: collapse;" *ngFor="let layoutSubGrade of getFilteredLayoutSubGradeList(layoutGrade)">
			     				{{getSubGradeName(layoutSubGrade.parentSubGrade)}} - 10
			     			</div>
			     		</div>
			     	</div>
			     </ng-container>

			 </div>
		</div>
	</div>

	<ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>


</div>