<div class="card-content" style="height: 85vh;">

	<div class="row" *ngIf="!isLoading && examinationList.length == 0">
		<div class="col-md-12" *ngIf="examinationList.length == 0">
			No examination created.
		</div>
	</div>

	<div class="row" style="" *ngIf="!isLoading && examinationList.length != 0" style="height: 100%;overflow: auto;">
		

		<!-- Parameter Section  -->
		<div class="col-xs-6" style="height: 100%; overflow: auto;">

			<!-- Existing layouts dropdown -->
			<mat-card *ngIf="layoutList.length != 0" style="margin-bottom: 0.5vh">
				<mat-form-field>
					<mat-label>
						Edit existing Layout
					</mat-label>
					<mat-select (selectionChange)="initializeExistingLayout($event.value);this.$event.value=null">
						<mat-option *ngFor="let layout of layoutList" [value]="layout">
							{{layout.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-card>

			<mat-card *ngIf="selectedLayout != null">
				<p>Customised Report Card</p>
				<div class="row">
					<mat-form-field class="col-md-6">
						<span style="color:red" *ngIf="!isNameUnqiue(selectedLayout,layoutList)" class="small">
							Layout name must be unique
						</span>
						<mat-label>
							Layout Name
						</mat-label>
						<input matInput placeholder="Enter Layout Name" [(ngModel)]="selectedLayout.layout.name" required>
					</mat-form-field>

					<mat-form-field class="col-md-6">
						<mat-label>Report Card Heading</mat-label>
						<input matInput
						          [(ngModel)]="selectedLayout.layout.reportCardHeading">
					</mat-form-field>

					<div class="col-md-12" style="box-sizing: border-box;">
						<mat-checkbox [(ngModel)]="selectedLayout.layout.showLetterHeadImage">
							Use school Letterhead
						</mat-checkbox>
					</div>

					<div class="col-md-12">
						<mat-checkbox [(ngModel)]="selectedLayout.autoAttendance">
							Use software attendance
						</mat-checkbox>
						<div *ngIf="selectedLayout.autoAttendance" class="row">
							<mat-form-field class="col-md-6">
								<mat-label>Start date</mat-label>
								<input matInput type="date" [(ngModel)]="selectedLayout.layout.attendanceStartDate">
							</mat-form-field>
							<mat-form-field class="col-md-6">
								<mat-label>End date</mat-label>
								<input matInput type="date" [(ngModel)]="selectedLayout.layout.attendanceEndDate">
							</mat-form-field>
						</div>
					</div>
				</div>


			</mat-card>

			<br>

			<mat-accordion *ngIf="selectedLayout" multi="false">
				<mat-expansion-panel style="margin-bottom:0.6vh;">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Student Header Mapping Section
						</mat-panel-title>
					</mat-expansion-panel-header>

					<!-- Student Detail Header Parameter -->
					<div cdkDropList 
						class="example-list" 
						(cdkDropListDropped)="drop($event, selectedLayout.selectedStudentDetailsHeader)">
						<ng-container *ngFor="let studentDetail of selectedLayout.selectedStudentDetailsHeader">
							<div class="example-box" cdkDrag>
								{{STUDENT_DETAILS_HEADER[studentDetail]}}
								<span style="float:right;cursor: default;color:red" (click)="removeSelectedStudentHeader(studentDetail)">
									Remove
								</span>
							</div>	
						</ng-container>
					</div>

					<div>
						<mat-form-field>
							<mat-label>Add new Header paramter</mat-label>
							<mat-select (selectionChange)="addStudentHeader($event.value)">
								<ng-container *ngFor="let studentHeaderKey of getFilteredStudentDetailHeader()">
									<mat-option [value]="studentHeaderKey">
										{{STUDENT_DETAILS_HEADER[studentHeaderKey]}}
									</mat-option>
								</ng-container>
							</mat-select>
						</mat-form-field>
					</div>	
				</mat-expansion-panel>

				<!-- Examination Header Section -->
				<mat-expansion-panel style="margin-bottom: 0.6vh;">
					<mat-expansion-panel-header >
						<mat-panel-title>
							Examination Mapping Section		
						</mat-panel-title>
					</mat-expansion-panel-header>

					<!-- Subject Count input -->
					<div>
						<mat-form-field class="col-xs-6" matTooltip="Number of subjects to be shown for preview" matTooltipPosition="above">
							<label>Max. of Subjects</label>
							<input matInput type="number" min="0" max="10" step="1" [value]="subjectCountArray.length" (change)="updateSubjectCountArray($event.target.value)" >
						</mat-form-field>

						<mat-form-field class="col-xs-6">
							<label>Decimal place</label>
							<input matInput type="number" min="0" max="2" step="1" [(ngModel)]="selectedLayout.layout.decimalPlaces">
						</mat-form-field>
					</div>

					<!-- LayoutExamColumn  parameter -->
					<mat-accordion cdkDropList class="example-list" (cdkDropListDropped)="drop($event,selectedLayout.layoutExamColumnList)">
					  <ng-container *ngFor="let layoutExam of selectedLayout.layoutExamColumnList">
						  <mat-expansion-panel class="example-box" cdkDrag>
						  		<mat-expansion-panel-header>
						  			<mat-panel-title>
						  				{{getExaminationName(layoutExam.parentExamination)}}
						  			</mat-panel-title>
						  		</mat-expansion-panel-header>

						  		<mat-form-field>
						  			<mat-label>
						  				Report card exam name
						  			</mat-label>
						  			<input matInput [(ngModel)]="layoutExam.name">
						  		</mat-form-field>
						  		
						  		<button class="btn btn-danger" (click)="removeLayoutExamColumnList(layoutExam)" style="float: right;">
						  			Remove
						  		</button>

						  		<mat-form-field>
						  			<mat-label>Column Type</mat-label>
						  			<mat-select [(value)]="layoutExam.columnType">
						  				<mat-option *ngFor="let exam_type of EXAM_COLUMN_TYPE" [value]="exam_type">
						  					{{exam_type}}
						  				</mat-option>
						  			</mat-select>
						  		</mat-form-field>

						  		<mat-form-field>
						  			<mat-label *ngIf="layoutExam.columnType.split('/').length == 2">					{{layoutExam.columnType.split('/')[0]}}  Maximum Marks
						  			</mat-label>
						  			<mat-label *ngIf="layoutExam.columnType.split('/').length == 1">
						  				Maximum Marks
						  			</mat-label>
						  			<input matInput type="number" min="0" [(ngModel)]="layoutExam.maximumMarksObtainedOne">
						  		</mat-form-field>

						  		<mat-form-field *ngIf="layoutExam.columnType.split('/').length == 2">
						  			<mat-label>
						  				{{layoutExam.columnType.split('/')[1]}} Maximum Marks
						  			</mat-label>
						  			<input matInput type="number" min="0" [(ngModel)]="layoutExam.maximumMarksObtainedTwo">
						  		</mat-form-field>

						  </mat-expansion-panel>
					  </ng-container>
					</mat-accordion>
					<!-- Examination List -->
					<mat-form-field>
						<mat-label>Select Examination to map</mat-label>
						<mat-select (selectionChange)="addExamToMapping($event.value)">
							<ng-container *ngFor="let examination of getFilteredExaminationList()" >
								<mat-option [value]="examination">
										{{examination.name}}
								</mat-option>
							</ng-container>
						</mat-select>
					</mat-form-field>
		
				</mat-expansion-panel>
					<!-- Grade List  -->
				<mat-expansion-panel style="margin-bottom: 0.6vh;">

					<mat-expansion-panel-header>
						<mat-panel-title>
							Grade Mapping Section
						</mat-panel-title>
					</mat-expansion-panel-header>


					<mat-accordion cdkDropList 
						class="example-list" 
						(cdkDropListDropped)="drop($event, selectedLayout.layoutGradeList)" *ngIf="selectedLayout.layoutGradeList.length != 0 ">
						  <mat-expansion-panel class="example-box" *ngFor="let layoutGrade of selectedLayout.layoutGradeList;" cdkDrag>
						  	<mat-expansion-panel-header>
						  		<mat-panel-title>
		  					  		{{getGradeName(layoutGrade.parentGrade)}}
						  		</mat-panel-title>
						  	</mat-expansion-panel-header>
		  					  <p>
		  					  	<span *ngIf="getFilteredLayoutSubGradeList(layoutGrade).length != 0; else emptySubGradesElseBlock">
		  					  		<i>Mapped sub grades:</i>
		  					  	</span>
		  					  	<ng-template #emptySubGradesElseBlock>
		  					  		<span style="color:red">No sub grades mapped</span>
		  					  	</ng-template>
		  					  	
		  					  </p>

		  					  <mat-card *ngFor="let layoutSubGrade of getFilteredLayoutSubGradeList(layoutGrade)">
		  					  		{{getSubGradeName(layoutSubGrade.parentSubGrade)}}
		  					  		<span style="color:red;float: right;cursor: default;" (click)="removeSubGradeMapping(layoutSubGrade)">
		  					  			Remove
		  					  		</span>
		  					  </mat-card>

		  					  <mat-form-field>
		  					  	<mat-label>Add Sub grade</mat-label>
		  					  	<mat-select (selectionChange)="addSubGradeMapping($event.value, layoutGrade)">
		  					  		<mat-option *ngFor="let subGrade of getFilteredSubGradeList(layoutGrade)" [value]="subGrade">
		  					  			{{subGrade.name}}
		  					  		</mat-option>
		  					  	</mat-select>
		  					  </mat-form-field>

						  </mat-expansion-panel>
					
					</mat-accordion>

					<br>
					<mat-form-field>
						<mat-label>Avaliable Grades</mat-label>
						<mat-select (selectionChange)="addGradeMapping($event.value)">
							<mat-option *ngFor="let grade of getFilteredGradeList()" [value]="grade">
								{{grade.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				

				</mat-expansion-panel>

				<!-- Student Detail Footer section -->
				<mat-expansion-panel style="margin-bottom: 0.6vh">

					<mat-expansion-panel-header>
						<mat-panel-title>
							Footer Mapping Section
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div>
						<mat-checkbox [ngModel]="selectedLayout.layout.remarksOrderNumber" (ngModelChange)="selectedLayout.layout.remarksOrderNumber=1-selectedLayout.layout.remarksOrderNumber">
							Show remarks
						</mat-checkbox>
					</div>

					<div cdkDropList 
						class="example-list" 
						(cdkDropListDropped)="drop($event, selectedLayout.selectedStudentDetailsFooter)">
						<ng-container *ngFor="let studentDetail of selectedLayout.selectedStudentDetailsFooter">
							<div class="example-box" cdkDrag>
								{{STUDENT_DETAILS_FOOTER[studentDetail]}}
								<span style="float:right;cursor: default;display: inline-block;" (click)="removeSelectedStudentFooter(studentDetail)">
									remove
								</span>
							</div>	
						</ng-container>
					</div>

					<div>
						<mat-form-field>
							<mat-label>Add new Footer paramter</mat-label>
							<mat-select (selectionChange)="addStudentFooter($event.value)">
								<ng-container *ngFor="let studentFooterKey of getFilteredStudentDetailFooter()">
									<mat-option [value]="studentFooterKey">
										{{STUDENT_DETAILS_FOOTER[studentFooterKey]}}
									</mat-option>
								</ng-container>
							</mat-select>
						</mat-form-field>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
			

			<mat-card>
				
				<div>
					<!-- Reset Layout button -->
					<button class="btn btn-danger" (click)="resetCurrentLayout()">
						Reset
					</button>	
					
					<!-- Save Layout button -->
					<button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" *ngIf="selectedLayout && selectedLayout.layout.id == 0" (click)="serviceAdapter.createNewLayout()" >
						Save
					</button>

					<!-- Update Layout button -->
					<button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" *ngIf="selectedLayout && selectedLayout.layout.id != 0" (click)="serviceAdapter.updateLayout()">
						Update
					</button>
					
					<!-- Delete Layout button -->
					<button class="btn btn-danger" *ngIf="selectedLayout && selectedLayout.layout.id != 0" (click)="serviceAdapter.deleteLayout()">
						Delete
					</button>

				</div>
				
			</mat-card>
			
		</div>

<!-------------------------------------------------------- Preview section -------------------------------------------------------->
<!-------------------------------------------------------- Preview section -------------------------------------------------------->
<!-------------------------------------------------------- Preview section -------------------------------------------------------->

		<div class="col-xs-6" style="height: 100%; font-size: 10px; padding: 0 7em">

			<!-- Preview div starts -->
			<custom-report-card [user]=user [layout]="selectedLayout.layout"></custom-report-card>
			 <!-- Preview div ends -->
		</div>
	</div>

	<ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>


</div>

<!-- 
Other in 1/3 column
REmarks: Below footer section complete row

Show check box to user, if checked then take attendance start and end date and show in position of attendance orderNumber -->