<div class="main-content">
    <div class="container-fluid">

        <div class="card" style="min-height: 100%">
            <div class="card-header" [attr.data-background-color]="user.color">
                <h4 class="title">Set School Fees</h4>
            </div>
            <div class="card-content">

                <ng-container *ngIf="feeTypeList">

                    FeeType:
                    <select [ngModel]="selectedFeeType"
                            (ngModelChange)="selectedFeeType=$event;handleSelectedFeeTypeChange();"
                            style="margin-right: 15px; margin-bottom: 10px;">
                        <option *ngFor = "let feeType of feeTypeList;" [ngValue]="feeType">
                            {{feeType.name}}
                        </option>
                    </select>

                    <ng-container *ngIf="currentFeeDefinition">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Filter Type"
                                                [ngModel]="currentFeeDefinition.filterType"
                                                (ngModelChange)="currentFeeDefinition.filterType=$event;">
                                        <mat-option *ngFor="let filterType of filterTypeList" [value]="filterType">
                                            {{filterType}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Fee Interval"
                                                [ngModel]="currentFeeDefinition.frequency"
                                                (ngModelChange)="currentFeeDefinition.frequency=$event">
                                        <mat-option *ngFor="let frequency of frequencyList" [value]="frequency">
                                            {{frequency}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-checkbox class="checkbox-margin" [(ngModel)]="currentFeeDefinition.rte">RTE</mat-checkbox>
                            </div>
                        </div>
                        <ng-container *ngIf="currentFeeDefinition.filterType=='NONE'">
                            <ng-container *ngIf="currentFeeDefinition.frequency=='YEARLY'">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Annual Amount</label>
                                            <input type="number"
                                                   class="form-control"
                                                   min="0"
                                                   [(ngModel)]="currentFeeDefinition.amountFrequency.annualAmount">
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="currentFeeDefinition.frequency=='MONTHLY'">
                                <app-monthly-amount [amountFrequency]="currentFeeDefinition.amountFrequency"></app-monthly-amount>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="currentFeeDefinition.filterType=='CLASS'"  >
                            <ng-container *ngFor="let classs of currentFeeDefinition.classList">
                                <div class="row hoverHighlight">
                                    <div class="col-md-3">
                                        <span style="font-weight: 800">{{classs.name}}</span>
                                    </div>
                                    <div class="col-md-3" *ngIf="currentFeeDefinition.frequency=='YEARLY'">
                                        <input type="number" min="0" [(ngModel)]="classs.amountFrequency.annualAmount"/>
                                    </div>
                                    <div class="col-md-3" *ngIf="currentFeeDefinition.frequency=='MONTHLY'">
                                        <input type="number" min="0" (change)="currentFeeDefinition.handleItemMonthlyChange($event, classs)" />
                                    </div>
                                    <div class="col-md-1 col-md-offset-5" *ngIf="currentFeeDefinition.frequency=='MONTHLY'">
                                        <i class="material-icons"
                                           [@rotate]="!classs.amountFrequency.showMonthDetails"
                                           (click)="classs.amountFrequency.showMonthDetails = !classs.amountFrequency.showMonthDetails">keyboard_arrow_down</i>
                                    </div>
                                </div>
                                <div *ngIf="currentFeeDefinition.frequency=='MONTHLY'" [@slideDown]="classs.amountFrequency.showMonthDetails">
                                    <app-monthly-amount *ngIf="currentFeeDefinition.frequency=='MONTHLY'"
                                                        [amountFrequency]="classs.amountFrequency"></app-monthly-amount>
                                </div>
                                <div class="clearfix"></div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="currentFeeDefinition.filterType=='BUS STOP'">
                            <ng-container *ngFor="let busStop of currentFeeDefinition.busStopList">
                                <div class="row hoverHighlight">
                                    <div class="col-md-3">
                                        <span style="font-weight: 800">{{busStop.stopName}}</span>
                                    </div>
                                    <div class="col-md-3" *ngIf="currentFeeDefinition.frequency=='YEARLY'">
                                        <input type="number" min="0" [(ngModel)]="busStop.amountFrequency.annualAmount"/>
                                    </div>
                                    <div class="col-md-3" *ngIf="currentFeeDefinition.frequency=='MONTHLY'">
                                        <input type="number" min="0" (change)="currentFeeDefinition.handleItemMonthlyChange($event, busStop)" />
                                    </div>
                                    <div class="col-md-1 col-md-offset-5" *ngIf="currentFeeDefinition.frequency=='MONTHLY'">
                                        <i class="material-icons"
                                           [@rotate]="!busStop.amountFrequency.showMonthDetails"
                                           (click)="busStop.amountFrequency.showMonthDetails = !busStop.amountFrequency.showMonthDetails">keyboard_arrow_down</i>
                                    </div>
                                </div>
                                <div *ngIf="currentFeeDefinition.frequency=='MONTHLY'" [@slideDown]="busStop.amountFrequency.showMonthDetails">
                                    <app-monthly-amount *ngIf="currentFeeDefinition.frequency=='MONTHLY'"
                                                        [amountFrequency]="busStop.amountFrequency"></app-monthly-amount>
                                </div>
                                <div class="clearfix"></div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="currentFeeDefinition.filterType=='CLASS AND BUS STOP'">
                            <ng-container *ngFor="let busStop of currentFeeDefinition.busStopList">
                                <div class="row hoverHighlight">
                                    <div class="col-md-3">
                                        <span style="font-weight: 800">{{busStop.stopName}}</span>
                                    </div>
                                    <div class="col-md-3" *ngIf="currentFeeDefinition.frequency=='YEARLY'">
                                        <input type="number" min="0" value="0" (change)="currentFeeDefinition.handleBusStopClassYearlyChange($event, busStop);"/>
                                    </div>
                                    <div class="col-md-1"
                                         [class.col-md-offset-8]="currentFeeDefinition.frequency=='MONTHLY'"
                                         [class.col-md-offset-5]="currentFeeDefinition.frequency=='YEARLY'">
                                        <i class="material-icons"
                                           [@rotate]="!busStop.showClassDetails"
                                           (click)="busStop.showClassDetails = !busStop.showClassDetails">keyboard_arrow_down</i>
                                    </div>
                                </div>
                                <div *ngIf="busStop.showClassDetails">
                                    <ng-container *ngFor="let classs of busStop.classList">
                                        <div class="row hoverHighlight">
                                            <div class="col-md-3">
                                                <span style="font-weight: 800; padding-left: 40px;">{{classs.name}}</span>
                                            </div>
                                            <div class="col-md-3" *ngIf="currentFeeDefinition.frequency=='YEARLY'">
                                                <input type="number" min="0" [(ngModel)]="classs.amountFrequency.annualAmount"/>
                                            </div>
                                            <div class="col-md-1 col-md-offset-7"
                                                 *ngIf="currentFeeDefinition.frequency=='MONTHLY'">
                                                <i class="material-icons"
                                                   [@rotate]="!classs.amountFrequency.showMonthDetails"
                                                   (click)="classs.amountFrequency.showMonthDetails = !classs.amountFrequency.showMonthDetails">keyboard_arrow_down</i>
                                            </div>
                                        </div>
                                        <div *ngIf="classs.amountFrequency.showMonthDetails && busStop.showClassDetails">
                                            <app-monthly-amount *ngIf="currentFeeDefinition.frequency=='MONTHLY'"
                                                                [amountFrequency]="classs.amountFrequency"></app-monthly-amount>
                                        </div>
                                        <div class="clearfix"></div>
                                    </ng-container>
                                </div>
                                <div class="clearfix"></div>
                            </ng-container>
                        </ng-container>
                    </ng-container>


                </ng-container>

            </div>
        </div>

        <ng-container *ngIf="isLoading || isListLoading">
            <app-loading-spinner [user]="user"></app-loading-spinner>
        </ng-container>

    </div>
</div>
