<button mat-icon-button class="close-button" style="float: right; cursor: pointer" (click)="onNoClick()">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<div mat-dialog-title class="row text-left modal-whole-content">
    <b> Are you sure you want to cancel this receipt ?</b>
</div>
<div modal-dialog-content>
    <br />
    <div class="row text-left modal-whole-content">
        <div class="col-md-12">
            <span>{{ studentName }} ( {{ classSection }} )</span><br />
            <span>Father's Name :{{ fathersName }}</span
            ><br />
            <span>Amount :{{ totalAmount }}</span
            ><br />
            <span>Receipt No : {{ getFeeReceiptNo(feeReceipt) }}</span
            ><br />
            <span>Mode of Payment :{{ feeReceipt.modeOfPayment }}</span
            ><br />
            <span>Collected By :{{ feeReceipt.parentEmployee }}</span
            ><br />
            <br />
            <strong>Enter Remark*</strong>
            <br />
            <mat-form-field style="width: 70%" appearance="outline">
                <textarea
                    matInput
                    type="text"
                    cdkTextareaAutosize
                    cdkFocusInitial
                    [formControl]="formControl"
                    [(ngModel)]="feeReceipt.cancelledRemark"
                    style="overflow: hidden; min-height: 23px"
                >
                </textarea>
                <mat-error *ngIf="formControl.hasError('required')">
                    Remark is <strong>required</strong>
                    <!-- why not reason -->
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row text-right" style="margin-right: 15px">
        <button
            type="button"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
            [title]="!feeReceipt.cancelledRemark || feeReceipt.cancelledRemark.trim() == '' ? 'Fill all the required Fields' : ''"
            [mat-dialog-close]="true"
            [disabled]="!feeReceipt.cancelledRemark || feeReceipt.cancelledRemark.trim() == ''"
        >
            Cancel Receipt
        </button>
    </div>
</div>
