<div class="card-content table-responsive" *ngIf="!isLoading else Loader">

    <h4>Account Information</h4>
    <div style="display: flex; flex-wrap: wrap;">
        <mat-form-field>
            <mat-label>Account Holder Name</mat-label>
            <input matInput type="text" [(ngModel)]="onlinePaymentAccount.vendorData.bank.accountHolder">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Account Number</mat-label>
            <input matInput type="text" [(ngModel)]="onlinePaymentAccount.vendorData.bank.accountNumber">
        </mat-form-field>

        <mat-form-field>
            <mat-label>IFSC</mat-label>
            <input matInput type="text" [(ngModel)]="onlinePaymentAccount.vendorData.bank.ifsc">
        </mat-form-field>

    </div>

    <mat-form-field style="width: 300px;">
        <mat-label>Settelment Cycle</mat-label>
        <mat-select [(ngModel)]="onlinePaymentAccount.vendorData.settlementCycleId">
            <ng-container *ngFor="let settelmentOption of settelmentCycleList">
                <mat-option [value]="settelmentOption.id">{{settelmentOption.desc}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <hr />

    <h4>Personal Info</h4>
    <div style="display: flex; flex-wrap: wrap;">
        <mat-form-field>
            <mat-label>Mobile Number</mat-label>
            <input matInput type="text" [(ngModel)]="onlinePaymentAccount.vendorData.phone">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Info</mat-label>
            <input matInput type="text" [(ngModel)]="onlinePaymentAccount.vendorData.email">
        </mat-form-field>

    </div>

    <button class="btn btn-{{user.activeSchool.secondaryThemeColor}}" (click)="submitForm()">
        Submit
    </button>
</div>

<ng-template #Loader>
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-template>