<div class="card-content table-responsive" >

    <div class="row" *ngIf="!isInitialLoading">
        <div class="col-md-6">
            <app-employee-filter [user]="user"
                        [showAllEmployees]="true"
                        (employee)="serviceAdapter.getEmployeeAmount($event)"
                        ></app-employee-filter>
            <div class="row col-md-12"  *ngIf="selectedEmployee != null">
                <span style="font-family: Roboto;font-style: normal;font-weight: normal;font-size: 15px;">Amount Restriction :  </span>
                <mat-form-field> 
                <input type="number" 
                        (blur)="serviceAdapter.changeAmountRestriction()"
                        matInput [ngModel]="selectedEmployeeAmount" 
                        (ngModelChange)="selectedEmployeeAmount=$event;" 
                        placeholder="Enter Amount">
                </mat-form-field><br>
                <div *ngIf="isUpdating" class="loader-custom"></div>
                <span *ngIf="selectedEmployeeAmount == null"  
                        style="color: rgb(221, 160, 27); margin-left: 10px">
                <i class="material-icons">error_outline</i>
                    No Restriction Given Yet</span>
            </div>
        </div>
        
        <div class="col-md-6">
            <button class="custom-button" style="margin-top: 10px;background:rgba(255, 152, 0, 1); color: white; padding: 6px 4px 2px 5px" (click)="serviceAdapter.regenerateVoucherNumber(); ">Regenerate Voucher Number</button>
        </div>
        
    </div>
    
</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
