<div [style.display]="isLoading ? 'none' : ''" class="card-content table-responsive">
    <div>
        <div class="row" *ngIf="!lockAccounts">
            <h4 style="margin-left: 15px"><b>Employee Permissions</b></h4>
            <div class="col-md-6">
                <app-employee-filter [user]="user"
                            [showAllEmployees]="true"
                            (employee)="handleEmployeeSelection($event)"
                            (emitEmployeeList)="backendData.employeeList=$event"
                            ></app-employee-filter>
                <mat-card  *ngIf="selectedEmployee">
                    <!--Employee Information-->
                    <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 8px">
                        <img *ngIf="selectedEmployee.profileImage" style="width: 50px" src="{{ selectedEmployee.profileImage }}" />
                        <img
                            *ngIf="!selectedEmployee.profileImage"
                            style="width: 50px"
                            src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                        />
                        <span style="margin-left: 20px">{{ selectedEmployee.name }}</span
                        ><br />
                    </div>

                    <!--Employee Amount Limit-->
                    <span style="font-family: Roboto; font-style: normal; font-weight: normal; font-size: 15px"
                        >Amount Restriction: &nbsp;&nbsp;
                    </span>
                    <mat-form-field>
                        <input type="number" matInput [(ngModel)]="selectedEmployeeAmount" placeholder="Enter Amount" /> </mat-form-field
                    ><br />

                    <div style="color: rgb(221, 160, 27); display: flex; flex-direction: row; align-items: center">
                        <mat-icon *ngIf="!selectedEmployeeAccountPermission">error_outline</mat-icon>
                        <span *ngIf="!selectedEmployeeAccountPermission">&nbsp;No Permissions Given Yet</span>
                        <button
                            mat-button
                            (click)="serviceAdapter.changeAmountRestriction()"
                            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                            style="padding: 8px; margin-right: 10px; margin-left: auto"
                        >
                            Update
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>

        <hr />
        <h4><b>Voucher Number</b></h4>
        <button class="btn btn-{{ user.activeSchool.secondaryThemeColor }}" (click)="serviceAdapter.regenerateVoucherNumber()">
            Regenerate Voucher Number
        </button>

        <hr />
        <h4><b>Lock Accounts</b></h4>
        <span style="color: red">
            <b
                ><i class="material-icons" style="vertical-align: -6px">error_outline</i> (Locking Accounts for this session will disable
                any future transactions and Accounts updation for this session)</b
            ></span
        >
        <br />
        <button *ngIf="!lockAccounts" class="btn btn-{{ user.activeSchool.secondaryThemeColor }}" (click)="serviceAdapter.lockAccounts()">
            Lock Accounts<mat-icon>lock</mat-icon>
        </button>
        <button *ngIf="lockAccounts" class="btn btn-{{ user.activeSchool.secondaryThemeColor }}" (click)="serviceAdapter.unlockAccounts()">
            Unlock Accounts<mat-icon>lock_open</mat-icon>
        </button>
    </div>
    <hr/>
    <div *ngIf="backendData.employeeList.length>0">
        <h4>Emploee Permissions</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Amount Restriction</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let permission of backendData.employeeAmountPermissionList;">
                    <tr style="cursor: pointer;" (click)="handleEmployeeSelection(backendData.getEmployee(permission.parentEmployee)); scrollToTop();">
                        <th>{{backendData.getEmployee(permission.parentEmployee).name}}</th>
                        <th>{{permission.restrictedAmount}}</th>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
