<div class="container-fluid" style="height: 100vh;" *ngIf="feeReceipt">

    <img src="{{user.activeSchool.profileImage}}"
         style="border-radius: 2px; position: absolute;
         top: 28px; left: 14px;
         width: 56px; height: 56px;"/>

    <img src="{{user.activeSchool.profileImage}}"
         style="border-radius: 2px; position: absolute;
         top: 260px; left: 95px;
         width: 310px; height: 310px;
         opacity: 0.05;
         filter: grayscale(100%);
         z-index: 10;"/>

    <!-- Reg. No. , Dise Code -->
    <div class="row " style="margin-top: 0px;">
        <div class="col-xs-6 d-flex custom-padding">
            Reg. No. : {{user.activeSchool.registrationNumber}}
        </div>
        <div class="col-xs-6 d-flex custom-padding" align="end">
            Dise code : {{user.activeSchool.diseCode}}
        </div>
    </div>

    <!-- School Name -->
    <div class="row " style="margin-top: 8px;">
        <div class="col-xs-12 d-flex justify-content-center" align="center" style="padding: 0px;">
            <span style="background-color: yellow; font-size: 24px">
                {{user.activeSchool.printName}}
            </span>
        </div>
    </div>

    <!-- Address -->
    <div class="row " style="margin-top: 0px;">
        <div class="col-xs-12 d-flex justify-content-center" align="center" style="padding: 0px; font-size: 10px;">
            {{user.activeSchool.address}}
        </div>
    </div>

    <!-- School Transfer Certificate -->
    <div class="row " style="margin-top: 10px">
        <div class="col-xs-12 d-flex justify-content-center custom-padding" align="center">
            <span style="font-size: 21px;"><u>Fee Receipt</u></span><br/>
        </div>
    </div>

    <div class="row" style="margin-top: 5px;">
        <div class="col-xs-6">
            Receipt No. : {{feeReceipt.receiptNumber}}
        </div>
        <div class="col-xs-6" align="right">
            Date: {{feeReceipt.generationDateTime | date: 'dd/MM/yyyy'}}
        </div>
    </div>
    
    <!-- Name -->
    <div class="row" style="margin-right: 0px;">
        <div class="col-xs-4">
            Name <span style="float: right">:</span>
        </div>
        <div class="col-xs-8" style="border-bottom: 1px solid lightgrey; padding-left: 5px;">
            <i>{{ feeReceipt.studentName | titlecase }}</i>
        </div>
    </div>

    <!-- Father's Name -->
    <div class="row" style="margin-right: 0px;">
        <div class="col-xs-4">
            Father's Name <span style="float: right">:</span>
        </div>
        <div class="col-xs-8" style="border-bottom: 1px solid lightgrey; padding-left: 5px;">
            <i>{{ feeReceipt.studentFatherName | titlecase }}</i>
        </div>
    </div>

    <!-- Scholar No, Standard -->
    <div class="row">
        <div class="col-xs-6">
            Scholar No. : {{feeReceipt.studentScholarNumber}}
        </div>
        <div class="col-xs-6" align="right">
            Standard : {{feeReceipt.studentClassName}}
            <ng-container *ngIf="sectionName">, {{sectionName}}</ng-container>
        </div>
    </div>

    <!-- S No. , Particulars, Amount -->
    <div class="row" style="border-bottom: 1px solid black; border-top: 1px solid black; margin-top: 5px;" >
        <div class="col-xs-2">
            <span style="font-weight: 400;">S. No.</span>
        </div>
        <div class="col-xs-6" >
            <span style="font-weight: 400;">Particulars</span>
        </div>
        <div class="col-xs-4"  align="right">
            <span style="font-weight: 400;">Amount</span>
        </div>
    </div>

    <div class="row" *ngFor="let subFeeReceipt of feeReceipt.subFeeReceiptList; let i=index;">
        <div class="col-xs-2" align="center">{{i+1}}.</div>
        <div class="col-xs-6">
            {{subFeeReceipt.feeType}}
            <i>{{getMonthRange(subFeeReceipt)}}</i>
            ({{subFeeReceipt.sessionName.substr(subFeeReceipt.sessionName.length - 5)}})
        </div>
        <div class="col-xs-4" align="right">{{getSubFeeReceiptAmount(subFeeReceipt)}}</div>
    </div>

    <!-- div class="row" style="margin-top: 5px;">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-6" >
            <span style="font-weight: 200;">Session Fee</span>
        </div>
        <div class="col-xs-4" >

        </div>
    </div>

    <div class="row">
        <div class="col-xs-2" align="center" >
            1.
        </div>
        <div class="col-xs-6 feePadding">
            Tuition
        </div>
        <div class="col-xs-4" align="right" >
            1000
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-2" align="center" >
            2.
        </div>
        <div class="col-xs-6 feePadding">
            Computer Lab.
        </div>
        <div class="col-xs-4" align="right" >
            500
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-2" align="center" >
            3.
        </div>
        <div class="col-xs-6 feePadding">
            Science Lab.
        </div>
        <div class="col-xs-4" align="right" >
            300
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-2"  align="center" >
            4.
        </div>
        <div class="col-xs-6 feePadding">
            Sports
        </div>
        <div class="col-xs-4" align="right" >
            200
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12"  align="center" >
            <span style="opacity: 0">4.</span>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12"  align="center" >
            <span style="opacity: 0">4.</span>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12"  align="center" >
            <span style="opacity: 0">4.</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6"  align="center" >

        </div>
        <div class="col-xs-2" align="right">
            <span style="font-weight: 400">Total</span>
        </div>
        <div class="col-xs-4" align="right">
            <span style="font-weight: 400">Rs. 2000/-</span>
        </div>
    </div>

    <div class="row " style="margin-top: 5px;">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-6" >
            <span style="font-weight: 200;">Miscallaneous Fee</span>
        </div>
        <div class="col-xs-4" >

        </div>
    </div>

    <div class="row ">
        <div class="col-xs-2" align="center" >
            1.
        </div>
        <div class="col-xs-6 feePadding">
            Late Fee
        </div>
        <div class="col-xs-4" align="right" >
            1000
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-2" align="center" >
            2.
        </div>
        <div class="col-xs-6 feePadding">
            Penalty
        </div>
        <div class="col-xs-4" align="right" >
            500
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-2" align="center" >
            3.
        </div>
        <div class="col-xs-6 feePadding">
            Trip
        </div>
        <div class="col-xs-4" align="right" >
            300
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2"  align="center" >
            4.
        </div>
        <div class="col-xs-6 feePadding">
            Other
        </div>
        <div class="col-xs-4" align="right" >
            200
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12"  align="center" >
            <span style="opacity: 0;">4.</span>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12"  align="center" >
            <span style="opacity: 0">4.</span>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12"  align="center" >
            <span style="opacity: 0">4.</span>
        </div>
    </div -->

    <div class="custom-padding" style="position: absolute; bottom: 40px; width: 100%;">
        <!-- Total, Total Value -->
        <div class="row" style=" border-bottom: 1px solid black; border-top: 1px solid black; width: 100%;">
            <div class="col-xs-8">
                <span style="font-weight: 400">Total Amount</span>
            </div>
            <div class="col-xs-4" align="right" >
                <span style="font-weight: 400">Rs. {{getTotalFeeReceiptAmount()}}/-</span>
            </div>
        </div>

        <!-- Amount in words -->
        <div class="row" style="width: 100%;">
            <div class="col-xs-12">
                Amount In Words : <i style="font-weight: 400">{{getTotalFeeReceiptAmount() | amountInWords}} Only</i>
            </div>
        </div>

        <div class="row" style="width: 100%;">
            <div class="col-xs-6 custom-padding">
                Mode of Payment: <i style="font-weight: 400;">Cash</i>
            </div>
        </div>

        <div class="row" style="width: 100%;" *ngIf="feeReceipt.remark && feeReceipt.remark != ''">
            <div class="col-xs-6 custom-padding">
                Remark: <i style="font-weight: 400;">{{feeReceipt.remark}}</i>
            </div>
        </div>

    </div>

    <!-- Signature -->
    <div class="row no-gutters" style="position: absolute; bottom: 0px; width: 100%;">
        <div class="col-xs-12 custom-padding" style="padding-right: 20px" align="end">
            (Receiver's Sign.)
        </div>
    </div>

</div>