.filter-modal-container {
    height: 20vh;
    width: 30vw;
}

.delete-btn {
    color: #FF1717;
    background-color: white;
    outline: none;
    border: none;
    text-decoration: underline;
    box-shadow: none;
}

.bottom-btns {
    float: right;
}

.bottom-btns .btn {
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
}

@media only screen and (max-width: 992px) {
    .filter-modal-container {
        height: 25vh;
        width: 100%;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    .inputField {
        width: 40%;
    }
}