/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.main-page {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.responsive-table-wrapper {
  overflow-x: auto;
  width: 100%;
}
