@media only screen and (min-width: 992px) {
    .main-content {
        padding: 0px;
        margin: 0px;
    }

    .table-content {
        margin-top: 40px;
        margin-left: 40px;
    }
}

.main-content {
    height: 95%;
}

.container-fluid {
    height: 100%;
}

.loader {
    border: 8px solid #ffffff;
    border-top: 8px solid Red;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dataListDiv {
    position: absolute;
    z-index: 10000;
    margin-top: 2mm;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
    /*width: 200mm;*/
    /*width: 100%;*/
    height: 70mm;
}

i.material-icons.column {
    font-size: 15px;
    cursor: pointer;
    /*float: left;*/
    float: right;
    /*margin-right: 15px;*/
    line-height: 19px;
    /*width: 30px;*/
    /*text-align: center;*/
    /*color: #a9afbb;*/
}

.customInput {
    border: none;
    /*border-bottom: 1px solid black;*/
    width: 100%;
}

.rowTextArea {
    margin-top: 15px;
    width: 100%;
}

.ngxDataTable {
    max-height: 500px;
    min-height: 500px;
    max-width: 80%;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
}

.hoverRow {
    background-color: lightgrey !important;
}

ngx-datatable-column:hover {
    background-color: lightgrey;
}

.disabledButton{
    background-color: #c4c4c4 !important;
}

:host ::ng-deep .datatable-body-cell {
    margin-top: 15px;
}

:host ::ng-deep .highlight {
    background: yellow;
}




body {
  margin: 2rem;
}
