<div class="card-content table-responsive">
    <parent-student-filter
        [user]="user"
        (onDataLoaded)="handleDetailsFromParentStudentFilter($event)"
        (onStudentListSelected)="handleStudentListSelection($event)"
        (onStudentListLoading)="isStudentListLoading = $event"
        [selectedFilterType]="'Student'"
        [bothFilters]="false"
        [studentTcGenerated]="false"
    ></parent-student-filter>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-12" style="border-bottom: 1px solid lightgrey"></div>
    </div>

    <ng-container *ngIf="!isLoading && !isStudentListLoading && showDetails">
        <!-- Selecting Fee Type -->
        <mat-form-field>
            <mat-select
                placeholder="Select Fee Type"
                [ngModel]="selectedFeeType"
                (ngModelChange)="selectedFeeType = $event; changeSelectedStudentFee()"
            >
                <mat-option *ngFor="let feeType of feeTypeList" [value]="feeType">
                    {{ feeType.name }}
                </mat-option>
            </mat-select> </mat-form-field
        ><br />

        <ng-container *ngIf="selectedFeeType">
            <ng-container *ngIf="newStudentFee">
                {{ getSchoolFeeRuleById(newStudentFee.parentSchoolFeeRule).ruleNumber }}.
                {{ getSchoolFeeRuleById(newStudentFee.parentSchoolFeeRule).name }}
                <br />

                <!-- Installment Payment -->
                <ng-container *ngIf="!newStudentFee.isAnnually">
                    <table class="table table-hover">
                        <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                            <tr>
                                <th>Installment</th>
                                <th>Amount</th>
                                <th>Last Date</th>
                                <th>Late Fee per day</th>
                                <th>Max. Late Fee</th>
                                <th>Subimission Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let installment of installmentList; let i = index">
                                <tr *ngIf="disableNewStudentFeeInstallmentChange(installment)">
                                    <td>{{ installment | titlecase }}</td>
                                    <td>
                                        {{ newStudentFee[installment + 'Amount'] }}
                                    </td>
                                    <td>
                                        {{ (newStudentFee[installment + 'LastDate'] != null) ? (newStudentFee[installment + 'LastDate'] | date: 'dd - MMM - yyyy') : "NA" }}
                                    </td>
                                    <td>
                                        {{ newStudentFee[installment + 'LateFee'] || "0" }}
                                    </td>
                                    <td>
                                        {{ newStudentFee[installment + 'MaximumLateFee'] || "0" }}
                                    </td>
                                    <td>
                                        {{ (newStudentFee[installment + 'ClearanceDate'] != null) ? (newStudentFee[installment + 'ClearanceDate'] | date: 'dd - MMM - yyyy') : "NA" }}
                                    </td>
                                </tr>
                                <tr *ngIf="!disableNewStudentFeeInstallmentChange(installment)">
                                    <td>{{ installment | titlecase }}</td>
                                    <td>
                                        <input
                                            type="number"
                                            [ngModel]="selectedStudentFee[installment + 'Amount']"
                                            (ngModelChange)="handleNewStudentFeeAmountChange(installment, $event)"
                                            (keypress)="policeAmountInput($event)"
                                        />
                                    </td>
                                    <td>
                                        <day-date-old
                                            *ngIf="!disableNewStudentFeeMonthLastDate(installment)"
                                            [initialValue]="selectedStudentFee[installment + 'LastDate']"
                                            [acceptNull]="true"
                                            [formattedDateOutput]="true"
                                            (onDateSelected)="newStudentFee[installment + 'LastDate'] = $event"
                                        >
                                        </day-date-old>
                                        <day-date-old
                                            *ngIf="disableNewStudentFeeMonthLastDate(installment)"
                                            [acceptNull]="true"
                                            [initialValue]="newStudentFee[installment + 'LastDate']"
                                            [disableDatePicker]="true"
                                        >
                                        </day-date-old>
                                    </td>
                                    <td>
                                        <input
                                            type="number"
                                            *ngIf="disableNewStudentFeeMonthLateFee(installment)"
                                            [ngModel]="newStudentFee[installment + 'LateFee']"
                                            [disabled]="true"
                                            (keypress)="policeAmountInput($event)"
                                        />
                                        <input
                                            type="number"
                                            *ngIf="!disableNewStudentFeeMonthLateFee(installment)"
                                            [ngModel]="selectedStudentFee[installment + 'LateFee']"
                                            (ngModelChange)="newStudentFee[installment + 'LateFee'] = $event"
                                            (keypress)="policeAmountInput($event)"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            type="number"
                                            *ngIf="disableNewStudentFeeMonthLateFee(installment)"
                                            [ngModel]="newStudentFee[installment + 'MaximumLateFee']"
                                            [disabled]="true"
                                            (keypress)="policeAmountInput($event)"
                                        />
                                        <input
                                            type="number"
                                            *ngIf="!disableNewStudentFeeMonthLateFee(installment)"
                                            [ngModel]="selectedStudentFee[installment + 'MaximumLateFee']"
                                            (ngModelChange)="newStudentFee[installment + 'MaximumLateFee'] = $event"
                                            (keypress)="policeAmountInput($event)"
                                        />
                                    </td>
                                    <td>
                                        {{ newStudentFee[installment + 'ClearanceDate'] | date: 'dd - MMM - yyyy' }}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </ng-container>

                <!-- Annual Payment -->
                <ng-container *ngIf="newStudentFee.isAnnually">
                    <table class="table table-hover">
                        <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                            <tr>
                                <th>Installment</th>
                                <th>Amount</th>
                                <th>Last Date</th>
                                <th>Late Fee per day</th>
                                <th>Max. Late Fee</th>
                                <th>Subimission Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="disableNewStudentFeeInstallmentChange('april')">
                                <td>April</td>
                                <td>
                                    {{ newStudentFee['aprilAmount'] }}
                                </td>
                                <td>
                                    {{ (newStudentFee['aprilLastDate'] != null) ? (newStudentFee['aprilLastDate'] | date: 'dd - MMM - yyyy') : "NA" }}
                                </td>
                                <td>
                                    {{ newStudentFee['aprilLateFee'] || "0" }}
                                </td>
                                <td>
                                    {{ newStudentFee['aprilMaximumLateFee'] || "0" }}
                                </td>
                                <td>
                                    {{ (newStudentFee['aprilClearanceDate'] != null) ? (newStudentFee['aprilClearanceDate'] | date: 'dd - MMM - yyyy') : "NA" }}
                                </td>
                            </tr>
                            <tr *ngIf="!disableNewStudentFeeInstallmentChange('april')">
                                <td>April</td>
                                <td>
                                    <input
                                        type="number"
                                        [ngModel]="selectedStudentFee['aprilAmount']"
                                        (ngModelChange)="handleNewStudentFeeAmountChange('april', $event)"
                                        (keypress)="policeAmountInput($event)"
                                    />
                                </td>
                                <td>
                                    <day-date-old
                                        *ngIf="!disableNewStudentFeeMonthLastDate('april')"
                                        [initialValue]="selectedStudentFee['aprilLastDate']"
                                        [acceptNull]="true"
                                        [formattedDateOutput]="true"
                                        (onDateSelected)="newStudentFee['aprilLastDate'] = $event"
                                    >
                                    </day-date-old>
                                    <day-date-old
                                        *ngIf="disableNewStudentFeeMonthLastDate('april')"
                                        [acceptNull]="true"
                                        [initialValue]="newStudentFee['aprilLastDate']"
                                        [disableDatePicker]="true"
                                    >
                                    </day-date-old>
                                </td>
                                <td>
                                    <input
                                        type="number"
                                        *ngIf="disableNewStudentFeeMonthLateFee('april')"
                                        [ngModel]="newStudentFee['aprilLateFee']"
                                        [disabled]="true"
                                        (keypress)="policeAmountInput($event)"
                                    />
                                    <input
                                        type="number"
                                        *ngIf="!disableNewStudentFeeMonthLateFee('april')"
                                        [ngModel]="selectedStudentFee['aprilLateFee']"
                                        (ngModelChange)="newStudentFee['aprilLateFee'] = $event"
                                        (keypress)="policeAmountInput($event)"
                                    />
                                </td>
                                <td>
                                    <input
                                        type="number"
                                        *ngIf="disableNewStudentFeeMonthLateFee('april')"
                                        [ngModel]="newStudentFee['aprilMaximumLateFee']"
                                        [disabled]="true"
                                        (keypress)="policeAmountInput($event)"
                                    />
                                    <input
                                        type="number"
                                        *ngIf="!disableNewStudentFeeMonthLateFee('april')"
                                        [ngModel]="selectedStudentFee['aprilMaximumLateFee']"
                                        (ngModelChange)="newStudentFee['aprilMaximumLateFee'] = $event"
                                        (keypress)="policeAmountInput($event)"
                                    />
                                </td>
                                <td>
                                    {{ newStudentFee['aprilClearanceDate'] | date: 'dd - MMM - yyyy' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>

                <button
                    type="submit"
                    *ngIf="!lockFees"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    (click)="serviceAdapter.editStudentFee()"
                >
                    Edit
                </button>

                <button
                    type="submit"
                    style="margin-left: 20px"
                    *ngIf="!receiptAndDiscountExists() && !lockFees"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    (click)="serviceAdapter.deleteStudentFee()"
                >
                    Delete
                </button>
            </ng-container>

            <ng-container *ngIf="!newStudentFee">
                Student Fee doesn't exist

                <mat-accordion>
                    <ng-container *ngFor="let schoolFeeRule of getSchoolFeeRuleListByFeeType(selectedFeeType.id); let i = index">
                        <mat-expansion-panel>
                            <!-- Rule Number, Rule Name-->
                            <mat-expansion-panel-header>
                                <mat-panel-title> {{ schoolFeeRule.ruleNumber }}. {{ schoolFeeRule.name }} </mat-panel-title>
                            </mat-expansion-panel-header>

                            <!-- Class Filter, Bus Stop Filter -->
                            <div class="row">
                                <!-- Class Filter -->
                                <div class="col-md-6" *ngIf="schoolFeeRule.isClassFilter">
                                    Classes :-<br />
                                    <ng-container
                                        *ngFor="let classFilterFee of getClassFilterFeeListBySchoolFeeRule(schoolFeeRule); let i = index"
                                    >
                                        {{ i + 1 }}. {{ getClassName(classFilterFee.parentClass) }},
                                        {{ getSectionName(classFilterFee.parentDivision) }}<br />
                                    </ng-container>
                                    <br />
                                </div>

                                <!-- Bus Stop Filter -->
                                <div class="col-md-6" *ngIf="schoolFeeRule.isBusStopFilter">
                                    Bus Stops :-<br />
                                    <ng-container
                                        *ngFor="
                                            let busStopFilterFee of getBusStopFilterFeeListBySchoolFeeRule(schoolFeeRule);
                                            let i = index
                                        "
                                    >
                                        {{ i + 1 }}. {{ getBusStopName(busStopFilterFee.parentBusStop) }}<br />
                                    </ng-container>
                                    <br />
                                </div>
                            </div>

                            <!-- New Admission -->
                            <ng-container *ngIf="schoolFeeRule.onlyNewAdmission"> Applies only to new admission<br /><br /> </ng-container>

                            <!-- RTE Students -->
                            <ng-container *ngIf="schoolFeeRule.includeRTE">
                                RTE students are <i><b>included</b></i
                                >.<br /><br />
                            </ng-container>

                            <ng-container *ngIf="!schoolFeeRule.includeRTE">
                                <i><b>No</b></i> RTE students.<br /><br />
                            </ng-container>

                            <!-- Installment Payment -->
                            <ng-container *ngIf="!schoolFeeRule.isAnnually && getSchoolFeeRuleTotalAmount(schoolFeeRule) > 0">
                                <table class="table table-hover">
                                    <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                                        <tr>
                                            <th>Installment</th>
                                            <th>Amount</th>
                                            <th>Last Date</th>
                                            <th>Late Fee per day</th>
                                            <th>Max. Late Fee</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let installment of installmentList; let i = index">
                                            <tr
                                                *ngIf="
                                                    schoolFeeRule[installment + 'Amount'] != null &&
                                                    schoolFeeRule[installment + 'Amount'] > 0
                                                "
                                            >
                                                <td>{{ installment | titlecase }}</td>
                                                <td>
                                                    {{ schoolFeeRule[installment + 'Amount'] }}
                                                </td>
                                                <td>
                                                    {{ schoolFeeRule[installment + 'LastDate'] | date: 'dd - MMM - yyyy' }}
                                                </td>
                                                <td>
                                                    {{ schoolFeeRule[installment + 'LateFee'] }}
                                                </td>
                                                <td>
                                                    {{ schoolFeeRule[installment + 'MaximumLateFee'] }}
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </ng-container>

                            <!-- Annual Payment -->
                            <ng-container *ngIf="schoolFeeRule.isAnnually && getSchoolFeeRuleTotalAmount(schoolFeeRule) > 0">
                                <table class="table table-hover">
                                    <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                                        <tr>
                                            <th>Amount</th>
                                            <th>Last Date</th>
                                            <th>Late Fee per day</th>
                                            <th>Max. Late Fee</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{ schoolFeeRule['aprilAmount'] }}
                                            </td>
                                            <td>
                                                {{ schoolFeeRule['aprilLastDate'] | date: 'dd - MMM - yyyy' }}
                                            </td>
                                            <td>
                                                {{ schoolFeeRule['aprilLateFee'] }}
                                            </td>
                                            <td>
                                                {{ schoolFeeRule['aprilMaximumLateFee'] }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-container>

                            <!-- No Payment -->
                            <ng-container *ngIf="getSchoolFeeRuleTotalAmount(schoolFeeRule) == 0">
                                No paid installments.<br /><br />
                            </ng-container>

                            <!-- Buttons -->
                            <ng-container>
                                <button
                                    type="submit"
                                    *ngIf="!lockFees"
                                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                                    (click)="serviceAdapter.attachToThisRule(schoolFeeRule)"
                                >
                                    Attach to this group
                                </button>
                            </ng-container>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isLoading || isStudentListLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
</div>
