<div class="card-content table-responsive">
    <ng-container *ngIf="!isLoading">
        <!-- Student Fee Structures-->
        <ng-container *ngIf="getOverallFeesDue() > 0">
            <table class="table table-hover" style="margin-bottom: 40px">
                <tbody>
                    <tr style="font-weight: 800 !important; font-size: 22px !important">
                        <td align="left">
                            Fees Due Till Month: <span style="color: red">{{
                                minZeroCorrection(getOverallFeesDueTillMonth() - getTotalPaymentAmount())
                                |indianCurrency }}</span>
                        </td>
                        <td align="right">Total Fees: {{ getOverallTotalFees() | indianCurrency }}</td>
                    </tr>
                    <tr style="font-weight: 800 !important; font-size: 22px !important">
                        <td align="left">Total Fees Due: {{ getOverallFeesDue() - getTotalPaymentAmount() |
                            indianCurrency }}</td>
                        <td align="right"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover">
                <tbody>
                    <tr *ngIf="lateFeeVisible">
                        <td rowspan="2" align="center">Title</td>
                        <td colspan="3" align="center">Fees</td>
                        <td colspan="3" align="center">Late Fees</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td *ngIf="!lateFeeVisible" align="center">Title</td>
                        <td align="center">Payment</td>
                        <td align="center">Due</td>
                        <td align="center">Total</td>
                        <td align="center">Payment</td>
                        <td *ngIf="lateFeeVisible" align="center">Due</td>
                        <td *ngIf="lateFeeVisible" align="center">Total</td>
                        <td></td>
                    </tr>
                    <ng-container *ngFor="let student of getStudentList()">
                        <!-- Student -->

                        <tr style="
                                font-weight: 800 !important;
                                font-size: 20px !important;
                                background-color: #f8f5e6 !important;
                                color: blue !important;
                            ">
                            <td align="left">{{ student.name }}
                                <!-- Payment Amount Input Starts -->
                                <mat-form-field *ngIf="htmlRenderer.isOnlinePaymentEnabled()" style="margin-left: 16px;"
                                    [style.width]="isMobile()?'80px':'auto'">
                                    <mat-label *ngIf="isMobile()">Amount</mat-label>
                                    <mat-label *ngIf="!isMobile()">Payment Amount</mat-label>
                                    <input matInput type="number" 
                                        [(ngModel)]="amountMappedByStudentId[student.id]"
                                        (ngModelChange)="handleOverallPaymentChange(student)"
                                        [errorStateMatcher]="{isErrorState: amountError(student)}">
                                    <mat-error>Invalid Amount</mat-error>
                                </mat-form-field>
                                <!-- Payment Amount Input Ends -->
                            </td>
                            <td align="center">{{getNewSubFeeReceiptTotalFee(student)}}</td>
                            <td align="center">{{ getStudentFeesDue(student) - getNewSubFeeReceiptTotalFee(student)}}
                            </td>
                            <td align="center">{{ getStudentTotalFees(student) }}</td>
                            <td align="center">{{getNewSubFeeReceiptTotalLateFee(student)}}</td>
                            <td *ngIf="lateFeeVisible" align="center">{{
                                getStudentLateFeesDue(student)-getNewSubFeeReceiptTotalLateFee(student) }}</td>
                            <td *ngIf="lateFeeVisible" align="center">{{ getStudentLateFeeTotal(student) }}</td>
                            <td></td>
                        </tr>

                        <ng-container
                            *ngFor="let session of getFilteredSessionListByStudent(student); let sessionIndex = index">
                            <!-- Session -->

                            <tr style="font-weight: 500 !important; font-size: 16px !important">
                                <td align="left">{{ sessionIndex + 1 }}. Session {{ session.name }}</td>
                                <td align="center">{{getSessionFilteredNewTotalFee(student, session)}}</td>
                                <td align="center">{{ getSessionFeesDue(student, session) -
                                    getSessionFilteredNewTotalFee(student, session) }}</td>
                                <td align="center">{{ getSessionTotalFees(student, session) }}</td>
                                <td *ngIf="lateFeeVisible" align="center">{{getSessionFilteredNewLateFee(student,
                                    session)}}</td>
                                <td *ngIf="lateFeeVisible" align="center">{{ getSessionLateFeesDue(student, session) -
                                    getSessionFilteredNewLateFee(student, session)}}
                                </td>
                                <td *ngIf="lateFeeVisible" align="center">{{ getSessionLateFeeTotal(student, session) }}
                                </td>
                                <td></td>
                            </tr>

                            <ng-container
                                *ngFor="let studentFee of getFilteredStudentFeeListBySession(student, session); let studentFeeIndex = index">
                                <ng-container *ngIf="studentFee.isAnnually">
                                    <!-- Student Fee Annually -->

                                    <tr style="font-weight: 500 !important; font-size: 16px !important">
                                        <td align="left" style="padding-left: 50px">
                                            {{ studentFeeIndex + 1 }}. {{ getFeeTypeByStudentFee(studentFee).name }}
                                        </td>
                                        <td align="center">{{getStudentFeeFilteredNewTotalFee(student, studentFee)}}
                                        </td>
                                        <td align="center">{{ getStudentFeeInstallmentFeesDue(studentFee, 'april') -
                                            getStudentFeeFilteredNewTotalFee(student, studentFee)}}
                                        </td>
                                        <td align="center">{{ getStudentFeeInstallmentTotalFees(studentFee, 'april') }}
                                        </td>
                                        <td *ngIf="lateFeeVisible" align="center">
                                            {{getStudentFeeFilteredNewLateFee(student, studentFee)}}</td>
                                        <td *ngIf="lateFeeVisible" align="center">
                                            {{ getStudentFeeInstallmentLateFeesDue(studentFee, 'april') }}
                                        </td>
                                        <td *ngIf="lateFeeVisible" align="center">
                                            {{ getStudentFeeInstallmentLateFeeTotal(studentFee, 'april') }}
                                        </td>
                                        <td></td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="!studentFee.isAnnually">
                                    <!-- Student Fee Not Annually -->

                                    <tr style="font-weight: 500 !important; font-size: 16px !important">
                                        <td align="left" style="padding-left: 50px">
                                            {{ studentFeeIndex + 1 }}. {{ getFeeTypeByStudentFee(studentFee).name }}
                                        </td>
                                        <td align="center">{{getStudentFeeFilteredNewTotalFee(student, studentFee)}}
                                        </td>
                                        <td align="center">{{ getStudentFeeFeesDue(studentFee) -
                                            getStudentFeeFilteredNewTotalFee(student, studentFee)}}</td>
                                        <td align="center">{{ getStudentFeeTotalFees(studentFee) }}</td>
                                        <td *ngIf="lateFeeVisible" align="center">
                                            {{getStudentFeeFilteredNewLateFee(student, studentFee)}}</td>
                                        <td *ngIf="lateFeeVisible" align="center">{{
                                            getStudentFeeLateFeesDue(studentFee) -
                                            getStudentFeeFilteredNewLateFee(student, studentFee) }}</td>
                                        <td *ngIf="lateFeeVisible" align="center">{{
                                            getStudentFeeLateFeeTotal(studentFee) }}</td>
                                        <td align="center">
                                            <button type="button"
                                                class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                                                style="padding: 3px 8px"
                                                (click)="showOrHideStudentFeeDetails(studentFee)">
                                                <ng-container *ngIf="studentFeeDetailsVisible(studentFee)">-
                                                </ng-container>
                                                <ng-container *ngIf="!studentFeeDetailsVisible(studentFee)">+
                                                </ng-container>
                                            </button>
                                        </td>
                                    </tr>

                                    <ng-container *ngIf="studentFeeDetailsVisible(studentFee)">
                                        <ng-container *ngFor="
                                                let installment of getFilteredInstallmentListByStudentFee(studentFee);
                                                let installmentIndex = index
                                            ">
                                            <!-- Installment -->

                                            <tr>
                                                <td align="left" style="padding-left: 60px">
                                                    {{ installmentIndex + 1 }}. {{ installment | titlecase }}
                                                </td>
                                                <td align="center">{{getStudentFeeFilteredNewTotalFee(student,
                                                    studentFee, [installment])}}</td>
                                                <td align="center">{{ getStudentFeeInstallmentFeesDue(studentFee,
                                                    installment) - getStudentFeeFilteredNewTotalFee(student, studentFee,
                                                    [installment]) }}</td>
                                                <td align="center">{{ getStudentFeeInstallmentTotalFees(studentFee,
                                                    installment) }}</td>
                                                <td align="center">{{getStudentFeeFilteredNewLateFee(student,
                                                    studentFee, [installment])}}</td>
                                                <td *ngIf="lateFeeVisible" align="center">
                                                    {{ getStudentFeeInstallmentLateFeesDue(studentFee, installment) -
                                                    getStudentFeeFilteredNewLateFee(student, studentFee, [installment])
                                                    }}
                                                </td>
                                                <td *ngIf="lateFeeVisible" align="center">
                                                    {{ getStudentFeeInstallmentLateFeeTotal(studentFee, installment) }}
                                                </td>
                                                <td></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let student of getNoFeesDueStudentList()">
                        <tr style="font-weight: 800 !important; font-size: 20px !important">
                            <td align="left">{{ student.name }}</td>
                            <td align="center">No Fees Due</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <ng-container *ngIf="htmlRenderer.isOnlinePaymentEnabled() && getOverallFeesDue() > 0">
                <!-- Old Fee Payment Form Starts -->
                <ng-container *ngIf="!htmlRenderer.isEasebuzzEnabled">
                    <mat-form-field style="display: block; max-width: 240px; margin-top: 16px;">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [(ngModel)]="email" [pattern]="validatorRegex.email">
                    </mat-form-field>

                    <button class="btn" [disabled]="getTotalPaymentAmount()==0"
                        style="background-color: blue; color: white; display: block; margin-top: 16px;"
                        (click)="serviceAdapter.initiatePayment()">
                        Pay Now
                    </button>
                    Platform Fee: {{htmlRenderer.getParentPlatformFeePercentage().toFixed(2)}}%<br />
                    Refund Penalty: 3%
                </ng-container>
                <!-- Old Fee Payment Form Ends -->

                <!-- New Fee Payment Form Starts -->
                <ng-container *ngIf="htmlRenderer.isEasebuzzEnabled">
                    <!-- Payment Mode Starts -->
                    <div style="margin-top: 30px; margin-left: 20px;">
                        <span><strong>Payment Mode</strong> </span>
                        <mat-form-field style="margin-left:10px">
                            <mat-select [(value)]="htmlRenderer.selectedModeOfPayment">
                                <mat-option *ngFor="let modeOfPayment of htmlRenderer.modeOfPaymentList"
                                    [value]="modeOfPayment">
                                    {{modeOfPayment.parentPaymentGatewayInstance.name}} - {{modeOfPayment.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- Payment Mode Ends -->

                    <!-- Payment Details Starts -->
                    <div style="background-color:#FAFAFA; padding-top: 20px;">

                        <!-- Payment Amount Starts -->
                        <div
                            style="display: flex; justify-content: space-between; font-size:15px;font-weight: 900;margin:1vh 1vw;">
                            <p>Payment Amount</p>
                            <p>₹{{getTotalPaymentAmount()}}</p>
                        </div>
                        <!-- Payment Amount Ends -->

                        <!-- Platform Charges Starts -->
                        <div style="display: flex; justify-content: space-between; margin:1vh 1vw;">
                            <p>Platform Charges</p>
                            <p>₹{{htmlRenderer.getNewMethodPlatformChargeOnParent()}}</p>
                        </div>
                        <!-- Platform Charges Ends -->

                        <div style="border-bottom: 1px solid#BFBFBF;">
                        </div>

                        <!-- Total Amount Starts -->
                        <div
                            style="display: flex; justify-content: space-between; color: #4CA750;font-size:15px;font-weight: 900;margin:1vh 1vw;">
                            <p>Total Amount</p>
                            <p>₹{{htmlRenderer.getNewMethodTotalPayableAmount()}}</p>
                        </div>
                        <!-- Total Amount Ends -->

                        <!-- Payment Details Ends -->

                        <!-- Email Input and Pay Button Starts -->
                        <div
                            style="display: flex; justify-content: flex-end; flex-direction: row; gap: 5rem; padding: 1vh 1vw; align-items: center;">
                            <!-- User Email Input Starts -->
                            <div>
                                <mat-form-field style="float: right; margin-right: 1vw; margin-top: 12px;">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" [(ngModel)]="email" [pattern]="validatorRegex.email">
                                </mat-form-field>
                            </div>
                            <!-- User Email Input Ends -->

                            <!-- Pay Button Starts  -->
                            <div style="display: block; padding-bottom: 1rem;">
                                <button class="btn" [disabled]="(getTotalPaymentAmount()==0)||(getTotalPaymentAmount()<=htmlRenderer.getNewMethodTotalPlatformCharge())"
                                    style="background-color: blue; color: white;"
                                    (click)="serviceAdapter.initiatePaymentWithNewMethod()">
                                    Pay Now
                                </button>
                            </div>
                            <!-- Pay Button Ends -->
                        </div>
                        <!-- Email Input and Pay Button Ends -->

                    </div>
                </ng-container>
                <!-- New Fee Payment Form Ends -->
            </ng-container>


        </ng-container>

        <ng-container *ngIf="getOverallFeesDue() == 0">
            <span style="font-weight: 800 !important; font-size: 22px !important">**No Fees Due</span>
        </ng-container>

        <div style="margin-top: 25px; margin-bottom: 25px; border-bottom: 1px solid black"></div>

        <!-- Fee Receipts & Discounts -->

        <mat-accordion *ngIf="feeReceiptList && discountList">
            <mat-expansion-panel [disabled]="feeReceiptList.length === 0">
                <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="feeReceiptList.length === 0">**No fees submitted yet</mat-panel-title>
                    <mat-panel-title *ngIf="feeReceiptList.length !== 0">
                        <span class="hidden-xs" style="color: #7b7b7b">Last Receipt Date: &nbsp;</span><i>{{
                            feeReceiptList[0].generationDateTime | date: 'dd - MMM - yyyy' }}</i>, &nbsp; <span
                            class="hidden-xs" style="color: #7b7b7b">Amount:
                            &nbsp;</span>{{
                        getLastDaySubmittedAmount(feeReceiptList[0]) | currency: 'INR':'':'1.0-0' }} &nbsp; / &nbsp;
                        <span class="hidden-xs" style="color: #7b7b7b">Receipts: &nbsp;</span>{{
                        getLastDaySubmittedReceipts(feeReceiptList[0]).length }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="overflow: auto;">
                    <app-fee-receipt-list [user]="user" [receiptColumnFilter]="receiptColumnFilter"
                        [feeTypeList]="feeTypeList" [feeReceiptList]="feeReceiptList"
                        [subFeeReceiptList]="subFeeReceiptList" [studentList]="selectedStudentList"
                        [studentSectionList]="selectedStudentSectionList" [employeeList]="employeeList"
                        [classList]="classList" [number]="3" [sectionList]="sectionList" [sessionList]="sessionList"
                        [boardList]="boardList" [printSingleReceipt]="true"></app-fee-receipt-list>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel [disabled]="discountList.length === 0">
                <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="discountList.length === 0">**No discount given yet</mat-panel-title>
                    <mat-panel-title *ngIf="discountList.length !== 0">
                        Total Discount given till now: &nbsp;<i>{{ getDiscountListTotalAmount() }}</i>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-discount-list [user]="user" [discountColumnFilter]="discountColumnFilter"
                    [discountList]="discountList" [subDiscountList]="subDiscountList"
                    [studentList]="selectedStudentList" [studentSectionList]="selectedStudentSectionList"
                    [employeeList]="employeeList" [classList]="classList" [sectionList]="sectionList"
                    [sessionList]="sessionList"></app-discount-list>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="htmlRenderer.isOnlinePaymentEnabled()" [disabled]="parsedOrder.length==0">
                <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="parsedOrder.length === 0">**No online payment yet</mat-panel-title>
                    <mat-panel-title *ngIf="feeReceiptList.length !== 0">
                        Online Fee Payment History
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="overflow: auto;">
                    <table class="table table-hover">
                        <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                            <tr>
                                <th>S No.</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Reference No.</th>
                                <th class="text-center">Order Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let order of parsedOrder, let i = index">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td class="text-center">
                                        {{ order.dateTime | date: 'dd - MMM - yyyy'}}
                                    </td>
                                    <td class="text-center">{{order.amount}}</td>
                                    <td class="text-center">{{order.referenceId}}</td>
                                    <td class="text-center">{{order.status}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>

    <ng-container *ngIf="isLoading">
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
</div>