<div class="logo">
    <span style="margin-left: 10px;">Hi {{user.username}}!</span>
    <a style="float: right; cursor: pointer;"
       *ngIf="!user.activeModule"
       (click)="logout()">Logout</a>
    <br/>
    <a class="simple-text" disabled="true" *ngIf="user.schoolList.length > 0">
        <div class="logo-img" *ngIf="user.activeSchool">
            <img src="{{user.activeSchool.logo}}" style="border-radius: 2px;"/>
        </div>

        <!-- Multiple School List -->
        <ng-container *ngIf="user.schoolList.length>1">
            <select [(ngModel)]="user.activeSchool"
                    (ngModelChange)="handleSchoolChange()"
                    style="padding: 0px; border: none; background-color: transparent;">
                <option *ngFor="let school of user.schoolList;"
                        [ngValue]="school">
                    {{school.name}}
                </option>
            </select>
        </ng-container>

        <!-- Single School -->
        <ng-container *ngIf="user.schoolList.length===1">
            {{user.activeSchool.name}}
        </ng-container>

        <!-- Role -->
        <ng-container *ngIf="user.activeSchool">
            <ng-container *ngIf="user.activeSchool.studentList.length > 0 && user.activeSchool.moduleList.length > 0">

                <br/>

                <select [(ngModel)]="user.activeSchool.role"
                        (ngModelChange)="handleRoleChange()"
                        [class.sessionMargin60]="user.schoolList.length>1"
                        [class.sessionMargin52]="user.schoolList.length==1"
                        style="padding: 0px; border: none; background-color: transparent;">
                    <option value="Employee">Employee</option>
                    <option value="Parent">Parent</option>
                </select>

            </ng-container>
        </ng-container>

        <br/>

        <!-- Current Session Name -->
        <span [class.sessionMargin68]="user.schoolList.length>1"
              [class.sessionMargin60]="user.schoolList.length==1">
            <span *ngIf="user.activeSchool.currentSessionDbId==1">2017-18</span>
            <span *ngIf="user.activeSchool.currentSessionDbId==2">2018-19</span>
        </span>

    </a>
</div>

<div class="sidebar-wrapper">

    <div class="nav-container">

        <ul class="nav" *ngIf="user.activeSchool">

            <ng-container *ngIf="user.activeSchool.role==='Parent'">
                <li [class.active]=""></li>
            </ng-container>

            <ng-container *ngIf="user.section && user.activeSchool.role==='Employee'">
                <ng-container *ngFor="let module of user.activeSchool.moduleList">
                    <li [class.active]="module.path === user.section.route"
                        [attr.data-color]='user.activeSchool.primaryThemeColor'
                        style="border-bottom: 0.1px solid lightgrey;">
                        <a (click)="module.showTaskList = !module.showTaskList;">
                            <i class="material-icons">{{module.icon}}</i>
                            <p>
                                {{module.title}}
                                <i *ngIf="!module.showTaskList" class="material-icons" style="float: right;">keyboard_arrow_down</i>
                                <i *ngIf="module.showTaskList" class="material-icons" style="float: right;">keyboard_arrow_up</i>
                            </p>
                        </a>
                        <ng-container *ngIf="module.showTaskList">
                            <div *ngFor="let task of module.taskList"
                                 [attr.data-color]="user.activeSchool.secondaryThemeColor"
                                 [class.active]="task.path===user.section.subsection"
                                 class="subsectionDiv"
                                 (click)="activateTask(task, module);">
                                <i class="material-icons">remove</i>
                                <p>{{task.title}}</p>
                            </div>
                        </ng-container>
                    </li>
                </ng-container>
            </ng-container>

            <li style="margin-bottom: 80px;">
                <a (click)="logout()">
                    <i class="material-icons">exit_to_app</i>
                    <p>Log out</p>
                </a>
            </li>

        </ul>

    </div>

</div>