<div id="main-report-card-container" style="position: relative;" *ngFor="let student of studentList">
    <img src="{{user.activeSchool.profileImage}}"
    style="border-radius: 2px; position: absolute;
    top: 50%; left: 50%;
    width: 10em; height: 10em;
    opacity: 0.15 !important;
    filter: grayscale(100%) !important;
    z-index: 10;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);"/>
    <div class="row no-gutters" style="margin-bottom: 0px !important;">
        <div class="col-xs-6" style="text-align: left;">
            Dise code : {{user.activeSchool.diseCode}}
        </div>
        <div class="col-xs-6" style="text-align: right;">
            <!-- Mp Board -->
            <ng-container *ngIf="user.activeSchool.parentBoard==1">
                School Code :
            </ng-container>
            <!-- Cbse board -->
            <ng-container *ngIf="user.activeSchool.parentBoard==2">
                Affiliation No. :
            </ng-container>
            {{user.activeSchool.affiliationNumber}}
        </div>
    </div>
    <div class="row no-gutters" *ngIf="layout.showLetterHeadImage">
        <img src="{{user.activeSchool.profileImage}}" style="width:100%;max-height: 8em;">
    </div>
    <!-- Leater head for report card -->
    <div class="row no-gutters text-center" *ngIf="!layout.showLetterHeadImage">
        <div class="col-xs-2">
            <img src="{{user.activeSchool.profileImage}}" height="3em">
        </div>
        <div class="col-xs-8 text-center">
            <div class="text-bold margin-bottom" style="font-size: 2em; color: red !important; line-height: 1em;">
                {{user.activeSchool.printName}}	
            </div>
            <div class="text-bold margin-bottom" style="font-size: 1.4em; line-height: 1.2em;">
                {{user.activeSchool.address}}
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <!-- Report card heading -->
    <div class="text-bold text-center" *ngIf="layout.reportCardHeading">
        <span style="font-size:1.4em">{{layout.reportCardHeading}}</span>
    </div>
    <div class="text-bold text-center">
        <span style="font-size: 1.3em">{{getSession(user.activeSchool.currentSessionDbId).name}}</span>
    </div>
    <div class="row no-gutters padding-main" style="display: flex; align-items: center">
        <div class="col-xs-8" style="padding-right: 0px; font-size: 1em; line-height: 1.1em;">
            
            <div class="" style="display: flex; flex-wrap: wrap; margin-bottom: 0.7em;" *ngFor="let key of getHeadersSorted().slice(0, 4)">
                <div class="text-bold" style="width: 31%;">
                    {{STUDENT_DETAILS_HEADER[key]}}
                </div>
                <div style="width: 69%;">
                    {{getParameterValue(key, student)}}
                </div>
            </div>
        </div>
        <div class="col-xs-3" style="padding: 0;text-align: right;">
            <img style="height: 8em; width: auto;" src="{{user.activeSchool.profileImage}}">
        </div>
    </div>
    <div class="row no-gutters padding-main" style="font-size: 1em; line-height: 1.1em">
        <div class="col-xs-6" style="display: flex; flex-wrap: wrap; margin-bottom: 0.7em;" *ngFor="let key of getHeadersSorted().slice(4)">
            <div class="text-bold" style="width: 45%;">
                {{STUDENT_DETAILS_HEADER[key]}}
            </div>
            <div style="width: 55%;">
                {{getParameterValue(key, student)}}
            </div>
        </div>
    </div>
    <div class="padding-main" *ngIf="layoutExamColumnList.length" id="examTable">
        <table class="table table-bordered table-responsive text-center" style="padding: 1em; margin-bottom: 1em;">
            <tr>
                <th class="text-left" rowspan="2">Subject Name</th>
                <ng-container *ngFor="let examination of layoutExamColumnList">
                    <ng-container *ngIf="examination.columnType.split('/').length == 1">
                        <td class="text-bold" rowspan="2">
                            {{examination.name}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="examination.columnType.split('/').length > 1">
                        <!-- Added one for total column -->
                        <td class="text-bold" [attr.colspan]="examination.columnType.split('/').length + 1">
                            {{examination.name}}
                        </td>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="layoutExamColumnList.length > 1">
                    <th rowspan="2">
                        Total
                    </th>
                </ng-container>
            </tr>
            <tr>
                <ng-container *ngFor="let examination of layoutExamColumnList">
                    <ng-container *ngIf="examination.columnType.split('/').length > 1">
                        <td class="text-bold" *ngFor="let exam_type of examination.columnType.split('/')">
                            {{exam_type}}
                        </td>
                        <td class="text-bold">
                            Total
                        </td>
                    </ng-container>
                </ng-container>
            </tr>
            <tr *ngFor="let subject of subjectList; let i=i">
                <th>
                   {{subject.name}}
                </th>
                <ng-container *ngFor="let layoutExamColumn of layoutExamColumnList">
                    <td *ngFor="let exam_type of layoutExamColumn.columnType.split('/')">
                        {{getMarksNormalisedByExamColumn(exam_type, layoutExamColumn, subject, student)}}
                    </td>
                    <ng-container *ngIf="layoutExamColumn.columnType.split('/').length > 1">
                        <!-- Added for total column -->
                        <td>
                            {{getTotalMarksByExamColumnSubject(layoutExamColumn, subject, student)}}
                        </td>
                    </ng-container>
                </ng-container>
                
                <ng-container *ngIf="layoutExamColumnList.length > 1">
                    <td>
                        {{getTotalMarksBySubject(subject, student)}}
                    </td>
                </ng-container>
            </tr>
            <tr>
                <th>
                    Total
                </th>
                <ng-container *ngFor="let layoutExamColumn of layoutExamColumnList">
                    <ng-container *ngIf="layoutExamColumn.columnType.split('/').length > 1">
                        <td style="border: 0"></td><td style="border: 0"></td><td style="border-left: 0">{{getTotalMarksByExamColumn(layoutExamColumn, student)}}</td>
                    </ng-container>
                    <td *ngIf="layoutExamColumn.columnType.split('/').length == 1" style="text-align: center">
                        {{getTotalMarksByExamColumn(layoutExamColumn, student)}}
                    </td>
                </ng-container>
                <ng-container *ngIf="layoutExamColumnList.length > 1">
                    <td>
                        {{getTotalMarks(student)}}
                    </td>
                </ng-container>
            </tr>
            <tr>
                <!-- TODO: Hanlde its colspan -->
                <td [attr.colspan]="getTotalColummnsInExamTable()" style="text-align: left;">
                    <span class="text-bold">Total( in words):</span> {{getTotalMarks(student)|amountInWords}}
                </td>
            </tr>
        </table>
    </div>
    
    <!-- Grade section -->
    <ng-container *ngIf="layoutGradeList.length != 0">
        <div class="padding-main">
            <div class="padding-main margin-bottom" style="border:0px solid black;" *ngFor="let layoutGrade of layoutGradeList">
                <div class="row" style="border:1px solid lightgrey;">
                    <div class="col-xs-12 text-bold">{{getGrade(layoutGrade.parentGrade).name}}</div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6" style="border:1px solid lightgrey; display: flex; justify-content: space-between;" *ngFor="let layoutSubGrade of getLayoutSubGradeList(layoutGrade)">
                        <span class="text-bold">{{getSubGrade(layoutSubGrade.parentSubGrade).name}}</span><span>{{getMarksObtainedSubGrade(layoutSubGrade, student)}}</span>
                    </div>
                </div>
            </div>
        </div>
        
    </ng-container>

    <div class="row padding-main" style="padding-top: 0.4em;">
        <div style="line-height: 1em; padding-bottom: 0.5em;" class="col-xs-6" *ngFor="let key of getFootersSorted(); let i=index" [attr.data-index]="i" [class.text-right]="i%2">
            <span class="text-bold">{{STUDENT_DETAILS_FOOTER[key]}}</span>: {{getParameterValue(key, student)}}
        </div>
    </div>
    <div  style="line-height: 1em; padding-bottom: 0.5em;" class=" padding-main" *ngIf="layout.remarksOrderNumber">
        <span class="text-bold">Remarks</span>: {{getStudentRemarks(student)}}
    </div>
    <div class="row no-gutters padding-main" style="position: absolute;bottom:0;width:100%;">
        <div class="col-xs-6 text-center">
            <div>
                <img src="{{user.activeSchool.profileImage}}" style="height: 4em; width: auto;">
            </div>
            <div>
                Class Teacher Signature
            </div>
        </div>
        <div class="col-xs-6 text-center">
            <div>
                <img src="{{user.activeSchool.principalSignatureImage}}" style="height: 4em; width: auto;">
            </div>
            <div>
                Principal Signature
            </div>
        </div>
    </div>
</div>