<app-login *ngIf="chosenComponent=='login'"
           (showFrontPageProgressBar)="handleEvent($event)"
           (changePage)="changePage($event)">
</app-login>
<app-forgot-password *ngIf="chosenComponent=='forgot-password'"
                     (showFrontPageProgressBar)="handleEvent($event)"
                     (changePage)="changePage($event)">
</app-forgot-password>
<app-signup *ngIf="chosenComponent=='signup'"
            (showFrontPageProgressBar)="handleEvent($event)"
            (changePage)="changePage($event)">
</app-signup>
