<div class="card-content">

    <ng-container *ngIf="memberList && memberList.length>0">

        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text"
                       placeholder="Type member name here...."
                       aria-label="Member"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete"
                                  (optionSelected)="getMemberPermissionList($event.option.value)"
                                  [displayWith]="displayFn">
                    <mat-option *ngFor="let member of filteredMemberList | async" [value]="member">
                        {{ member.username }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <ng-container *ngIf="selectedMemberPermission && !isLoading">

            <span style="font-weight: 800; font-size: 20px">{{selectedMember.username}}</span><br/>

            <ng-container *ngFor="let module of moduleList">
                <span style="font-weight: 800">{{module.title}}</span><br/>
                <ng-container *ngFor="let task of module.taskList">
                    <mat-checkbox [(ngModel)]="task.selected"
                                  [disabled]="user.username === selectedMember.username && module.path === 'team'">
                        {{task.title}}<br/>
                    </mat-checkbox><br/>
                </ng-container>
            </ng-container>

            <button type="button"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    (click)="updatePermissions()">Update
            </button>
            <button type="button"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    (click)="initializeModulePermissions()">Refresh
            </button>

        </ng-container>

    </ng-container>

</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
