<div class="card-content" style="height:100%; font-size: 16px;">
	<custom-report-card [user]=user 
		[layout]="layout" [layoutExamColumnList]="layoutExamColumnList" [layoutGradeList]="layoutGradeList" [layoutSubGradeList]="layoutSubGradeList" 
		[studentList]="selectedStudentList" [studentSectionList]="studentSectionList" [studentSubGradeList]="studentSubGradeList" [studentTestList]="studentTestList" [studentRemarksList]="studentRemarkList" [studentAttendanceList]="studentAttendanceList" 
		[sessionList]="sessionList" [classList]="[selectedClass]" [divisionList]="[selectedDivision]" [gradeList]="gradeList" [subGradeList]="subGradeList" [examinationList]="examinationList" [testList]="testSecondList" [subjectList]="subjectList" [classSubjectList]="classSubjectList" [studentSubjectList]="studentSubjectList" [classTeacherSignatureList]="classTeacherSignatureList"
		></custom-report-card>
</div>