<ng-container *ngFor="let studentProfile of studentProfileList; let isLast = last">
    <div
        class="container-fluid"
        [class.pageBreakAfter]="!isLast"
        style="
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: ivory !important;
            position: relative;
            overflow: hidden;
            font-weight: 800 !important;
        "
    >
        <!-- img src="{{user.activeSchool.profileImage}}"
             style="border-radius: 2px; position: absolute;
             top: 20px; left: 30px;
             width: 100px; height: 100px;"/ -->

        <!-- Background Watermark -->
        <img
            src="{{ user.activeSchool.profileImage }}"
            style="
                border-radius: 2px;
                position: absolute;
                top: 218px;
                left: 270px;
                width: 430px;
                height: 430px;
                opacity: 0.2;
                filter: grayscale(100%);
                z-index: 1;
            "
        />

        <div
            class="row"
            style="padding-top: 20px; padding-bottom: 20px; background-color: #80d8ff !important; border-bottom: 1px solid lightgrey"
        >
            <div class="col-xs-3" style="padding-top: 4px; padding-left: 30px">
                <img src="{{ user.activeSchool.profileImage }}" style="border-radius: 10px; width: 120px; height: 120px" />
            </div>
            <div class="col-xs-9">
                <!-- School Name -->
                <div class="row no-gutters">
                    <div class="col-xs-12 custom-padding" style="padding-right: 30px; margin-top: 20px" align="right">
                        <span style="background-color: yellow; font-size: 50px; line-height: 35px">
                            {{ user.activeSchool.printName }}
                        </span>
                    </div>
                </div>

                <!-- Address -->
                <div class="row no-gutters" style="margin-top: 10px">
                    <div class="col-xs-12 custom-padding" style="padding-right: 30px" align="right">
                        <span style="font-size: 30px">
                            {{ user.activeSchool.address }}
                        </span>
                    </div>
                </div>

                <!-- Mobile Number -->
                <div class="row no-gutters" style="margin-top: 10px">
                    <div class="col-xs-12 custom-padding" style="padding-right: 30px" align="right">
                        <span style="font-size: 30px"> Phone: {{ user.activeSchool.mobileNumber }} </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters" style="margin-top: 30px">
            <div class="col-xs-8">
                <!-- Name -->
                <div class="row no-gutters" style="font-size: 45px; padding-left: 20px">
                    <div class="col-xs-12">
                        <span style="color: darkblue !important">{{ studentProfile.name | titlecase }}</span>
                    </div>
                </div>

                <!-- Father's Name -->
                <div class="row no-gutters" style="font-size: 30px; margin-top: 30px; padding-left: 20px">
                    <div class="col-xs-12">
                        <div style="font-size: 20px; margin-bottom: 7px"><i>Father's Name</i></div>
                        <span>{{ studentProfile.fathersName | titlecase }}</span>
                    </div>
                    <!-- div class="col-xs-5">
                        Father's Name:
                    </div>
                    <div class="col-xs-7">
                        {{studentProfile.fathersName}}
                    </div -->
                </div>

                <!-- Date of Birth -->
                <div class="row no-gutters" style="font-size: 30px; margin-top: 20px; padding-left: 20px">
                    <div class="col-xs-8">
                        <div style="font-size: 20px; margin-bottom: 7px"><i>Date of Birth</i></div>
                        {{ studentProfile.dateOfBirth | date: 'dd/MM/yyyy' }}
                    </div>
                    <div class="col-xs-4" *ngIf="showClass">
                        <div style="font-size: 20px; margin-bottom: 7px"><i>Standard</i></div>
                        {{ studentProfile.className }}
                    </div>
                    <!-- div class="col-xs-5">
                        Date of Birth:
                    </div>
                    <div class="col-xs-7">
                        {{studentProfile.dateOfBirth | date: 'dd/MM/yyyy'}}
                    </div -->
                </div>

                <!-- Standard -->
                <div class="row no-gutters" style="font-size: 30px; margin-top: 20px; padding-left: 20px">
                    <div class="col-xs-12">
                        <div style="font-size: 20px; margin-bottom: 7px"><i>Scholar No.</i></div>
                        {{ studentProfile.scholarNumber }}
                    </div>
                    <!-- div class="col-xs-5">
                        Standard:
                    </div>
                    <div class="col-xs-7">
                        {{studentProfile.className}}
                    </div -->
                </div>

                <!-- Scholar No. -->
                <!-- div class="row no-gutters" style="font-size: 30px; margin-top: 20px;">
                    <div class="col-xs-5">
                        Scholar No.:
                    </div>
                    <div class="col-xs-7">
                        {{studentProfile.scholarNumber}}
                    </div>
                </div -->

                <!-- Mobile No. -->
                <!-- div class="row no-gutters" style="font-size: 30px; margin-top: 20px;">
                    <div class="col-xs-5">
                        Phone:
                    </div>
                    <div class="col-xs-7">
                        {{studentProfile.mobileNumber}}
                    </div>
                </div -->

                <!-- Address -->
                <div class="row no-gutters" style="font-size: 30px; margin-top: 20px; padding-left: 20px">
                    <div class="col-xs-12">
                        <div style="font-size: 20px; margin-bottom: 0px"><i>Address</i></div>
                        <span style="line-height: normal !important">{{ studentProfile.address | titlecase }}</span>
                    </div>
                </div>

                <!-- Mobile No. -->
                <div class="row no-gutters" style="font-size: 30px; margin-top: 20px; padding-left: 20px">
                    <div class="col-xs-12">
                        <div style="font-size: 20px; margin-bottom: 7px"><i>Mobile No.</i></div>
                        {{ studentProfile.mobileNumber }}
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding-right: 30px" align="right">
                <img
                    src="{{ studentProfile.profileImage }}"
                    style="border: 1px solid black; border-radius: 10px; z-index: 10; width: 300px; height: 300px"
                />
            </div>
        </div>

        <!-- Principal Signature Image -->
        <img
            src="{{ user.activeSchool.principalSignatureImage }}"
            *ngIf="user.activeSchool.principalSignatureImage != null"
            style="border-radius: 2px; position: absolute; bottom: 60px; left: 775px; width: 200px; height: 100px; z-index: 1"
        />

        <!-- Signature -->
        <div class="row no-gutters" style="position: absolute; bottom: 20px; width: 100%">
            <div class="col-xs-offset-6 col-xs-6 custom-padding" style="padding-right: 30px; font-size: 30px" align="end">
                <span style="text-align: center">Principal's Signature</span>
            </div>
        </div>
    </div>
</ng-container>
