<div class="card-content table-responsive">
    <div class="row">
        <div class="col-md-10">
            <span style="margin-right:25px;font-size: 16px;vertical-align: middle;">Title</span>
            <mat-form-field style="width: 70%;" appearance="none">
                <input matInput
                       type="text"
                       style="overflow: hidden;height:30px;background-color: #C4C4C4">
            </mat-form-field>
        </div>
    </div>
     <div class="row">
        <div class="col-md-10">
            <span style="margin-right:25px;font-size: 16px;vertical-align: middle;">Text</span>
            <mat-form-field style="width: 70%;" appearance="none">
                <textarea matInput
                       type="text"
                        cdkTextareaAutosize
                       style="overflow: hidden;height:30px;background-color: #C4C4C4;min-height: 250px;">
                </textarea>
            </mat-form-field>
        </div>
    </div>
</div>