<div class="container-fluid" id="AboutUs">
	<div class="container" style="border:1px solid lightgrey;margin-top: 5vh; margin-bottom: 5vh;background-color: white;border-radius: 2vh 2vh 2vh 2vh;box-shadow: 3vh 3vh 10vh black;">
		<div class="row" style="
								border:0px solid lightgrey;
								color: black;
								padding: 7vh 5vh;
								line-height: 6vh;
								font-size: 4vh;
								text-align: justify;
								"
		>
			<p style="font-size:5.5vh;line-height: 6vh;padding-top: 1vh;padding-bottom: 2vh;text-align: center"><b>About Korangle !</b></p>
			<p style="">
				Korangle is a software company, founded by Harshal Agrawal and Anil Kumar Agrawal in October, 2017. It provides an ERP solution to schools that is easily accessible and smooth in operation. We believe in innovative and creative solutions. We highly emphasise on the latest technologies and keeping up with the trend so that we can provide the best solution in the market to cater to the needs of our clients. It's headquarters is located in Shujalpur, Madhya Pradesh.
			</p>
		</div>
	</div>
</div>