<div class="card-content">

    <ng-container *ngIf="!isLoading">

        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text"
                       placeholder="Type username here...."
                       aria-label="User"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete"
                                  (optionSelected)="handleSelectedUser($event.option.value)"
                                  [displayWith]="displayFn">
                    <mat-option *ngFor="let user of filteredUserList | async" [value]="user">
                        {{ user.username }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <ng-container *ngIf="selectedUser && !isLoading">

            <span style="font-weight: 800; font-size: 20px">{{selectedUser.username}}</span><br/>

            <ng-container *ngIf="selectedUser.isMember">
                Already a member!
            </ng-container>

            <ng-container *ngIf="!selectedUser.isMember">

                <ng-container *ngFor="let module of moduleList">
                    <span style="font-weight: 800">{{module.title}}</span><br/>
                    <ng-container *ngFor="let task of module.taskList">
                        <mat-checkbox [(ngModel)]="task.selected">
                            {{task.title}}<br/>
                        </mat-checkbox><br/>
                    </ng-container>
                </ng-container>

                <button type="button"
                        class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                        (click)="addMember()">Add Member
                </button>

            </ng-container>

        </ng-container>

    </ng-container>

</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
