<div class='card-content table-responsive'>

    <!-- Showing List of Bills after Loading starts -->
    <ng-container *ngIf='!isInitialLoading'>

        <!-- No Unpaid Bill Message Starts -->
        <span *ngIf="unpaidBillList.length==0">No Pending Bills !!!</span>
        <!-- No Unpaid Bill Message Ends -->

        <!-- Showing List of Unpaid Bills in table format Starts -->
        <table class="table table-hover" *ngIf="unpaidBillList.length!=0">
            <thead style="color: rgba(255, 152, 0, 1);">
                <tr>
                    <th>S No.</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <!-- th>Remark</th -->
                    <!-- th>Document</th -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bill of unpaidBillList; let i = index;">

                    <td>{{i+1}}.</td>
                    <td>{{bill.name}}</td> <!-- TODO: Implement Long to Short text pipe -->
                    <td>Rs. {{bill.amount}}/-</td>
                    <td>{{bill.dueDate | date: 'd MMM y'}}</td>
                    <!-- td>{{bill.remark}}</td --> <!-- TODO: Implement Long to Short text pipe -->
                    <!-- td>Document Path</td -->
                    <td>
                        <button
                            type="submit"
                            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                            style="padding: 3px 8px"
                            (click)="openPaymentDialog(bill)"
                        >
                            Pay
                        </button>
                    </td>
                
                </tr>
                
            </tbody>
    
        </table>
        <!-- Showing List of Unpaid Bills in table format Starts -->
    
    
        <!-- ng-container *ngFor="let bill of unpaidBillList">

        </ng-container -->

    </ng-container>
    <!-- Showing List of Bills after Loading ends -->

    <!-- Showing Loader Starts -->
    <ng-container *ngIf='isInitialLoading'>
        <app-loading-spinner [user]="user"></app-loading-spinner>
    </ng-container>
    <!-- Showing Loader Ends -->

</div>