<table *ngIf="employeeList && columnFilter" class="table table-hover">
    <thead style="font-weight: 400">
        <tr>
            <th [class.hidden]="!columnFilter.showSerialNumber">S No.</th>
            <th [class.hidden]="!columnFilter.showProfileImage" style="text-align: center">Profile Image</th>
            <th [class.hidden]="!columnFilter.showName">Name</th>
            <th [class.hidden]="!columnFilter.showEmployeeNumber">Employee Number</th>
            <th [class.hidden]="!columnFilter.showFatherName">Father's Name</th>
            <th [class.hidden]="!columnFilter.showSpouseName">Spouse's Name</th>
            <th [class.hidden]="!columnFilter.showMobileNumber">Mobile No.</th>
            <th [class.hidden]="!columnFilter.showDateOfBirth">Date of Birth</th>
            <th [class.hidden]="!columnFilter.showMotherName">Mother's Name</th>
            <th [class.hidden]="!columnFilter.showAadharNumber">Aadhar No.</th>
            <th [class.hidden]="!columnFilter.showPassportNumber">Passport No.</th>
            <th [class.hidden]="!columnFilter.showQualification">Qualification</th>
            <th [class.hidden]="!columnFilter.showCurrentPost">Current Post</th>
            <th [class.hidden]="!columnFilter.showDateOfJoining">Date of Joining</th>
            <th [class.hidden]="!columnFilter.showPanNumber">Pan Number</th>
            <th [class.hidden]="!columnFilter.showGender">Gender</th>
            <th [class.hidden]="!columnFilter.showAddress">Address</th>
            <th [class.hidden]="!columnFilter.showBankName">Bank Name</th>
            <th [class.hidden]="!columnFilter.showBankAccountNumber">Bank Acc. No.</th>
            <th [class.hidden]="!columnFilter.showBankIFSCCode">Bank IFSC Code</th>
            <th [class.hidden]="!columnFilter.showEpfAccountNumber">Epf Acc. No.</th>
            <th [class.hidden]="!columnFilter.showMonthlySalary">Monthly Salary</th>
            <th [class.hidden]="!columnFilter.showPranNumber">PRAN Number</th>
            <th [class.hidden]="!columnFilter.showRemark">Remark</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let employee of employeeList; let i = index">
            <tr>
                <ng-container>
                    <td [class.hidden]="!columnFilter.showSerialNumber">{{ i + 1 }}.</td>
                    <td [class.hidden]="!columnFilter.showProfileImage" align="center">
                        <img *ngIf="employee.profileImage" src="{{ employee.profileImage }}" style="width: 50px" />
                        <img
                            *ngIf="!employee.profileImage"
                            src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                            style="width: 50px"
                        />
                    </td>
                    <td [class.hidden]="!columnFilter.showName">{{ employee.name }}</td>
                    <td [class.hidden]="!columnFilter.showEmployeeNumber">{{ employee.employeeNumber }}</td>
                    <td [class.hidden]="!columnFilter.showFatherName">{{ employee.fatherName }}</td>
                    <td [class.hidden]="!columnFilter.showSpouseName">{{ employee.spouseName }}</td>
                    <td [class.hidden]="!columnFilter.showMobileNumber">{{ employee.mobileNumber }}</td>
                    <td [class.hidden]="!columnFilter.showDateOfBirth">
                        {{ employee.dateOfBirth | date: 'dd - MMM - yyyy' }}
                    </td>
                    <td [class.hidden]="!columnFilter.showMotherName">{{ employee.motherName }}</td>
                    <td [class.hidden]="!columnFilter.showAadharNumber">{{ employee.aadharNumber }}</td>
                    <td [class.hidden]="!columnFilter.showPassportNumber">{{ employee.passportNumber }}</td>
                    <td [class.hidden]="!columnFilter.showQualification">{{ employee.qualification }}</td>
                    <td [class.hidden]="!columnFilter.showCurrentPost">{{ employee.currentPost }}</td>
                    <td [class.hidden]="!columnFilter.showDateOfJoining">
                        {{ employee.dateOfJoining | date: 'dd - MMM - yyyy' }}
                    </td>
                    <td [class.hidden]="!columnFilter.showPanNumber">{{ employee.panNumber }}</td>
                    <td [class.hidden]="!columnFilter.showGender">{{ employee.gender }}</td>
                    <td [class.hidden]="!columnFilter.showAddress">{{ employee.address }}</td>
                    <td [class.hidden]="!columnFilter.showBankName">{{ employee.bankName }}</td>
                    <td [class.hidden]="!columnFilter.showBankAccountNumber">{{ employee.bankAccountNumber }}</td>
                    <td [class.hidden]="!columnFilter.showBankIFSCCode">{{ employee.bankIfscCode }}</td>
                    <td [class.hidden]="!columnFilter.showEpfAccountNumber">{{ employee.epfAccountNumber }}</td>
                    <td [class.hidden]="!columnFilter.showMonthlySalary">{{ employee.monthlySalary }}</td>
                    <td [class.hidden]="!columnFilter.showPranNumber">{{ employee.pranNumber }}</td>
                    <td [class.hidden]="!columnFilter.showRemark">{{ employee.remark }}</td>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>
