<div class="clearfix" style="margin-top: 50px"></div>

<ng-container *ngFor="let feeDefinition of orderedFeeStructure(); let firstIndex=index;">
    <div class="row hoverHighlight" style="font-weight: 800">
        <div class="col-md-3">
            {{firstIndex+1}}. {{feeDefinition.feeType}}
        </div>
        <div class="col-md-3">
            {{feeDefinition.frequency}}
        </div>
        <div class="col-md-3">
            <span *ngIf="feeDefinition.rte">RTE, </span>
            <span *ngIf="feeDefinition.onlyNewStudent">Only New Student</span>
        </div>
    </div>
    <ng-container *ngFor="let schoolFeeComponent of feeDefinition.schoolFeeComponentList; let secondIndex=index">
        <div class="row hoverHighlight">
            <div class="col-md-3" style="padding-left: 40px;">
                {{secondIndex+1}}. {{schoolFeeComponent.title}}
            </div>
            <div class="col-md-3" *ngIf="feeDefinition.frequency==frequencyList[0]">
                {{schoolFeeComponent.amount}}
            </div>
        </div>
        <div *ngIf="feeDefinition.classFilter" class="row hoverHighlight">
            <div class="col-md-12" style="padding-left: 60px;">
                Class: <i *ngFor="let class of schoolFeeComponent.classList">{{class.name}},</i>
            </div>
        </div>
        <div *ngIf="feeDefinition.busStopFilter" class="row hoverHighlight">
            <div class="col-md-12" style="padding-left: 60px;">
                Bus Stop: <i *ngFor="let busStop of schoolFeeComponent.busStopList">{{busStop.stopName}}</i>
            </div>
        </div>
        <ng-container *ngIf="feeDefinition.frequency==frequencyList[1]" class="row">
            <div class="row hoverHighlight" *ngFor="let month of schoolFeeComponent.monthList">
                <div class="col-md-3" style="padding-left: 80px;">
                    {{month.month}}
                </div>
                <div class="col-md-9">
                    {{month.amount}}
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
