<div *ngIf="!isLoading && pageName == 'list-of-complaints'" class="card-content">
    <!-- Starts: Search Bar -->
    <div class="search-bar">
        <input class="search-field" type="search" placeholder="Search by student name, message type, title" [(ngModel)]="seachString">
        <button class="seach-btn"><i class="material-icons search-icon">search</i></button>
    </div>
    <br />
    <br />
    <!-- Ends: Search Bar -->

    <cdk-virtual-scroll-viewport itemSize="0" class="example-viewport">
        <div class="table-container">
            <div style="border-bottom: 2px solid #909090;">Complaints</div>
            <table class="table table-hover table-responsive">
                <thead class="text-{{ user.activeSchool.secondaryThemeColor }}">
                    <tr>
                        <th style="min-width: 150px">Child Name</th>
                        <th style="min-width: 150px">Date Sent</th>
                        <th style="min-width: 150px">Complaint Type</th>
                        <th style="min-width: 150px">Status</th>
                        <th style="min-width: 150px; text-align: center;">Comments</th>
                        <th style="min-width: 100px"></th>
                        <th style="min-width: 100px"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let complaint of complaintList; let i = index">
                        <tr>
                            <td>{{ complaint.parentStudent.name }}</td>
                            <td>{{ getDateInfo(complaint.dateSent) }}</td>
                            <td>{{ complaint.parentSchoolComplaintType.name }}</td>
                            <td>{{ complaint.parentSchoolComplaintStatus["name"] ? complaint.parentSchoolComplaintStatus.name : "Not Selected" }}</td>
                            <td style="text-align: center">{{ complaint.commentList.length }}</td>
                            <td
                                style="text-align: center"
                                (click)="pageName = 'open-complaint'; openComplaint(complaint);"
                                class="text-{{ user.activeSchool.secondaryThemeColor }}"
                                style="text-decoration: underline; cursor: pointer;"
                            >
                                Open
                            </td>
                            <td style="text-align: center"><i class="material-icons delete-icon">delete_forever</i></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </cdk-virtual-scroll-viewport>

    <br />
    <button
        type="button"
        class="btn btn-{{ user.activeSchool.secondaryThemeColor }} send-new-btn"
        style="padding: 12px 15px; margin-left: 1rem"
        matTooltip="Send New Message"
        tooltip-position="left"
        (click)="pageName = 'send-complaint';"
    >
        <i class="material-icons">add</i> Send New
    </button>
</div>

<div *ngIf="!isLoading && pageName == 'open-complaint'" class="card-content">
    <div class="common-section">
        <div class="information">
            <div class="header text-{{ user.activeSchool.secondaryThemeColor }}">Parent Name:</div>
            <div>{{ openedComplaint.parentStudent.fathersName }}</div>
        </div>

        <div *ngIf="!isMobile()" class="status-section">
            <div class="status">
                <span class="text-{{ user.activeSchool.secondaryThemeColor }}" style="margin-right: 2rem">Status: </span>
                <mat-form-field>
                    <mat-select placeholder="{{ defaultStatusTitle }}" style="width: 100%">
                        <ng-container *ngFor="let status of openedComplaint.applicableStatusList">
                            <mat-option (click)="defaultStatusTitle=status.name; defaultStatus=status">
                                {{ status.name }}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <i class="material-icons delete-icon">delete_forever</i>
        </div>
    </div>
    <br *ngIf="isMobile()"/>

    <div class="common-section">
        <div class="information">
            <div class="header text-{{ user.activeSchool.secondaryThemeColor }}">Date Sent :</div>
            <div>{{ getDateInfo(openedComplaint.dateSent) }}</div>
        </div>
        <!-- <div></div> -->
    </div>
    <br />

    <div class="common-section">
        <div class="information">
            <div class="header text-{{ user.activeSchool.secondaryThemeColor }}">Compalint Type :</div>
            <div>{{ openedComplaint.parentSchoolComplaintType.name }}</div>
        </div>
        <!-- <div></div> -->
    </div>
    <br />

    <div class="common-section">
        <div class="information">
            <div class="header text-{{ user.activeSchool.secondaryThemeColor }}">Student Name :</div>
            <div>{{ openedComplaint.parentStudent.name }}</div>
        </div>
        <!-- <div></div> -->
    </div>
    <br />

    <div class="common-section">
        <div class="information">
            <div class="header text-{{ user.activeSchool.secondaryThemeColor }}">Parent Contact :</div>
            <div>{{ openedComplaint.parentStudent.mobileNumber }}</div>
        </div>
        <!-- <div></div> -->
    </div>
    <br />

    <div class="common-section" style="align-items: flex-end">
        <div class="information">
            <div class="header text-{{ user.activeSchool.secondaryThemeColor }}">Title :</div>
            <div>{{ openedComplaint.title }}</div>
        </div>
        <button
            type="button"
            *ngIf="!isMobile()"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }} refresh-btn"
            style="padding: 6px 15px"
            matTooltip="Refresh"
            tooltip-position="left"
        >
            Refresh
        </button>
    </div>
    <br />

    <ng-container *ngIf="isMobile()">
        <div class="common-section">
            <div class="information">
                <div class="header text-{{ user.activeSchool.secondaryThemeColor }}">Status: </div>
                <div class="status-option-section">
                    <mat-form-field style="flex-basis: 80%">
                        <mat-select placeholder="{{ defaultStatusTitle }}" style="width: 100%">
                            <ng-container *ngFor="let status of openedComplaint.applicableStatusList; let idxStatus = index">
                                <mat-option (click)="defaultStatusTitle = status.name; defaultStatus = status;">{{ status.name }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <i style="flex-basis: 20%" class="material-icons delete-icon">delete_forever</i>
                </div>
            </div>
        </div>
        <br />
    </ng-container>

    <div class="comment-section">
        <div class="default-text comment">
            {{ openedComplaint.parentSchoolComplaintType.defaultText }}
        </div>
        <ng-container *ngFor="let commentObject of commentList">
            <div class="comment">
                <div class="name" [ngStyle]=" {'opacity': openedComplaint.parentEmployee == user.activeSchool.employeeId ? '1' : '0.7'} ">
                    {{ getAuthorComment(commentObject) }}
                </div>
                <div class="information">
                    <div class="comment-description" [ngStyle]=" {'opacity': openedComplaint.parentEmployee == user.activeSchool.employeeId ? '1' : '0.7'} ">{{ commentObject.message }}</div>
                    <div class="time" [ngStyle]=" {'opacity': openedComplaint.parentEmployee == user.activeSchool.employeeId ? '1' : '0.5'} ">{{ getDateTimeInfo(commentObject.createdAt) }}</div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!isMobile()">
            <div class="bottom-section">
                <input class="bottom-search-field" type="search" placeholder="Type Response/ Updates here" [(ngModel)]="commentMessage">
                <button
                    type="button"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }} bottom-seach-btn"
                    style="padding: 12px 15px"
                    matTooltip="Send Comment"
                    tooltip-position="left"
                    (click)="updateComplaintClicked()"
                >
                    Send
                </button>
            </div>
        </ng-container>

        <ng-container *ngIf="isMobile()">
            <div class="bottom-section">
                <textarea
                    placeholder="Type Response/ Updates here"
                    class="bottom-text-field"
                    [(ngModel)]="comment"
                ></textarea>
                <br />

                <div style="display: flex; justify-content: center; align-items: center;">
                    <button
                        type="button"
                        class="btn btn-{{ user.activeSchool.secondaryThemeColor }} bottom-seach-btn"
                        style="padding: 10px 25px"
                        matTooltip="Send Comment"
                        tooltip-position="left"
                        (click)="sendComplaintClicked()"
                    >
                        Send
                    </button>
                </div>
            </div>
        </ng-container>
    </div>

    <button
        type="button"
        class="btn btn-{{ user.activeSchool.secondaryThemeColor }} notify-btn"
        style="padding: 12px 15px; margin-top: 3rem;"
        matTooltip="Renotify"
        tooltip-position="left"
    >
        Renotify
    </button>
</div>

<div *ngIf="!isLoading && pageName == 'send-complaint'" class="card-content">
    <div class="send-new-common-section">
        <div class="text-{{ user.activeSchool.secondaryThemeColor }} send-new-header"> Select Complaint Type : </div>
        <mat-form-field>
            <mat-select placeholder="{{ complaintTypeName }}" style="width: 100%">
                <ng-container *ngFor="let complaintTypeObject of complaintTypeList">
                    <mat-option (click)="complaintTypeName = complaintTypeObject.name; complaintType = complaintTypeObject; complaintTypeDefaultText = complaintTypeObject.defaultText;">
                        {{ complaintTypeObject.name }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="send-new-common-section">
        <div class="text-{{ user.activeSchool.secondaryThemeColor }} send-new-header"> Select Student Name : </div>
        <mat-form-field>
            <mat-select placeholder="{{ complaintStudentName }}" style="width: 100%">
                <ng-container *ngFor="let student of studentList">
                    <mat-option (click)="complaintStudentName = student.name; complaintStudent = student;">{{ student.name }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>
    <br *ngIf="!isMobile()"/>

    <div class="send-new-common-section">
        <div class="text-{{ user.activeSchool.secondaryThemeColor }} send-new-header"> Enter title : </div>
        <input class="title-input" type="text" placeholder="Enter Title" [(ngModel)]="complaintTitle">
    </div>

    <br />
    <div class="comment-section">
        <div class="send-new-default-text">
            {{ complaintTypeDefaultText }}
        </div>

        <ng-container *ngIf="!isMobile()">
            <div class="bottom-section">
                <input class="bottom-search-field" type="search" placeholder="Type Query here" [(ngModel)]="commentMessage">
                <button
                    type="button"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }} bottom-seach-btn"
                    style="padding: 12px 15px"
                    matTooltip="Send Comment"
                    tooltip-position="left"
                    (click)="sendComplaint()"
                >
                    Send
                </button>
            </div>
        </ng-container>

        <ng-container *ngIf="isMobile()">
            <div class="bottom-section">
                <textarea
                    placeholder="Type Query here"
                    class="bottom-text-field"
                    [(ngModel)]="comment"
                ></textarea>
                <br />

                <div style="display: flex; justify-content: center; align-items: center;">
                    <button
                        type="button"
                        class="btn btn-{{ user.activeSchool.secondaryThemeColor }} bottom-seach-btn"
                        style="padding: 10px 25px"
                        matTooltip="Send Comment"
                        tooltip-position="left"
                        (click)="sendComplaint()"
                    >
                        Send
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- Starts: Spinner -->
<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
<!-- Ends: Spinner -->
