<div *ngIf="!isLoading" class="card-content" [ngStyle]="{'min-height': (rowFilterList.length > 0 || columnFilterList.length > 0) ? '80vh' : '90vh'}">
    <b>Define custom rows and columns or choose from saved tables.</b>
    <!-- Starts: Print && Download Buttons Section (Mobile Browser) -->
    <ng-container *ngIf="!htmlRenderer.isMobileApplication() && htmlRenderer.isMobileBrowser() && (rowFilterList.length > 0 || columnFilterList.length > 0)">
        <button
            type="button"
            id="download"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
            style="padding: 12px 15px; margin-left: 5%;"
            matTooltip="Download the following table"
            tooltip-position="left"
            (click)="downloadList()"
        >
            Download<i class="material-icons" style="margin-left: 15px">save_alt</i>
        </button>
    </ng-container>
    <!--  Ends: Print && Download Buttons Section (Mobile Browser) -->

    <br /><br /><b>Table Format</b><br />
    <!--Starts: Generated Tables List -->
    <div class="table-List">
        <mat-form-field class="table-names">
            <mat-select placeholder="{{ oldTableFormatTitle ? oldTableFormatTitle : 'Not Selected' }}" style="width: 100%">
                <mat-option (click)="addNewTableClicked()" style="width: 100%">
                    Create New Table
                </mat-option>
                <ng-container *ngFor="let table of tableList; let idx = index">
                    <mat-option (click)="openTableClicked(table, idx)" style="width: 100%">
                        {{ table.formatName }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>

        <div class="print-download-button">
            <!-- Starts: Print && Download Buttons Section (Desktop) -->
            <ng-container *ngIf="!htmlRenderer.isMobileApplication() && !htmlRenderer.isMobileBrowser() && (rowFilterList.length > 0 || columnFilterList.length > 0)">
                <button
                    id="print-list"
                    type="button"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }} hidden-sm hidden-xs"
                    style="padding: 12px 15px;"
                    matTooltip="Print the following table"
                    tooltip-position="left"
                    (click)="printTable()"
                >
                    Print<i class="material-icons" style="margin-left: 17px">print</i>
                </button>

                <button
                    type="button"
                    id="download"
                    class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
                    style="padding: 12px 15px; margin-left: 5%;"
                    matTooltip="Download the following table"
                    tooltip-position="left"
                    (click)="downloadList()"
                >
                    Download<i class="material-icons" style="margin-left: 15px">save_alt</i>
                </button>
            </ng-container>
            <!--  Ends: Print && Download Buttons Section (Desktop) -->
        </div>
    </div>
    <!-- Ends: Generated Tables List -->

    <!--Starts: Change Table Name -->
    <div class="change-table-name" *ngIf="tableActiveId">
        <div>
            <mat-form-field class="inputField">
                <input matInput type="text" [(ngModel)]="tableFormatTitle" required />
            </mat-form-field>
            <span *ngIf="(!htmlRenderer.isMobileBrowser() && !htmlRenderer.isMobileApplication()) && !htmlRenderer.checkTableName()" style="color: red">Table name must be unique.</span>
        </div>

        <i (click)="openDeleteTableModal()" matTooltip="Delete table" tooltip-position="left" class="material-icons delete-icon"> delete_forever </i>
    </div>
    <span *ngIf="(htmlRenderer.isMobileBrowser() || htmlRenderer.isMobileApplication()) && !htmlRenderer.checkTableName()" style="color: red">Table name must be unique.</span>
    <br />
    <!--Ends: Change Table Name -->

    <!-- Starts: Table -->
    <ng-container>
        <cdk-virtual-scroll-viewport itemSize="0" class="example-viewport">
            <table class="table">
                <!-- Starts: Table Header -->
                <thead>
                    <tr cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="dropColumn($event)">
                        <th class="minWidth"></th>
                        <th *ngFor="let filter of columnFilterList" class="text-{{ user.activeSchool.secondaryThemeColor }} minWidth" cdkDragLockAxis="x" cdkDrag>
                            <span (click)="whereToAdd = 'col'; openChangeDialog(filter)" style="cursor: pointer">
                                {{ filter.name }} (<span>{{ htmlRenderer.getFilterTotalCount(filter) }}</span>)
                            </span>
                            <i class="material-icons menu-icon" style="float: right; margin-right: 10px;" cdkDragHandle>menu</i>
                        </th>
                        <th class="text-{{ user.activeSchool.secondaryThemeColor }} minWidth">
                            <span (click)="whereToAdd = 'col'; openDialog()" style="cursor: pointer">
                                + Column
                            </span>
                        </th>
                    </tr>
                </thead>
                <!-- Ends: Table Header -->

                <!-- Starts: Table Body -->
                <tbody cdkDropList class="example-list" (cdkDropListDropped)="dropRow($event)">
                    <tr class="example-box" *ngFor="let rowFilter of rowFilterList" cdkDragLockAxis="y" cdkDrag>
                        <th class="text-{{ user.activeSchool.secondaryThemeColor }} minWidth">
                            <i class="material-icons menu-icon" style="float: left" cdkDragHandle>menu</i>
                            <span (click)="whereToAdd = 'row'; openChangeDialog(rowFilter)" style="cursor: pointer">
                                {{ rowFilter.name }} (<span>{{ htmlRenderer.getFilterTotalCount(rowFilter) }}</span>)
                            </span>
                        </th>
                        <ng-container *ngFor="let columnFilter of columnFilterList; let idx = index">
                            <td class="minWidth" style="cursor: pointer" (click)="openShowStudentListDialog(rowFilter, columnFilter)">
                                {{ htmlRenderer.getIntersectionCount(rowFilter, columnFilter) }}
                            </td>
                        </ng-container>
                        <td class="minWidth">-</td>
                    </tr>
                    <tr class="last-child">
                        <th class="text-{{ user.activeSchool.secondaryThemeColor }} minWidth">
                            <span (click)="whereToAdd = 'row'; openDialog()" style="cursor: pointer">
                                + Row
                            </span>
                        </th>
                        <td class="minWidth" *ngFor="let filter of columnFilterList">-</td>
                        <td class="minWidth">-</td>
                    </tr>
                </tbody>
                <!-- Ends: Table Body -->
            </table>
        </cdk-virtual-scroll-viewport>
    </ng-container>
    <!-- End of Table -->
</div>

<ng-container *ngIf="!isLoading">
    <div *ngIf="!htmlRenderer.isMobileBrowser() || !htmlRenderer.isMobileApplication()" style="border-bottom: 2px solid rgba(0, 0, 0, 0.1);"></div>

    <!-- Starts: Save Button -->
    <ng-container *ngIf="!isTableEditing">
        <button *ngIf="rowFilterList.length > 0 || columnFilterList.length > 0"
            type="button"
            (click)="openSaveFormatDialog()"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
            style="padding: 7px 17px; font-size: 1.3rem; float: right; margin-right: 25px;"
        >
            Save Table Format
        </button>
    </ng-container>
    <!-- Ends: Save Button -->

    <!-- Starts: Update Changes  &&  Save As Buttons Section -->
    <ng-container *ngIf="isTableEditing">

        <button type="button"
            (click)="updateChangesClicked()"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
            style="padding: 7px 17px; font-size: 1.3rem; float: right; margin-right: 25px;"
            [disabled]="!htmlRenderer.checkTableName()"
        >
            Update Changes
        </button>

        <button type="button"
            (click)="saveAsClicked()"
            class="btn btn-{{ user.activeSchool.secondaryThemeColor }}"
            style="padding: 7px 17px; font-size: 1.3rem; float: right; margin-right: 25px;"
        >
            Save As
        </button>
    </ng-container>
    <!-- Ends: Update Changes  &&  Save As Buttons Section -->
</ng-container>

<!-- Starts: Spinner -->
<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
<!-- Ends: Spinner -->
