<div class="card-content">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-black label-floating">
                <label class="control-label">Voucher Date</label>
                <input type="date" class="form-control" [(ngModel)]="newExpense.voucherDate">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-black label-floating">
                <label class="control-label">Amount</label>
                <input type="number" class="form-control" [(ngModel)]="newExpense.amount">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-black label-floating">
                <label class="control-label">Remark</label>
                <input type="text" class="form-control" [(ngModel)]="newExpense.remark">
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-{{user.activeSchool.secondaryThemeColor}}" (click)="submitExpense();">Submit</button>
        </div>
    </div>

    <div class="row" *ngIf="totalExpenses!=0">
        <div class="col-md-12">
            Total Fees: {{totalExpenses | indianCurrency:true}}
        </div>
    </div>

    <div *ngIf="!isLoading && currentExpenseList.length>0" class="row">
        <div class="col-md-12">
            <table cellpadding="10" class="table-content">
                <style>
                    td { padding: 10px; }
                    tr { border-bottom: 1px solid gainsboro; }
                </style>
                <tr>
                    <td align="center">Voucher No.</td>
                    <td align="center">Amount</td>
                    <td align="center">Date</td>
                    <td align="center">Remark</td>
                </tr>
                <tr *ngFor="let expenseEntry of currentExpenseList">
                    <td align="right">{{expenseEntry.voucherNumber}}</td>
                    <td align="right">{{expenseEntry.amount}}</td>
                    <td align="center">{{expenseEntry.voucherDate | date:'dd - MMM - yyyy'}}</td>
                    <td align="left">{{expenseEntry.remark}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
