<div class="main-content">
    <div class="container-fluid">

        <div class="card" style="min-height: 100%">
            <div class="card-header" [attr.data-background-color]="user.color">
                <h4 class="title">List of Expenses</h4>
            </div>
            <div class="card-content">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating">
                            <label class="control-label">Start Date</label>
                            <input type="date" class="form-control" [(ngModel)]="startDate">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating">
                            <label class="control-label">End Date</label>
                            <input type="date" class="form-control" [(ngModel)]="endDate">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button"
                                class="btn btn-{{user.btn_color}}"
                                (click)="getExpenseList();">Submit</button><br>
                    </div>
                    <div class="col-md-3">
                        <button type="button"
                                class="btn btn-{{user.btn_color}}"
                                (click)="printExpenses();">Print</button><br>
                    </div>
                </div>

                <div class="row" *ngIf="!isLoading && expenseList.length > 0">
                    <div class="col-md-6">
                        Total Expenses: {{totalExpenses | currency:'INR':true:'1.1-1'}}
                    </div>
                    <div class="col-md-6" align="right">
                        From: {{displayStartDate | date: 'dd - MMM - yyyy'}}, To: {{displayEndDate | date: 'dd - MMM - yyyy'}}
                    </div>
                </div>

                <div *ngIf="!isLoading && expenseList.length > 0" class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <tr>
                                <td align="left">Voucher No.</td>
                                <td align="right">Amount</td>
                                <td align="center">Date</td>
                                <td align="center">Remark</td>
                            </tr>
                            <tr *ngFor="let expenseEntry of expenseList">
                                <td align="left">{{expenseEntry.voucherNumber}}</td>
                                <td align="right">{{expenseEntry.amount}}</td>
                                <td align="center">{{expenseEntry.voucherDate | date: 'dd - MMM - yyyy'}}</td>
                                <td align="center">{{expenseEntry.remark}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="card"
             style="min-height: 100%"
             *ngIf="!isLoading &&
                    expenseList.length > 0 &&
                    (displayStartDate != displayEndDate) &&
                    dateLabels.length > 1">
            <div class="card-content">
                <div class="row">
                    Max Expense: {{maxTotalExpenseInADate | currency:'INR':true:'1.1-1'}}
                    on {{maxTotalExpenseDate | date: 'dd - MMM - yyyy'}}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="ct-chart" id="expenseChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="isLoading">
            <app-loading-spinner [user]="user"></app-loading-spinner>
        </ng-container>

    </div>
</div>
