<div class="card-content">

    <ng-container *ngIf="feeTypeList && feeStructure && !isLoading">

        <mat-form-field>
            <mat-select placeholder="Select Fee Type"
                        [ngModel]="selectedFeeType"
                        (ngModelChange)="selectedFeeType=$event; populateFeeDefinition();">
                <mat-option *ngFor="let feeType of feeTypeList" [value]="feeType">
                    {{feeType.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Fee  Definition -->
        <ng-container *ngIf="selectedFeeDefinition && !selectedFeeDefinition.locked">

            <!-- Interval -->
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field matTooltip="To choose whether fee is divided based on class, bus stop or both">
                        <mat-select placeholder="Select Fee Division"
                                    [disabled]="selectedFeeDefinition.schoolFeeComponentList.length > 0">
                            <mat-option style="width: 100%;">
                                <mat-checkbox [(ngModel)]="currentFeeDefinition.classFilter"
                                              (click)="$event.stopPropagation();">
                                    Class
                                </mat-checkbox>
                            </mat-option>
                            <mat-option style="width: 100%;">
                                <mat-checkbox [(ngModel)]="currentFeeDefinition.busStopFilter"
                                              (click)="$event.stopPropagation();">
                                    Bus Stop
                                </mat-checkbox>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Fee Interval"
                                    [ngModel]="currentFeeDefinition.frequency"
                                    (ngModelChange)="currentFeeDefinition.frequency=$event"
                                    matTooltip="To choose whether fee is one time (YEARLY) or in installments (MONTHLY)"
                                    [disabled]="selectedFeeDefinition.schoolFeeComponentList.length > 0">
                            <mat-option *ngFor="let frequency of frequencyList" [value]="frequency">
                                {{frequency}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-checkbox class="checkbox-margin"
                                  [disabled]="selectedFeeDefinition.schoolFeeComponentList.length > 0"
                                  matTooltip="To also include RTE students with Non RTE Students"
                                  [(ngModel)]="currentFeeDefinition.rte">
                        RTE
                    </mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox class="checkbox-margin"
                                  [disabled]="selectedFeeDefinition.schoolFeeComponentList.length > 0"
                                  matTooltip="To Exclude Old Students and include only New Students"
                                  [(ngModel)]="currentFeeDefinition.onlyNewStudent">
                        Only New Student
                    </mat-checkbox>
                </div>
            </div>

            <!-- Chosen Filters List -->
            <div class="row">
                <div class="col-md-6">
                    Chosen Filters:
                    <i style="font-weight: 800;">
                        <span *ngIf="currentFeeDefinition.classFilter">Class,</span>
                        <span *ngIf="currentFeeDefinition.busStopFilter">Bus Stop,</span>
                        <span *ngIf="currentFeeDefinition.rte">RTE,</span>
                        <span *ngIf="currentFeeDefinition.onlyNewStudent">Only New Student,</span>
                        {{currentFeeDefinition.frequency}}
                    </i>
                </div>
                <div class="col-md-6" *ngIf="selectedFeeDefinition.dbId != 0">
                    Prev Filters:
                    <i style="font-weight: 800;">
                        <span *ngIf="selectedFeeDefinition.classFilter">Class,</span>
                        <span *ngIf="selectedFeeDefinition.busStopFilter">Bus Stop,</span>
                        <span *ngIf="selectedFeeDefinition.rte">RTE,</span>
                        <span *ngIf="selectedFeeDefinition.onlyNewStudent">Only New Student,</span>
                        {{selectedFeeDefinition.frequency}}
                    </i>
                </div>
            </div>

            <!-- Add, Update and Delete Buttons For Fee Definition -->
            <button type="button"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    *ngIf="selectedFeeDefinition.dbId==0"
                    (click)="createFeeDefinition()">Create</button>
            <button type="button"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    *ngIf="selectedFeeDefinition.dbId!=0
                                       && selectedFeeDefinition.schoolFeeComponentList.length == 0"
                    (click)="updateFeeDefinition()">Edit</button>
            <button type="button"
                    class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                    *ngIf="selectedFeeDefinition.dbId!=0
                                       && selectedFeeDefinition.schoolFeeComponentList.length == 0"
                    (click)="deleteFeeDefinition()">Delete</button>

            <div class="clearfix" style="margin-bottom: 25px;"></div>

            <!-- School Component -->
            <div *ngIf="selectedFeeDefinition.dbId != 0" style="margin-top: 25px;">

                <!-- Selected School Component -->
                <mat-form-field style="float: right;"
                                *ngIf="selectedFeeDefinition.classFilter || selectedFeeDefinition.busStopFilter">
                    <mat-select placeholder="Select Fee Group"
                                [ngModel]="selectedSchoolFeeComponent"
                                (ngModelChange)="populateSchoolFeeComponent($event);">
                        <mat-option [value]="New">New Group</mat-option>
                        <mat-option *ngFor="let schoolFeeComponent of selectedFeeDefinition.schoolFeeComponentList"
                                    [value]="schoolFeeComponent">
                            {{schoolFeeComponent.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br/>
                <span *ngIf="selectedSchoolFeeComponent.dbId==0"><i><b>New Fee Group</b></i></span>
                <span *ngIf="selectedSchoolFeeComponent.dbId!=0">
                                "<i><b>{{selectedSchoolFeeComponent.title}}</b></i>"
                            </span> in
                <i><b>{{selectedFeeDefinition.feeType}}</b></i>

                <!-- School Component Space -->
                <div class="schoolComponentSpace" *ngIf="selectedSchoolFeeComponent">

                    <!--  Class Filters, Bus Stop filters -->
                    <div class="row">
                        <div class="col-md-3" *ngIf="selectedFeeDefinition.classFilter">
                            <mat-form-field>
                                <mat-select placeholder="Select Class"
                                            [disabled]="selectedSchoolFeeComponent.dbId != 0">
                                    <mat-option *ngFor="let class of currentSchoolFeeComponent.classList">
                                        <mat-checkbox [ngModel]="class.selected"
                                                      (ngModelChange)="class.selected=$event;currentSchoolFeeComponent.updateBusStopDisabled();"
                                                      [disabled]="class.disabled"
                                                      (click)="$event.stopPropagation();">
                                            {{class.name}}
                                        </mat-checkbox>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" *ngIf="selectedFeeDefinition.busStopFilter">
                            <mat-form-field>
                                <mat-select placeholder="Select Bus Stop"
                                            [disabled]="selectedSchoolFeeComponent.dbId != 0">
                                    <mat-option *ngFor="let busStop of currentSchoolFeeComponent.busStopList">
                                        <mat-checkbox [ngModel]="busStop.selected"
                                                      (ngModelChange)="busStop.selected=$event;currentSchoolFeeComponent.updateClassDisabled();"
                                                      [disabled]="busStop.disabled"
                                                      (click)="$event.stopPropagation();">
                                            {{busStop.stopName}}
                                        </mat-checkbox>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Chosen Class Filters -->
                    <div class="row" *ngIf="selectedFeeDefinition.classFilter">
                        <div class="col-md-12">
                            Class:
                            <i style="font-weight: 800;"
                               *ngFor="let class of currentSchoolFeeComponent.classList; let i=index;">
                                <ng-container *ngIf="class.selected">
                                    {{class.name}},
                                </ng-container>
                            </i>
                        </div>
                    </div>

                    <!-- Chosen Bus Stop Filters -->
                    <div class="row" *ngIf="selectedFeeDefinition.busStopFilter">
                        <div class="col-md-12">
                            Bus Stop:
                            <i style="font-weight: 800;"
                               *ngFor="let busStop of currentSchoolFeeComponent.busStopList; let i=index;">
                                <ng-container *ngIf="busStop.selected">
                                    {{busStop.stopName}},
                                </ng-container>
                            </i>
                        </div>
                    </div>

                    <!-- Title, Annual Amount -->
                    <div class="row align-bottom">
                        <div class="col-md-3">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Group Name</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="currentSchoolFeeComponent.title">
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="selectedFeeDefinition.frequency==frequencyList[0]">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Annual Amount</label>
                                <input type="number"
                                       class="form-control"
                                       min="0"
                                       [(ngModel)]="currentSchoolFeeComponent.amountFrequency.annualAmount">
                            </div>
                        </div>
                        <div class="col-md-3" align="end"
                             *ngIf="selectedFeeDefinition.frequency==frequencyList[1]">
                            Total :
                            <i style="font-weight: 800">{{currentSchoolFeeComponent.amountFrequency.getMonthTotal()}}</i>
                        </div>
                    </div>

                    <!-- Monthly Amount -->
                    <ng-container *ngIf="selectedFeeDefinition.frequency==frequencyList[1]">
                        <app-monthly-amount [amountFrequency]="currentSchoolFeeComponent.amountFrequency"></app-monthly-amount>
                    </ng-container>

                    <div class="clearfix" style="margin-bottom: 25px;"></div>

                    <!-- Add, Update, and Delete buttons for School Fee Component -->
                    <button type="button"
                            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                            *ngIf="currentSchoolFeeComponent.dbId==0"
                            (click)="createSchoolFeeComponent()">Save</button>
                    <button type="button"
                            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                            *ngIf="currentSchoolFeeComponent.dbId!=0"
                            (click)="updateSchoolFeeComponent()">Edit</button>
                    <button type="button"
                            class="btn btn-{{user.activeSchool.secondaryThemeColor}}"
                            *ngIf="currentSchoolFeeComponent.dbId!=0"
                            (click)="deleteSchoolFeeComponent()">Delete</button>

                </div>

            </div>

        </ng-container>

        <ng-container *ngIf="selectedFeeDefinition && selectedFeeDefinition.locked">
            <b>This fee has been approved and locked by administrator.</b>
        </ng-container>

    </ng-container>

    <!-- Fee Structure -->
    <app-fee-structure *ngIf="feeStructure && !isLoading" [feeStructure]="feeStructure"></app-fee-structure>

</div>

<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
