.feature-block{
	/*width:25%;*/
	/*display: inline-block;*/
	/*height:250px;*/
	border:0px solid black;
	margin-right: 15px;
	padding: 10px;
	text-align: center;
	display: inline-grid;
	width:30vh;
	height: 35vh;
	box-sizing: border-box;
}
.feature-block:hover{
	box-shadow: 3px 3px 3px lightgrey;
	/*transition: 1s;*/
}
.feature-icon-size{
	font-size: 100px;
	line-height: 100px;
	color: black;
	/*display: block;*/
}

.feature-description{
	font-style: italic;
	font-weight: bold;
	color: black;
}