<!-- Starts: Container (PC) -->
<ng-container *ngIf="!isLoading && !htmlRenderer.isMobileApplication() && !htmlRenderer.isMobileBrowser()">
    <div class="card-content table-responsive">

        <!-- Starts: Tab Section -->
        <div class="tabs">
            <div
                (click)="setActiveTab('download-template');"
                [ngClass]="activeTab == 'download-template' ? 'text-' + user.activeSchool.secondaryThemeColor : 'inactive-tab' "
                style="cursor: pointer; font-weight: 400;"
            >
                Download Template
            </div>

            <div style="margin: 0px 10px 0px; width: 85px; height: 1px; background-color: #C4C4C4;"></div>

            <div
                (click)="setActiveTab('upload-sheet');"
                [ngClass]="activeTab == 'upload-sheet' ? 'text-' + user.activeSchool.secondaryThemeColor : 'inactive-tab' "
                style="cursor: pointer; font-weight: 400;"
            >
                Upload Sheet
            </div>
        </div>
        <!-- Ends: Tab Section -->

        <!-- Starts: Download Template -->
        <ng-container *ngIf="activeTab == 'download-template'">

            <!-- Starts: Select Class Filter -->
            <mat-form-field style="margin-right: 15px">
                <mat-select placeholder="Select Class" id="select-class" style="width: 100%">
                    <!-- Starts: Select-All & Clear-All button -->
                    <mat-option>
                        <button class="btn" style="padding: 4px 7px" (click)="selectAllClasses(); $event.stopPropagation()">Select All</button>
                        <button class="btn" style="padding: 4px 7px" (click)="unselectAllClasses(); $event.stopPropagation()">Clear All</button>
                    </mat-option>
                    <!-- Ends: Select-All & Clear-All button -->

                    <!-- Starts: Class-Section Options -->
                    <ng-container *ngFor="let classSection of classSectionList">
                        <mat-option *ngIf="classSection.containsStudent" style="width: 100%">
                            <mat-checkbox
                                [(ngModel)]="classSection.selected"
                                (ngModelChange)="handleStudentDisplay()"
                                (click)="$event.stopPropagation()"
                            >
                                {{ classSection.parentClassName }}<span *ngIf="htmlRenderer.getSectionName(classSection)">, {{ classSection.parentSectionName }}</span>
                            </mat-checkbox>
                        </mat-option>
                    </ng-container>
                    <!-- Ends: Class-Section Options -->

                    <!-- Starts: Select-All & Clear-All button -->
                    <mat-option>
                        <button class="btn" style="padding: 4px 7px" (click)="selectAllClasses(); $event.stopPropagation()">Select All</button>
                        <button class="btn" style="padding: 4px 7px" (click)="unselectAllClasses(); $event.stopPropagation()">Clear All</button>
                    </mat-option>
                    <!-- Ends: Select-All & Clear-All button -->
                </mat-select>
            </mat-form-field>
            <!-- Ends: Select Class Filter -->

        </ng-container>
        <!-- Ends: Download Template -->
    </div>
</ng-container>
<!-- Ends: Container (PC) -->

<!-- Starts: Container (MOBILE) -->
<div *ngIf="!isLoading && (htmlRenderer.isMobileApplication() || htmlRenderer.isMobileBrowser())" class="card-content">
    <i>Not availabe for phones/tablets.</i>
</div>
<!-- Ends: Container (MOBILE) -->

<!-- Start: Loader -->
<ng-container *ngIf="isLoading">
    <app-loading-spinner [user]="user"></app-loading-spinner>
</ng-container>
<!-- Ends: Loader -->
